[2017-04-10 17:23] twsouthwick commented on #100
As OpenXML now supports .NET Standard which is supported by .NET Core on various distros of Linux, I'm going to close this issue. If you have a specific issue you are encountering, please create an issue for that.

[2017-04-10 17:23] #100 closed

[2017-04-10 17:25] twsouthwick commented on #68
This is due to an old version of Mono. If you feel that there is an issue in the OpenXML library, please reopen and provide a full repro with the latest version of the library (2.7.1), and specs of the machine (OS, version, etc)

[2017-04-10 17:25] #68 closed

[2017-04-10 17:26] twsouthwick commented on #53
This project has switched to the new .NET tooling. Please see the README for details.

[2017-04-10 17:26] #53 closed

[2017-04-10 17:27] twsouthwick commented on #40
@ThomasBarnekow Is this issue still being seen after upgrading to Mono 4.2?

[2017-04-10 17:37] wacked7c1a commented on #193
I'm very sorry.  I had multiple GIT tabs open and I added something to your Issue Tracker that was intended for my own.

[2017-04-10 17:37] #193 closed

[2017-04-10 17:43] twsouthwick commented on #193
:) No worries!

[2017-04-11 06:50] robertmuehsig commented on #191
@twsouthwick - I'm aware of the NuGet.config, but I try to avoid to point to "alpha" (or beta) channels. Most OSS projects I know use MyGet as "Alpha" channels and push to NuGet.org regularly as soon as it is stable enough.
But to be clear: A MyGet feed is a good step in the right direction - currently we have tons of other work to do, so we can wait a little longer for the NuGet.org release ;)

[2017-04-14 01:41] tomjebo commented on #195
Hi @rainierpaul, the FieldCode class is tied to the w:instrText element. And because the instruction text for that field has varied formatting, there are two elements for the one text string.  Descendants is very literal in that it only looks for elements that fit the type T that you pass. It looks like what you're asking for here is an enhancement to the framework specifically to handle these sce

[2017-04-14 17:32] twsouthwick opened #197 "Standardize on style for code base"
Style feels inconsistent in the code base (or at least not what I'm used to). In either case, it would be good to define a set of conventions for what styles are, and then use StyleCop (I find the analyzers to work well) and editor config to enforce some of these (which is available in VS2017 and other editors as well).

I generally recommend projects follow the style used by CoreFX (https://githu

[2017-04-15 07:45] ThomasBarnekow commented on #40
@twsouthwick, I can't check anymore since I currently don't work with Mono and don't have access to that version of Mono.

[2017-04-15 08:48] ThomasBarnekow commented on #197
@twsouthwick and @tomjebo, this sounds good. I am fine with those CoreFX guidelines.

I am using ReSharper to maintain consistency of code style and some of my style settings are thus based on ReSharper defaults. Those settings and preferences are still very close to the CoreFX style. However, I do a few minor things differently. I am highlighting those below to get your thoughts.

Commenting on t

[2017-04-15 10:39] ThomasBarnekow opened #198 "Open XML PowerTools incompatible with strongly typed classes of Open XML SDK"
In the README, you will find the following statement:

The first question is what type of API this project wants to promote:

1. the strongly typed classes such as `Document`, `Body`, `Paragraph`, `Run`, or `Text`; or
2. the Linq to XML classes such as `XElement` in conjunction with `XNamespace`s and `XName`s for the Open XML namespaces and element names.

The PowerTools never use the strongly typ

[2017-04-17 20:06] ThomasBarnekow commented on #198
FYI, @EricWhiteDev merged the pull request I mentioned above, thus adding the features required to use the Open XML PowerTools and the strongly typed classes side-by-side.

The question is still whether there is a need to amend the READMEs or other documentation and examples.

[2017-04-19 04:29] maninwindow opened #199 "How to detect bold, italic and underlined characters using OpenXml"
I have Microsoft Excel files which contain bold, italic and underlined texts or characters. I need to detect those characters and  surround them by proper HTML tags. Is that possible to detect those texts using OpenXml?
e.g.
Input:

Expected output:

`This is a conttent contains <b>bold</b>, <i>italic</i> and <u>underlined</u> characters.`

[2017-04-19 06:24] robertmuehsig commented on #199
In general Text in OpenXml is more or less always inside a Paragraph, this paragraph can hold one or more Run-Elements and each Run-Element can be decorated with [Run-Properties](https://msdn.microsoft.com/en-us/library/documentformat.openxml.spreadsheet.runproperties%28v=office.14%29.aspx?f=255&MSPPError=-2147217396). Via the Run-Properties you should see the "Bold"/"Italic" etc. styling.

Be awa

[2017-04-19 09:11] ThomasBarnekow commented on #199
As noted in another case (see #188), GitHub issues are not the way to ask "how-to" questions. You should rather go to [stackoverflow.com](http://stackoverflow.com/questions/tagged/openxml), where you find questions and answers tagged with "openxml" or "openxml-sdk".

Further, the Open XML SDK provides a very low-level API with strongly typed classes representing Open XML elements such as paragraph

[2017-04-20 02:23] maninwindow commented on #199
@robertmuehsig  @ThomasBarnekow Thanks for your inspiration. Problem still not get solved. Let me post a stackoverflow question.

[2017-04-24 05:13] #180 closed

[2017-04-26 02:27] Bitmapped commented on #191
I'd like to see a NuGet feed as well. I have a NuGet package (OfficeFileProperties) that depends on OpenXML. Requiring users of my package to configure a MyGet package as well is unnecessarily messy.

[2017-04-28 00:12] CZEMacLeod opened #200 "DLL Version Number in Nuget packages does not match package"
I would have expected the AssemblyVersion for the released nuget package V2.7.1 to be 2.7.1.0 but it is 0.0.1.0
I see there are build scripts that should set this, but the packages pushed to myget all seem to have the 'hardcoded' value of either 2.6.0.0 or 0.0.1.0.
[code]

[2017-04-28 01:15] twsouthwick commented on #200
Good catch! This should be fixed ASAP

[2017-04-28 16:51] #200 closed

[2017-05-02 22:26] TeaDrivenDev opened #202 "Wrong AssemblyVersion"
The AssemblyVersion attribute is not set correctly in the NuGet package for version 2.7.1; it is set to 0.1.0.0, which is a bit odd when setting binding redirects from an older version with a correct version.

[2017-05-03 10:24] ManoharRT opened #203 "Issue with listnumber track changes"
Hello,

I have turned on the track changes(Revisions) option in word and made some changes and found all the track changes were being tracked and found all track changes in the openxml content. but i am not seeing the deleted listnum value in openxml content and the listnum values are continued from the next paragraph. so how can I track/get the deleted listnum value in openXml.

For example- If I

[2017-05-03 12:01] CZEMacLeod commented on #202
I think this has already been addressed in issue #200 that I raised and was fixed with #201.
Although I think this build has a different key from the one published previously on nuget.org as V2.5.0 so you can't use binding redirects for that version.

[2017-05-03 16:16] tarunchopra commented on #203
Please post this to : https://github.com/OfficeDev/Open-Xml-PowerTools/issues to get traction.

[2017-05-04 10:15] koyote opened #204 "Add SVG as ImagePartType for Office 2016 support"
Hi,

Office 2016 now (finally) supports svg as a vector image format (https://support.office.com/en-gb/article/Insert-SVG-images-in-Microsoft-Office-69f29d39-194a-4072-8c35-dbe5e7ea528c)
As far as I can see the OpenXml SDK does not currently have support for this yet (as ImagePartType for example).
Are there any plans of adding it in the future, or any roadblocks that might inhibit implementing it

[2017-05-04 14:14] #203 closed

[2017-05-04 14:25] Will-Gregg commented on #191
We will be updating the readme shortly. But in the mean-time, interim builds are published to the MyGet feed and official releases are published to the NuGet feed: [https://www.nuget.org/packages/DocumentFormat.OpenXml/](url).

[2017-05-04 14:33] Bitmapped commented on #191
Thank you for updating the NuGet feed.

[2017-05-04 17:47] CZEMacLeod commented on #191
Yay for publishing to the NuGet feed
However, the (currently) published 'official release' version has the issue with the assembly version number (#200) and also has a different public key token - this means that anyone depending on the old package will have major headaches if someone updates to the newer package, or depends on 1 package that references 2.5.0 and another that references 2.7.x or h

[2017-05-04 21:31] twsouthwick commented on #191
@CZEMacLeod

- The version is fixed and will be available in the next release. @tomjebo can comment on when that might be
- Unfortunately, the key had to change as the previous key was not one we could make available publicly. In order to move the project to OSS and therefore have community involvement the decision was made to switch the key to one we could make public. Sorry for the difficulties

[2017-05-04 21:31] twsouthwick commented on #191
I'm going to close this as the releases are now available on NuGet.

[2017-05-04 21:31] #191 closed

[2017-05-04 21:32] twsouthwick commented on #202
Yes sorry for the version - it was working at some point but we apparently didn't check when we actually released it since the NuGet version was correct. I'm closing this issue as it has been fixed.

[2017-05-04 21:32] #202 closed

[2017-05-04 21:33] twsouthwick commented on #174
I've updated the library to use the new packaging when targeting .NET 4.6. When you're able to move to .NET Framework 4.6+ please let us know if you are still seeing this issue.

[2017-05-04 21:33] #174 closed

[2017-05-04 22:05] ThomasBarnekow commented on #198
@EricWhiteDev and I have now devised and implemented a better solution (see [Implement PowerToolsBlock and StronglyTypedBlock](https://github.com/OfficeDev/Open-Xml-PowerTools/pull/139).

[2017-05-04 22:05] #198 closed

[2017-05-05 16:37] ThomasBarnekow commented on #199
@twsouthwick and @tomjebo, I think we can close this now.

[2017-05-05 16:39] ThomasBarnekow commented on #188
@twsouthwick and @tomjebo, I think we can close this as a non-issue (but rather a how-to question).

[2017-05-05 16:41] twsouthwick commented on #199
Sounds good! @maninwindow Please let us know if you run into any SDK issues. Also, it would helpful for future users if you could link the SO question you create.

[2017-05-05 16:41] #199 closed

[2017-05-05 16:42] twsouthwick commented on #188
Sounds good. @PVINOD91  please let us know if you run into any SDK related issues while working on this.

[2017-05-05 16:42] #188 closed

[2017-05-08 03:15] PVINOD91 commented on #188
Please close this ticket. Sorry for the late notice. Now I could able to successfully get my things done using Open XML SDK. I will definitely reach out to you for any other Open XML SDK issues

[2017-05-08 15:28] MatthewMcD opened #205 "Open-XML-SDK.sln fails to build with dotnet after adding .NET 3.5 support"
Warning: Newbie Observation
I just want to use the PowerShell part of Open-XML-PowerTools. I am 5 hours into trying to get this code to build on a fresh install of VS Code and .Net Core. The brief build instructions are not enough to do the job. I'd be happy to write them up, but that would require success. If someone can assist me in getting the code to compile I'll repay the favor by writing it

[2017-05-09 12:51] gilbertovalente1976 opened #206 "Could not load file or assembly DocumentFormat.OpenXml"
Hi,

I update the openxml to the last version (2.7.1 via Nuget), and my project stop work.

Error:
"An exception of type 'System.IO.FileLoadException' occurred in portal.dll but was not handled in user code.

Could not load the file or assembly 'DocumentFormat.OpenXml, Version = 2.5.5631.0, Culture = neutral, PublicKeyToken = 31bf3856ad364e35' or one of its dependencies. The definition of the loca

[2017-05-09 13:03] FindAirin commented on #206
When I download the DLL via Nuget manager, the version is 0.0.1.0.

[2017-05-09 13:13] gilbertovalente1976 commented on #206
It's strange. In the references properties the dll "Description" is Open XML Format SDK 2.7 but the Version is 0.0.1.0
You have the same issue???

Cumps.
Gilberto Valente

[2017-05-09 16:01] CZEMacLeod commented on #206
See comments in #200, #201 and #202
Also be careful as the public key token has changed so binding redirects won't work and you cannot mix packages dependant on 2.5 with code dependant on 2.7+

[2017-05-09 16:52] twsouthwick commented on #205
Good catch! I had to switch it to use msbuild in order to get .NET 3.5 support (see PR https://github.com/OfficeDev/Open-XML-SDK/pull/185). I would expect limiting the TargetFramework would work. Another option is we could change it so locally it continues to only build for .NET 4.5 and .NET Standard, but we build for the other targets on the build server. I'll investigate

[2017-05-09 16:56] tomjebo commented on #206
@gilbertovalente1976 @CZEMacLeod you're right these are fixed #200, @201, and @202. Since these are breaking changes we will tag a new release.

[2017-05-09 17:00] twsouthwick commented on #205
I just tried with this command:

[code]

and it builds fine.

Another option is to just build it with `msbuild /t:restore;build` which can build all the projects. `dotnet` doesn't know about the GAC so it can't get the .NET 3.5 references.

This probably isn't the best long term approach, so I'll keep the issue open until we close on what we should do so the widest developers can still build.

[2017-05-09 17:03] twsouthwick commented on #205
also, the OpenXML power tools can just reference the pre-built version of it from NuGet (pretty sure it has been updated to do that). Is there a need to build it yourself?

[2017-05-09 17:12] MatthewMcD commented on #205
Nope, no need to build it, just no clear instruction (read: just want to use the darned thing) for me to follow to get the build to work. I tried running the PowerTools module and it crapped out with all sorts of failed dependencies on this project. So I am trying to get this project to build.

I know git and VS, but don't have VS2017 (or the desire to install it). Figured the lightweight approach

[2017-05-09 17:17] twsouthwick commented on #205
If all you need is to have a pre-built assembly, just grab it from NuGet: https://www.nuget.org/api/v2/package/DocumentFormat.OpenXml/2.7.1

NuGet is the package management solution the .NET ecosystem uses. As of VS2017 and the .NET CLI tooling, it is built into the tooling much more tightly. The `dotnet restore` is the same as `nuget restore` or `msbuild /t:restore` -- they're just different fron

[2017-05-09 17:55] MatthewMcD commented on #205
Taylor, I really appreciate the assistance. But still fail to see how to connect the dots. I just reviewed the video on Open XML Tools for "Gitting, Building, and Installing Open-Xml-PowerTools" and found my comment from 3 months ago asking why it does not build in VS2013+Update 4 as he said it would.

"If all you want to do is run in PowerShell you need to do the following." None of this is intui

[2017-05-09 18:15] MatthewMcD commented on #205
OK,
I just deleted everything. Then I ran:
[code]

There is a .Net35.sln, but since I don't have 3.5 installed I am not trying that.

It seems that .Net Core has no idea how to find my .Net assemblies. Like there is a missing step in the "Getting Started with .Net Core".

[2017-05-09 20:04] twsouthwick commented on #205
I'm not that familiar with the Open XML Power Tools and sorry that they're out of date. We've finally got the Open-XML-SDK up and running and have plans to update the Power Tools, but no one is working on this full time.

I've updated things to work with the NuGet package better. Use this fork and branch of the power tools: https://github.com/twsouthwick/Open-Xml-PowerTools/tree/cleanup-sln

Notic

[2017-05-09 20:55] MatthewMcD commented on #205
Thanks again, I just installed the Developer Pack for 4.6.2 from here: https://www.microsoft.com/net/targeting. No Joy, screens full of read error messages telling me I am missing the real issue.

I appreciate your help, but for now I have COM code that works, even though I want to shower after I am done with it.

I'd be happy to be the guinea pig on any new steps to get a project up and running f

[2017-05-09 23:23] twsouthwick commented on #205
hmmm... the developer pack for 4.6.2 won't contain the .NET 4.6 targeting pack. You can change the target framework of the library to 4.6.2 and compile with that or compile with .NET 4.6 after installing the targeting pack.

Can you share a screenshot of your errors?

[2017-05-10 00:25] MatthewMcD commented on #205
I will, but I am out of time for the next few days and have to find another solution. I'll get back on this thread when I am not under the gun. Thanks again for the help!

[2017-05-13 12:33] xrkolovos commented on #191
good job @twsouthwick

[2017-05-13 22:48] joviledog opened #207 "Can't load any of the csproj's files from this solution after cloning it"
I got the following errors trying to open the sln after cloning the project.

C:\Users\Andy\Source\Repos\Open-XML-SDK\DocumentFormat.OpenXml\DocumentFormat.OpenXml.csproj : error  : The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please add xmlns="http://schemas.microsoft.com/developer/msbuild/2003" to the <Project>

[2017-05-13 23:26] tarunchopra commented on #207
Are you opening it with VS 2017?

[2017-05-15 05:05] joviledog commented on #207
No, just using VS 2015

[2017-05-15 05:28] ThomasBarnekow commented on #207
VS 2015 is no longer supported. While the README.md does not say that directly, the build instructions say that you must open the project with one of the tools that support the latest formats. This includes VS 2017 and other tools, but not VS 2015.

You can use the NuGet package if you don't need to build from source, though.

[2017-05-15 11:14] JoGillis opened #208 "File version probably not correct"
When using the 2.7.1 nugget package we get a dll with product version 2.7.1, but the file version is 0.0.1.0, which is way lower than  the file version of the dll in the 2.5 sdk released by Microsoft. This may break some update mechanisms.

[2017-05-15 18:20] CZEMacLeod commented on #191
@twsouthwick I was wondering about this signing key change bit - EF6 has been moved to opensource but has kept the original key. To allow using custom builds they have a delay sign and key bypass mechanism but keeping 'curated' releases with the original key.
[https://github.com/aspnet/EntityFramework6/wiki/Building-the-Runtime](https://github.com/aspnet/EntityFramework6/wiki/Building-the-Runtime)

[2017-05-15 18:22] CZEMacLeod commented on #208
See #200, #201, #202 for discussion on this.

[2017-05-15 19:27] MatthewMcD commented on #205
Back at it...built a clean environment.
Installed VS2017 Community.
Cloned both projects into PowerShell\Modules.
Built the SDK without error.

Nothing is working, but it does build.
https://github.com/OfficeDev/Open-Xml-PowerTools/issues/143

[2017-05-15 19:27] #205 closed

[2017-05-15 19:55] twsouthwick commented on #191
I started an internal thread to look into that option last week. With build, most of the team was busy, but hopefully we can get some traction on it this week.

Sent from my Windows 10 phone

From: CZEMacLeod<mailto:notifications@github.com>
Sent: Monday, May 15, 2017 1:20 PM
To: OfficeDev/Open-XML-SDK<mailto:Open-XML-SDK@noreply.github.com>
Cc: Taylor Southwick<mailto:tasou@microsoft.com>; Mentio

[2017-05-17 09:39] khspace opened #209 "how to get ChartData from an existed ChartPart"
Can I get ChartData from an existed ChartPart?

[2017-05-17 15:27] ThomasBarnekow commented on #209
@khspace, GitHub issues are not the right way to ask how-to questions. Please post this to stackoverflow.com.

[2017-05-25 20:41] JaredShaver opened #210 "DocumentFormat.OpenXml on NuGet.org"
It looks like the DocumentFormat.OpenXml package is now on NuGet.org.  The readme could be updated with the instructions for using the package there instead of the MyGet feed workaround.

[2017-05-29 17:40] nithinshiriya opened #211 "VBA Range.xml and place to Opendocumentxml"
We have an application that collects part of data using VBA  range,.xml.

Now, I want to place that XML string into another document using DocumentFormat.OpenXml.

Any idea how can I do that.

Thanks,
Nitheen

[2017-05-29 20:42] silviomarquesferreira commented on #38
Hi Guys, I'm facing the same problem with a docx document.
Is there some new implementation inside system.io.packaging?

[2017-05-30 16:45] Djblois commented on #206
Hi, I was wondering how we can fix this for now? or do you have a new version coming out? I cannot run my project.

[2017-05-31 11:16] tomap commented on #210
Link to the nuget: https://www.nuget.org/packages/DocumentFormat.OpenXml/ :)

[2017-06-07 01:39] daggmano commented on #206
Please release an update to NuGet ASAP as this is a critical issue.  I understand the issue has been resolved but a release is required to fully resolve.

[2017-06-07 17:47] tomjebo commented on #206
@gilbertovalente1976 we're pushing the package to nuget.org today.

[2017-06-07 18:38] twsouthwick commented on #208
This is fixed now and uploaded to NuGet.org. May take a little bit of time for it to show up.

[2017-06-07 18:38] #208 closed

[2017-06-07 18:39] twsouthwick commented on #208
btw - you'll want the 2.7.2 release to get the fix

[2017-06-07 18:41] twsouthwick commented on #207
This is by design and is documented in the README that you need VS2017 to build. If you feel the docs don't explain it well enough, please reopen and submit a PR!

[2017-06-07 18:41] #207 closed

[2017-06-07 18:41] twsouthwick commented on #210
Good point!

[2017-06-07 19:31] tomjebo commented on #206
@daggmano the version fix is in the 2.7.2 nuget.org package  [https://www.nuget.org/packages/DocumentFormat.OpenXml](url).

[2017-06-08 07:21] jeongsd commented on #39
I use Mono 5.0.1 and I seem to be getting the same bug. Do you have a solution to this? Or as the above person has said, should I just use 4.4.0 alpha?

[2017-06-08 12:47] AGuyCalledGerald opened #215 "Powerpoint presentation created in-memory is empty"
Can you help me, I have a problem with documentation code. I use the code from

[msdn](https://msdn.microsoft.com/en-us/library/office/gg278317.aspx) to create a powerpoint presentation.
The only thing I changed is to use memory stream:

`MemoryStream stream = new MemoryStream();`

`PresentationDocument presentationDoc = PresentationDocument.Create(stream,
                    PresentationDocumentT

[2017-06-08 13:35] #215 closed

[2017-06-13 15:58] tomjebo commented on #210
@JaredShaver @tomap take a look at the [README.md](https://github.com/OfficeDev/Open-XML-SDK/blob/vNext/README.md)

[2017-06-13 16:13] #210 closed

[2017-06-17 03:03] EatonZ opened #216 "New packages?"
Hello, upgrading via NuGet from 2.7.1 to 2.7.2 is wanting to install 2 new packages. What is the purpose of these assemblies? I try to keep my application slim and don't want these if they aren't required.
![1](https://user-images.githubusercontent.com/3020941/27249624-fd7ec522-52e7-11e7-9128-688eb689e1d7.png)

[2017-06-22 17:35] tomjebo commented on #216
@EatonZ you should refer to [readme section on System.IO.Packaging](https://github.com/OfficeDev/Open-XML-SDK#windowsbase-or-systemiopackaging). We do need this to resolve some issues.

[2017-06-26 22:39] EatonZ commented on #216
I see - thank you.

[2017-06-26 22:39] #216 closed

[2017-07-03 14:25] daniel-white opened #217 "What is the status of OpenXmlPackage.Save?"
The power tools reference `OpenXmlPackage.Save`. I've gotten a Nuget build that has it uncommented with different logic. I'm not sure where that is coming from.

[2017-07-03 16:01] ThomasBarnekow commented on #217
@daniel-white, Could you be a little more specific? Which part (class, method) of the PowerTools reference the `OpenXmlPackage.Save()` method and which NuGet build of what has it uncommented with different logic?

I first contributed the save-and-clone functionality in January 2015 (see 06fa235) and the OpenXmlPackage class still has my Save() method (with later enhancements):
[code]
However, I al

[2017-07-03 16:49] daniel-white commented on #217
Thanks @ThomasBarnekow. I must have had a bad version referenced somewhere in the powertools. My CTRL+F foo must have been lacking. I pointed the PowerTools vNext at the SDK's 2.7.2 and it seems to be working. The powertools needs help IMO w/ referencing *this* project.

[2017-07-03 16:49] #217 closed

[2017-07-04 11:14] trzewior opened #218 "Removing Slide Layouts from Presentation results in a corrupted file"
Hey i've already asked a question on stack, but i will attach a power point in here as well.

https://stackoverflow.com/questions/44904404/removing-slide-layouts-from-presentation

[source.pptx](https://github.com/OfficeDev/Open-XML-SDK/files/1122077/source.pptx)
[1.pptx](https://github.com/OfficeDev/Open-XML-SDK/files/1121841/1.pptx)

[2017-07-04 13:42] trzewior commented on #218
Resolved in stack topic.

[2017-07-04 13:42] #218 closed

[2017-07-06 12:54] juanperezADD opened #219 "Merge documents with header section"
We have a technical question about merging documents. We want to combine multiple documents, each one with a different header, in one document with a header that is a merge of the others documents.

Here is an example:

- Company document: This is a document that we want to reuse in multiple documents. It contains in its header the company name and common information.

- Report document: This docu

[2017-07-07 11:00] ejapuk opened #220 "Extracted excel file does not open!"
Using OpenXML to find embedded files and exporting them to the working directory. I followed the example given [in msdn example](https://code.msdn.microsoft.com/CSOfficeDocumentFileExtract-e5afce86/sourcecode?fileId=65214&pathId=1944795283). excerpt of the code given below.
`private void ReadWriteStream(Stream readStream, Stream writeStream)
{
    int Length = 256;
        Byte[] buffer = new Byte

[2017-07-10 05:58] SergeyKn commented on #85
Hi Tarun,
In my opinion, if I can create a document with a bad format Hyperlink in MS Word, then the SDK should be able to open this document (probably simply ignore it instead of failing to load the document). The document is still valid.
I keep receiving problem reports, because users keep creating documents with this type of hyperlinks. If a user puts any link with a bad format - SDK won't be a

[2017-07-10 23:20] tarunchopra commented on #85
Hello @SergeyKn :

Can you please tell us as to how are you creating bad format hyperlink document in word? Reason I'm asking, I took your document and re-saved it using 'save as' option in Word. Word removed the existing relationship in document.xml.rels

<Relationship Id="rId4" Type="http://schemas.openxmlformats.org/officeDocument/2006/relationships/hyperlink" Target="file:///\\$APPSERVER_HOST_

[2017-07-11 07:04] SergeyKn commented on #85
Thanks for a quick response.
The steps are pretty straight forward.
1) Add a link
![image](https://user-images.githubusercontent.com/1464865/28054919-30acd15c-665a-11e7-91c1-d863cc2764d8.png)
2) Put bad formatted address
![image](https://user-images.githubusercontent.com/1464865/28054958-551bde34-665a-11e7-954e-aafadb8506ad.png)
3) 'Save as' document to a desktop
4) Open the document with the Prod

[2017-07-11 18:48] tomjebo commented on #220
@ejapuk this appears to be more of a straight Office Open XML packaging question vs the OpenXML SDK which isn't involved in what you're doing. I did a quick test using the same code from that sample (which is very simple) and it does very cleanly extract the embedding parts and write them to a file. There's nothing wrong with this code. One problem you may be having which I also noticed, is that t

[2017-07-24 10:48] owlwang opened #221 "Documents fail to open on Mono with System.IO.Packaging library"
When I use the following code：
[https://msdn.microsoft.com/en-us/library/office/gg575571.aspx](https://msdn.microsoft.com/en-us/library/office/gg575571.aspx)
[code]

 SpreadsheetDocument.Open() will report error
**PackageRelationship target must be relative URI if TargetMode is Internal.
Parameter name: targetUri**
![ece33856-977e-4ca2-a4ed-130577397063](https://user-images.githubusercontent.com/1

[2017-07-24 16:07] tarunchopra commented on #221
Hello @owlwang :

Please share your .xlsx file so that we can have a look. Looks like there is an issue with the relationships in the *.xml.rels file. Kindly ensure that the target is set to relative link when TargetMode is set to internal.

Thx

[2017-07-25 02:27] owlwang commented on #221
Here is the .xlsx file
[task.xlsx](https://github.com/OfficeDev/Open-XML-SDK/files/1171746/task.xlsx)

It is created by the following code:

[https://msdn.microsoft.com/en-us/library/office/ff478153.aspx?cs-save-lang=1&cs-lang=csharp#code-snippet-2](https://msdn.microsoft.com/en-us/library/office/ff478153.aspx?cs-save-lang=1&cs-lang=csharp#code-snippet-2)

[code]
And I found the content of the wor

[2017-07-25 20:26] ylw633 opened #222 "WordprocessingDocument XML not updating after MainDocumentPart.Document is accessed"
I am trying to follow the instructions of this MSDN article: https://blogs.msdn.microsoft.com/ericwhite/2008/12/10/working-with-in-memory-open-xml-documents/

My example is only slightly modified from it. I extracted the code to update text into its own function:
[code]

therefore the main function is updated to:
[code]

The issue is quite strange, if I comment out the line
[code]

the final docum

[2017-07-25 20:31] ylw633 commented on #222
"dumm-testing.docx" is just an arbitrary near blank Word document I created using Word 2017, only contain the text "this is a test document".

[2017-07-26 08:09] ThomasBarnekow commented on #222
@ylw633, please have a look at issue #198, in which I describe the incompatibility between the Open XML SDK and the PowerTools for Open XML. I provided a way to fix that general issue in a [pull request](https://github.com/OfficeDev/Open-Xml-PowerTools/pull/139) for the Open XML PowerTools that got merged a while ago.

That pull request also contains unit tests which demonstrate the issue you are

[2017-07-26 15:43] ylw633 commented on #222
Thank you @ThomasBarnekow the information is really helpful!
Though the reason is different but it ends with same result. In fact, we had an existing component that first construct a document using strongly typed mechanism (SDK api), then merge the result with several documents using XML overwrite (PowerTools way). Since the changes of direct overwrite were not taken as mentioned previously, our c

[2017-07-26 16:21] ThomasBarnekow commented on #222
You are welcome, @ylw633. And for everybody else, the short form of the solution is to structure your code roughly as follows:
[code]
And if you mainly use the PowerTools approach and only occasionally the strongly typed classes, you would turn it around as follows:
[code]

[2017-07-27 10:34] ejapuk commented on #220
Thank you @tomjebo. After extracting the excel file I replaced the value of visibility from "hidden" to null during run time using open xml sdk itself. Now the extracted file has the sheets visible. Thanks for the tip.

[2017-07-27 10:34] #220 closed

[2017-07-27 20:50] #222 closed

[2017-07-28 05:42] tarunchopra commented on #221
@owlwang : I'll look into the file and get back.

[2017-07-28 20:57] tarunchopra commented on #221
@owlwang :

Yes, you are right on this one --  _'You mean these target paths should be "xl/worksheets/sheet1.xml"  instead of "/xl/worksheets/sheet1.xml_" ?'.

As a test; I opened your .xlsx file in ODE tool and added '/' in front of 'worksheets/sheet1.xml' in workbook.xml.rels. Excel application complained about the file as it does not like that extra '/'.

This proved that the format of Target s

[2017-07-29 01:28] owlwang commented on #221
@tarunchopra

Thank you for your reply.

But I mean I used the official code [MSDN](https://msdn.microsoft.com/en-us/library/office/ff478153.aspx#Anchor_3) to create an error file.

IDE: Visual Studio for Mac
.NET Runtime: Mono 5.0.1.1
OpenXML: 2.7.2.0
OS: macOS 10.12.5

Is there a problem with the official code? And what should I do to generate the correct Excel file？

[2017-07-31 11:51] sanathjs opened #223 "How to generate a Table of Contents (TOC)"
As per MSDN forum link below i get to know that still there is no way in generating a Table of Contents as per sdk 2.0 but is it updated in 2.7 can we generate TOC in 2.7 i couldn't find it.

https://social.msdn.microsoft.com/Forums/office/en-US/19032efe-80af-4a16-b954-1f5a6d2f2236/open-xml-sdk-v2-faq-part-1?forum=oxmlsdk#x_Q7

[2017-07-31 13:00] robertmuehsig commented on #223
I guess not, because you need a "renderer" for this kind of stuff. There are some libraries (e.g. from SyncFusion, but you need a license for that) that may help you.

[2017-07-31 19:34] tarunchopra commented on #221
@owlwang : Ok; I tried opening your file in VS on Windows machine and it does not throw any such error. I believe you are testing this on MAC so I need to get it verified on MAC. Give me day or so to test and get back.

[2017-08-04 10:46] RobRol opened #224 "Add custom part validation per MS-OI29500 3.5 and ISO/IEC 29500 15.2.5 and 15.2.6"
The Open-XML-SDK (at least at the time of writing) does not fail to validate documents which have missing required properties per MS-OI29500 3.5 and ISO/IEC 29500 15.2.5 and 15.2.6.

One way of creating these documents today is to go to an existing document library on a SharePoint server.  Ensure this document library has Office Documents in it.  Add a new required field to the document library.

[2017-08-05 01:35] daniel-white opened #225 "Open sourcing the Productivity Tool?"
Would it be possible to get the Productivity Tool open sourced? There's plenty of things I would love to improve it.

[2017-08-08 07:27] tarunchopra commented on #221
@owlwang :

Sorry for the delay, i tried reproducing the issue on MAC and was facing following 'Absolute URIs are not supported' issue - https://stackoverflow.com/questions/43783640/c-sharp-openxml-error-with-word-online-files-absolute-uris-are-not-supported. After adding following line ; Environment.SetEnvironmentVariable("MONO_URI_DOTNETRELATIVEORABSOLUTE", "true"); I was able to get rid of the

[2017-08-08 21:48] Will-Gregg commented on #119
Hello TimY:

Since your document is corrupted accessing the contained pictures is difficult. The easiest solution is to fix-up the errors in the document. You can easily do that by opening your document in Word 2016 and then saving the document from Word 2016 as a Strict OpenXML document addresses those issues.

If you are unable to correct the document corruption and need to access the images you

[2017-08-10 07:01] owlwang commented on #221
@tarunchopra
I'm sorry to reply you so late.

I've tested the code you gave, and it no longer throws exception.
Add the code `Environment.SetEnvironmentVariable("MONO_URI_DOTNETRELATIVEORABSOLUTE", "true");` can fix this bug.

Thank you for your help.

[2017-08-10 07:02] tarunchopra commented on #221
Awesome, closing the thread

[2017-08-16 12:42] igitur opened #226 ".NET Standard 2.0 support"
I notice that @twsouthwick is already working on it, but I wanted to create a stub issue.

[2017-08-17 03:25] #206 closed

[2017-08-17 04:00] twsouthwick commented on #226
Yeah, I've got a branch with the changes. Waiting for AppVeyor to upgrade to Visual Studio 15.3

[2017-08-17 04:11] igitur commented on #226
I saw that branch and already made a PR on it to enable 15.3.

[2017-08-17 20:04] twsouthwick commented on #226
Before I submit a PR for this, we should determine if we need it. Since it support .NET Standard 1.3 there is no real value that I can see in supporting .NET Standard 2.0. You should be able to reference this library against from a .NET Standard 2.0 (or .NET Core 2.0) assembly without any special changes. Since each cross-compiled assembly in the package adds about 5mb, we should try to keep it as

[2017-08-17 20:54] twsouthwick commented on #186
I'm taking a look at this as it gets really annoying when working in the code base. My first goal is to clean up file access so it's only in a few points, then we can determine the best way to address the mocking. I'm not familiar with the IO helpers you mentioned, but they sound pretty nice. In many places, I think we can just use memory streams and embed the test assets as resources, but I'm not

[2017-08-18 06:03] robertmuehsig commented on #226
Using a lower .NET Standard version should result in a broader adoption. In case of the full .NET framework 2.0 requires .NET Framework 4.6.1, which is quite high.
Whats the reason to support .NET Standard 2.0 if it runs just fine with .NET Standard 1.3?

[2017-08-18 09:30] imn1x opened #234 "Process formula in Word document using OpenXML"
We have a docx file with merge fields, and formulae with merge fields.
This was processing using interop DCOM object
When the same document is processed using Open XML SDK, only the merge fields are replaced, but formulae are not recognized.

Any solution to process formula using OpenXML.

Thanks
Imran

[2017-08-18 13:39] igitur commented on #226
Yeah, I wasn't aware that you can cross-reference between different .NET versions. I found @twsouthwick 's .NET Standard 2.0 prerelease in his MyGet feed and assumed that it had already been decided that a .NET Standard 2.0 build would eventually be included. If that's not the case, you can close this issue.

For ClosedXML, I need to build on .NET Standard 2.0 (to use System.Drawing and other stuf

[2017-08-18 15:44] twsouthwick commented on #226
We can go ahead and close this issue then. I had started a branch with .NET Standard 2.0 to play around with some preview tooling with a multi-targeting library. Since It doesn't appear to be necessary, I'll close this issue. If you find a reason why you'd need it, we can readdress it then.

[2017-08-18 15:44] #226 closed

[2017-08-18 18:00] twsouthwick commented on #225
Are you referring to [Open XML Package Editor Power Tool for VS](https://github.com/OfficeDev/Open-XML-Package-Editor-Power-Tool-for-Visual-Studio) or [OpenXML Power Tools](https://github.com/OfficeDev/Open-Xml-PowerTools)? Both of those are open source

[2017-08-18 18:02] daniel-white commented on #225
Neither of those. This is the one
![image](https://user-images.githubusercontent.com/735269/29471396-df7cfe06-841d-11e7-9e27-d118d8f41f45.png)

[2017-08-18 18:04] twsouthwick commented on #225
Ah - @tomjebo would know more about that.

[2017-08-19 13:12] igitur opened #235 "NullReferenceException when setting PackageProperties entry on .NET Standard 2.0"
I'm working on building a .NET Standard 2.0 version of [ClosedXML](http://github.com/ClosedXML/ClosedXML)

I'm experiencing a `System.NullReferenceException` exception with the following piece of code when I run it against `netcoreapp2.0`. When I run it against `net452` or `net461`, I don't experience the exception.

In all cases I reference `DocumentFormat.OpenXml` version `2.7.2`.
For `net461` a

[2017-08-23 01:46] iopzxc opened #237 "It convert math formulas, SmartArt, or DrawingML drawings to image.Is it feasible?"
hi , I want It convert math formulas, SmartArt, or DrawingML drawings to image . Is it feasible?
When using it to convert to HTML

[2017-08-26 19:52] aworx commented on #168
Just to clarify why the above solution works for anyone interested.
There are two issues. First is the one that prevents compilation.
The first solution with <Assembly Name="DocumentFormat.OpenXml" Dynamic="Auto"/> solves that one.
The second one that is more tricky is revealing itself only when in Release since the compiler removes any types not used, so GetTypeOf returns null (used in OpenXML in

[2017-08-28 19:33] davemeech opened #240 "Streaming back to embedded package part corrupting power point file"
Hi there, I have created the following c# program to change the chart of a template powerpoint as well as its embedded excel spreadsheet.  I can tell through the productivity tool that everything I want changed is changed, but when I try to open the generated powerpoint, it is corrupted.  I saved the excel spreadsheet and discovered that everything is fine there.  I've discovered that writing the

[2017-08-29 12:09] davemeech commented on #240
Actually, upon running this example code (this is what I used as a reference starting point for my code) it looks like this corrupts the data in the word document it's using as well.

http://ericwhite.com/blog/2011/03/29/update-data-behind-an-embedded-chart-in-an-open-xml-wordprocessingml-document/

I haven't done any troubleshooting on this one yet but I'm going to assume right now it will also b

[2017-09-05 14:15] kenleese commented on #235
@igitur a workaround: when attempting to delete a property (by setting its value to null) first ensure the property exists.
`if (author == null) document.PackageProperties.Creator = "";`
`document.PackageProperties.Creator = author;`

[2017-09-06 07:40] igitur commented on #235
@kenleese Thanks, the workaround works. Never thought to try that myself.

[2017-09-17 19:59] AntoineLarine opened #244 "System.IO.IOException: Stream was too long error on .NET Core 2.0 application"
In .NET Core 2 console application ([ConsoleApp1.zip](https://github.com/OfficeDev/Open-XML-SDK/files/1309342/ConsoleApp1.zip)) writing a large Excel file stops with the following error:
System.IO.IOException: Stream was too long.
   at System.IO.MemoryStream.Write(Byte[] buffer, Int32 offset, Int32 count)
   at System.IO.Compression.WrappedStream.Write(Byte[] buffer, Int32 offset, Int32 count)

[2017-09-21 17:14] arun-newgen opened #245 "How to generate unique paraid in word openxml?"
<w:p w14:paraId="09868DD9" w14:textId="434C9D2D" w:rsidR="00A65BB5" w:rsidRPr="003D4286" w:rsidRDefault="00DD267D" w:rsidP="00DD267D">
            <w:pPr>
                <w:pStyle w:val="prelimhead"/>
            </w:pPr>
            <w:bookmarkStart w:id="0" w:name="_Toc4"/>
            <w:r w:rsidRPr="003D4286">
                <w:t>Author’s Note</w:t>
            </w:r>
            <w:bookmark

[2017-09-22 13:36] brightworks opened #246 "Docx into SQL Server table"
Would it be possible with this tool to parse an existing Docx document and grab its data to send to a SQL Server database?

[2017-09-22 13:50] ThomasBarnekow commented on #246
@brightworks Assuming "this tool" means the Open XML SDK, you can absolutely do this. This obviously assumes that you know what "its data" is and how you want to map that to the database.

For example, if you wanted to create one record per paragraph and have its contents (e.g., inner text without formatting) written to one column, you can do that. Your definition of "its data" obviously determine

[2017-09-22 13:51] brightworks commented on #246
Thank you for the quick response. This is really helpful.

[2017-09-22 22:23] robertmuehsig commented on #246
As a "warning": The OpenXML element "graph" and the different parts can be overwhelming at the beginning. For such "extraction" scenarios we often use the [FlatOpc-Format](https://blogs.msdn.microsoft.com/ericwhite/2008/09/29/the-flat-opc-format/). The flat opc is basically a "flat" xml representations of all parts. Or even simpler: This gives you a giant string that represents the complete docume

[2017-09-23 09:21] ThomasBarnekow commented on #246
@robertmuehsig made a good point. There is no single approach to extracting data from an Open XML document. Depending on what exactly you want to extract, you would be looking at a single Open XML part, e.g., the `MainDocumentPart`, or multiple such parts, e.g., additionally multiple header and footer parts, style definitions part, numbering definitions part, settings part, etc. The Flat OPC forma

[2017-09-24 08:37] AlirezaAhmadiRad opened #247 "Excel file: Specified part does not exist in the package."
Hello
I have an Excel file directly created by Microsoft Excel. When I try to open it with SpreadsheetDocument.Open(), I get exception of Specified part does not exist in the package.

I'm using NuGet 2.7.2

Exception details:
Source: WindowsBase
Target site: System.IO.Packaging.Package.GetPart(System.Uri)

Could you please help?

[DB84080A-8AB9-49AB-A607-0367D6A7F73ABook1.xlsx](https://github.com

[2017-09-25 02:22] tarunchopra commented on #247
@AlirezaAhmadiRad : I used following code to open your file and it worked fine.I tested this on Windows OS.

 OpenSettings openSettings = new OpenSettings();
            openSettings.MarkupCompatibilityProcessSettings = new MarkupCompatibilityProcessSettings(MarkupCompatibilityProcessMode.ProcessAllParts, FileFormatVersions.Office2013);
            using (SpreadsheetDocument doc = SpreadsheetDocum

[2017-09-25 20:46] AlirezaAhmadiRad commented on #247
Thanks
I usd your code but no success. I must read the file from stream.

[code]

I also checked with MarkupCompatibilityProcessMode.ProcessLoadedPartsOnly but the same problem persisted.

[2017-09-25 22:00] tarunchopra commented on #247
@AlirezaAhmadiRad : Can you replace that 'stream2' with absolute path of the file to verify if that is causing this issue? Also, are you running this on Windows OS or MAC ?

[2017-09-29 18:30] stefan505 commented on #204
Yes please, would like it as well!

[2017-10-01 02:23] noamberda opened #248 "Issue with OpenXmlValidator"
Hi,
When we validate an .xlsx file that has a pivot table that use the feature "Add this data to the Data Model" we are not able to validate the openxml file.
We are getting the error:
"The attribute 'type' has invalid value '102'. The MaxInclusive constraint failed. The value must be less than or equal to 8."

in the connections.xml file i can see the connection type "102"
`<connection id="2" xr1

[2017-10-01 03:37] tarunchopra commented on #248
@noam - Can you please attach your file so that I can repro the issue and have a look?

[2017-10-02 11:51] noamberda commented on #248
Hi,
Please see attach. i also attach the connections.xml so you can see it.
also out a screenshot for you to see. its this checkbox at the bottom. once
you check it the 102 comes.

[image: Inline image 1]

On Sun, 1 Oct 2017 at 11:38, TarunChopra[MSFT] <notifications@github.com>
wrote:

[2017-10-02 16:09] tarunchopra commented on #248
@noamberda : We don't see any attachment.

[2017-10-02 16:16] danijela-k opened #249 "Issue with creating docx file on Mac using .net core 2.0 (corrupted docx file)"
I am trying to use DocumentFormat.OpenXml on Mac (& .NETcore 2.0.0) to create docx file.
Simple code like this ends up with unusable(corrupted) document:

[code]

I can load existing file and append some text in it, no problem there. But, creating new docx results with corrupted file.
When I unzip docx and compare it with the unzipped docx file I can read with standard editors, I see that there ar

[2017-10-02 16:52] AlirezaAhmadiRad commented on #247
Hello
Sorry for delay. Opening directly from file works well. Opening from stream fails.

Thnaks

[2017-10-02 21:29] andrecalil opened #250 "On Excel, Table fields lose formulas and format"
Hey there,

We noticed that if you have an Excel spreadsheet with a table and some of its columns have calculated or formatted values, these properties (either the formula or the format) will be lost on the table definition if the file is loaded using OpenXML.

This was initially noticed on ClosedXML, a library that relies on OpenXML for all the heavy lifting. Further details can be found on [this

[2017-10-03 02:22] noamberda commented on #248
i Zipped it and resent.
Let me know if you got it now

On Tue, Oct 3, 2017 at 12:09 AM, TarunChopra[MSFT] <notifications@github.com

--
*Noam Berda*
eMail noam.berda@gmail.com
Mobile +65 97531150

[2017-10-03 02:26] tarunchopra commented on #248
Where did you sent it? To my email id or attached it to this post ?

[2017-10-03 04:44] noamberda commented on #248
I replied to this email. Do you want me to attach it on github?

On Tue, 3 Oct 2017 at 10:26, TarunChopra[MSFT] <notifications@github.com>
wrote:

--
*Noam Berda*
eMail noam.berda@gmail.com
Mobile +65 97531150

[2017-10-03 05:04] tarunchopra commented on #248
Yes please attach to this thread so that others can also see. Thx

[2017-10-03 05:29] noamberda commented on #248
[Test.xlsx](https://github.com/OfficeDev/Open-XML-SDK/files/1351229/Test.xlsx)
Here are the attach file

[2017-10-03 07:44] tarunchopra commented on #247
You have not assigned anything to memorystream which is most likely the reason for this error. Refer following working code. Use '**ms.Write(ba, 0, ba.Length**)' before opening the SpreadsheetDocument; to resolve the issue.

            var docName = @"DB84080A-8AB9-49AB-A607-0367D6A7F73ABook1.xlsx";
            var ba = File.ReadAllBytes(docName);
            using (MemoryStream ms = new MemorySt

[2017-10-03 16:18] tarunchopra commented on #250
@andrecalil : I've used following code and it's able to persist the spreadsheet formatting .

_Note - I've tested this with openxmlsdk ONLY and have not looked into the internals of closexml._

            using (var packageDocument = SpreadsheetDocument.CreateFromTemplate(@"Template.Example.xlsx"))
            {
                var part = packageDocument.WorkbookPart;
                var root = p

[2017-10-03 16:36] andrecalil commented on #250
Thanks for looking into this, @tarunchopra .
ClosedXML uses the method `Open`. Perhaps there's some different in the internals of OpenXML between `CreateFromTemplate` and `Open`?

[2017-10-03 16:41] tarunchopra commented on #250
@andrecalil : Can you please repro the issue with openxmlsdk (removing closexml) ? I assume that the formatting is disturbed in LoadSpreadsheetDocument function; but this function is exposed by closexml and not openxmlsdk. If you can get us a repro; purely with openxmlsdk; we will be able to help.

[2017-10-03 16:42] tarunchopra commented on #248
@noamberda : Your connections.zip is empty so I'm unable to run it through the tests. However; I used following code to validate Test.xlsx and it passed w\o any error. If you are hitting the issue with Test.xlsx; then please share your code so that I can repro the issue and investigate.

var ba = File.ReadAllBytes("Test.xlsx");
using (MemoryStream ms = new MemoryStream())
{
	ms.Write(ba, 0, ba.Len

[2017-10-03 17:16] tarunchopra commented on #249
@danijela-k : Thx for reporting the issue. I'll test it on MAC and investigate.

PS- Tested your code on windows and it's working fine.

[2017-10-03 19:08] andrecalil commented on #250
So I tried this:

[code]
And, er... it worked. I mean, the formula on the table is kept, so that adding a new line replicates it.

I'll keep looking into ClosedXML. I'll close this issue for now.

Thanks mate!

[2017-10-03 19:08] #250 closed

[2017-10-04 16:58] igitur commented on #250
@tarunchopra I'm the maintainer of ClosedXML. If you see any queries about files generated by ClosedXML, I suggest the first think you ask is whether this has been logged on ClosedXML's page and whether the maintainer (i.e. me) is certain that it is an OpenXML bug. Chances are likely it will be a ClosedXML bug.

[2017-10-04 17:55] tarunchopra commented on #250
@igtur: Thanks. OP mentioned that the issue is an already existing issue @ ClosedXML - https://github.com/ClosedXML/ClosedXML/issues/513; hence there was no reason for me to ask.

I'll leave it up to OP to follow up on ClosedXML repro. From our side; we need purely openxmlsdk code to investigate that it's our issue.

[2017-10-05 07:07] AlirezaAhmadiRad commented on #247
Thanks, you directed me to correct route. byte array is corrupted somewhere in the middle.

[2017-10-05 10:29] noamberda commented on #248
Hi Taru,
Apologies for the delay in my response.

Please see attach a zip file containing a project where i reproduced the issue. Once you debug it you will see the error in the Validate response
[Test.zip](https://github.com/OfficeDev/Open-XML-SDK/files/1358950/Test.zip)

Please let me know if you have any challenge to reproduce it.

Noam

[2017-10-05 15:22] #247 closed

[2017-10-05 16:01] tarunchopra commented on #248
@noamberda :

I modified your solution (removed  nuget packages - System.IO.FileSystem.Primitives and System.IO.Packaging) and opened using VS 2017 Preview version. With this; I'm not seeing any exception and validation is going smooth.

Can you please download the following solution and execute it once with your VS and let me know if you are still encountering the issue?

[TestFromTarun.zip](http

[2017-10-05 18:35] twsouthwick commented on #244
There appears to be a memory leak here in the .NET Standard version of the library.

[2017-10-05 21:55] twsouthwick commented on #244
I was able to repro this issue outside of the DocumentFormat.OpenXML SDK using just the BCL. I've logged an issue at dotnet/corefx to see what the issue is.

[2017-10-05 21:59] tarunchopra commented on #244
Thanks @twsouthwick; appreciate your help.

[2017-10-06 15:08] danijela-k commented on #249
Thanks for quick response. Looks like there is a problem in the _rels/.rels hidden file with the paths.
Paths defined like this results in a good docx:
`<Relationship Id="rId1" Type="http://schemas.openxmlformats.org/officeDocument/2006/relationships/officeDocument" Target="word/document.xml"/>`

but path defined like this creates truble (there is a slash before 'word'):
`<Relationship Id="rId1" T

[2017-10-06 15:23] tarunchopra commented on #249
@danijela-k : Thanks for the update. Sorry for the delay, will try to look into it over the weekend. Your inputs will help me.

[2017-10-10 11:18] amitpandeyjss opened #251 "Query: Can create xlsx preview inside web application using Open-XML"
Hi,
After did lots of search in forum and related links on Open-XML unable to found any relevant answer on my query, so asking here...

__Can we show Preview of an **Excel spreadsheet (XLSX)** using the OpenXML inside web application (website) on web browser?__

-I don't want to use any COM object or MS-Excel libraries (as these software not install in system/computer).
-Here I am, not talking abo

[2017-10-13 12:29] Depechie commented on #221
@tarunchopra I'm testing this with .Net standard lib on Xamarin Forms and getting same error when I try to reopen a saved spreadsheet.
Adding the `Environment.SetEnvironmentVariable("MONO_URI_DOTNETRELATIVEORABSOLUTE", "true");` has no effect.

Is there anything else I need to fix?

[2017-10-13 12:32] Depechie commented on #221
Ha seems I'm in same boot as issue #249

[2017-10-13 12:37] Depechie commented on #249
I have the same issue with Excel file being generated in Xamarin with .Net Standard 2.0

[2017-10-13 12:40] Depechie commented on #221
Ha when I add the Environment.SetEnvironmentVariable("MONO_URI_DOTNETRELATIVEORABSOLUTE", "true"); line in the method where I create the excel AND in the method where I read out the created excel, everything works as expected.

[2017-10-13 12:40] Depechie commented on #249
Ha when I add the Environment.SetEnvironmentVariable("MONO_URI_DOTNETRELATIVEORABSOLUTE", "true"); line in the method where I create the excel AND in the method where I read out the created excel, everything works as expected.

[2017-10-13 13:58] tarunchopra commented on #249
To confirm; setting the environment variable resolves the issue?

[2017-10-13 14:00] Depechie commented on #249
Yes... I stubbed out several methods, one for creating the excel spreadsheet and one for inserting header row, etc...
I need to add the environment variable in each of them to get things working.

[2017-10-13 16:17] nicolascaorsi opened #257 ""High fidelity conversion of DOCX => HTML/CSS and HTML/CSS => DOCX.""
The Readme file mentions that is possible to convert docx to HTML, but I didn't find any example or documentation explaining how to do it. Can anyone provide an example? I have only found using https://github.com/OfficeDev/Open-Xml-PowerTools, but due to some restrictions, I can't use this library.

Thanks.

[2017-10-13 17:27] twsouthwick commented on #257
I believe you need to use the power tools for that. Some of the README is a holdover from when the powertools where in the same repo. @tomjebo we should reword the README so it is targeted solely for the OpenXml library.

@nicolascaorsi What are the restrictions that make it so you can't use the library?

[2017-10-13 17:30] twsouthwick commented on #251
This library is designed for programmatically manipulating the document. The https://github.com/OfficeDev/Open-Xml-PowerTools might be a better bet if you want to show a document; it has some utilities to convert to HTML.

[2017-10-13 18:52] nicolascaorsi commented on #257
@twsouthwick Thanks for answering. I need to run it on Xamarin Android project, the SDK is compatible, but PowerTools isn't. There is any port of it?

[2017-10-16 19:34] twsouthwick commented on #235
I'm going to close this issue on the OpenXML side. I've submitted a fix to CoreFx for the issue @kenleese found and progress can be tracked there. I'm glad there was an easy work around!

[2017-10-16 19:34] #235 closed

[2017-10-16 19:50] kamilzzz opened #262 "Explicit call to Save() does nothing when AutoSave is set to false"
In current implementation explicitly calling Save() from OpenXmlPackage does nothing when AutoSave option is set to false.
It's because Save() calls SavePartContents() which checks if AutoSave is enabled.

This makes sense when SavePartContents() is called from Dispose() method, because we shouldn't save automatically during disposal when this flag is set to false, but shouldn't explicit call to S

[2017-10-16 20:01] twsouthwick commented on #257
It's in progress, but nothing available ATM. I'd suggest following over there to see what needs to be done.

[2017-10-16 22:15] twsouthwick commented on #262
Thanks for reporting this!

[2017-10-16 22:18] twsouthwick commented on #249
Looks like we have a few options we could implement in our code: www.mono-project.com/docs/faq/known-issues/urikind-relativeorabsolute/.

[2017-10-17 09:49] Depechie commented on #249
For reference here a current working version with Xamarin Forms [https://github.com/Depechie/XamarinFormsOffice](https://github.com/Depechie/XamarinFormsOffice)

[2017-10-18 01:07] twsouthwick opened #266 "A Stream must be seekable when opening package on .NET Core"
While refactoring tests, I found that on .NET Core, the following fails, while it succeeds on .NET Framework:

[code]

The input stream needs to be made writeable (ie copied to a `MemoryStream`):

[code]

This fails because `ZipArchive` requires a stream that has read, write, and seek capabilities in .NET Core:

[code]

[2017-10-18 02:23] twsouthwick commented on #249
@Depechie can you try the fix in #267? I'm having trouble right now getting a Xamarin app to deploy... I'll try again tomorrow.

[2017-10-20 11:36] Depechie commented on #249
@twsouthwick only now see this mention... is the check still needed? And if so, what is the easiest way to do so? Is there a preview Nuget feed for the OpenXML package?

[2017-10-20 18:53] twsouthwick commented on #249
Yes, if you could try it out that would be great (I'm still having trouble getting Xamarin to deploy and attach debugger). The easiest way to try it out would be:

1. Download the nupkg from the artifacts tab on AppVeyor (see here: https://ci.appveyor.com/project/tomjebo/open-xml-sdk/build/2.7.3-PullRequest0267.41.build.260/artifacts)
2. Add it to a folder for a local nuget feed.
3. Add the local

[2017-10-22 18:15] Depechie commented on #249
This is possible with VS for Mac?

[2017-10-22 19:00] Depechie commented on #249
Ok was able to get my VS2017 on Windows up to date!
So after adding the local nupkg from the artifacts tab in your link, I added the preview of the new OpenXML sdk ( 2.7.3 pullrequest0267-0041).

With following line of code in place : `Environment.SetEnvironmentVariable("MONO_URI_DOTNETRELATIVEORABSOLUTE", "true");` the app is working fine.
With this line of code in comment I get following excepti

[2017-10-23 06:12] #119 closed

[2017-10-23 16:00] twsouthwick commented on #249
Thanks for taking a look. VS for Mac should have some way of doing it, I'm just not familiar with that application. Looks like the fix isn't complete, then; we don't want to have to set the environment variable. It's fine as a work around, but will affect all libraries being run. I'll see if I can get my emulator working so I can try it out.

[2017-10-23 20:39] twsouthwick commented on #249
@Depechie got Xamarin working, and it looks like the original issue is fixed (ie the package creation is working). However, System.IO.Packaging also has a usage of `UriKind.RelativeOrAbsolute` that needs to be addressed. See https://github.com/dotnet/corefx/issues/24822 for details

[2017-10-23 20:45] Depechie commented on #249
Ha, good catch!!

[2017-10-24 18:39] cmerat commented on #110
@tarunchopra this issue is back when using DotNet Core with the System.IO.Packaging 4.4.0. There is an issue open about it here: https://github.com/dotnet/corefx/issues/24457

Currently, this is preventing us from creating very large spreadsheets in DotNet Core.

[2017-10-24 18:42] tarunchopra commented on #110
@cmerat : Unfortunately; we can't do much until the issue is fixed by corxfx team.

[2017-10-24 18:44] cmerat commented on #110
Apparently, one of the reasons this hasn't been addressed yet is that it is considered a low priority improvement. At the very least, informing the corefx team of the impact of this on the OpenXml package may put some additional weight to the request.

[2017-10-24 21:58] tarunchopra commented on #110
@twsouthwick : Do you have any input on @cmerat comment?

[2017-10-24 23:01] twsouthwick commented on #110
The issue is currently blocked by .NET Core not having a support for streaming zip files. The more the community lets the team know, the more likely it is to be addressed. The issue you referenced above is a good way to get more eyes on it :)

[2017-10-25 03:39] twsouthwick opened #272 "Opening a package with a non-writeable stream throws different exceptions on .NET Core and .NET Framework"
See, for instance, the test at: https://github.com/OfficeDev/Open-XML-SDK/blob/vNext/DocumentFormat.OpenXml.Tests/OpenXmlDomTest/AutoSaveTestClass.cs#L14. All the tests in this file that use `Assert.ThrowsAny<Exception>` throw an `IOException` in .NET Framework and `ArgumentException` in .NET Core

[2017-10-25 23:59] tomjebo commented on #225
@daniel-white currently we don't have any plans for open sourcing that tool but thanks for the suggestion. We will consider it.

[2017-10-25 23:59] #225 closed

[2017-10-26 00:14] tomjebo commented on #223
@sanathjs per the link you provided, probably your best option would be to use Word automation in conjunction with Open XML SDK to accomplish this. In case you haven't seen it yet, Eric's blog and video here should help:
[http://ericwhite.com/blog/2011/08/22/fourth-and-final-screen-cast-in-series-on-addingupdating-the-toc-in-openxml-wordprocessingml-documents/](url)

[2017-10-26 00:14] #223 closed

[2017-10-26 00:33] tomjebo commented on #245
@arun-newgen The SDK doesn't have a specific function for this but any implementation adding a paragraph that has this attribute can simply generate the unique id per this [MS-OI29500] note:

2.6.2.3 paraId
Target namespace: http://schemas.microsoft.com/office/word/2010/wordml
An ST_LongHexNumber (as specified by [ISO/IEC29500-1:2012] section 17.18.50) attribute that
specifies an identifier for a

[2017-10-26 01:21] tomjebo commented on #251
@amitpandeyjss as @twsouthwick said, the SDK is about manipulating the markup (XML) making up the document package. Having said that, one thing that comes to mind would be to embed the spreadsheet in another document (like Word), perhaps using Word automation services (Eric's [blog here ](http://ericwhite.com/blog/2011/08/22/fourth-and-final-screen-cast-in-series-on-addingupdating-the-toc-in-openx

[2017-10-26 03:51] KPVPAPARAO opened #273 "how to remove Shared Formula in an Excel using OpenXML"
I am trying to remove all the formulas those exist in an Excel file.
I was successful in doing that when excel doesn't contain shared formulas however if an excel contains shared formulas in it.
post running my program excel file corrupts.
any pointers on resolving this issue is highly appreciated.

[2017-10-26 03:55] KPVPAPARAO commented on #273
[Input-test.xlsx](https://github.com/OfficeDev/Open-XML-SDK/files/1416904/Input-test.xlsx)
an example input file which contain shared formula in it

[2017-10-27 09:20] ukalhapu opened #274 ""The hostname could not be parsed" when opening PowerPoint document containing URLs with illegal character"
It is known issue and already reported to MS by community
     https://social.msdn.microsoft.com/Forums/office/en-US/0094bee2-b891-46e2-b233-b4b4a7519583/exception-the-hostname-could-not-be-parsed-when-opening-word-document?forum=oxmlsdk

    Issue:
      Exception "The hostname could not be parsed" when opening PowerPoint document containing URLs with illegal character.
      Our customer has Pow

[2017-10-27 13:46] Question101 opened #275 "Complex mergefields not working"
Hello

I'm just wondering if anyone has seen this issue before. We are using Open XML SDK version 2.5 to do some document merging in our application, and as standard is fine, however, if the Mergefield contains any sort of formatting in the .DOCX, eg bold, italics font change,  Word is automatically converting it, from a simple mergefield to a complex mergefield.

When we run our code we’re parsin

[2017-10-27 18:55] tomjebo commented on #274
@ukalhapu thanks for logging this issue. We would need to look at Office's implementation and see how complex the logic is for this and what the impact would be. If it's a straight-forward change we can mimic this in the SDK to allow this non-URI and match Office.

[2017-10-30 20:16] twsouthwick commented on #274
This is constrained by what `System.Uri` can parse. I've opened an issue with CoreFx to investigate there: https://github.com/dotnet/corefx/issues/24963

[2017-10-30 20:20] twsouthwick commented on #275
Can you provide a repro? Also, have you checked to see if it repros on 2.7.2, the latest released version?

[2017-10-30 20:26] twsouthwick commented on #274
@ukalhapu If the `@` is removed, what does that change? Is the file no longer accessible from within PowerPoint?

[2017-10-31 17:08] #257 closed

[2017-11-01 11:36] Question101 commented on #275
Hello. Thanks for the response. We are just building some sample code now and going to try with 2.7.2 and then will post an update.

[2017-11-02 06:21] ukalhapu commented on #274
If @ is removed file is no longer accessible from within PowerPoint

[2017-11-02 08:49] VenkataSri commented on #275
Hi, I have a problem with OpenXML.  I have created a table using rowspan and colspan.  but while converting in Docx the display is getting changed.  I am enclosing the HTML and screenshot of the output.  If someone has any solution that would be a great help.

Thank you,
Venkata
<img width="414" alt="table_format" src="https://user-images.githubusercontent.com/33311194/32317103-b3caa3f2-bfd8-11e7-

[2017-11-02 08:54] Question101 commented on #275
Hello, sorry but can you please open your own new thread I'm waiting for some info for our actual problem to add to here. Thanks

[2017-11-02 08:55] VenkataSri commented on #275
oh am sorry.. I will do it..
thanks

[2017-11-02 08:57] VenkataSri opened #283 "Merge cells in a Docx file."
Hi, I have a problem with OpenXML version 2.5.  I have created a table using rowspan and colspan.  but while converting in Docx the display is getting changed.  I am enclosing the HTML and screenshot of the output.  If someone has any solution that would be a great help.

Thank you,
Venkata
<img width="414" alt="table_format" src="https://user-images.githubusercontent.com/33311194/32317475-e897fc3

[2017-11-02 12:01] kentrob commented on #222
This pull request saved my life! Many thanks to you and Eric for all the great work you do on the OpenXML Power Tools library.

[2017-11-02 16:41] twsouthwick commented on #274
This appears to be a WebDAV URL with `file:///` prepended to it. This URI is not supported at the moment in the .NET Framework, and we use its functionality to parse URIs. Can the user find a standard URI to access the document? Such as a valid UNC URI?

[2017-11-02 19:58] twsouthwick commented on #283
Can you provide a repro?

[2017-11-03 11:21] VenkataSri commented on #283
Sorry I didnt get what you are talking about..

Thanks
Srikantha

[2017-11-03 15:51] twsouthwick commented on #283
A repro (preferably a minimum viable repro) is code that can be taken and run to see the issue. People often do it inline (see markdown support for [code](https://guides.github.com/features/mastering-markdown/)) or provide a gist or a whole repo if it is more complicated.

Simply put, can you include the code you are using so we can reproduce it (in other words, a repro)?

[2017-11-04 10:52] encrypt0r commented on #262
@twsouthwick What exactly is Save() supposed to do? I mean only saving the document (with autosave enabled) produces a corrupted package. Is there any way to save the document without having to close it?

[2017-11-06 09:36] VenkataSri commented on #283
Hi, I cant send the code, but here are the steps to reproduce the same.
1. Reading the HTML content from Web page.
2.  Taking the Docx template from physical folder.
3.  Embedding the HTML content in the docx file
4. Finally generating a PDF from the embedded docx.

When document is generated in that rowspan is not merging the cells as per the attached screenshots.

Please help.

Thanks

[2017-11-06 19:11] ThomasBarnekow commented on #283
It is impossible to see whether you made mistakes without seeing your code. However, the solution is easy. The Open XML SDK basically helps you produce Open XML markup. Thus, you need to make sure you understand what Open XML markup (not HTML or anything else) EXACTLY you need to create the desired effect in Microsoft Word or other compatible word processors.

One way of ensuring you produce the r

[2017-11-07 12:40] rah123mis opened #288 "For French Machines, decimal is changing to comma in Open XML"
If we change the machine configuration in English(US) (but the machine still in france) also the problem remains the same.
While writing the decimal data in the cell of open xml it convert the '.' dot to ',' comma automatically.
![image](https://user-images.githubusercontent.com/33454031/32494245-e1ca9bba-c3e6-11e7-95c8-7e2d140529e5.jpg)

Cell Binding process
![cell binding one](https://user-image

[2017-11-10 06:11] ukalhapu commented on #274
I need to ask Customer about that.
What is difference between WebDAV URL & UNC URI ?
Does WebDAV allows un-supported characters ?
Why MS Office app can parse and access such WebDAV URLS ?

[2017-11-12 00:05] twsouthwick commented on #274
I'm not certain, but I assume MS Office has a lot of backwards compatibility built up over the years to handle various improperly written Uris. This library does not attempt to manually parse any URIs beyond what the .NET Framework provides.

[2017-11-12 00:08] twsouthwick commented on #283
@VenkataSri  I'm going to close this as no repro unless you can provide steps (ie code) for us to reproduce this.

[2017-11-12 00:09] twsouthwick commented on #262
@encrypt0r  This seems like it would be a different issue (corruption versus a no-op). Can you open an issue with a repro?

[2017-11-12 01:06] twsouthwick commented on #288
@rah123mis can you provide a repro? The images are hard to see (and can't zoom in well). The following would be very helpful:

**Information**

- .NET Target: (ie .NET Framework, .NET Core, UWP, Xamarin, etc)
- DocumentFormat.OpenXml Version: (ie 2.7.2)

**Repro**

[code]

**Observed**

Please add your observed behavior here

**Expected**

Please add your expected behavior here.

[2017-11-12 01:13] twsouthwick commented on #275
@Question101 The example you've supplied is quite large and I can't see what the issue is among all the various subs. A repro would be most helpful in the form of a unit test with a very targeted example:

[code]

For help, please take a look at the unit tests in the project.

[2017-11-12 01:17] twsouthwick commented on #273
@KPVPAPARAO In order to help, we need to see the code that you have tried using. If this is a question, please refer to StackOverflow. However, it appears that you are getting a corrupted file so it may be a bug. In either case, we need to see what you are doing.

[2017-11-12 02:28] twsouthwick commented on #249
For now, we'll need to use the Environment variable work around until a fix from CoreFx is available

[2017-11-12 19:17] DavidThi808 opened #292 "WordprocessingDocument.Close() throwing IsolatedStorageException"
I am building up a chart with 582 literal data points. When I call WordprocessingDocument.Close() I get an IsolatedStorageException.

This doesn't make sense to me because the OpenXML SDK, as I understand it, is totally self contained writing data to a stream. There's no calls to Office or anything else that could hit this issue.

- .NET Target: 4.5.1
- DocumentFormat.OpenXml Version: 2.0.5022.0

[2017-11-12 19:47] tarunchopra commented on #292
Hello Dave - The latest version of openxml is 2.7.2. Can you please upgrade to test the latest version and let us know if you are still hitting this issue ?

[2017-11-13 12:16] Misiu commented on #275
@twsouthwick I have same problem with merge field's.
When I iterate over `SimpleField` fields I sometimes get other number of fields than I have mergeFields in my document.
I've searched a bit and I noticed that this is because of different types of merge fields: https://social.msdn.microsoft.com/Forums/office/en-US/ef940df1-253c-499c-8dba-92107c3a34d7/programatically-fill-mergefields-and-manually

[2017-11-13 15:37] ThomasBarnekow commented on #275
This is not an issue with the SDK but rather with the Open XML markup. The original post also mentions changes made by Word, which turns simple into complex fields, which entitely changes the algorithm required to deal with these fields.

The Open XML SDK is a low-level API that lets you work with the Open XML markup directly, without any abstraction whatsoever. The only thing it adds on top of us

[2017-11-13 15:50] Question101 commented on #275
Hello. Thanks for the comments. I will point out to our chap about 'markups' Thomas.

@twsouthwick What stage were you getting a file access error? The example was specifically made for this forum and Microsoft as requested. It generates two documents. A good one and a bad one. Microsoft were able to see the error and pointed out that someone here may understand why it was happening?

Thanks

[2017-11-13 18:48] DavidThi808 commented on #292
Hi;

Good suggestion. I just updated and same problem with 2.7.2.

Any ideas? I don’t understand why this error can even occur as you’re just doing standard file I/O – correct?

Thanks – dave

From: TarunChopra[MSFT] [mailto:notifications@github.com]
Sent: Sunday, November 12, 2017 12:48 PM
To: OfficeDev/Open-XML-SDK <Open-XML-SDK@noreply.github.com>
Cc: David Thielen <david@windward.net>; Author

[2017-11-13 19:20] Misiu commented on #275
@ThomasBarnekow thank You for reply. I have exact same issue. Simple fields change to complex. The only thing I've added was new line between two simple fields.
I have version with simple fields working fine, complex fields are...more complex :)

[2017-11-13 21:00] tarunchopra commented on #292
Hello Dave -

I just tested attached sample program and Close() worked just fine. Kindly have a look.

[Openxml-nuget.zip](https://github.com/OfficeDev/Open-XML-SDK/files/1468458/Openxml-nuget.zip)

Thanks.

[2017-11-13 21:03] DavidThi808 commented on #292
Thank you – I will. And if it works, change it to get the problem we have.

It may be 2 weeks before I can do this.

Thanks - dave

[2017-11-13 21:06] tarunchopra commented on #292
Sure, will look forward to hearing from you.

[2017-11-14 11:58] encrypt0r commented on #262
@twsouthwick actually after more testing it doesn't save at all (AutoSave enabled). The corruption was due to some other reasons. [I have setup a repo](https://github.com/encrypt0r/OpenXmlDemo) That shows the problem. After calling Workbook.Save() and SpreadsheetDocument.Save() the stream is still empty. Have I missed something?

[2017-11-14 12:31] Saftpresse99 opened #293 "Print powerpoint slides with notes not working"
**Description**

We are making Powerpoint documents from a web application for our customers with OpenXML. On some slides we add notes. The notes are displayed on the screen, but if we try to print the slides with notes, only the notes are printed if you select "print slides with notes" in the print layout setting.

**Information**

- .NET Target: (NET Framework 4.7)
- DocumentFormat.OpenXml Versi

[2017-11-14 16:48] ThomasBarnekow commented on #293
This is not an issue with the Open XML SDK (for which you would open an issue here) but rather an issue with producing the correct Open XML markup (for which stackoverflow.com would be the right place).

When it comes to Open XML markup, you must understand what markup EXACTLY you need to produce in order to create the desired outcome. One way of determining what markup you need is to use PowerPoi

[2017-11-14 17:28] twsouthwick commented on #262
@encrypt0r I'll take a look. Can you open a new issue for this?

[2017-11-14 21:17] DavidThi808 commented on #292
[OpenXML_chart_bug.zip](https://github.com/OfficeDev/Open-XML-SDK/files/1472542/OpenXML_chart_bug.zip)

Ok, I've got an example. In the attached Openxml-nuget2 runs our example from a command line app. Works fine.

But then run AddInMenuTest (it's a Word AddIn). This gets the error. So the error only occurs for large data sets when running as an Office AddIn.

Is this sufficient for your needs?

t

[2017-11-15 00:17] encrypt0r opened #294 "Calling Save() doesn't flush to the stream"
**Description**

I am writing a wrapper class for SpreadsheetDocument. **I would like to be able to Save the document more than once**. Currently the only way to force SpreadsheetDocument to flush to the stream is by calling Close() on it. Is there anyway to avoid that?

**Information**

- .NET Target: .Net Standard 2.0
- DocumentFormat.OpenXml Version: 2.7.2

**Repro**

[code]

**Observed**

The

[2017-11-15 00:22] twsouthwick commented on #294
I've encountered this as well. I think it may be a limitation of System.IO.Packaging, but I'll look into it

[2017-11-15 01:22] prashantsoni commented on #204
Yes, It would be great to include this.

[2017-11-15 04:39] twsouthwick commented on #292
On .NET Framework, the System.IO.Packaging class is from WindowsBase which has some issues with isolated storage when you are updating a file of a certain size in appdomains don't have sufficient evidence (and possible other situations).

[2017-11-15 13:20] DavidThi808 commented on #292
Yes, it definitely occurs only for large enough files. And only when running as an AddIn. Which leads to the question, how do I get around this?
thanks - dave

[2017-11-15 14:45] Saftpresse99 commented on #293
Hi,
thanks for your reply. I'm new to this. Do you have some links for setting up a notes master correctly?

[2017-11-15 17:50] tarunchopra commented on #292
@twsouthwick : If it's a known issue; how can we get traction to get it addressed?

[2017-11-15 18:07] twsouthwick commented on #294
This is blocked by a bug in .NET Core. I've opened an issue here: https://github.com/dotnet/corefx/issues/25273

[2017-11-15 18:17] twsouthwick commented on #292
@tarunchopra It is addressed in .NET Core. Modifying the code in WindowsBase is very difficult and doing so would add a new problem. On .NET Framework, IsolatedStorage is used and can encounter this issue, but on .NET Core, it is done in memory, and so some operations explode in memory rather than going to disk. A full fix for this in .NET Core would require streaming support for zip files, which

[2017-11-15 18:23] DavidThi808 commented on #292
@twsouthwick - we can upgrade to 4.6 (I think). Would that make the problem go away? Or do I need to do that **plus** get the standard build of Packaging?

[2017-11-15 19:10] twsouthwick commented on #292
At the moment, you need to do both. This may create an increase in working set, though, but I guess that's better than crashing.

[2017-11-15 20:12] DavidThi808 commented on #292
Would it be possible for me to contribute rewriting this to the standard OpenXML library? It seems to me if it's normal file I/O then there should be no limits like this.

??? - thanks - dave

[2017-11-15 20:17] twsouthwick commented on #292
The limitation has to do with the `System.IO.Packaging` library works. A package is essentially a zip archive with a specific way of holding information. Thus, it depends on zip manipulation, so it's not really a straight forward file I/O due to how zipping occurs.

Not sure what you mean by the "standard OpenXML library", but we welcome contributions to this library and the .NET team welcomes con

[2017-11-15 20:20] DavidThi808 commented on #292
@twsouthwick - Can you please point me to the url where I can open this as an issue for dotnet/corefx?

[2017-11-15 20:22] twsouthwick commented on #292
https://github.com/dotnet/corefx/issues

[2017-11-16 16:20] DavidThi808 commented on #292
@twsouthwick - What if I got the source to System.IO.Packaging and rewrote it to avoid this issue (probably using SHarpZipLib). Would your team then consider adding it in?

thanks - dave

[2017-11-16 16:53] #262 closed

[2017-11-16 16:56] twsouthwick commented on #292
You'd have to bring that up on the CoreFx since they own System.IO.Packaging and we don't want a dependency on a fork of a framework dependency. Generally, though, CoreFX doesn't want to depend on any 3rd party libraries. The best way forward is to push on dotnet/corefx#20558 to get streaming zip support in the framework.

[2017-11-16 17:17] twsouthwick commented on #262
@encrypt0r This has been enabled in the latest CI build available here: https://dotnet.myget.org/gallery/open-xml-sdk. You'll want to upgrade to at least `2.7.3-vnext0051`

[2017-11-16 17:47] DavidThi808 commented on #292
Good points - thanks for your help - dave

[2017-11-16 17:47] #292 closed

[2017-11-16 18:04] twsouthwick commented on #292
No problem. We're amassing issues that will hopefully give some good support for streaming support (I think I've found three so far). Did using the .NET Standard 1.3 version help?

[2017-11-16 18:35] DavidThi808 commented on #292
We decided to not use the .NET Standard 1.3 - we are worried about problems from using something different from the core lib. We can work around this for the moment.

But I am onboard with doing anything I can to get this fixed. I'd love to get streaming zip support for our DOCX/XLSX/PPTX generation too (we do that ourselves in our engine).

[2017-11-16 18:39] twsouthwick commented on #292
The best thing to help keep that ball rolling will be to at least +1 the applicable comments in the issue I referenced above about zip streaming :)

[2017-11-17 01:55] twsouthwick commented on #245
@arun-newgen This appears to be answered. If not, please reopen.

[2017-11-17 01:55] #245 closed

[2017-11-17 01:58] twsouthwick commented on #273
@KPVPAPARAO I'm going to close this issue. Please reopen if you feel like this is a bug. If so, please supply a working repro.

[2017-11-17 01:58] #273 closed

[2017-11-17 01:59] twsouthwick commented on #251
@amitpandeyjss This question seems to be answered, so I'm closing this issue. Please reopen if you feel like it isn't fully answered.

[2017-11-17 01:59] #251 closed

[2017-11-17 02:00] twsouthwick commented on #248
@noamberda As we are not able to repro this, I'm closing this issue. Please reopen if you feel like it is a bug in the library with a working repro.

[2017-11-17 02:00] #248 closed

[2017-11-17 02:29] twsouthwick commented on #172
I ran the current vNext branch on Linux and all tests are passing! Closing issue

[2017-11-17 02:29] #172 closed

[2017-11-17 02:30] twsouthwick commented on #40
I'm closing this issue for now. If someone feels like it should be reopened, please do so and comment on the current status.

[2017-11-17 02:30] #40 closed

[2017-11-17 02:33] twsouthwick commented on #69
This appears to be fixed on Mono. A similar issue is seen on Xamarin, but is due to: https://github.com/OfficeDev/Open-XML-SDK/issues/249. Closing this issue.

[2017-11-17 02:33] #69 closed

[2017-11-17 03:29] twsouthwick commented on #25
@tomjebo Can you take a look at this?

[2017-11-17 03:30] twsouthwick commented on #30
@EricWhiteDev Did you ever root cause this?

[2017-11-17 03:32] twsouthwick commented on #31
@EricWhiteDev Do you have a repro for this?

[2017-11-17 03:40] twsouthwick commented on #107
@jamiemitchellconsultants It's been almost a year since this was reported. A number of changes have been seen with Xamarin and .NET Standard support. Please try with the latest tool set and reopen if it still repros

[2017-11-17 03:40] #107 closed

[2017-11-17 03:42] twsouthwick commented on #93
@nickgsoft @jurjen74 Are you still looking at how to do this?

[2017-11-17 03:44] twsouthwick commented on #90
@broegger111  @webartoli This seems like something we may want to integrate. Do you have a repro of what is the current behavior and what you are expecting?

[2017-11-17 03:48] twsouthwick commented on #64
@davideloper The issue you are seeing is a separate issue that is fixed with https://github.com/OfficeDev/Open-XML-SDK/pull/267. Since the original issue described here is fixed, I'm closing this issue.

[2017-11-17 03:48] #64 closed

[2017-11-17 03:49] twsouthwick commented on #73
This issue has been addressed at some point and all tests are passing. Closing issue.

[2017-11-17 03:49] #73 closed

[2017-11-17 03:51] twsouthwick commented on #74
This issue has been addressed in Mono. Closing issue. Please reopen if issue persists.

[2017-11-17 03:51] #74 closed

[2017-11-17 03:52] twsouthwick commented on #87
@kfertitta There is nothing we can do with this issue. If you feel like this is still persisting in new builds, please provide a repro and we can take a look.

[2017-11-17 03:52] #87 closed

[2017-11-17 03:52] #249 closed

[2017-11-17 03:53] #59 closed

[2017-11-17 03:54] twsouthwick commented on #221
I'm reopening this as the fix put in only fixes creating documents, not opening them.

[2017-11-17 03:55] twsouthwick commented on #249
I've merged the fix for creating files, but the environment variable is still needed to read the file.

[2017-11-17 03:56] twsouthwick commented on #167
This has been fixed with https://github.com/OfficeDev/Open-XML-SDK/pull/267. Please reopen if you still see it

[2017-11-17 03:56] #167 closed

[2017-11-17 03:57] twsouthwick commented on #186
I'm closing this as I've gotten the tests to run in about 3 minutes. More changes will get the tests to go faster, but that'll be tracked in #166

[2017-11-17 03:57] #186 closed

[2017-11-17 03:59] twsouthwick commented on #143
I don't believe this is possible. Is there anything in the OpenXML schema that gives this information? @tomjebo  @EricWhiteDev

[2017-11-17 04:01] twsouthwick commented on #128
@tarunchopra are you still planning on doing this?

[2017-11-17 04:08] twsouthwick commented on #70
@rjmille2msft This has more to do with the underlying data structures not being thread safe. Many are lazily created and can cause race conditions. There are literally thousands of properties that fall into this category, so it would be a massive undertaking to update and test for thread safety.

@KLuuKer I'm not sure what @EricWhiteDev was referring to, but each package you open should only be ac

[2017-11-17 04:08] #70 closed

[2017-11-17 04:10] twsouthwick commented on #127
@tomjebo @tarunchopra Can either of you answer this?

[2017-11-17 04:11] twsouthwick commented on #129
@vitalylukyanenko This does not seem to be a bug in the library itself but rather a question. I'm closing this issue and recommend that you open it as a question on StackOverflow

[2017-11-17 04:11] #129 closed

[2017-11-17 04:12] twsouthwick commented on #77
As this will be available when the Office2016 branch is merged, I'm closing this issue.

[2017-11-17 04:12] #77 closed

[2017-11-17 04:14] twsouthwick commented on #237
This library does not provide that functionality. I believe you should look at the [OpenXmlPower tools](https://github.com/OfficeDev/Open-Xml-PowerTools)

[2017-11-17 04:14] #237 closed

[2017-11-17 04:16] twsouthwick commented on #246
@brightworks Since this question appears to have been answered, I'm going to close this issue. Please reopen if you feel like there is an issue with OpenXml that needs to be addressed.

[2017-11-17 04:16] #246 closed

[2017-11-17 15:12] twsouthwick commented on #52
@Themanwithoutaplan Can you give an example of what you mean? I do see that the validators track state, but I want to make sure we're dealing with the issue you've seen.

[2017-11-17 15:15] twsouthwick commented on #274
@ukalhapu This is by-design of the OpenXml library. We're open for any PRs that may address this, but .NET URIs cannot handle URIs of the form you provide.

[2017-11-17 15:15] #274 closed

[2017-11-17 15:24] twsouthwick commented on #240
@tomjebo Are you still looking into this?

[2017-11-17 15:25] twsouthwick commented on #234
Hi @imn1x . This appears to be a duplicate of https://github.com/OfficeDev/Open-XML-SDK/issues/275. I'm going to close this, but please reopen with a concise repro if this is in fact a different issue.

[2017-11-17 15:25] #234 closed

[2017-11-17 15:26] tomjebo commented on #240
@twsouthwick yes, I actually had it open just now when you set the labels. I had to put it down for a while but I have repro'ed using Eric's code and am debugging this.

[2017-11-17 15:32] twsouthwick commented on #219
@juanperezADD Can you add a repro with the current steps you are using? As far as any limitations there, the library should be able to handle that. This issue tracker is more for product issues with the library; questions should be asked on StackOverflow instead.

[2017-11-17 15:33] twsouthwick commented on #211
@nithinshiriya Yes it is possible. Please ask your question on StackOverflow as this tracker is meant for product issues.

[2017-11-17 15:33] #211 closed

[2017-11-17 15:34] twsouthwick commented on #209
@khspace As @ThomasBarnekow stated, this tracker is for product issues. Please ask your question on stackoverflow

[2017-11-17 15:34] #209 closed

[2017-11-17 15:36] twsouthwick commented on #195
@rainierpaul Were you able to come up with a fix? If so, we could look at incorporating it into the library

[2017-11-17 15:39] twsouthwick commented on #204
We're looking at what needs to be done to get the Office 2016 code merged in. We're hoping sooner than later :) I'm not certain if this support is already there, so I'll leave this open to track it

[2017-11-17 15:47] twsouthwick commented on #197
I've added StyleCop to the code base and slowly started turning on a few whitespace normalizers. I'll keep this open to discuss any desired rules to be turned on (tracking in the original post). The thing I want to see out of these changes is not any specific style (those come in and out of fashion), but I do want to see consistency applied. These analyzers should help with that.

[2017-11-17 15:50] Themanwithoutaplan commented on #52
I often compare file A with file B. When I do a comparison and select file A first, it remains as the file to be compared with until I select a different source. The target has to be selected each time. If I make changes to B, these are reflected because I have to select the target each time. However, if A has changed in the meantime, these changes will not show up in the comparison. It seems that

[2017-11-17 15:52] twsouthwick commented on #52
By repro, I'm referring to the actual code you are using to compare (there are a few ways of setting it up). Also, does it matter which documents? How do you tell the changes don't show up? A set of clear steps (preferably with code) that will detail how to reproduce the issue and what you are seeing vs what you are expecting to see. I can guess at some of these steps from your description, but th

[2017-11-17 15:54] twsouthwick commented on #44
@EricWhiteDev What's the current status of this? @Themanwithoutaplan are you still seeing this with the latest changes?

[2017-11-17 15:54] Themanwithoutaplan commented on #52
No code, using the GUI tool.  I'll see if I can create a noddy example to make it clear via screenshot.

[2017-11-17 15:55] twsouthwick commented on #52
What do you mean the GUI tool? There is no GUI in this project.

[2017-11-17 15:58] Themanwithoutaplan commented on #52
I'm referring to the OOXML SDK Productivity Tool which I thought was part of the project.

[2017-11-17 16:00] twsouthwick commented on #52
It builds on top of it I believe, but this project is the underlying library that does the actual OpenXml validation. It may be that the GUI is doing some caching that may not show up in a pure code example; then the issue is with the GUI. Are you familiar at all with the library? If not, then screenshots and step by step directions will suffice.

[2017-11-17 16:02] twsouthwick commented on #128
@JustinMinnaar Can you share the code that you are using to open the package? I'm interested which overload you are using that causes the package to fail to load. A small repro will ensure we are addressing the right issue for you (and then find if it's a pattern for other overloads)

[2017-11-17 16:04] Themanwithoutaplan commented on #52
I think the tool was originally part of the project but possibly split off or abandoned later. I don't think there's been an update since v2.5. I'm not familiar with the underlying library so screenshots will have to suffice. Thanks very much for picking this up.

[2017-11-17 16:13] ThomasBarnekow commented on #219
@juanperezADD, since you mentioned DocumentBuilder, you should address any issues with this component in the [Open-Xml-PowerTools](https://github.com/OfficeDev/Open-Xml-PowerTools) repo.

If your question is whether the Open XML SDK provides a function for merging headers, the answer is no, i.e., there is nothing like `mergedHeader = HeaderTools.Merge(header1, header2)`. The Open XML SDK lets you

[2017-11-17 16:19] Themanwithoutaplan commented on #52
<img width="1773" alt="bildschirmfoto 2017-11-17 um 17 16 41" src="https://user-images.githubusercontent.com/1080058/32957137-23e66fde-cbbb-11e7-9401-4239e507b580.png">

In this example I compared A with B. I then renamed the worksheet in A to "Table2". As you can see workbook.xml has not updated to reflect this.

Once I figured this out of course I always made sure to compare files in the right o

[2017-11-17 16:22] twsouthwick commented on #52
Thanks - it's very possible this is a bug with the way that the GUI handles things. We should check, though, if an equivalent set up in code repros the same thing.

[2017-11-17 16:40] twsouthwick commented on #219
Thanks, @ThomasBarnekow . This appears to be an external issue. @juanperezADD Please reopen with more details if this is not the case.

[2017-11-17 16:40] #219 closed

[2017-11-17 16:41] ThomasBarnekow commented on #293
@Saftpresse99, you should just google this. One result that might turn up is [this](https://www.teachucomp.com/notes-master-in-powerpoint-instructions/).

[2017-11-17 16:49] JustinMinnaar commented on #128
Hello @twsouthwick . I've not worked on this project for almost a year now. It was a confidential project at a client. I regret I can't recall anymore what exactly the issue was at the time.

[2017-11-17 16:52] ThomasBarnekow commented on #275
@Misiu I would guess that in your situation it is also Word that turns those simple fields into complex fields. Correct? If so, this is not an Open XML SDK issue.

You have obviously produced correct Open XML markup that Word also understood. However, Word then decided to persist those fields using complex field markup, which is also correct Open XML markup. And there is unfortunately no other way

[2017-11-17 16:54] twsouthwick commented on #275
Thanks @ThomasBarnekow. @Misiu as this is not an issue with the Open XML SDK, I'm going to close this. Please ask questions on StackOverflow, but if you feel like this issue is with the SDK, please reopen.

[2017-11-17 16:54] #275 closed

[2017-11-17 17:05] twsouthwick commented on #128
Ok. I think I found the location.

https://github.com/OfficeDev/Open-XML-SDK/blob/138977da97202c440ea647a86622bdcbccefa567/DocumentFormat.OpenXml/src/Framework/OpenXmlPackage.cs#L314-L35

@tarunchopra Are you going to submit a PR for this? It is a breaking change, but probably a good one. We'll want to document it, though.

[2017-11-17 18:09] ThomasBarnekow commented on #288
@rah123mis I'd say the Open XML SDK has (almost) nothing to do with your issue. It is your use of
`number.ToString()` instead of `number.ToString(CultureInfo.InvariantCulture)` that leads to the problem.

As a matter of fact, if you need to represent a decimal number as a string, e.g., in HTML, CSS, or Open XML for that matter, you need to provide it in a culture-invariant format. For example, `12

[2017-11-17 18:30] twsouthwick commented on #288
Yeah, that sounds like a very plausible cause. @rah123mis I'm going to close this issue, but if you believe it is due to the SDK, please reopen with a repro.

[2017-11-17 18:30] #288 closed

[2017-11-17 18:30] #283 closed

[2017-11-17 18:34] ThomasBarnekow commented on #195
@rainierpaul, @tomjebo, and @twsouthwick In my mind, there is no fix in the Open XML SDK that you can make without changing its nature. The Open XML SDK is simply the lowest-level, strongly-typed API you can think of for producing and working with Open XML markup. Therefore, if Word or other tools produce complex markup (e.g., two `w:instrText` elements instead of one), you will have to pre-proces

[2017-11-17 18:55] ThomasBarnekow commented on #127
This is a question on Open XML markup and its treatment by tools such as PowerPoint, rather than an issue with the Open XML SDK. Thus, stackoverflow.com would be the place to ask such questions.

To provide a high-level answer, Word will always happily throw away your custom markup. And you basically confirmed PowerPoint does the same. Therefore, custom XML parts would be the only way to store cus

[2017-11-17 21:20] dhnc4u opened #297 "Unhandled OpenXmlPackageException when opening workbook which contains malformed email hyperlinks"
**Description**
An unhandled OpenXmlPackageException exception is thrown by SpreadsheetDocument.Open when the workbook to be opened contains a malformed email hyperlink, such as mailto:one@.
As a result, the xlsx file cannot be opened while it opens fine in Excel.

**Information**
- .NET Target: .NET Framework 4.5.2
- DocumentFormat.OpenXml Version: 2.7.2

**Repro**
In Excel, create a new workbook

[2017-11-18 14:39] #168 closed

[2017-11-19 23:46] twsouthwick commented on #297
This appears to be failing in `System.IO.Packaging` when trying to parse the relationships. The current builds are not wrapping exceptions correctly (fixed in #298) so the error is not easy to find. Here's the stack trace once they are wrapped correctly:

[code]

There's no way we can fix this in the OpenXML SDK project. We may want to look at getting some sort of URI resolver into the System.IO.P

[2017-11-19 23:46] twsouthwick commented on #293
@Saftpresse99 I'm closing this as this is not an issue with the SDK. Please let us know if you find any bugs in the SDK and please check out StackOverflow for help in how to use the SDK

[2017-11-19 23:46] #293 closed

[2017-11-19 23:48] twsouthwick commented on #127
Thanks @ThomasBarnekow for the insight! @prostovasya Hopefully this helps you get on track. Since this is not an issue with the SDK, I'm going to close this. Please open any further issues you find and please explore StackOverflow for questions on use.

[2017-11-19 23:48] #127 closed

[2017-11-20 16:13] twsouthwick commented on #297
I've added a test that include a repro of this. At this point, the test is supposed to throw an exception (see `DocumentOpenTests.UriExceptionIsWrapped`), but if some sort of URI resolver is implemented, this test will need to be updated

[2017-11-20 16:29] igitur commented on #221
Did https://github.com/mono/mono/pull/3630 not fix this?

[2017-11-20 16:38] twsouthwick commented on #221
It did, when running against the System.IO.Packaging within Mono; now with .NET Standard, the System.IO.Packaging is pulled in from CoreFx when running on Xamarin platforms. The CoreFx version does have this fix yet.

[2017-11-20 22:21] twsouthwick commented on #266
This has been fixed as of v4.4.0 of System.IO.Packaging (see https://github.com/dotnet/corefx/commit/4589ecea6de8524d89ed194da52db71c47974722#diff-158b13054282356f81163626ee7d36ad). We should update to the latest System.IO.Packaging to get this fix

[2017-11-21 21:34] #266 closed

[2017-11-27 21:37] #181 closed

[2017-11-28 16:29] #272 closed

[2017-11-28 20:27] twsouthwick commented on #142
@blakepell You need to call ToString() with the appropriate format string to generate an ISO 861 compliant string. Calling `DateTime.Now.Date.ToString("s", CultureInfo.InvariantCulture)` should get you what you want.

This seems like a common thing someone would want to do, so I think we should add an overload to `CellValue` that takes a `DateTime`.

[2017-11-28 21:28] #128 closed

[2017-11-28 21:42] ThomasBarnekow commented on #197
@twsouthwick No problem. And I don't feel strongly about the points I made above. If there are good rules that are widely adopted, I would be totally fine with those.

[2017-11-29 11:45] Itaros opened #305 "Documentation is inconsistant"
https://github.com/OfficeDev/Open-XML-SDK/blob/ae8b0003830232b70a6518afe6acbe0ea02fe978/DocumentFormat.OpenXml/src/Framework/OpenXmlCompositeElement.cs#L166-L186

Why it says 'sets' if it doesn't?

[2017-12-01 10:15] webartoli commented on #90
Actually i found on Open-XML-SDK a working spreadsheet file with XmlMaps
`DocumentFormat.OpenXml.Tests\assets\TestDataStorage\v2FxTestFiles\spreadsheet\XMLMap.xlsx` but the file is not referenced by `TestAssets.TestFiles` or in general in any path.

So, I'll extract a repro with actual and expected files and I'll give you a reference shortly.

Talking about the bug: basically the file `xl\xmlMaps.

[2017-12-01 12:00] webartoli commented on #90
You can find a repro in this repo [webartoli/Open-XML-SDK-issues-90-repro](https://github.com/webartoli/Open-XML-SDK-issues-90-repro)

Hope it helps.

[2017-12-01 16:22] twsouthwick commented on #90
It appears that a simpler repro would be this:

[code]

@webartoli  Is the `MapInfo` the only item you're noticing this issue on?

[2017-12-01 16:32] twsouthwick commented on #90
@tomjebo @Josh-Curry Do either of you have input as to what should be done? I doubt we just want to remove the `x` from the `_namespacePrefixList`, but I'll defer to what you guys think

[2017-12-01 16:34] twsouthwick commented on #305
Good catch! There are a number of places the documentation is wrong unfortunately :( PRs are welcomed and encouraged to correct these mistakes. I've been correcting them as I see them, but it's a large project!

[2017-12-04 07:15] elkinmilen opened #309 "Each XML part of the generated documents has a BOM prefix"
**Description**

Cannot generate document without BOM sequence prefix on every part of the document.
Some viewers throw an error and do not open the document because of this. When first opened and saved with MS Excel the BOM sequences for each part gets removed.

**Information**

- .NET Target: any
- DocumentFormat.OpenXml Version: (ie 2.7.2)

**Repro**

Generate basic Excel document. Change the e

[2017-12-04 11:59] dodyg opened #310 "Inquiry: code generation method"
What kind of tool are you guys using to generate the classes (https://github.com/OfficeDev/Open-XML-SDK/tree/vNext/DocumentFormat.OpenXml/src/GeneratedCode)?

I am trying to implement an Open NDC protocol C# client (http://www.iata.org/whatwedo/airline-distribution/ndc/Pages/schema-download2.aspx)

[2017-12-06 11:15] webartoli commented on #90
@twsouthwick yes: `MapInfo` is the only item that case me some problems but opening files generated by Excel i notice that the `http://schemas.openxmlformats.org/spreadsheetml/2006/main` namespace is always a default for excel generated file.

After some searches i notice that each office programs has its own default namespace.

[2017-12-07 20:19] twsouthwick commented on #221
FYI: The fix I submitted to CoreFX has been merged in and will be available with the next release of `System.IO.Packaging`. I'll update the build to use a CI build of CoreFX so we'll have the fix.

[2017-12-07 20:29] twsouthwick commented on #310
These are generated by some custom generators (a path I would not recommend if you're starting with a new project). Have you explored the `xsd.exe` tool?

[2017-12-07 20:30] twsouthwick commented on #309
Thanks for letting us know! In the future, for a repro, providing code would make it much easier to diagnose the problem. I'll take a look and see if this is sufficient.

[2017-12-07 20:59] twsouthwick commented on #309
I've repro'd it:

[code]

@tomjebo Is there anything in the spec that specifies that parts must be written in a specific encoding? Changing to output UTF8 w/o the BOM is easy enough, but I want to make sure this is ok in terms of the spec.

We'll probably want to find all places where the an `XmlWriter` is created and ensure we update all those. We may want to look at consolidating the `XmlWriter`

[2017-12-08 03:44] twsouthwick opened #315 "Organize code to follow namespace hierarchy"
It is very difficult to find code and namespaces are mixed around even in the same file. We should start organizing the code so the folder structure follows the namespaces and only have a single class in a file.

[2017-12-11 13:27] dodyg commented on #310
XSD has not been updated since .NET 2.0. I ended up with https://github.com/mganss/XmlSchemaClassGenerator.

[2017-12-11 19:50] #309 closed

[2017-12-11 23:39] #142 closed

[2017-12-12 03:42] twsouthwick commented on #240
I took a look at this tonight, and it does not appear to be a bug in the SDK, but rather in how the stream is being updated. Here's what's happening:

1. An embedded part is opened to be manipulated
2. The stream is copied to a MemoryStream so it can be manipulated
3. Some various manipulations are performed
4. The updated MemoryStream is copied back to the embedded part stream

The issue lies in

[2017-12-12 03:42] #240 closed

[2017-12-12 03:43] twsouthwick commented on #310
Ah - I hadn't realized it was so out of date (I haven't used it for a while). Glad you found a replacement!

[2017-12-12 03:43] #310 closed

[2017-12-12 03:51] twsouthwick commented on #221
@Depechie The fix has been merged into System.IO.Packaging and available in a CI build. If you can give it a try to ensure the fix works, that would be awesome. Please try the package here: https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.IO.Packaging/4.5.0-preview1-26011-03. Once it is released, we'll update the project to take a dependency on it. If you explicitly reference this pa

[2017-12-12 21:52] twsouthwick commented on #195
@rainierpaul Given what @ThomasBarnekow said, it does seem out of scope of the library. The SDK at this time is designed to help you manage the OpenXML schema in code. Please take a look at the Open XML Power Tools to see if it helps.

[2017-12-12 21:52] #195 closed

[2017-12-19 22:54] twsouthwick commented on #315
This will be tracked under #197

[2017-12-19 22:54] #315 closed

[2017-12-26 05:04] tomjebo commented on #240
@twsouthwick that definitely explains what I saw stepping through the Word code. It read the end of the stream to get the end of central directory record. In doing that it was picking up bytes beyond the real ECDR and these were likely zeroed, causing it to think the number of entries were not matching. I couldn't figure out why this was happening as I assumed the stream size was correct. Thanks f

[2017-12-29 08:44] ThomasBarnekow commented on #90
All, is this a bug in Excel or the SDK? In my mind, the prefix should not make a difference. Any client that reads the XML, with or without prefix but obviously with the corresponding and correct namespace definition, should be able to determine the namespace and see it is the one expected.

Other than Word and PowerPoint, Excel does not write XML with prefixes, probably to reduce the size of what

[2017-12-29 12:58] webartoli commented on #90
Excel has a bug that any Date between 1st jan 1900 and 10th jan 1900 are affected by an offset so writing the 2nd jan 1900 with the SDK, the result on excel is different.
In that case it's an Excel bug and probably should not have impact on the SDK.

In the case of the issue, it is also definitely an Excel bug and generally I agree with you but in that specific case the SDK doesn't give a way to g

[2017-12-29 19:01] EatonZ commented on #158
@tomjebo Looks like the newest version isn't on NuGet yet.
Also, your release notes say you upgraded to the latest System.IO.Packaging 4.4.0, but it's actually 4.4.1 now.

[2017-12-29 19:09] twsouthwick commented on #158
The release notes were accurate when we upgraded, but apparently there has been an update recently. There are possibly a few fixes in the 4.4.1 release that will fix some Xamarin issues. I'll see if we need to update to it. The final build is available for 2.8.0 with System.IO.Packaging 4.4.0, but hasn't made it onto NuGet itself yet (the package is available via MyGet and we're working on getting

[2017-12-29 19:11] EatonZ commented on #158
I'll make sure to do that next time!

Will upgrading System.IO.Packaging to 4.4.1 in my project break anything with OpenXML, or is it advised to not upgrade it?

[2017-12-29 19:15] twsouthwick commented on #158
Shouldn't break anything. We're following semantic versioning, so patch updates shouldn't break anything (if it does, report it and we can see if it's us or the packaging lib). You should be able to upgrade with minor version changes as well - just don't revert to an earlier minor version as APIs may be missing. See http://semver.org for more info.

[2017-12-29 19:16] EatonZ commented on #158
Thanks!

[2017-12-29 19:16] #158 closed

[2017-12-30 07:23] #305 closed

[2017-12-30 11:35] ThomasBarnekow commented on #90
@webartoli Microsoft would have to chime in at this point and say what level of compliance with the relevant standard both Excel and the Open XML SDK should achieve. In my view, both should be able to read, process, and write compliant Open XML. If compliance is a requirement, it seems Excel has a bug, which should be fixed.

There would be two ways to work around this Excel bug. Firstly, when usi

[2017-12-31 02:19] tomjebo opened #364 "nuget packages built with incorrect license (Apache-2.0, should be MIT)"
**Description**

Myget feed page shows the license on the packages as Apache-2.0 instead of MIT. The problem is that DocumentFormat.OpenXml.Package.props refers to LICENSE.txt and we changed that to LICENSE (w/o the .txt extension).

[2018-01-03 00:20] #364 closed

[2018-01-11 15:03] vincywindy opened #378 "How to signature Excel File with Pfx file?"
I want to signature Excel with No visible digital signature。How can I do?
I found AddDigitalSignatureOriginPart function ,How to use it?

[2018-01-11 17:23] twsouthwick commented on #378
@vincywindy This is better asked on stackoverflow (which is also pointed out in the Issue template when you first click "New Issue"). This is the issue tracker for bugs in the SDK. Once you ask the question there, can you put a link here so those interested can answer there? If you find an issue in the SDK with this, please file an issue for that!

[2018-01-11 17:23] #378 closed

[2018-01-16 18:34] daniel-white opened #380 "ToFlatOpcString fails with generated document"
**Description**

`ToFlatOpcString` throws "Root element is missing." I'm trying to put this format into a VSTO add-in. When I enumerate `wordprocessingDocument.Package.GetParts()`, I get the relationship part back as an empty string (`ContentType = "application/vnd.openxmlformats-package.relationships+xml"`). Shouldn't `AddMainDocumentPart` take care of this under the covers?

**Information**

- .

[2018-01-16 19:05] daniel-white commented on #380
I can workaround it with

[code]

but that is a dirty hack.

[2018-01-17 16:11] daniel-white commented on #380
In my further digging there seems to be 1 or 2 problems.

1. `Save` doesn't actually invoke a save of this part. I tried modifying to call `Flush` on `_metroPackage`, but i got another exception.
2. `InitPart` does add the relationship to the `_metroPackage`, but it doesnt seem to flush out its content.

[2018-01-17 16:18] daniel-white commented on #380
So `System.IO.Packaging.Package` will call a private `FlushRelationships` on a `Flush` call, but the `OpenXmlPackage` does not call `Flush` on `Save`.

[2018-01-17 19:01] tomjebo commented on #380
@daniel-white thanks for reporting this and providing the extra information. I'll take a look. We did just update some of the Save functionality but not sure if that's related. @twsouthwick may know of top of head. otherwise, I'll check into it.

[2018-01-17 19:05] daniel-white commented on #380
Calling `Flush` on the package fails with other exceptions at different times.

[2018-01-17 19:05] twsouthwick commented on #380
This seems similar to an open issue. I added a fix for last release to enable saving when auto-save is disabled, but this was on close. Being able to save while the stream is still open is unfortunately blocked in CoreFx. Please see https://github.com/OfficeDev/Open-XML-SDK/issues/294 which is the tracking issue in this repository.

If you were to switch to v2.7.2, does it work? I want to make sur

[2018-01-17 19:05] twsouthwick commented on #380
Wrong button...

[2018-01-17 19:09] twsouthwick commented on #262
@kamilzzz This is released now as stable and you should be able to upgrade to 2.8.1 to get it

[2018-01-17 19:41] daniel-white commented on #380
@twsouthwick not a regression with .net 4.7 or .net core 2.0 using v2.7.2. same exception.

[2018-01-17 19:42] daniel-white commented on #380
would another "stupid workaround" be to close the `WordprocessingDocument`, rewind the memory stream and reopen?

[2018-01-17 19:46] twsouthwick commented on #380
Yup. That's probably the best way to do it right now, although the stream itself will have to be recreated as it will be in  a disposed state.

[2018-01-17 19:47] daniel-white commented on #380
It worked, so when I pass a stream off to `Open`, it will cause it to be disposed?

[2018-01-17 19:50] twsouthwick commented on #380
It'll be disposed after closing it (which forces the save/flush). Can you post what you get working for posterity? Hopefully we'll get the fixes needed in CoreFx so we can make this easier, but for now, having possible work arounds will be helpful

[2018-01-17 19:52] daniel-white commented on #380
here's what i got working. im guessing a `MemoryStream` can be rewound since its just a wrapper for a `byte[]`.

[code]

[2018-01-17 19:58] twsouthwick commented on #380
It'll still through "ObjectDisposed" during some operations. If this does work, then maybe it doesn't get disposed during the package closing (can't remember off the top of my head)

[2018-01-17 20:08] daniel-white commented on #380
Fair enough.

On another note, the unit tests don't test this path at all, perhaps for this very reason.

What's troubling is that this is failing in .NET framework in the same way the .NET Core build does. adding a call to `doc.Package.Flush` fixes it on .NET framework. Are you guys going for parity here? Would a `#if NETFRAMEWORK` conditional inside of `Save` make sense to at least get the .net

[2018-01-17 20:13] twsouthwick commented on #380
We're going for behavior parity between .NET Core and .NET Framework. We could add a fix for .NET Framework only, though, and have a list of known issues for .NET Core....

[2018-01-17 20:14] twsouthwick commented on #380
As far as the tests are concerned, there are a lot of cases the tests don't cover unfortunately. It seems that as it was originally developed some integration tests were added for document conversion, but basic functionality don't have many unit tests. Feel free to add some, and mark as skipped with a link to the issues... building up tests is always a good thing!

[2018-01-17 21:57] tomjebo commented on #380
@daniel-white we do have FlatOpcTests.cs with ToFlatOpcString(). Can you add your test there instead?

[2018-01-18 13:39] daniel-white opened #384 "Adding common interface/base class for related elements"
I know most of the element classes are code generated from XSDs somewhere. Sometimes when I would like to work on shared properties, especially like styles in Word, the classes don't share a common base class or interface to get at the strongly typed properties.

For instance, I've had to come up with this pattern.

[code]

Is there a way the XSD and/or the code gen develop something similar using

[2018-01-20 01:36] tomjebo commented on #384
@daniel-white thanks for the suggestion.

[2018-01-24 04:31] twsouthwick commented on #384
@daniel-white Could you come up with a proposal of which types would be needed? I've been looking at updating the code generation and if we had a list of what kind of types would be helpful, we can incorporate that in.

[2018-01-24 04:38] twsouthwick opened #387 "Changes for 3.x version"
I've noticed some things we can do when we decide to make a 3.x version which will allow us to have breaking changes. I'll keep this list up-to-date with ideas as we come across them:

- [ ] `OpenXmlSimpleType.TextValue` should be made `private protected`
- [ ] Types derived from `OpenXmlSimpleType` should not have implicit casting operators if they allocate objects
- [ ] Make `EnumStringAttribute

[2018-01-24 13:59] daniel-white commented on #384
Heres a list of what I've done which is far from exhaustive and only from WordprocessingML:

* RunProperties, ParagraphMarkRunProperties (the class is missing the properties despite having the supported child elements, so there that), StyleRunProperties, RunPropertiesBaseStyle
* ParagraphProperties, ParagraphPropertiesBaseStyle, StyleParagraphProperties
* TableProperties, StyleTableProperties
* Ta

[2018-01-24 16:40] twsouthwick commented on #384
Thanks. One thing to keep in mind is that once we ship an interface, it cannot change until we do a major version change.

Looks like most of these are for properties, is that right?

[2018-01-24 16:42] daniel-white commented on #384
Could it be done with an abstract class then? I used interfaces for simplicity of wrapping.

Yea, I only really used it for properties.

[2018-01-24 16:45] twsouthwick commented on #384
The downside of abstract classes are you can only have a single one applied to the types. Can you show the full definition of the abstract classes/interfaces (we can figure out later which one is better here) with the properties they would expose? Do they align with properties that already exist on the types or do they require wrapping of some sort?

[2018-01-24 17:02] daniel-white commented on #384
@twsouthwick i would have to look at the xsd to validate things.

[2018-01-24 22:51] twsouthwick commented on #380
I'm going to close this one as the issue is tracking in #294. Once that is fixed, we'll want to enable these tests.

[2018-01-24 22:51] #380 closed

[2018-01-24 22:52] twsouthwick commented on #294
When this is fixed, the tests in #383 should be turned on

[2018-01-25 00:57] tomjebo commented on #387
@twsouthwick great ideas. shall we use a vNext or 3.x branch to hold these?

[2018-01-25 01:00] twsouthwick commented on #387
That's a good idea, although let's keep it lowercase. I'll create a `vnext` branch we can add these to and then we can decide when we want to take the plunge with a 3.0 release

[2018-01-25 13:56] daniel-white opened #389 "DocumentFormat.OpenXml.Packaging.CoreFilePropertiesPart has no functional properties"
**Description**

DocumentFormat.OpenXml.Packaging.CoreFilePropertiesPart has no functional properties. I'd like to access at least the tags, description and title elements. There seems to be a well defined schema for it.

**Information**

- .NET Target: .NET Core
- DocumentFormat.OpenXml Version: (ie 2.8.2)

** Concept API surface **

[code]

[2018-01-25 19:48] #52 closed

[2018-01-25 20:00] tomjebo commented on #389
@daniel-white I haven't played with it much but System.IO.Packaging has the core properties, perhaps as a workaround you can use these: [https://msdn.microsoft.com/en-us/library/system.io.packaging.packageproperties(v=vs.110).aspx](url)?

[2018-01-25 20:08] tomjebo commented on #389
and for implementer reference, the properties are defined in 29500-2 11.1 Core Properties Part. @daniel-white confirm that's what your looking for in the generated package.g.cs CoreFilePropertiesPart class?

[2018-01-25 20:23] daniel-white commented on #389
Yea. That has it. The productivity tool knows its a CoreFilePropertiesPart, but with a blob of xml.

[2018-01-25 20:25] daniel-white commented on #387
Another one from me: break up the monolithic library into separate ones for Word, Powerpoint and Excel.

[2018-01-25 20:27] twsouthwick commented on #387
@daniel-white I've added this to the list.

[2018-01-25 20:28] twsouthwick commented on #387
I think I'll make a GitHub Project plan to track these so we can have discussions about specific ideas

[2018-01-25 20:53] tomjebo commented on #389
For the community, 29500-2 can be downloaded here: [http://standards.iso.org/ittf/PubliclyAvailableStandards/c061796_ISO_IEC_29500-2_2012.zip](url)

[2018-01-26 13:23] mraz1337 opened #392 "OpenXML - workbook.xml.rels"
We have found the annoyance which doesn't allow the file to be opened on iOS/Mac OS xl\_rels\workbook.xml.rels

Inside this file there is tag with Target Attribute

 <Relationship Type="http://schemas.openxmlformats.org/officeDocument/2006/relationships/styles" Target="/xl/styles.xml" Id="rId3"/>

OpenXML SDK adds this "/xl/" before filename.
Excel after re-saving removes this "/xl/" and file can

[2018-01-26 13:57] daniel-white commented on #392
Sounds like #221

[2018-01-26 13:58] daniel-white commented on #387
Another one would be to have a standard unit conversion type. Theres different units such as points, emus, etc. it would be nice if they would be easily understood and convertible from the api.

[2018-01-26 16:02] twsouthwick commented on #387
I've added it to the list!

[2018-01-26 18:43] ghost opened #393 "Strict http://purl.oclc.org/ooxml/spreadsheetml/main tables fail validation"
**Description**

Strict namespace spreadsheetml tables throw an exception in OpenXmlValidator.

**Information**

- .NET Target: whatever the default is in VS
- DocumentFormat.OpenXml Version: 2.5.0, 2.8.1

**Repro**

Trivial spreadsheet that triggers the problem: [test.xlsx](https://github.com/OfficeDev/Open-XML-SDK/files/1668722/test.xlsx)

*_rels/worksheet.xml.rels* has `<Relationship Id='rId1'

[2018-01-27 18:47] twsouthwick commented on #392
This is fixed in CoreFx, but hasn't been release yet. The fix has been merged into System.IO.Packaging and available in a CI build. The package is available here (not on NuGet yet): https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.IO.Packaging/4.5.0-preview1-26011-03 (or newer). Once it is released, we'll update the project to take a dependency on it. If you explicitly reference this

[2018-01-27 18:47] #392 closed

[2018-01-29 15:05] twsouthwick commented on #389
Is this request to just expose a well defined set of properties? If so, we can do that without the schema generator updated. @daniel-white can you provide a C# example of what the properties should look like?

[2018-01-29 15:33] daniel-white commented on #389
I'm guessing it should match the `PackageProperties`.  perhaps

[code]

[2018-01-29 15:38] twsouthwick commented on #389
In order to decide whether to add it or not, we'll need the actual API surface area that should be considered for the discussion. Would you want to do that?

[2018-01-29 16:00] daniel-white commented on #389
I'm thinking something like this based on the standard:

[code]

[2018-01-29 16:06] twsouthwick commented on #389
This is package level, right? So it would be something like:

[code]

Are there any other places this would need to be accessible from?

[2018-01-29 16:08] daniel-white commented on #389
Yea I think it is, thats where i found it. Not sure if its used elsewhere. I dont know the standard well enough.

[2018-01-29 16:08] twsouthwick commented on #389
A couple items on your API:

- I think for the Keywords, we should return a `ICollection<Keyword>` instead of `List<Keyword>`
- I know `DateTime` is used often throughout the SDK, but current practice recommends using `DateTimeOffset`.
- What should `Keyword` look like?
- What should `ContentStatusType` look like?

[2018-01-29 16:09] twsouthwick commented on #389
Yeah, I'm not well versed enough in the standard to know off the top of my head, either. @tomjebo @tarunchopra can you guys comment here?

[2018-01-29 16:12] daniel-white commented on #389
* I'm fine with that. I didn't know if it needed to be ordered or not.
* No worries.
* Below:
[code]
* Below (using the SDK enum facilities):
enum ContentStatusType
{
    Draft,
    Reviewed,
    Final
}
[code]

[2018-01-29 16:18] twsouthwick commented on #389
Cool. Can you update the initial issue to have the APIs discussed here? We'll want someone who knows the spec a bit more than I do to sign off as well (@tomjebo @tarunchopra @ThomasBarnekow) but this looks good to me.

[2018-01-30 21:14] twsouthwick commented on #389
@daniel-white I cleaned up the API proposal a bit.

We may want to consider making `Keyword` a struct.

[2018-01-31 06:32] jvanriel commented on #387
Do you have a another place for feature request discussions? I want an SaveAsPDF feature.

[2018-01-31 06:33] twsouthwick commented on #387
@jvanriel Feel free to create an issue for any request. Saving to PDF, however, is beyond the scope of this project. The SDK this project focuses on it specifically on manipulating the document. To save to a PDF, you'd have to have an engine to render and handle layout...

[2018-02-01 05:44] pjanouch commented on #393
I've found that the file actually has mixed transitional/strict URLs. Only parts defined by the OPC may use the _schemas.openxmlformats.org_ domain in a purely strict document.

Once united under _purl.oclc.org_ where applicable, the error disappeared, thus closing the issue. I don't know if mixed documents should be valid but the idea seems hardly worth pursuing.

One remaining point is that the

[2018-02-01 18:03] daniel-white opened #398 "Proposed OpenXmlReader methods"
In order to make more succinct calling code, I've extended `OpenXmlReader` in my code with these helpers. I propose that something similar can be added to the library.

[code]

`ElementIs<T>` plays nice with the new `out` semantics introduced in C# 7.0. Instead of this mess,

[code]

the new methods provide a simplification

[code]

Thoughts?

[2018-02-02 02:14] twsouthwick commented on #398
What about the following:

[code]

Do you see your suggesting having a benefit over this pattern?

[2018-02-02 02:15] daniel-white commented on #398
Well what if it isn't a `Paragraph`? Wouldn't it needlessly load the element?

[2018-02-02 02:25] twsouthwick commented on #398
Hmmm.. you're right, it would. There isn't a `Current` property, either, which is needed to make that pattern work. We could look at adding that property if there's a need.

Going off what you have in your proposal, I'd suggest the following:

[code]

Would this be sufficient of an API for your needs?

[2018-02-05 13:33] daniel-white commented on #398
It would, I was looking to simplify other code too, where I dont need to call `LoadCurrentElement`. The `Try...` method pattern would have to swallow most exceptions which might not be desirable.

[2018-02-05 18:59] twsouthwick commented on #398
The `Try..catch` pattern should be a way to not swallow exceptions - it should never throw. It's a common pattern when you want to try something, and if it fails, continue on. What exceptions are you relying on that may be missed?

[2018-02-05 19:01] daniel-white commented on #398
I was concerned about if theres any malformed XML or some other exceptional behavior, I would st ill want it to throw.

[2018-02-05 19:03] twsouthwick commented on #398
That makes sense. The current implementation above doesn't swallow anything, just prevents loading the current element when it's not of the expected type. Do you have an example of where this would swallow an exception?

[2018-02-05 19:05] daniel-white commented on #398
I was meaning people may expect that of a `Try...` method like how the `TryParse` methods do, not a `Try...Catch`, hence my different naming.

[2018-02-05 19:10] twsouthwick commented on #398
my bad - I meant `Try...` above. Following guidance from https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/exceptions-and-performance#try-parse-pattern, probably want to do the following:

[code]

That way, the developer can decide if they want it to handle exceptions or not.

[2018-02-05 19:15] daniel-white commented on #398
Yea I had that basically in my proposal. `LoadCurrentElement` is one building block. `ElementIs<T>` just simplifies the call site to a single condition and variable declaration. Plus it reads as a sentence nicely.

[2018-02-05 19:24] twsouthwick commented on #398
I see the benefit of it reading nicely, but there is already a standard pattern in the framework for this kind of method using the `Try...` pattern. For discoverability, I'd prefer going with that.

@tomjebo @ThomasBarnekow @igitur There's a request to add some methods to `OpenXmlReader` to help in accessing elements in a strongly-typed way. Have any of you seen needs for this kind of API and have

[2018-02-06 18:39] daniel-white commented on #384
`DocumentFormat.OpenXml.Drawing.Wordprocessing.Anchor` and `DocumentFormat.OpenXml.Drawing.Wordprocessing.Inline` have shared properties too:

* `Extent Extent { get; set; }`
* `EffectExtent EffectExtent { get; set; }`
* `DocProperties DocProperties { get; set; }`
*  `NonVisualGraphicFrameDrawingProperties NonVisualGraphicFrameDrawingProperties { get; set; }`

[2018-02-08 08:13] ThomasBarnekow commented on #398
@twsouthwick I think I have never used the `OpenXmlReader` in my code, but I might not understand the clear performance advantage over doing something like this with the strongly typed API:
[code]
Or this (shorter variant of the above):
[code]
@daniel-white What is your use case for the `OpenXmlReader`? For example, are you using it to read and somehow transform a document?

[2018-02-08 09:22] igitur commented on #398
I'm just a spectator here, but it's definitely something we could use in `ClosedXML`. Here's a snippet of our current code:

[code]

Looks like it is an ideal candidate for use of the proposed new methods.

[2018-02-08 11:16] daniel-white commented on #398
@ThomasBarnekow it allows you to forward-only read the xml positionally without allocating/hydrating the wrapper classes, unless you want it to. Much like a SAX api.

I'm using it to get a full graph of the document to convert it into a certain form of HTML that isn't supported by the power tools using a custom wrapper SAX-like API. The above example I provided just is to show how simplified the c

[2018-02-08 18:37] tomjebo commented on #398
@twsouthwick perhaps this would also be helpful when injecting/parsing custom elements (i.e. non-standard elements per MCE or extensions). In these cases, you wouldn't be using the strong types in the standard defined ML's. Just a guess at this point.

[2018-02-09 14:51] daniel-white commented on #398
@twsouthwick i can't implement my own `OpenXmlElement` which is what `OpenXmlReader` provides. There's `IsInVersion`, `Populate`, `WriteContentTo` and `NamespaceId` which are internal abstract.

[2018-02-09 22:02] jmhongithub opened #401 "Version 2.8.1 with .NET 4.7.1 creates dozens of unneeded library references"
**Description**

If you add version 2.8.1 (via NuGet) to a project that targets .NET 4.7.1, then it will pull down dozens of System.X libraries, some of which will causes reference issues with larger projects.

**Information**

- .NET Target: 4.7.1
- DocumentFormat.OpenXml Version: 2.8.1

**Repro**
Create a new solution with a console app project targeting 4.7.1. Add version 2.8.1 via NuGet.

**Ob

[2018-02-13 18:51] huysentruitw commented on #401
Everything pre netstandard should just reference WindowsBase IMO.

[2018-02-13 23:52] twsouthwick commented on #401
@jmhongithub What kind of project are you making? Is the net effect of your workaround that you have less assemblies in the output, or is it just that adding DocumentFormat.OpenXml now doesn't say it's adding libraries?

Most of these extra libraries are actually thin wrappers that are facades to other libraries. Unfortunately, we're stuck with them until a good linker can be produced that will st

[2018-02-13 23:52] twsouthwick commented on #401
@huysentruitw The issue you're describing is likely something different as it's issues with runtime resolution. It's potentially the same root cause, though, but can you start another issue to discuss that, and we can merge it if it is the same?

[2018-02-15 16:44] ThomasBarnekow commented on #398
@daniel-white I'd say that the example provided by @igitur would certainly benefit from those additional `OpenXmlReader` methods. Thus, I'm certainly not against adding methods that add value in some use cases.

Having said that, I still don't understand why you would have to use the `OpenXmlReader` in your use case of transforming Open XML to whatever other form of XML (including that "certain fo

[2018-02-15 16:51] daniel-white commented on #398
@ThomasBarnekow that doesn't scale well if i want to skip certain things. see: https://blogs.msdn.microsoft.com/brian_jones/2010/05/27/parsing-and-reading-large-excel-files-with-the-open-xml-sdk/

[2018-02-19 14:50] kjhano opened #407 "OpenXml Does not fully support .Net 4.5 (TargetFramework)"
**Description: OpenXml Does not fully support .Net 4.5 (TargetFramework)**

I will have to inform you that the version of DocumentFormat.OpenXml 2.8.1 does not fully support .Net 4.5.2

VisualStudio:
- .NET Target: 4.5
- DocumentFormat.OpenXml Version: 2.8.1

**Repro**
1. Create a .Net 4.5 Target Console Project.
2. Test the following code:
_using (SpreadsheetDocument spreadSheetDocument = Spreads

[2018-02-21 18:06] twsouthwick commented on #407
I set up a machine with only .NET 4.5.2 and could not repro this issue. Can you supply a full repro project? Preferably a GitHub link to a project, but a zip would work too. Thanks!

[2018-02-21 18:11] twsouthwick commented on #407
For clarification, you are targeting .NET 4.5, but running on a machine with .NET 4.5.2, right? Can you provide the following information:

- What version of Windows? (ie what does WinVer say?)
- The version of .NET as provided by the documentation here: https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed

[2018-02-23 14:18] Umeshpatil0012 opened #409 "Open xml does not open the Excel file"
I have open excel file in OpenXml Productivity Tool 2.5 and seen that the file has missing Properties child elements (Application, DocumentSecurity, ScaleCrop, HeadingPairs, TitlesOfParts, LinksUpToDate, SharedDocument, HyperlinksChanged, ApplicationVersion).
I have open the file using OpenXml library in C# it throws **FileFormatException**. But, when i open the file manually and save it and then

[2018-02-23 19:24] ThomasBarnekow commented on #409
@Umeshpatil0012 You essentially described the solution: open and save the file in Excel, assuming this is what you meant with "open the file manually and save it".

It seems your file somehow got corrupted, which is why the Open XML SDK throws that `FileFormatException`. Microsoft Office, however, can fix corrupted files in many cases. When saved, Excel (or Word and PowerPoint) will add certain st

[2018-02-23 21:26] twsouthwick commented on #409
After rereading, I agree with @ThomasBarnekow. The SDK does not try to fix corrupted files and is out of scope of the project at the moment. It would be a nice feature, but would require a lot of work, when a simple work around would be to open in Office, repair, and then open with the SDK.

@Umeshpatil0012 if this is not the case, please feel free to reopen the issue and provide more details.

[2018-02-23 21:26] #409 closed

[2018-02-23 21:28] twsouthwick commented on #407
I received more details in an email (@kjhano if that wasn't you, then let me know, but the issue was the same). This was occurring because the assemblies for .NET 4.6 were being taken from the nupkg rather than using NuGet to manage the package deployment.

[2018-02-23 21:28] #407 closed

[2018-02-23 21:30] twsouthwick commented on #401
@jmhongithub Can you respond to the questions? Unless I hear otherwise, this will be closed as "by-design" since I believe the issue you are describing is that when targeting .NET 4.6 a number of assembly shims are brought down. This is nothing to do with the SDK, but the way that .NET currently works.

[2018-02-23 21:59] jmhongithub commented on #401
@twsouthwick,  I'm using it in stand alone project that is referenced by an ASP.NET MVC application. The net effect is adding 40+ unneeded libraries to the project. One of those projects happen to cause a conflict with another another I was already using. The other impact is that I'm in environment where the build server isn't allowed to have a direct connection to the Internet. This means uploadi

[2018-02-23 22:11] twsouthwick commented on #401
So I'm identifying two issues you're seeing:

1. You are having a conflict with another library when trying to upgrade to 2.8.1 What library is that? What errors are you getting?
2. As for uploading the packages to a local NuGet repo, are you using a hosted NuGet server? MyGet and others allow for the ability to "mirror" packages and all their dependencies that should get around that. This doesn't

[2018-02-28 10:59] PatrickRyder opened #412 "OpenXml add numerous assemblies to the binary output directory under VS2017"
Is this a:
- [X] Issue with the OpenXml library
- [] Question on library usage

I hesitate to describe this as an issue.  It is perhaps more of a question.  I apologise for not turning to StackOverflow, but I find the site to be elitist and unapproachable unless you have a perfect textbook question.

**Description**

I have recently migrated a WPF project from Visual Studio 2015 to 2017.  I did th

[2018-02-28 12:53] 0xfeeddeadbeef commented on #412
Probably related to #401.

[2018-02-28 13:20] MedSaid17 opened #413 "Errors CS0107 when compiling the project.."
First, Excuse for my poor english. It'ts my first post here.
Because I need a new date for my file DocumentFormat.OpenXml.dll (instead of the initial 01/06/2018),
I tried to compile the project to get a new dll. But I get Compiler Error CS0107 (More than one protection modifier..).
Thanks for your help.

![image](https://user-images.githubusercontent.com/19156977/36789697-baf06b32-1c92-11e8-938e-e

[2018-02-28 19:49] tomjebo commented on #413
@MedSaid17 "private protected" is valid per [C# 7.2 in this blog](https://blogs.msdn.microsoft.com/mazhou/2017/10/05/c-7-series-part-5-private-protected/). What version of VS are you using?

[2018-02-28 20:05] tomjebo commented on #413
@MedSaid17 we state in the [Build Instructions](https://github.com/OfficeDev/Open-XML-SDK#build-instructions) that VS2017 is required and this uses C# 7.2. You can download VS2017 Community for free.

[2018-02-28 20:21] twsouthwick commented on #413
Yes, you need VS 2017 with Update 5 to build the project to take advantage of new C# features. Can you try updating and let us know if that works?

[2018-02-28 20:28] twsouthwick commented on #412
Yeah, this is a duplicate of #401 which is not something we can do much about unfortunately. Which version of .NET are you targeting?

[2018-02-28 20:30] twsouthwick commented on #401
Since this is how the ecosystem works now with .NET Standard, there's nothing we can do while still maintaining support for all platforms. I'm going to close this issue. If you feel that it wasn't addressed, please reopen and provide more details.

[2018-02-28 20:30] #401 closed

[2018-02-28 20:34] MedSaid17 commented on #413
I use VS2017 with latest updates ( I think..) but I'll check that and return to you.  Thank you.

[2018-02-28 20:36] twsouthwick commented on #412
Also, which version of the DocumentFormat.OpenXml SDK did you use in your previous project vs now?

[2018-02-28 21:14] MedSaid17 commented on #413
@twsouthwick,  @ tomjebo, I thought wrong.. I was not up to date.. With the new update it works and I have my new dll.Youpiii. 1000 thanks for your help.

[2018-02-28 21:17] #413 closed

[2018-03-01 20:58] twsouthwick commented on #413
@MedSaid17 Out of curiosity, what do you mean by a "new dll"?

[2018-03-01 21:30] MedSaid17 commented on #413
I simply mean that I recompiled DocumentFormat.OpenXml.dll. So now,  I have a new date for it(instead of the initial date 6th january 2018. I needed absolutelty that for my application..

[2018-03-01 21:31] twsouthwick commented on #413
What's the need for a different date? Is something in the SDK out of date?

[2018-03-01 22:04] MedSaid17 commented on #413
No the SDK is fantastically fantastic..
Ok. I'll try to explain ..
In fact, we have an application for which we send updates for our users. Our update procedure is done as we send them only files modified from the date of their last update.
For example, if a user has already been updated on February 20, 2018 and we need to send him a new update today, March 1, we will only send the files modified

[2018-03-01 22:07] twsouthwick commented on #413
Ah gotcha. I'd recommend not using dates but instead versions - otherwise you'll have problems with any 3rd party library in the future (or even internal builds that you injest into your application that happen to have a timestamp from before the previous update).

[2018-03-01 22:17] MedSaid17 commented on #413
What you say is the holy truth but unfortunately I have no power to change this..

[2018-03-01 22:18] MedSaid17 commented on #413
I have a new question if you allow me..

[2018-03-01 22:22] MedSaid17 commented on #413
the Nuget package creates by default under my VS2017 target only "netstandard1.3".
The only way I found for target "net40" is to edit the following lines in the .csproj. I guess it's not the right method. I am wrong? :

![image](https://user-images.githubusercontent.com/19156977/36872958-55a25536-1da7-11e8-8694-132ae9e7a0fa.png)

[2018-03-01 22:23] twsouthwick commented on #398
I think the use case is definitely there for the API. @daniel-white I would prefer the TryGet/Get pattern as that's often employed in the standard libraries and minimizes the APIs added.

[2018-03-01 22:26] twsouthwick commented on #413
Yeah, this is a workaround due to the size of the assembly if we try to edit all the targets in a single instance of VS. You have three options:

1. Do what you're doing
2. Start VS with an environment variable ProjectLoadStyle=All
3. Add a ProjectLoadStyle=DevFramework40 (with an analogous update in the test)

If you go with (3), please submit a PR with that as it may come in handy for other peop

[2018-03-01 23:25] twsouthwick commented on #413
Also, if you're creating your own build, make sure to check out a released version (ie `git checkout v2.8.1`) so that you are using the same code.

[2018-03-02 10:07] AmeetShinde commented on #38
Hello guys, we are facing similar issue and the workaround is not acceptable in this case (no write access to document and making in-memory copy of the document is too costly). Can we get this fixed in System.IO.Packaging library itself?

[2018-03-05 14:58] XzaR90 opened #420 "Copy custom xml and SharePoint metadata on merging document"
# Before submitting an issue, please fill this out

**Description**
Copy custom XML and SharePoint metadata on merging document does not work using DocumentBuilder?

**Information**

- .NET Target: NET Framework 4.5.2
- DocumentFormat.OpenXml Version: OpenXMLSDK-MOT 2.6.0.0

**Expected**

When I comment out if (itemList.Contains(propertyPartDoc.Root.Attribute(DS.itemID).Value)) I get the expected

[2018-03-05 15:55] twsouthwick commented on #420
This is not a working repro. What data are you using? For us to be able to investigate any possible issue, we need to have a working repro so we can debug it.

[2018-03-05 15:57] twsouthwick commented on #420
btw DocumentBuilder is not part of the SDK. If this is an issue with that (you mention it in the description, but I see no use of it in the code), then you should file it here: https://github.com/OfficeDev/Open-Xml-PowerTools/issues

[2018-03-05 17:57] ThomasBarnekow commented on #420
Even if the `DocumentBuilder` is not used in the repro itself, the usage of the `GetXDocument()` extension method and the `XDocument` class indicate that @XzaR90 is trying to use the Open XML PowerTools.

Thus, this is not an issue with the SDK.

[2018-03-05 20:08] twsouthwick commented on #420
Good catch @ThomasBarnekow . @XzaR90 I'd recommend taking a look at the Open-XML-PowerTools repo and filing and issue there.

[2018-03-05 20:08] #420 closed

[2018-03-05 20:22] twsouthwick commented on #412
@PatrickRyder I'm going to close this as this is expected behavior. You probably changed the version of the SDK you're using between the two projects. We target .NET Standard now and thus end up bringing in some facades (small assemblies that just forward types to other assemblies). There is work on an IL tree shaker (aka linker) that will hopefully help with this, but for now, you'll just need to

[2018-03-05 20:22] #412 closed

[2018-03-07 08:13] marcusl opened #426 "OpenXML-Dll defines System.Collections.Generic.IReadonlyList in conflict with mscorlib"
**Description**

System.Collections.IReadonlyList added in #400 conflicts with mscorlib

**Information**

- .NET .NET Framework
- DocumentFormat.OpenXml Version: 2.8.1

**Repro**

**Observed**

* Upload DLL as part of webserver using .NET 4.0.
* Get exception when accessing service:

Unhandled Exception: Aras.Tools.SolutionUpgrade.CItemException: Failed login to Innovator; original error: Line num

[2018-03-07 08:21] marcusl commented on #426
Backing to 2.7.2 fixed the issue, btw.

[2018-03-07 20:57] twsouthwick commented on #426
@marcusl  Can you include a repro? This type is internal and I'm surprised it's showing up anywhere. I'll switch the namespace to something internal regardless, but I'm interested in what's causing this

[2018-03-07 21:33] marcusl commented on #426
Not easily, as it showed up when I included the DLL on some customizations on the Aras Innovator PLM web application, so nothing small and local. Easy to repro for me, not easy to export for someone else.

Maybe the dynamic assembly loading done by the PLM web app circumvents the internal modifier somehow.  I'm not sure, as that is a bit above my current .NET competence level, but I can investigat

[2018-03-07 21:36] twsouthwick commented on #426
Ok. If you find anything, let me know. I've submitted a fix for this, and it'll be available in the CI shortly after building. We probably won't have a stable 2.9.0 release until after .NET Core 2.1 comes out (there's a fix in System.IO.Packaging that we want to incorporate), so you can stay on 2.7.2, use the prerelease version, or we can create a 2.8.2 release with this fix. Since you're targetin

[2018-03-07 21:37] marcusl commented on #426
Will do. 2.7.2 is fine for quite some time.

[2018-03-07 21:39] twsouthwick commented on #426
I'm not familiar with the Aras Innovator PLM web application, but it may be good to see if you can log an issue there that they are trying to load internal types.

[2018-03-07 21:43] marcusl commented on #426
I'll do that!

ons 7 mars 2018 kl 22:39 skrev Taylor Southwick <notifications@github.com>:

--

/Marcus

[2018-03-11 12:53] marcusl commented on #426
Just following up that a better place for a link is probably their community forum, as the official (paid) support does not have an open issue tracker, AFAIK.

http://community.aras.com/en/forums/topic/dlls-in-method-config-are-loaded-with-internals/

[2018-03-12 21:32] slgal opened #440 "Library generate invalid file if add more than 26 columns"
Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

Library generate corrupted XLSX file if add more than 26 columns. Looks like the problem with cell order in obtained file.
[code]
I guess somewhere there is a sort method by R field which cause this issue.

Thank you!

**Information**

- .NET Framework 4.5.2
- DocumentFormat.OpenXml Version: 2.8.2

**

[2018-03-13 03:49] mandarBadve commented on #440
Hi,
Open the excel file in Open XML SDK tool and use validate option. It will give you exact error.
[https://www.microsoft.com/en-in/download/details.aspx?id=30425](https://www.microsoft.com/en-in/download/details.aspx?id=30425)

[2018-03-13 08:58] ThomasBarnekow commented on #440
@slgal It is not the SDK but your `InsertCellInWorksheet` method that contains a

[code]

Thus, while you produce the correct column names for colums "AA", "AB", etc. in your `GetStandardExcelColumnName` method, you incorrectly use a `string.Comare` in `InsertCellInWorksheet` to determine the position of your new cells within a row's list of cells. For example, since "AA1" is obviously less than "

[2018-03-13 11:33] slgal commented on #440
Hello @ThomasBarnekow, you are totally right. I am happy as it's so easy to fix.
Thank you a lot for your time, that you have been spend looking into my problem.

[2018-03-13 11:33] #440 closed

[2018-03-13 21:09] twsouthwick opened #441 "Add some security/fuzz testing"
We should add some sort of fuzz testing to test for potential security/reliability issues:

- Zip bombs
- Malicious XML
- Recursive content

These are the items at the top of my head.... there are probably others

[2018-03-15 04:48] Meikandan opened #444 "ShapeLocks.NoTextEdit attribute is not working in PowerPoint presentation"
**ShapeLocks.NoTextEdit attribute is not working in PowerPoint presentation**

Reference : https://social.msdn.microsoft.com/Forums/office/en-US/c1c61293-72b9-4dc5-ae65-8d5a46144003/shapelocksnotextedit-attribute-is-not-working-in-powerpoint-presentation-2016?forum=oxmlsdk

I am trying to protect a text box in a PowerPoint slide by making it as non-editable. I am editing the XML file as below (Ple

[2018-03-15 19:41] twsouthwick commented on #444
Can you please provide a repro using the SDK? From what you describe, I'm not certain what you mean as "not working".

[2018-03-16 09:21] Meikandan commented on #444
Hi twsouthwick,

**Not working :** ShapeLocks.NoTextEdit attribute is not working when I edit the slide1.xml file with a text editor.  Attached a pptx file for reproducing the issue. I have explained the issue in the slide  1 of the attached pptx file.
[Non-EditableText.pptx](https://github.com/OfficeDev/Open-XML-SDK/files/1818638/Non-EditableText.pptx)

[2018-03-16 15:48] twsouthwick commented on #444
By repro, I mean executable C# code. Please see the guidelines for submitting an issue. I'll take a look at the powerpoint, but please provide a minimal viable repro.

[2018-03-16 21:58] twsouthwick commented on #444
I followed the original link you posted and it appears that you are editing the xml by hand. If this is the case, then this is an issue with PowerPoint, and not the SDK. If you are using the SDK and the output is incorrect, then it's an issue we might be able to help you with.

[2018-03-22 12:57] christianpokorny opened #451 "Word 2016 : file validation error with value "useWord2013TrackBottomHyphenation""
**Description**

Word 2016 : file validation error with value "useWord2013TrackBottomHyphenation"

**Information**

- .NET Framework 4.7
- DocumentFormat.OpenXml Version: (ie 2.8.1)

**Repro**

Here is the OneDrive url from the container where you will find my test word file  :

https://onedrive.live.com/?id=7F7C6DE1B049242F%21105&cid=7F7C6DE1B049242F

and here is the class I need to test this doc

[2018-03-22 16:18] twsouthwick commented on #451
Thanks @christianpokorny . We have plans to add Word 2016 support, but it is currently not available.

I did notice, in your comments, that you assume the validator is not thread safe. In currently released builds, that is definitely not the case. Generally, assume that the SDK is *not* threadsafe. I did some work a month ago to remove some of the state that causes the validator to fail in threade

[2018-03-23 06:34] Meikandan commented on #444
The original [link ](https://social.msdn.microsoft.com/Forums/office/en-US/c1c61293-72b9-4dc5-ae65-8d5a46144003/shapelocksnotextedit-attribute-is-not-working-in-powerpoint-presentation-2016?forum=oxmlsdk)was now updated with the code snippet needed to reproduce the issue. Can you check this?

[2018-03-23 15:07] twsouthwick commented on #444
Can you put a minimum viable repro on this thread? Something that I can put in a unit test and see the issue? Linking to other places make it difficult to ensure we're looking at the same thing as things there may change.

________________________________
From: Meikandan <notifications@github.com>
Sent: Thursday, March 22, 2018 11:34:41 PM
To: OfficeDev/Open-XML-SDK
Cc: Taylor Southwick; Comment
S

[2018-03-24 23:49] michael-hawker opened #457 "Sample Repository Link Missing?"
**Description**

The Description link in the main repo links to this [Documentation](https://msdn.microsoft.com/en-us/library/office/bb448854.aspx); however its `Samples on GitHub` just dumps you to the `OfficeDev` organization and not an actual samples on how to use the Open XML SDK...

Can a proper link be provided to the repo containing samples?  Especially UWP ones.

Thanks

[2018-03-26 05:25] Meikandan commented on #444
1. ‘Test.pptx’ is a pptx file created manually in PowerPoint application, with only a text box in a slide.
2. Text in the text box in ‘ABC’.

               string path = @"C:\Users\Admin\Desktop\Test.pptx";
               using (PresentationDocument doc = PresentationDocument.Open(path, true))
                {
                Slide slide1 = doc.PresentationPart.SlideParts.First().Slide;

[2018-03-26 15:16] twsouthwick commented on #444
This sounds like an issue with PowerPoint not the SDK. Is there a problem with the generated XML or are you reporting an issue in PowerPoint? If it's in powerpoint, we are unfortunately not able to help with that here - this is the repo for the SDK only.

[2018-03-26 15:18] twsouthwick commented on #457
I'm not sure where that's supposed to go - maybe @tomjebo does. As for samples, you can look at the tests to see how to do some of the things. If you encounter any issues with UWP, let us know - we don't currently have test coverage for .NET Native, but have made best efforts to support it.

[2018-03-27 09:32] Meikandan commented on #444
Can you say where should I report this issue?

[2018-03-27 12:46] tomjebo commented on #457
@michael-hawker I will inquire about that link (Samples on Github) to find out if it was intended to point somewhere else.

[2018-03-27 13:10] tomjebo commented on #457
@michael-hawker just in case you haven't seen it before, there is a lot of code sample and other content on  [openxmldeveloper.org](http://openxmldeveloper.org/).

[2018-03-27 16:48] michael-hawker commented on #457
@tomjebo they have a big notice at the top saying it's going away.  Plus it's not really organized to easily find samples.  Searching for 'uwp' for instance brings up nothing.

[2018-03-28 14:51] daniel-white opened #458 "DocumentFormat.OpenXml.Office2013.WebExtension has typo in `Frozen` property"
**Description**

`DocumentFormat.OpenXml.Office2013.WebExtension` has a property named `Fronzen` which maps to `frozen` in the schema.

**Information**

- .NET Target: Any
- DocumentFormat.OpenXml Version: 2.8.1

**Observed**

`DocumentFormat.OpenXml.Office2013.WebExtension` has a property named `Fronzen` which maps to `frozen` in the schema.

**Expected**

I would expect a `Frozen` property, and

[2018-03-30 21:09] tomjebo commented on #458
@daniel-white thanks for pointing this out. This is a generated property and the code is on our backend processing project. I'll take a look and get this corrected.

[2018-03-30 21:38] tomjebo commented on #458
I found the backend schema code that has this and it looks to me that 1) it's just a typo and 2) it's been there since very long ago, probably predating this repo.

This will constitute a breaking change because this is an attribute of the webextension element (complex type CT_OsfWebExtension) and wrapped by the WebExtension class. We will have to rebuild the generated classes and then update the

[2018-03-30 21:44] tomjebo commented on #458
I added this to [v3.0 project card 1](https://github.com/OfficeDev/Open-XML-SDK/projects/1)

[2018-04-03 18:38] advapiIT opened #459 "Migrating from OpenXml 2.5 to 2.8.1 thows error"
# Before submitting an issue, please fill this out

Is this a:
- [X] Issue with the OpenXml library
- [ ] Question on library usage

---------------- Remove this line and above before posting ----------------

**Description**

After upgrading from 2.5 to 2.8.1 it asks to add reference to 2.5 when using HtmlConverter

**Information**

- .NET Target: 4.5.1, ASP.NET MVC application
- DocumentFormat.O

[2018-04-04 05:36] #459 closed

[2018-04-04 05:37] advapiIT commented on #459
Was not a problem of yours, my fault, sorry

[2018-04-04 18:06] twsouthwick commented on #458
This sounds good to me. It'll definitely be a breaking change, but an easy change to make for v3.0. There are a number of spelling errors on other properties that we should try to fix. @daniel-white, I'm going to expand this issue to track spelling issues that need to be fixed

[2018-04-04 18:08] twsouthwick commented on #458
Actually, I think @daniel-white has a good suggestion where we can add the correct property, and obsolete the old one. One of the things we'll do for v3.0 is to remove all obsolete items in the code base.

[2018-04-04 18:09] twsouthwick commented on #444
I'm not exactly sure how they handle bugs. @tomjebo may be able to help there.

[2018-04-04 18:43] twsouthwick commented on #458
I've submitted a PR that has the fix without causing a breaking change. We should audit the current member list to see other typos - I've seen them sporadically, but until recently, hadn't known an easy way to fix it with the schema generator.

[2018-04-04 18:45] twsouthwick opened #461 "Clean up typos in code base"
There are a number of typos in the code base. Some are purely in source code and can be cleaned up easily, but others are in public members. These can be fixed by providing the fixed version and obsoleting the old one. If this is a generated class, the generator should be fixed, and then the incorrect version should be added to a non-generated, partial class so it's available (see #458 for a simil

[2018-04-05 17:14] #461 closed

[2018-04-06 18:53] twsouthwick commented on #294
@encrypt0r I have a PR open to enable this with a flag on `OpenXmlPackage.CanSave` indicating whether the platform fully supports saving. It will still only work on .NET Framework, but the flag should help understand at runtime if saving will be successful or not. Please check it out at #468 and leave any feedback. This would be released in a 2.9.0 release.

[2018-04-06 18:55] twsouthwick commented on #380
@daniel-white I've opened a PR to enable saving with a flag on `OpenXmlPackage.CanSave` to indicate whether the platform supports fully saving. It will still not work on .NET Core, but will allow saving when possible. Please have a look at #468 and give any feedback you may have.

[2018-04-06 18:56] #458 closed

[2018-04-06 19:01] twsouthwick commented on #398
@daniel-white Would you want to provide a PR with this implementation and some tests? If so, we can get it in the next minor release (2.9.0).

[2018-04-06 19:07] twsouthwick commented on #221
@Depechie This is also available on NuGet via prerelease: https://www.nuget.org/packages/System.IO.Packaging/4.5.0-preview1-26216-02

[2018-04-06 19:11] daniel-white commented on #398
Sure.

[2018-04-06 19:13] twsouthwick commented on #398
We don't have a specific date yet, but probably sometime in May.

[2018-04-06 19:25] twsouthwick commented on #398
We're waiting for .NET Core 2.1 release to incorporate a stable build of System.IO.Packaging 4.5.0 which includes a fix for Xamarin platforms, and right now the release is expected in the first half of 2018.

[2018-04-06 19:25] twsouthwick commented on #398
Yes, target against master, and then we'll flow it to the office2016/vnext branches

[2018-04-08 10:01] Depechie commented on #221
Adding the latest preview nuget package of System.IO.Packaging, does indeed solve the problem!
Nice :)

[2018-04-09 17:53] twsouthwick commented on #221
Thanks for the update! Once there is a stable release of it, we'll update the SDK to depend on it

[2018-04-10 10:58] acabutto commented on #39
Still having the same problem using Xamarin + Mono 5.8.1.0 on MacOs

[2018-04-10 17:06] daniel-white opened #478 "Add option ToFlatOpcString to exclude whitespace."
**Description**

`OpenXmlDocument.ToFlatOpcString` formulates the document with a lot of whitespace - line breaks and tabs. These aren't needed in XML and creates bloat when transferring.

**Information**

- .NET Target: Any
- DocumentFormat.OpenXml Version: 2.8.1

[2018-04-10 17:15] twsouthwick commented on #478
Sounds good to me. What kind of API shape are thinking of? Probably would be good to include some sort of options with settings for serialization.

[2018-04-10 17:42] twsouthwick commented on #478
I actually have a branch with a similar idea to yours, but haven't come up with a pattern I'm happy with. I'll open an issue to flesh out some ideas and maybe we can come up with something together.

For now, would something like this work?

[code]

The place to do this would probably be to use `OpenXmlPackage.ToFlatOpcDocument().WriteTo(XmlWriter)` where the `XmlWriter` has appropriate settings.

[2018-04-10 17:45] twsouthwick opened #479 "Create an abstracted package exporter/importer"
Currently, there is some functionality to export/import packages to/from strings via the `ToFlatOpc…` helpers. However, it would be nice to separate this out and create a generalized export/import pattern. This issue is to track this for vNext and to gather ideas of what we could/should include in this design.

[2018-04-10 17:49] daniel-white commented on #478
Yea. I'm not a fan of the library using Linq to XML right now...

[2018-04-10 17:58] daniel-white commented on #478
Just a heads up I was able to chop 30k off in my super simple test.

[2018-04-10 19:06] #294 closed

[2018-04-12 09:18] proff opened #480 "static method AttributeTranslator.DicOfTranslators is not thread safe"
![default](https://user-images.githubusercontent.com/991922/38667774-f6e171e8-3e4a-11e8-929a-48dfa5398f2d.png)
When loading excel files from different threads this method can be executed at same time. On screenshot we got race condition when inserting tblLook in non thread safe class Dictionary

[2018-04-12 21:30] twsouthwick commented on #480
The SDK is not guaranteed to be threadsafe. I've been slowly adding better synchronization/reduction of state to help it work better in a threaded environment, but since it was not designed initially to be threadsafe, it's a slow process. Can you provide a test that shows the exact scenario you are doing?

[2018-04-12 21:34] twsouthwick commented on #480
I took a quick look and can definitely see a possible cause (lots of unsynchronized read/write). A repro would help ensure it's a full fix, but is probably not necessary if it's hard to create (which a lot of multi-threaded issues tend to be)

[2018-04-12 21:38] twsouthwick commented on #480
I've marked this as up-for-grabs - should be a fairly easy fix. The `dicOfTranslators` can be preinitialized. If @proff or anyone else is interested, let me know and I'll assign you to it.

[2018-04-13 17:19] vibs2006 commented on #187
To run the project in Visual Studio 2015 please revert to a commit in which Visual Studio 2015 was used.

If you are not sure then run the following command on git command line.

Navigate to git master branch
[code]
1. Please ensure that you backup current directory to another location before executing the following step.
2. You have closed your visual studio completely so that there are no file a

[2018-04-14 03:37] vibs2006 commented on #187
@twsouthwick My git reset fix was just to run a sample project on VS2015 for users who just want to look at this project how it works. I never meant it for take it to production or use it generally. For all practical purpose even Visual Studio 2017 has a community but there are users who don't have user rights to install new software on their system. So this fix might be helpful for them to get a

[2018-04-14 05:04] twsouthwick commented on #187
Would something like https://github.com/KirillOsenkov/SourceBrowser be helpful for this (such as at http://source.dot.net)? I've been thinking of setting that up for this project for easy browsing and searching via symbols

[2018-04-14 15:09] ThomasBarnekow opened #484 "No support for commentsIds part in master or Office2016 branches"
**Description**

There is currently no support for the `commentsIds.xml` part and related `w16cid:commentsIds` and `w16cid:commentId` elements.

**Information**

Status as of April 14, 2018:

- master at abbca550c814ead5935862786727ad8ae1328cd1
- feature/office2016 at bf8833877c17b95d6d31f1746b2b0b3de76f0cae

**Repro**

Office 2016 creates a `commentsIds.xml` part next to the `comments.xml` and `c

[2018-04-14 18:53] twsouthwick commented on #484
I believe work to support 2016 is planned for June/July. @tomjebo Can you comment on this?

[2018-04-14 19:24] ThomasBarnekow opened #485 "OpenXmlSimpleType children do not implement equality"
**Description**

Classes like `StringValue` and `HexBinaryValue` do not implement equality and you must use their `Value` properties to compare them. This is not handy and can lead to unexpected results.

**Information**

- .NET Target: Any
- DocumentFormat.OpenXml Version: 2.8.1

**Repro**

[code]

**Observed**

Two distinct instances of `HexBinaryValue` or `StringValue`, for example, will not be

[2018-04-14 23:16] twsouthwick commented on #485
This is a great point. Are you suggesting implementing `Equals(object)` and `GetHashCode()`?

[2018-04-18 18:49] ThomasBarnekow commented on #485
@twsouthwick Yes, those two at least. Looking at the `string` and `int` types for inspiration, we should also consider:

- `IComparable`,
- `IComparable<T>`, and
- `IEquatable<T>`.

[2018-04-18 18:59] twsouthwick commented on #485
That sounds good to me. Can you prepare a PR for this?

[2018-04-18 19:02] ThomasBarnekow commented on #479
@twsouthwick Do you have a specific use case for this?

For example, I contributed the Flat OPC helpers to deal with Flat OPC strings produced by the Word API and to transform documents using XSLT transformations. An interesting question would be whether it made sense for the Office team to produce and consume (complete) `WordprocessingDocument` instances directly, for example, rather than Flat OP

[2018-04-18 19:08] ThomasBarnekow commented on #387
#485 and similar kinds of enhancements could be candidates (unless they don't constitute breaking changes).

[2018-04-18 19:13] ThomasBarnekow commented on #485
Yes, can do.

[2018-04-18 19:16] ThomasBarnekow commented on #485
Just to be sure, are you considering to pull into master or 3.x?

This shouldn't be a breaking change, so could create feature branch off of master for PR into master.

[2018-04-18 19:16] twsouthwick commented on #479
This came up in a discussion in #478 and the idea is to separate out any exporters/importers to a simplified pattern. This does a couple of things:

- Keeps a separation of concerns of the data and any supported file formats. It doesn't make sense to extend and have the package know about each format that it may be saved to.
- Could provide an interface for importing/exporting that would make it e

[2018-04-18 19:51] ThomasBarnekow commented on #479
At least since Word 2010, there is the [`Range.WordOpenXML` Property](https://msdn.microsoft.com/en-us/library/microsoft.office.interop.word.range.wordopenxml(v=office.14).aspx).

I believe Excel and PowerPoint don't have similar capabilities.

[2018-04-18 19:52] daniel-white commented on #479
In officejs, its the way to insert xml in - can't just provide it a snip either. In Word there is a save as XML option which generates it.

[2018-04-20 10:33] ThomasBarnekow opened #488 "Unit tests failing due to missing CultureInfo.InvariantCulture in ToString()"
**Description**

The following unit tests fail on machines that do not use the US locale (invariant culture):

- DecimalValueTest
- DoubleValueTest
- SingleValueTest

**Information**

The issue can be observed on machines not configured to use the en-US locale (or similar locales with identical number formats).

**Repro**

Set your locale to de-DE, for example, making sure your local number format

[2018-04-21 14:40] MihailRomanov opened #489 "Support for isNarration element"
I can't find SDK class for [isNarration element](https://msdn.microsoft.com/en-us/library/dn912522%28v=office.12%29.aspx)

This element widely used in [OfficeMix](https://mix.office.com) extension.

Can you help me? May be have some workaround (except direct xml reading)?

Thanks

[2018-04-22 00:49] twsouthwick commented on #488
Is this a problem with just the unit tests or is there an issue with the parsing of the SDK?

[2018-04-22 20:51] ThomasBarnekow commented on #488
It was just a problem with the unit tests. The expected values produced by using `number.ToString()` rather than `number.ToString(CultureInfo.InvariantCulture)` depended on the culture settings of the machine on which those unit tests were run.

[2018-04-23 00:21] twsouthwick opened #491 "Convert FileFormatVersions to non-flags enum or even simply a constant"
I've added an item to investigate switch the FileFormatVersions enum to a non-flags enum or simply constants. I haven't found any good use case and it causes a bunch of unnecessary code to deal with at times.

[2018-04-23 00:25] twsouthwick commented on #384
I took a look at the schema generation and it currently flattens items so it doesn't generate code in a hierarchy. Unfortunately, that generator is not open source at the moment. I think it can be modified to not flatten and thus retain  hierarchy of types... this would be a breaking change, but will ensure that base types are applied where needed.

[2018-04-23 00:27] daniel-white commented on #384
@twsouthwick i'm fine with this in a 3.0 timeframe.

[2018-04-23 15:45] ThomasBarnekow commented on #489
If there are no strongly typed classes, you would have to resort to XML, e.g., using Linq to XML as in the PowerTools for Open XML.

[2018-04-24 02:54] #488 closed

[2018-04-27 03:07] twsouthwick commented on #485
@ThomasBarnekow thanks for the contribution!

[2018-04-27 03:07] #485 closed

[2018-04-29 17:02] ThomasBarnekow opened #492 "Worksheet class lacks most child element-related properties"
**Description**

The `DocumentFormat.OpenXml.Spreadsheet.Worksheet` class only has properties for 4 out of 38 child elements. For example, there is no property for the only mandatory child element, `x:sheetData`, which is likely among the most frequently referenced elements.

As per the schema, those child elements have to be in a defined order, which, in the absence of SDK support, needs to be en

[2018-04-30 20:11] yurriiy commented on #401
When i add 2.8.1 (via NuGet) to a project that targets .NET 4.6.2, i see references:

Can i simply add reference to DocumentFormat.OpenXml.dll for correct work?

[2018-04-30 20:49] jmhongithub commented on #401
@yurriiy , with 4.7.1, I found only three were needed:

- Microsoft.NETCore.Platforms
- NETStandard.Library
- System.IO.Packaging

I removed the other libraries via NuGet.

[2018-04-30 21:29] yurriiy commented on #401
I am install, package without dependencies:

It seems that everything works, thx.

[2018-05-02 17:15] twsouthwick commented on #98
I'm reopening this so we can track it in the SDK

[2018-05-02 18:29] ThomasBarnekow commented on #492
@twsouthwick I wouldn't say this is a bug, rather a missing feature. And the same is true for a good number of other classes.

The question is whether the SDK should be complete in the sense that it provides properties for all attributes, as well as child and parent relationships , so that you can properly navigate.

This should not only include relationships between `OpenXmlElement`s but also par

[2018-05-02 18:49] twsouthwick commented on #492
Thanks @ThomasBarnekow . I agree this would be better labeled as an enhancement. I would love to see the SDK provide full support for navigation around a document and not require people to manually adjust XML, especially for simple tasks.

/cc @tomjebo @tarunchopra

[2018-05-02 19:49] twsouthwick commented on #480
@proff I've submitted a fix for this. It turned out to be many kinds of wrong with multiple ways of entering race conditions. I completely redesigned this feature and it should work much more reliably. Thanks for notifying us of this issue!

[2018-05-04 15:56] twsouthwick commented on #38
This is a "by design" issue by the fact that `System.IO.Packaging.Package` throws the exception and there's no way to catch it. That said, I have a design for a fix I'm going to propose on CoreFx that would allow to hook into the package reading to handle it manually. It hasn't been high on my priority list, but if there's interest I'll get that proposal submitted so there'll be a viable workaroun

[2018-05-04 21:14] robertmuehsig commented on #38
Uh - this is bad, because we process Office documents and our main message is "use whatever feature you like in Word and we can handle it" (at least we shouldn't fail on it) and we have a customer issue because she or he inserted a link with a custom URL schema, like "myapp:foobar&param=123".

Word itself is doing fine, but our application needs to insert some CustomXML into the document, but beca

[2018-05-04 21:33] igitur commented on #38
So change your main message. Clearly it's not true.

[2018-05-04 21:39] robertmuehsig commented on #38
Just to be clear: The main message thing was just a overstatement. I know that there are a lot of functions inside Word that are not easily resolvable via pure Open XML (e.g. everything that renders the actual content), but that a typical user can create a somewhat invalid OpenXML file (at least from the view of the Open XML SDK) via a pretty basic function is quite bad.

[2018-05-04 22:46] twsouthwick commented on #38
I've opened a PR to get a potential way of handling this into the `Package` object: https://github.com/dotnet/corefx/issues/29531

[2018-05-07 00:45] #480 closed

[2018-05-07 06:37] robertmuehsig commented on #38
@twsouthwick Thanks! Would the suggested PR (if accepted) only be available on .NET Core or would we able to use this in the full framework as well?

[2018-05-07 15:53] twsouthwick commented on #38
That would be up to CoreFx, but it would first go into .NET Core, and then we can push to port it to framework.

[2018-05-21 08:43] igorko commented on #244
Voting for this to be fixed.

[2018-05-30 15:27] twsouthwick commented on #401
I've submitted a PR to update System.IO.Packaging to 4.5.0 which fixes this issue and only includes the dependencies that are actually needed. Namely, this is: System.IO.Packaging and System.IO.FileSystem.Primitives.

[2018-05-31 17:28] #221 closed

[2018-06-07 08:40] ackginger commented on #401
I see it's been merged, but any idea what the timeline is for their next release?

[2018-06-07 14:04] igitur opened #506 "Workbook with custom properties becomes corrupt"
**Description**

Using OpenXML to purely open and save a file (without any manipulation) causes a corrupt file, i.e. Excel 2013 64b complains:
![image](https://user-images.githubusercontent.com/145854/41104354-74e23734-6a6b-11e8-856f-184535172d76.png)

Note that the file contains custom property parts, some of which are of 0 lengths. I don't have control of those parts.

This problem occurs only w

[2018-06-07 14:07] igitur commented on #506
I strongly suspect that this is a bug in `System.IO.Packaging`, but let's wait for you guys to confirm.

[2018-06-07 15:50] twsouthwick commented on #401
Not sure what you mean by *their* release, but:

- `System.IO.Packaging` is released as a stable 4.5.0. You can manually update to that and get the same benefits (at least with the non-packages.config management system)
- `DocumentFormat.OpenXml` is currently in preview for 2.9.0. We hope to release a stable version of it soon

[2018-06-08 17:45] twsouthwick commented on #506
Do you see the same repro with `System.IO.Packaging` 4.4.0? Also, do you see it with any previous version of the SDK? We're getting a machine with 2013 to test this, but your help to narrow this down will be appreciated.

[2018-06-08 17:47] twsouthwick commented on #506
Also, can you give it a try with 2.9.0? It's available in the CI feed and I've fixed a number of weird design issues within the validator in 2.9.0, so the architecture of the validator is substantially different now.

[2018-06-08 18:01] twsouthwick commented on #506
Not sure if this is just a repro and you have a larger scenario, but you should be able to open it in read only (ie pass `false` instead of `true` to `.Open(...)` and have it remain as-is.

[2018-06-08 18:51] twsouthwick opened #507 "Signing service is down"
It appears that the signing service is down. @onovotny Is there a change we need to account for? We're seeing 400 errors in our signing step. We're prepping for a release, so we're only noticing it now, but I did a quick check on some older builds (we sign for our CI service) and see that it has been failing.

Example: https://ci.appveyor.com/project/openxmlsdk/open-xml-sdk/build/2.9.0.build.641

[2018-06-08 21:36] #507 closed

[2018-06-10 19:33] igitur commented on #506
Thanks, but unfortunately it's not an option. He code sample is just a reduced test case.

I'll try the other suggestions soon. Will also try to remove the validation errors. In the original, non-minimal use case there are no validation errors. Something must have happened when I trimmed down the Excel file.

[2018-06-11 10:31] igitur commented on #506
I updated the test case. The validation errors are removed (they were related to comments). I have added both the input file and the file produced (i.e. after modification), and their hashes. This is still with `System.IO.Packaging` v4.5.0.

[2018-06-11 10:35] igitur commented on #506
Did a 7-Zip CRC check on the file:
![image](https://user-images.githubusercontent.com/145854/41227022-b51bb81a-6d73-11e8-8b2b-ff76610874ae.png)

Running the code under `net461` produces a file without any CRC errors.

[2018-06-11 10:45] igitur commented on #506
Downgrading `System.IO.Packaging` to `4.4.0` does not solve the problem.
Upgrading `DocumentFormat.OpenXml` to `2.9.0-office2016-0107` does not solve the problem.

[2018-06-11 10:51] igitur commented on #506
Hunting down the cause of the CRC error is probably easier than trying to set up a machine with Excel 2013 ;-)

[2018-06-11 16:24] twsouthwick commented on #506
I found the file is changed even without any validation checks. Can you check if it occurs if you just open and close a package with `System.IO.Packaging.Package.Open`

[2018-06-11 19:01] NerdBrick opened #509 "Generated package does not include certain required parts"
**Description**
Started on MSDN support first.
https://social.msdn.microsoft.com/Forums/office/en-US/fa395b57-ab12-4fe8-9fa1-0726c18fe0cd/openxml-generated-file-wont-open-in-ms-spreadsheet-compare-tool-and-excel-quotopen-and?forum=oxmlsdk

The basic problem is when a new file is created by OpenXML, it appears to load in Excel, but if you use the Excel File Open tool for "Open and Repair" you can s

[2018-06-12 08:43] igitur commented on #506
Yes, the error occurs with this code too:
[code]

Should I report this issue? Having the OpenXml team's weight behind it will surely help :-)

[2018-06-12 12:44] twsouthwick commented on #506
This should probably be reported to https://github.com/dotnet/corefx/issues. Does it repro without doing the writeline?

[2018-06-12 12:44] twsouthwick commented on #506
The zip implementation is completely different between .NET Framework and .NET Core, so seems like there may be an issue in that implementation.

[2018-06-12 13:17] igitur commented on #506
Yes, it repros without the writelines too. Ok, I'll report it. Thanks.

[2018-06-12 15:07] twsouthwick commented on #509
This repo is for issues in the SDK, while this error appears to be with the comparer. In order to identify if this is an issue with the SDK, can you try reopening the file you created with the SDK and see if there are any issues opening?

[2018-06-12 18:36] NerdBrick commented on #509
Yes, the SDK can reopen the file without any errors. I understand this might be a fault with Spreadsheet Compare tool, but what about Excel itself is reporting a problem with the OpenXML generated file when "Open and Repair" feature is used?

[code]

[2018-06-12 18:54] tarunchopra commented on #509
@NerdBrick : Do you mean that above pasted code will cause a corrupted excel file?

[2018-06-12 19:27] tarunchopra commented on #509
@NerdBrick : I just used the code you pasted and Excel is able open the file just fine. What did I miss?

[2018-06-12 20:52] NerdBrick commented on #509
Yes, it will open directly in Excel; however, if on the file open dialog you chose the "Open and Repair" option, you can see there was an unreported error as Excel opens the file. My thought is this error might be what is stopping Spreadsheet compare from opening the file.

![Image of File Open and Repair](https://donnabaldwinagency.blob.core.windows.net/shared-images/FileOpen.JPG)

[code]

[2018-06-12 21:12] tarunchopra commented on #509
Thank you. So what happens is that when we overwrite the file with openxmlsdk then it removes lot of parts which were created by Excel, as default. Like this, all these Red parts were removed by openxmlsdk when the file was overwritten. After that when we run 'open and repair', Excel adds these removed parts along with other data back to package as a part of repair.

![image](https://user-images.g

[2018-06-13 02:55] twsouthwick commented on #509
@NerdBrick Can you open the corrected file in the comparer?

@tarunchopra @tomjebo  If these items are supposed to be included per the spec, I vote we should add it.

[2018-06-13 16:27] NerdBrick commented on #509
@twsouthwick , when you mean "corrected file" are you saying after I open it and save it in Excel?  Yes, once the OpenXML file has been opened and saved in Excel, Spreadsheet Compare will be happy.

[2018-06-13 17:49] twsouthwick commented on #509
@NerdBrick Yes, that's what I was referring to. This identifies that it is most likely due to the change @tarunchopra  mentioned. Next step is to identify why the package doesn't have those lines.

@tarunchopra Were the files pointed to by those parts removed or did they not even exist?

[2018-06-13 17:54] tarunchopra commented on #509
Taylor - The files got removed; they did exist initially but openxmlsdk code removed them as it recreated that file and added only the parts requested by user in the above code.

[2018-06-17 12:50] MaceWindu opened #510 "2.9 not published on nuget?"
Is it github-only release or something went wrong with publishing?

[2018-06-17 12:52] #510 closed

[2018-06-18 17:49] twsouthwick commented on #509
We should identify why it's being removed. Are there a list of items that are required for a well-formed document that we should ensure are there?

[2018-06-23 18:18] glenn-slayden commented on #225
I'd like to add my vote for open-sourcing the **Document Editor** executable from the **_"Open XML SDK v2.5 Productivity Tool for Office"_**.

Until such time as such is possible, is [this](https://www.microsoft.com/en-us/download/details.aspx?id=30425) the latest available binary version? Having date 11/20/2012, it seems quite old.

[2018-06-29 02:08] glenn-slayden opened #511 "Incorrect XML documentation comment for 'OpenXmlBasePart.OpenXmlPackage'"
The following source code XML comment (which likely propagates to the developer documentation, though I didn't verify that) is incorrect (and somewhat illogical):

https://github.com/OfficeDev/Open-XML-SDK/blob/601492385e0130f63b39ac1735d58d3a394e3a69/src/DocumentFormat.OpenXml/Packaging/OpenXmlBasePart.cs#L265-L268

This should instead read: **"Gets the OpenXmlPackage which contains the current p

[2018-07-02 17:46] twsouthwick commented on #511
Can you submit a PR for this? Thanks!

[2018-07-02 17:47] twsouthwick commented on #509
@tarunchopra @tomjebo Can you guys comment as to whether there is anything in the standard that specifies which parts are required for a functional package?

[2018-07-02 20:13] glenn-slayden commented on #511
@twsouthwick  I could try, but I'm not yet fully comfortable with my git competency yet and have never gone through a contribution process...

[2018-07-02 20:31] twsouthwick commented on #511
That's fine - we can help you through the process. Changes like this are the best to start with since they're small :) For this change, you could do it all online by clicking the 'Edit' button in the file you found has the doc issue. If you need any help, feel free to ask on here

[2018-07-04 05:03] EatonZ commented on #510
Also curious. NuGet releases always seem to be forgotten or delayed.

[2018-07-04 09:39] Bridgeway commented on #65
Package 'SpreadsheetLight 3.4.9' was restored using '.NETFramework, Version=v4.6.1' instead of the project target framework '.NETCoreApp, Version=v2.1'

Given the above message after I installed from Nuget Gallery, assuming I don't run into any errors, is it still feasable to use this package in production release ?

Could I install the dll directly in the output folder (to stop the NuGet folder c

[2018-07-04 09:45] GeorgDangl commented on #65
As far as I know, SpreadsheetLight does not support .NET Core (or .NET Standard).
I've also used this before, but now have switched to [ClosedXML](https://github.com/ClosedXML/ClosedXML) and I'm quite happy with it.

[2018-07-04 09:53] Bridgeway commented on #65
So .NET core 2.1 doesn't have any equivalent to
System.Threading.Tasks;
System.Security.Cryptography;
System.IO;

???

[2018-07-04 19:59] daniel-white opened #512 "2.9 on nuget.org?"
Is there a reason 2.9 is not on nuget.org? https://www.nuget.org/packages/DocumentFormat.OpenXml

[2018-07-05 16:38] twsouthwick commented on #65
@Bridgeway For your first question, v4.6.1 was restored because there is not a .NET Standard or .NET Core version available. .NET Core 2.x supports .NET Framework libraries; however, if an API does not exist, it will throw a `MissingMethodException`. This allows older libraries that do not have modern support to be able to run on newer runtimes - you are just on the hook to test to ensure any path

[2018-07-05 16:39] twsouthwick commented on #65
Also, feel free to open a new issue if you encounter any with the SDK. This issues has been closed for a while and it's nice to keep each issue to its own thread.

[2018-07-05 22:15] EatonZ commented on #512
Also curious. NuGet releases always seem to be forgotten or delayed.

[2018-07-06 17:34] tomjebo commented on #512
@daniel-white @EatonZ sorry, we ran into a signing issue due to some changes on nuget.org. We're working it out and will post the new 2.9.0 as soon as we get the package signed.

[2018-07-06 17:49] twsouthwick commented on #512
For clarification, the issue is that NuGet recently added support for nupkg package signing. Our packages are now signed, and we are working through some policy issues to upload it to the official account. The 2.9.0 on MyGet will be the one we release, so feel free to use that. Thanks for the patience!

[2018-07-07 10:17] ObadMahrous opened #513 "Change in multiple rows in table highlight all table as changed"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library
- [x] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting -----------

[2018-07-07 11:36] ThomasBarnekow commented on #513
@ObadMahrous, you did not provide any details on this issue, so we can’t look into it.

Please have a look at what you are asked to provide, i.e., Description, Information, Repro, Observed, and Expected, and provide that information.

[2018-07-07 11:40] ObadMahrous commented on #513
@ThomasBarnekow  When i need to make comparison between two documents and the document content is table consist of multiple rows and columns which this table is split into multiple pages
only i made some changes in some values of cells in specific rows.
after performing the compare then the result is highlighting all rows in the table as changed.
only i need to highlight the specific rows that are

[2018-07-07 11:41] ObadMahrous commented on #513
@ThomasBarnekow  so the expected result is highlighting only the changed rows not all rows.

[2018-07-07 12:20] ObadMahrous commented on #513
@ThomasBarnekow Could you please tell me if you got what i mean

[2018-07-07 12:37] ThomasBarnekow commented on #513
@ObadMahrous, please have a look at #509 for an example on how to provide the required detail. This is basically the form that you submitted when you created this issue, however with the detail we need to look into it.

Also think about whether this is really related to the Open XML SDK rather than the PowerTools or something else (e.g., Microsoft Word). From what you wrote, I don’t understand wha

[2018-07-08 01:06] twsouthwick commented on #513
@ObadMahrous you can edit the original post with the repro information

[2018-07-09 12:43] chandrab699 opened #514 "Compile Windows Application"
# Before submitting an issue, please fill this out

Is this a:
- [ No] Issue with the OpenXml library
- [Yes] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting -------

[2018-07-09 13:09] ThomasBarnekow commented on #514
@chandrab699, this is not the right place to ask this kind of question. Please post this to stackoverflow.com or do some reading on how to write Office Add-ins in C#, using Visual Studio and the Visual Studio Tools for Office (VSTO), and on obfuscating C# code (which will othewise be as accessible as your VBA code).

[2018-07-10 21:29] chandrab699 commented on #514
Thank you. I will search for that.
I am closing this issue.
@ThomasBarnekow
One more query,
I want to write a "find and replace" for Word and Excel.
is built VBA faster or this OpenXML faster?
unzip the docx, xlsx, find and replace using python?
Which is faster of all?

[2018-07-10 21:29] #514 closed

[2018-07-11 08:45] ThomasBarnekow commented on #514
I want to write a "find and replace" for Word and Excel.
is built VBA faster or this OpenXML faster?
unzip the docx, xlsx, find and replace using python?
Which is faster of all?

@chandrab699 This depends on your use case.

1. Do you want to do that from within your Word or Excel Add-in or do you want to build some external application?
2. Do you want to search and replace within individual or mul

[2018-07-11 12:13] ThomasBarnekow commented on #484
Is there any update on this?

[2018-07-11 17:36] twsouthwick commented on #484
The ball is rolling on it, but it requires coordination among a few times which has been slow. Hopefully we'll have something to share soon.

[2018-07-13 07:18] pratisharora opened #515 "While trying to convert the following word document to HTML the output is distorted."
While trying to convert the following word document to HTML the output is distorted.

Orignal document
[Pratish_DOC_SAmple.docx](https://github.com/OfficeDev/Open-XML-SDK/files/2191614/Pratish_DOC_SAmple.docx)

Output
![testoutput](https://user-images.githubusercontent.com/41182805/42677653-010e8ace-869a-11e8-8419-85063f002584.png)

Code

 using (DocumentFormat.OpenXml.Packaging.WordprocessingDocu

[2018-07-13 10:43] ThomasBarnekow commented on #515
@pratisharora While this still does not belong here, I just had a quick look at your Word document and the screen shot. This is the typical "garbage-in, garbage-out" example. The HTML produced by the Open XML PowerTools -- a linear system if you will -- is a very faithful representation of the original Word document, which, for example, uses a very small line spacing of "Multiple 0.75" (which is w

[2018-07-16 06:59] giangcoi48k opened #516 "[General Question] Openxmlsdk: Replace MergeField by html text"
I'm using DocumentFormat.OpenXml to replace merge fields in my template docx file.

Step 1, I write method to find merge field
[code]
Step 2, I write method to replace html text
[code]
Code work well when after RemoveChild, the paragraph that contains merge field become empty. But if it still contains some element, the docx file after replace merge fields will corrupt. I've open docx file by xml t

[2018-07-16 22:29] tomjebo commented on #516
@giangcoi48k according to the standard schema, altChunk element is a block level element. It is not a run level element. It would need to be under the <body> not part of the <r> or <p>.  You might also post on stackoverflow to find others who've done this and can give you code examples.

[2018-07-17 15:12] tomjebo commented on #516
@giangcoi48k I see that you've posted on stackoverflow. I'll close this issue out as a "howto" for now. If you find that the classes are not behaving as expected, please post here again.

[2018-07-17 15:14] #516 closed

[2018-07-18 17:07] EatonZ commented on #512
Still having trouble with it?

[2018-07-18 17:12] twsouthwick commented on #512
Unfortunately, yes. We'll keep you updated, but feel free to use the CI build - it's the same thing and we'll support it the same.

[2018-07-23 11:05] MPasadu commented on #401
Still problems. Tried to install openxml 2.8.1 on a .net 4.7.1 project.

- When using the standard option on dependency behavior, it will try to install 20+ dependencies.

- When using the "highest" option on dependency behavior, it will only install System.IO.Packaing, DocumentFormat.OpenXML, and System.IO.FileSystem.Primitives (This one isn't needed). Also System.IO.FileSystem.Primitives will sh

[2018-07-23 13:58] twsouthwick commented on #401
As my comment above says, it is fixed in 2.9.0 so installing 2.8.1 will see the same issue. We are having an issue uploading it to NuGet, but it is available via the CI feed.

System.IO.FileSystem.Primitives is necessary transitively by System.IO.Packaging.

Also, are you using `PackageReferences` (the new NuGet style) or `packages.config` (the old NuGet style)? `PackageReferences` is required to

[2018-07-23 18:52] ThomasBarnekow commented on #513
@twsouthwick, I think this issue can be closed.

[2018-07-23 18:53] #513 closed

[2018-07-24 12:52] andreykhr commented on #225
And my vote too. I wana port that tool to OS X. Or may be u do that job?. After dotnet core i think it not too hard. UI part is quite simple (may be WEB?).

two votes from me)))

[2018-07-24 13:08] rmboggs commented on #225
FYI - I got tired of waiting and started working on a new class library project that would provide the same features as the productivity tool. It's still very early in development but I was able to "codify" a simple Excel workbook in both C# and VB.NET. Having trouble with PowerPoint files at the moment. I will try to create a new github repo for this project within the next couple of weeks if any

[2018-07-25 06:35] jason8232590 opened #517 "Could not load assembly 'System.IO.Packaging' during Xamarin startup registration"
-**Description**

I created a new project in Visual Studio 2017 for windows (15.5.4) and import the 'DocumentFormat.OpenXml(2.8.1)' then debug it , but it  could not be debugged in My android phone. And once I remove it , the app can work well in android phone . By the way , it could still work well in iPhone even I had imported 'DocumentFormat.OpenXml(2.8.1)' .

**Information**

- Xamarin.Forms (

[2018-07-25 18:05] tomjebo commented on #517
@jason8232590 take a look at this: [https://github.com/Microsoft/msbuild/issues/2776#issuecomment-358038589](https://github.com/Microsoft/msbuild/issues/2776#issuecomment-358038589 )
Seems like this might be related to that issue. There are a couple of workarounds that folks have tried there. I can also try reproducing this if the above thread doesn't help.
@twsouthwick does that sound right? any

[2018-07-25 18:37] twsouthwick commented on #517
@jason8232590 Can you share what your csproj/vbproj looks like?

[2018-07-25 18:40] twsouthwick commented on #517
Also, can you try updating VS? Looks like some of the linked issues have the milestone of 15.7

[2018-07-27 07:11] jason8232590 commented on #517
@twsouthwick
Thanks for your reply !
Here is the "csproj" file.

<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="DocumentFormat.OpenXml" Version="2.8.1" />
    <PackageReference Include="System.IO.Packaging" Version="4.5.0" />
    <PackageReference Include="Xamarin.Forms" Ver

[2018-07-27 07:12] jason8232590 commented on #517
@twsouthwick
Thanks for your reply !
Here is the "csproj" file.
`<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="DocumentFormat.OpenXml" Version="2.8.1" />
    <PackageReference Include="System.IO.Packaging" Version="4.5.0" />
    <PackageReference Include="Xamarin.Forms" Ver