[2014-06-25 17:45] davidanthoff opened #2 "Provide an official nuget package"

[2014-06-26 06:09] robertmuehsig opened #4 "Missing .sln / .csproj"
Thanks for open sourcing the SDK.
The first thing I noticed is that the source consists only of .cs files and the makefile - which is great because I can build it via Powershell, but it is a bit uncommon without the typical .sln/.csproj file, so it is hard to open and edit it in VS.

Do I miss something or is this "by design"?

[2014-06-27 09:47] matteogll opened #5 "MathML objects manipulation"
Hello there,

I am currently trying to convert an `html` file containing `mathml` to `docx`, using a library called JavaDocx. I am having issues though because the converted `mathml`, which originally is inlined with the `html`, in the `docx` document gets placed into a paragraph of its own.

Therefore, I was looking for a library allowing me to place a `mathml` object wherever in the page (withou

[2014-07-08 21:28] danielrh opened #6 "Sample app generates corrupt .docx with bad date-time in the docProps/core.xml on mono (on .NET the same code generates a validating doc, but with wrong timestamps)"
Running any sample app (eg http://msdn.microsoft.com/en-us/library/ee945362(v=office.11).aspx  )
in mono-3.4 yields a corrupt document that word refuses to open.
Doing a diff with a document generated by the same code in windows yields a difference:

(newlines added for readability)
Failing mono-3.4 version of docProps/core.xml

[code]

Working .NET 4.5 version of docProps/core.xml

[code]

Specif

[2014-07-08 21:37] danielrh opened #7 "Hyperlinks in word documents cause exception on mono"
When I try to apply the simple paragraph adding test to a word docx file in mono http://msdn.microsoft.com/en-us/library/ee945362(v=office.11).aspx
I get the following exception (it works fine on windows with the current .NET runtime)

[code]

[2014-07-24 19:15] docati opened #8 "Validation"
First of all: for me the most important things is that Office itself can open the files; even if files are 100% valid to the specs, if Word cannot open them, my users complain. If it's not valid, but Word is fine with it, so are my users (and so am I :)).

Therefore, in my case the validation logic should only judge things as an error if Word cannot handle it as well. Otherwise it should treat the

[2014-08-30 05:38] GokulPrasad opened #10 "t1 Theme color is not present under ClrScheme"
In ClrSchemeMapping , it is defined as
t1 (Text 1 ThemeColor Mapping)
Specifies the theme color in the document's theme part which shall be used in place of this color when it is referenced by document content.
If this attribute is omitted, then the t1 theme color shall be used.
[Example: Consider a WordprocessingML document that must have references to the theme color t1 mapped to the theme color

[2014-09-01 16:06] #10 closed, assigned to nobody

[2014-09-03 15:58] RicardoLo opened #12 "Use Open-XML-SDK in Windows Phone 8 project"
hi!.,

it would be possible to use Open-XML-SDK in WindowsPhone8??.
I can reference DocumentFormat.OpenXml.dll but WP8 doesn't support the WindowsBase.dll reference.,

Thanks in advance!.

[2014-09-25 11:05] Themanwithoutaplan opened #16 "Validator incorrectly reports MaxExclusive contraint errors"
Not sure whether this is part of the project or not. The validator in the Productivity Tool routinely reports pageMargin attributes as errors "t has an invalid value of '0.75'. The MaxExclusive constraint failed. The value must be less than 49"

[2014-10-10 01:34] jamescostian opened #17 "Not calculating"
I have a spreadsheet with two tabs, named `x` and `y`. Using this SDK I can change the value of A1 in the tab `x`, and then read the value of A1 in the tab `y`. A1 in the tab `y` is set to `=$x.A1`, so changing A1 in the tab `x` _should_ cause A1 in the tab `y` to change. But for some reason, A1 in the tab `y` remains set to whatever it was set to before I ran my code.

If I open the Excel spreads

[2014-10-14 03:09] #17 closed, assigned to nobody

[2014-11-04 10:24] welsen opened #18 "Building under Linux"
Hi, having trouble with building the SDK on Linux. This is what I get:

./src/Framework/PartContainer.cs(2455,1): warning CS1587: XML comment is not placed on a valid language element
./src/ofapi/Validation/DocumentValidator.cs(131,15): warning CS1587: XML comment is not placed on a valid language element
./src/ofapi/Validation/SchemaValidation/BinDataTypes.cs(14,9): warning CS1587: XML comment is

[2014-11-04 12:32] #18 closed, assigned to nobody

[2014-11-16 22:45] michivo opened #19 "Build using Powershell-Script fails"
Building using the Powershell-script BldSdk.ps1 fails on my system with Nmake error u1095 (expanded command line too long).
System: Windows Server 2008 R2, Visual Studio Express 2012 for Windows Desktop

[2014-11-17 06:58] #4 closed, assigned to nobody

[2014-11-17 07:12] robertmuehsig opened #20 "Is this just a Code-Drop?"
I'm just wondering what is the current roadmap of this GitHub Repo here? Is this just a "code-drop" and you guys have your own version + tests or should this be more like a real OSS project?

Now I can build this stuff, but I can't open the sln file and there are no tests.

Of course I could fork it etc, but if you have a OpenXML SDK 3.0 in the pipeline and push this to GitHub this would be obsole

[2014-12-10 15:21] mojtabakaviani opened #21 "Convert openxml document to xps, pdf,images and html format"
please add capability to openxml document that allow convert pages to other format such as xps, pdf, png, jpg, and html. maybe not convert to pdf but I think images, xps and html format not limitation.

[2014-12-12 07:49] JernejJerin opened #22 "ExtendedFilePropertiesPart.Properties.Pages.Text returns incorrect value"
I am using the following code to open WordprocessingDocument from MemoryStream and then get the page size of the document, but it always returns the value 1, which is incorrect as the document contains 11 pages.

[code]

[2015-01-12 13:56] Themanwithoutaplan opened #25 "Validator reports constraint exceeded for gradientFill stop"
The validator reports an error for the following style definition:

[code]

I can't find the matching constraint. This is specification for a gradientFill:

[code]

If I understand this correctly then there can be an unlimited number of stops. Any limits could be imposed using the maxOccurs attribute of the fill.

[2015-01-27 11:54] EricWhiteDev opened #30 "Markup Compatibility Extensibility (MCE) doesn't work properly in 2.5"
If you set FileFormatVersion.Office2010, then it correctly picks the 'Choice' element of an AlternateContent block for an inline text box.  If you set FileFormatVersion.Office2013, then it incorrectly picks the Fallback element of an AC block.

[code]

We should investigate other AlternateContent blocks, and see if this same behavior is there.  I suspect that it is.  I believe that the fix is wher

[2015-03-01 08:53] EricWhiteDev opened #31 "Open XML SDK erroneously reports w:firstRow, w:lastRow, etc. attributes of table as invalid"
Further, the productivity tool doesn't generate code to generate these attributes.

[2015-03-31 13:26] Sbou opened #32 "Generated xml namespace for xmlMaps.xml"
Hi,

I try to add an XmlMapping part in an Excel file butI've got an issue.

I use CustomXmlMappingsPart and MapInfo Objects and the generated file is fine. But when I open Excel file the XML Mapping window is empty.

I compare a file created with Excel and mine created by code and the difference is in xmlMaps.xml file.

The file created by Excel starts with this lines :
`<MapInfo xmlns="http://sc

[2015-03-31 15:45] Sbou opened #33 "DocumentFormat.OpenXml.Spreadsheet.Map boolean conversion"
Hi,

I try to use DocumentFormat.OpenXml.Spreadsheet.Map in CustomXmlMappingsPart but generated attributes values for booleans is not interpreted by Excel.

With OpenXml SDK :
`<Map ID="1" Name="Root_Map" RootElement="Root" SchemaID="Schema1" ShowImportExportValidationErrors="1" AutoFit="1" Append="0" PreserveSortAFLayout="1" PreserveFormat="1" />`

With Excel :
`<Map ID="1" Name="Root_Map" RootEl

[2015-03-31 22:46] EricWhiteDev commented on #33
Both are valid per the standard.  A producer can produce either form of markup, their choice, and it still will be a conforming document.  Probably it was written that way because it was cleaner to code, or something.

[2015-03-31 22:46] #33 closed

[2015-03-31 22:58] EricWhiteDev commented on #32
What did you use to serialize the XML?  Why is the prefix getting
introduced?

On Tue, Mar 31, 2015 at 6:56 PM, Sbou <notifications@github.com> wrote:

[2015-04-01 07:13] Sbou commented on #32
This is the code I use :
`CustomXmlMappingsPart part = workbookPart.AddNewPart<CustomXmlMappingsPart>(GetNextIdPart(workbookPart.Parts));

            var mapInfo1 = new MapInfo(){ SelectionNamespaces = "" };

            Schema schema1 = new Schema(){ Id = "Schema1" };

            var xsd = new XmlDocument();
            xsd.Load(XSDfile);

            OpenXmlUnknownElement openXmlUnknownElement

[2015-04-01 07:17] Sbou commented on #33
It is perhaps valid for the standard but Excel doesn't recognize it.

[2015-04-01 13:12] EricWhiteDev commented on #33
What are you using for writing the markup?  The Open XML SDK?  I have a document with a map in it.  I changed the markup to look like this:
    <Map ID="2"
         Name="Data_Map"
         RootElement="Data"
         SchemaID="Schema1"
         ShowImportExportValidationErrors="0"
         AutoFit="1"
         Append="0"
         PreserveSortAFLayout="1"
         PreserveFormat="1"/>
Excel opened

[2015-04-01 13:33] EricWhiteDev commented on #32
Can you please post the spreadsheet that won't load?  (Either here or in the forums at OpenXmlDeveloper.org)

[2015-04-01 14:07] Sbou commented on #32
This is the generated file.

[Excel file](http://we.tl/KgvaXaf716)

Thanks

[2015-04-01 15:34] EricWhiteDev commented on #32
Can you kindly attach it to a post on GitHub or on OpenXmlDeveloper.org?
That link wants to download cookies and whatnot.

On Wed, Apr 1, 2015 at 7:37 PM, Sbou <notifications@github.com> wrote:

[2015-04-01 15:54] Sbou commented on #32
OK,

I created a post on OpenXmlDeveloper
[Post](http://openxmldeveloper.org/discussions/development_tools/f/38/p/8288/164107.aspx#164107)

[2015-04-02 12:40] Themanwithoutaplan opened #34 "Ignoring the namespace leads to validation errors."
This affects the productivity tool. When the option `Ignore XML Namespace` is set, the productivity tool embeds the namespace in lots of tags even if it's already defined. This in turn leads the validator to declare these tags invalid because of the namespace declaration.

[code]

This leads to error messages like `The element has unexpected child element 'http://schemas.openxmlformats.org/spreads

[2015-04-02 12:40] Themanwithoutaplan commented on #16
This also applies to MaxInclusive constraints.

[2015-04-02 12:47] Themanwithoutaplan opened #35 "Cannot read content-types.xml with a qualified namespace"
The productivity tool cannot read files if the a qualified namespace as opposed the default namespace is used. The XML itself is valid with the default namespace just being a special case. Unfortunately, this error means you use the tool with any files where this has been done. The error message is "Cannot open the file: the required Types-Element could not be found".

[code]

[2015-04-27 08:52] liu7923032 opened #37 "Set Excel columns "AA" error"
I created a Excel document, "AA" data set, column "B" no data, and download the Excel abnormal

[2015-05-01 15:13] koyote opened #38 "Malformed mailto Hyperlink causes Exception on .NET 4.5+"
Hi,

This issue is similar to #7 but for recent versions of the .NET framework.

If you create a blank document and set some text to the following field code (note the extra space):
  ```  { HYPERLINK "mailto:email@address%20.com" }```

Running the following on .NET 4.0 will work fine:
  ``` var wpdoc = WordprocessingDocument.Open(@"TestDoc.docx", false)```
Running the same line on .NET 4.5+ will

[2015-05-02 04:49] EricWhiteDev commented on #38
Hi,

As you determined, this is an issue in the underlying System.IO.Packaging.

Currently, we are assessing whether we can patch System.IO.Packaging to fix this.  One issue is that the System.IO.Packaging returns a Uri object when you request a list of external relationships, and if the Uri is invalid in the document, then we can't return one.

Perhaps the good semantics would be:
* Don't throw a

[2015-05-11 12:19] ThomasBarnekow opened #39 "Opening read-only document on Mono 4.0.0 throws exception"
I'm currently trying to use the Open XML SDK on the latest Mono release, i.e., 4.0.0. When creating a read-only instance of `WordprocessingDocument`, using `WordprocessingDocument.Open(fileName, false)`, the following exception is thrown:

[code]

This seems to be a bug in Mono (see http://lists.ximian.com/pipermail/mono-bugs/2011-February/109577.html). However, the question is whether there is a

[2015-05-11 12:29] ThomasBarnekow opened #40 "AddPart() throws Exception on Mono 4.0.0"
In one of my pull requests, I developed a `Clone()` method that clones `OpenXmlPackage` instances. For that purpose, it adds `OpenXmlPart` instances to the clone, using `AddPart(T, string)`.

While this has worked nicely in production on Windows 7, doing the same using Mono 4.0.0 on Mac OS X Yosemite throws an exception:

[code]

As with the other issue related to opening a read-only `Wordprocessi

[2015-05-21 16:28] Nautigsam opened #41 "Add support for sections in Wordprocessing namespace"
I think it would be great to add the support of sections, it should be possible to:
- identify a section as a class in the same way we can identify a Paragraph
- get the paragraphs that compose the section
- test if the section is a final section or not (as defined in the reference §17.6.17)
- many other possibilities...

I'm ready to implement it if you think it's a good idea.

[2015-06-06 19:09] jhare commented on #39
I encountered the same issue, but through the `SpreadsheetDocument` interface. I gather they rely on the same code.

In my case I didn't explicitly require the file to be read-only so I left it as editable, but my understanding is that changes you make would happen to the document when it's flushed. I imagine this was not possible in your case?

I also wish there was more info on that Mono bug, it

[2015-06-09 15:14] Nautigsam opened #42 "WordprocessingML PageMargin attributes' type not compliant"
I noticed that we use Int32 and UInt32 to store page margin values (left, top, right, bottom). However, the spec (§22.9.2.14 ST_TwipsMeasure) specifies that the type of the value depends on the value itself. It can be an integer or a decimal value with a unit specifier.
The result is there are some documents that can't be properly red, like those generated by Google Docs, because it uses decimal v

[2015-06-24 17:15] Themanwithoutaplan opened #44 "Validator ignores elements removed from the spec"
I've recently had Excel files that break the spec by including a "mergeCell" attribute in alignment elements. Such files should raise validation errors, certainly against the 2010 and 2013 formats but also against the 2007 as well. However this is currently not the case.

From [MS-OE376]:
2.1.720 Part 4 Section 3.8.1, alignment (Alignment)
a. The standard does not contain a @mergeCell attribute on

[2015-07-05 20:57] ThomasBarnekow commented on #42
My understanding is that "1 twips", i.e., one twentieth of a point, is the finest resolution you get. Open XML documents can only store whole twipses, i.e., multiples of 1/1440. Therefore, you would have to round any number -- integer or decimal -- of inches, centimeters, or other units to the nearest twips value.

This is also what happens in Microsoft Word, for example, when you define an indent

[2015-07-05 21:13] ThomasBarnekow commented on #41
@Nautigsam and @EricWhiteDev I'd say it's a good idea.

What exactly do you mean with your first point ("identify a section as a class ...")? The `SectionProperties` class represents a section. However, it certainly doesn't identify a section like the `Paragraph` class identifies a paragraph, because a `SectionProperties` instance does not contain the elements of a section. The `w:sectPr` element

[2015-07-05 21:22] ThomasBarnekow commented on #40
@EricWhiteDev Have you tested your new implementation of System.IO.Packaging on Mono? Is this issue now fixed?

[2015-07-05 21:24] ThomasBarnekow commented on #39
@jhare Right, it is a bit puzzling how long these bugs live.

@EricWhiteDev Would this be fixed by your new implementation of System.IO.Packaging (see also #40)?

[2015-07-06 22:15] akoeplinger commented on #40
FYI, the upcoming Mono 4.2 and later replaced the System.Xml with the open-sourced one from MS, so this bug might not appear there anymore. You can find preview packages here: http://www.mono-project.com/docs/getting-started/install/weekly-packages/

[2015-07-10 08:31] EricWhiteDev commented on #39
@ThomasBarnekow @jhare I would certainly guess that this same issue will not show up when using the new System.IO.Packaging.  However, I have heard that there are issues with the System.IO.Compression namespace on Mono.  It fails in some circumstances where it should not.  I haven't researched this, though.

[2015-07-20 08:34] ron1010 opened #48 "Error Validating Open XML document with signed version of Open XML SDK"
Is it possible to sign the Open XML SDK?

I am having trouble with Validating an Open XML Document with a signed version of the Open XML Sdk. I need to sign my code which in turn requires DLLs it uses to be signed. I added the SNK files to the Open XML SDK projects and added "PublicKey" to ofapi.cs. I can open documents and manipulate them, but when i go the validate them, i get the exception belo

[2015-07-20 10:28] EricWhiteDev commented on #48
Hi Ron,

We don't currently have plans to produce a signed DLL of the Open XML SDK.  Given that the Open XML SDK is simply source code that you can compile into your project, for the purposes of signing your code, can you simply include the Open XML SDK source code, then sign your executable?  There is no technical difference between source code that you write yourself, and the open source Open XM

[2015-07-20 10:29] EricWhiteDev commented on #48
Closing, because this is not a planned feature of the open source Open XML SDK.

[2015-07-20 10:29] #48 closed

[2015-07-20 11:17] ron1010 commented on #48
Eric,

Thanks for your reply. I did think that I could just sign the code and all would be sweet, and it was until I ran the Validate. What has got me stuck is that the method is the 'DocumentFormat.OpenXml, Version=2.5.5654.1127, Culture=neutral, PublicKeyToken=null' exception. DocumentFormat.OpenXml is the namespace of the Open-XML-SDK, so why is it looking for it in another Version with a Null

[2015-07-20 13:03] EricWhiteDev commented on #48
Validation does not rely on being signed.  I don't know why you are getting that specific error.

Here is an experiment:

Build a super-short open xml program that links with the Open XML SDK that you just built, then call the validation functionality, see if your XLSX is valid.

One key point - XLSX is by far the most rigorous about needing all of the elements and attributes in the right order.

[2015-07-20 13:05] ThomasBarnekow commented on #48
@ron1010 Which version of the Open-XML-SDK are you using? It seems that you reference the Open-XML-SDK.csproj and System.IO.Packaging.csproj from the SDK. It also seems that you are on the master branch. Can you confirm that?

[2015-07-20 13:19] ThomasBarnekow commented on #48
@ron1010 I've checked out the master branch of the Open-XML-SDK and see this as the current commit:
[code]
When putting your solution folder on the same level as the top-level Open-XML-SDK folder, your solution loads all projects. However, there are build errors because the referenced assemblies (DocumentFormat.OpenXml.dll and System.IO.Packaging.dll) are not signed. Thus, I've turned off signing

[2015-07-21 10:49] ron1010 commented on #48
Eric, Thomas, thanks for your replies.

When Open-XML-SDK is unsigned, the WorkbookUpdate validate works. The sample Workbook with the project is valid, it was created with Excel 2013.

I have created a fork https://github.com/ron1010/Open-XML-SDK.git with one commit of the projects unsigned and working and the other, signed and not working.

The bit I don't understand is to to with the stream in

[2015-07-21 13:14] ThomasBarnekow commented on #48
@ron1010 When you look at the output generated by your code (see my previous post), doesn't that say that the workbook is invalid? The "MaxExclusive" constraint failed for two attributes.

How did you set up your solution, i.e., which Open XML SDK projects did you include and how did you configure signing?

[2015-07-21 13:17] ThomasBarnekow commented on #48
@ron1010 Why do you need to sign those assemblies anyhow?

[2015-07-21 23:25] ron1010 commented on #48
@ThomasBarnekow i don't get the 'MaxExclusive' error you mentioned. I forked the Open XML SDK, then added the WorkbookUpdate project and it validates the workbook.
I then signed the assemblies generating the Open-XML-SDK.snk, System.IO.Packaging.snk and WorkbookUpdate.snk files and adding the PublicKey option to the InternalsVisibleTo attribute in the Open-XML-SDK\src\ofapi\ofapi.cs file.

I am wo

[2015-07-22 08:34] ThomasBarnekow commented on #48
@ron1010 That is indeed interesting. This might be a "feature" in the Open XML SDK, because some of the test cases that pass on AppVeyor and on @EricWhiteDev's machine fail on my machine. This "feature" might be related to localization / internationalization issues.

@EricWhiteDev I will open an issue for this and suggest we look into it.

[2015-07-22 08:39] ron1010 commented on #48
@ThomasBarnekow, does my fork build for you ? https://github.com/ron1010/Open-XML-SDK.git

[2015-07-22 08:49] ThomasBarnekow opened #49 "Test cases failing under circumstances to be determined"
Depending on where tests are run (e.g., AppVeyor or certain other machines vs. my machine), either all tests pass or just a few tests fail.

This is the result I'm getting when running the tests in `System.IO.Packaging.Tests.dll`, using the `build.open-xml-sdk.cmd` build script:

[code]

That same build script also runs the tests contained in the `DocumentFormat.OpenXml.Tests.dll`:

[code]

Thus,

[2015-07-22 09:43] ron1010 commented on #49
@ThomasBarnekow , the System.IO.Packaging tests all pass for me. I am in AU. Please let me know if I can help with getting the tests working. Where are the tests for Open-XML-SDK? I would add the Validation issue I am having to them if I could.

[2015-07-22 09:44] EricWhiteDev commented on #49
With regards to the exception thrown in System.IO.Packaging - I believe that in some error circumstance (and only on some platforms), the XmlReader throws an ArgumentNullException instead of an XmlException.  I will go into System.IO.Packaging, see if my theory is correct, and dig down to where the erroneous ArgumentNullException is being thrown, and then throw the right exception.

The Open XML S

[2015-07-22 13:17] ThomasBarnekow commented on #49
@EricWhiteDev, I've had a brief look at the System.IO.Packaging related test. The `ArgumentNullException` is thrown by this method:
[code]
You should check `SR.NotAValidXmlIdString`. There is an issue with the resources. In the following method of the `SR` class, a `MissingManifestResourceException` is thrown when calling `ResourceManager.GetString`. Therefore, the method returns `null`, which lat

[2015-07-22 14:30] ThomasBarnekow commented on #48
@ron1010, yes your fork builds on my machine. When I run it, though, an exception is thrown as long as the assemblies are signed.

Another question is whether you'd want to move to vNext. That branch will always have the latest and greatest features before they are finally merged into master. vNext also contains all those test cases.

[2015-07-22 18:25] EricWhiteDev commented on #49
Alternatively, we could write a new set of tests that sequence through all regional settings and cultures within the test module, running the same test while changing the regional settings and culture.  The expectation is that tests should return the same results no matter what regional settings and culture are set.  We can supply it with a reasonable set of test documents (both valid and invalid)

[2015-07-22 18:27] EricWhiteDev commented on #49
Regarding the resources issue, this is good to know.  This should be easy to fix.

[2015-07-22 22:01] ThomasBarnekow commented on #49
@EricWhiteDev, I don't know whether you can change regional settings in those unit tests. You would have to make sure this all looks like the tests are run on a German, French, Swedish, Chinese, etc. Windows instance. On CI servers, we'd be talking about a "test matrix", trying out different combinations of OSes, regional settings, 32 vs. 64 bit, etc.

[2015-07-23 01:01] ron1010 commented on #48
@ThomasBarnekow , i switched to vNext, and all the tests passed. I then signed DocumentFormat.OpenXml and System.IO.Packaging, they all failed with the same exception is am having with the trunk.

Result Message:	System.Runtime.Serialization.SerializationException : Unable to find assembly 'DocumentFormat.OpenXml, Version=2.6.0.0, Culture=neutral, PublicKeyToken=null'.

[2015-07-23 09:47] akoeplinger commented on #49
FWIW, I see the same T170_InvalidRelationshipId test fail here on de-AT culture, but interestingly the DocumentFormat.OpenXml.Tests all pass.

[2015-07-23 10:24] ThomasBarnekow commented on #49
@akoeplinger, can you tell me a bit more about your machine (e.g., OS version, .NET Framework installed)? I'm running Windows 7, .NET Framework 4.5.2, with German regional settings (de-DE).

If the DocumentFormat.OpenXml.Tests all pass on your machine, we are likely talking about a different issue. But it's still strange.

[2015-07-23 10:30] akoeplinger commented on #49
@ThomasBarnekow Windows 8.1, .NET Framework 4.6, de-AT regional settings. I agree it's a bit weird :)

[2015-07-23 11:49] ThomasBarnekow commented on #48
@ron1010 and @EricWhiteDev, I think I've found the issue. The exception is thrown in the `SimpleTypeRestrictions.Deserialize(Stream, FileFormatVersions)` method, because it tries to match the full name of the assembly, using `System.Runtime.Serialization.Formatters.FormatterAssemblyStyle.Full`.
[code]
By the way, the Serialize method in that same class also uses the same value for `AssemblyFormat`

[2015-07-23 15:25] ThomasBarnekow commented on #49
@EricWhiteDev, how about your configuration? Is it possible that those differences are due to different .NET Frameworks or even OS versions?

[2015-07-23 21:00] ThomasBarnekow commented on #49
@EricWhiteDev and @akoeplinger, I found the bug that lead to the six failed tests (on my machine) within DocumentFormat.OpenXml.Tests. And let me say that this is __exactly__ the same issue that I also fixed in `HtmlConverter` in the PowerTools for Open XML.

The bug is in `SemanticConstraint.GetAttrNumVal` and is due to a wrong approach in converting strings to numbers:
[code]
With the fix, all s

[2015-07-23 21:05] akoeplinger commented on #49
@ThomasBarnekow yep, TryParse() without specifying InvariantCulture is wrong since we deal with a fixed format. Are there other similar TryParse() calls in the codebase?

[2015-07-23 21:27] ThomasBarnekow commented on #49
@akoeplinger I've not seen another related to decimal numbers (i.e., double, float, decimal).

[2015-07-23 22:12] ThomasBarnekow commented on #42
@Nautigsam Do you agree? Can we close this issue?

[2015-07-23 22:21] ThomasBarnekow commented on #16
This is addressed in #50.

[2015-07-24 04:43] EricWhiteDev commented on #44
You are absolutely correct, the Open XML SDK does not properly validate files.  It is close, but there are a number of cases where it complains about the existence of valid elements / attributes, and it does not complain about non existence of required elements and attributes.  It is close, though, and by far the best tool we have.  But it can do more.  I expect to address this, along with sample

[2015-07-24 04:53] EricWhiteDev commented on #41
Have you seen the functionality, SplitOnSections in DocumentBuilder.cs?  You pass it an open WordprocessingDocument, and it returns N documents, each document containing one section from the source document.

From a philosophical point of view, we are going to be very careful before adding markup specific functionality into the SDK.  Markup specific functionality might be better put in Open-Xml-Po

[2015-07-24 04:53] #41 closed

[2015-07-24 04:59] EricWhiteDev commented on #37
Excel, more than the other two office client apps, is extremely particular about ordering of elements and attributes.  This is because it is extremely important to get good speed out of Excel when you have huge Worksheets.

Did you validate the document using the Open XML SDK validation functionality?

Take a look at the following screen-cast on Debugging Open XML when the Office Client Crashes

h

[2015-07-24 04:59] #37 closed

[2015-07-24 05:02] EricWhiteDev commented on #35
Yes, this is a current limitation of the tool, and of the SDK itself.  Leaving this issue open - when we do the port to COREFX (the open source .NET framework) we are going to need to revisit much of the XML reading / writing code, as the SDK, I believe, uses deprecated functionality, so some code needs re-written.  We can see if we can address this issue at that time.

[2015-07-24 05:08] EricWhiteDev commented on #34
I am not even sure what that Ignore XML Namespace option does.  I have never used it.  What is the scenario that this is trying to address?

[2015-07-24 05:13] EricWhiteDev commented on #22
That value is not guaranteed to be correct.  In fact, it often will be incorrect.  This is one of the issues with Open XML - determining pagination is a big job.  (This is true for other document formats, including ODF, not just XML.)  Currently, Microsoft's advice is that if you need exact pagination information, you should automate Word.

[2015-07-24 05:13] #22 closed

[2015-07-24 05:17] EricWhiteDev commented on #42
@ThomasBarnekow I think that this is actually an issue that possibly should be fixed.  The spec does say that the value can be something like 12.7mm, and I am guessing that the SDK does not allow for this.  I think this is a bug in the SDK.  Assigning to myself.

[2015-07-24 05:18] EricWhiteDev commented on #44
Assigning to myself.

[2015-07-24 05:25] EricWhiteDev commented on #38
I'm assigning this to myself, and to version 4.0.  This is an issue intrinsic to the design of System.IO.Packaging, and we need to be careful about how we fix this.  In the meantime, the best approach is the workaround in the above comment.

[2015-07-24 05:26] EricWhiteDev commented on #16
We are creating a new milestone, 4.0, in which we will systematically correct the validation functionality.

[2015-07-24 05:27] EricWhiteDev commented on #8
Assigning this to v4.0 milestone, and to myself.

[2015-07-24 06:14] Themanwithoutaplan commented on #34
I suspect the scenario might be related to how the namespaces are declared: at what part in the document, or with a prefix. However, it seems broken at the moment.

[2015-07-24 06:14] Themanwithoutaplan commented on #34
![bildschirmfoto 2015-07-24 um 08 11 56](https://cloud.githubusercontent.com/assets/1080058/8868754/0aaac658-31dc-11e5-9cc1-427ef1d0a43c.png)

[2015-07-24 07:10] ThomasBarnekow commented on #16
Again, this is fixed in PR #50.

[2015-07-24 08:34] ThomasBarnekow commented on #42
@EricWhiteDev and @Nautigsam I've just seen that the specification of ST_TwipsMeasure changed between the 1st and 2nd edition of the standard. The 2nd edition added the option to use decimal numbers. The question, however, is which aspect has really changed.

While §22.9.2.14 (ST_TwipsMeasure (Measurement in Twentieths of a Point)) says that the contents can be "a positive decimal number immediate

[2015-07-24 09:03] Nautigsam commented on #42
That was exactly my point, and I think @EricWhiteDev got it. Thanks!

[2015-07-24 09:38] ThomasBarnekow commented on #42
@Nautigsam But mind you the issue is *not* the fact that "we use Int32 and UInt32 to store page margin values" (unless my interpretation of the standard is wrong). The issue is that the SDK might not allow an XML element like `<pgMar ... left="12.7mm" ... />`. If it allowed that attribute value, though, `myPageMargin.Left` would correctly return an unsigned integer Twips value of 720.

[2015-07-24 09:44] Nautigsam commented on #42
You are right, the problem is more in the parsing process which uses UInt32.Parse() or Int32.Parse() and ignores any possible use of unit specifier.

[2015-07-24 11:16] EricWhiteDev commented on #42
I have a few questions:
- Other than google docs, is this measurement ever written with a UOM?  I can query my document library for this.  I have been meaning to make a massive grep function for OxRunner that will quickly give a list of every Open XML document in the library that matches an RegEx, after each file has been converted to indented Flat OPC.
- How do we make a non-breaking change?  One

[2015-07-24 11:24] EricWhiteDev commented on #34
I am going to send an email to some of the folks on the original dev team, and see if anyone has any idea of what this option is for, and what it is supposed to do.

[2015-07-24 12:28] ThomasBarnekow commented on #42
@EricWhiteDev I've just played with those attributes. When you manually set the `left` attribute's value of the last section's `w:pgMar` element to `25.4mm`, for example (from whatever different value it might have had before), that new value will be picked up correctly by Word. However, should you save the document with Word, you'd then see `left="1440"` again. Word does not preserve the decimal

[2015-07-24 14:00] Nautigsam commented on #42
I agree, it's better to let the user choose how he handles values, keep UInt32 for TwipsMeasure and Int32 for SignedTwipsMeasure but provide a string property for raw value. It would be also necessary to implement these modifications for HpsMeasure, and maybe other ones. Anyway, Annex M give details about differences between ISO's version of standard and ECMA's version.

[2015-07-25 11:23] ThomasBarnekow commented on #49
Hi @EricWhiteDev,

How and when can we fix this? I've played a bit with resource files and found that this issue is due to a missing resource file. Do you have that resource file or would it have to be created?

[2015-07-28 12:08] Themanwithoutaplan opened #52 "Validator fails to notice changes to first file when comparing files"
I often use the validator to compare generated files versus ones created by Excel and tweak code as a result. If I then use the validator to compare the same files in the same order it does not seem to notice if the first file has changed.

A refresh option would be best, of course.

[2015-07-28 12:32] EricWhiteDev commented on #52
Thanks, good to know. I will assign it to myself, and for milestone 4.0 (which is after the release for Office 2016).

[2015-08-04 21:49] wryfi opened #53 "Makefile-Linux-Mono is missing"
Makefile-Linux-Mono is missing from the repository. In order to build on mono, I had to find a copy in the revision history, paste it into a text file manually, and then use it to build.

[2015-08-04 21:50] akoeplinger commented on #53
It was replaced by the [build.open-xml-sdk.sh](https://github.com/OfficeDev/Open-XML-SDK/blob/vNext/build.open-xml-sdk.sh) file, looks like the docs need to be updated.

[2015-08-04 21:57] wryfi commented on #53
Interestingly, if I copy the old Makefile-Linux-Mono and call make
directly, the build succeeds.

If I call ./build.open-xml-sdk.sh, I get the following build error:

Konsole output
Tests.cs(9,7): error CS0246: The type or namespace name `Xunit' could
not be found. Are you missing an assembly reference?

Some additional documentation or pointers would be helpful.

On 08/04/2015 02:50 PM, Alexander

[2015-08-04 22:04] akoeplinger commented on #53
That looks like restoring the NuGet packages failed, possibly because you don't have nuget installed (it should show you an error related to that though). If you're using the official Mono apt repositories, try `sudo apt-get install nuget`.

[2015-08-05 07:40] stever commented on #53
Note that the xunit tests don't work on Linux at the moment anyway. You could just call xbuild and nuget commands instead of using the shell script. Using xbuild rather than the makefile makes the build consistent between platforms, so the makefile which listed files would not be out of date. I for one had more success with xbuild.

[2015-08-18 08:41] dmunch commented on #39
The read-only bug looks like it's one of the bugs I fixed on my branch a year ago. I never came to create a pull request since the last commit on my branch breaks quite some unit tests and I had to move forward to other stuff. I still keep an eye on this stuff though.

https://github.com/dmunch/mono/commit/bee81085af07a3ef1f64c024924be63f7b0f344c

I'm not sure if it's still worth to get those fixe

[2015-08-18 11:08] akoeplinger commented on #39
There's a pending PR on Mono that seems to fix it the same way as @dmunch did: https://github.com/mono/mono/pull/1255. I'll ping them to see if it can get merged.

[2015-08-18 11:31] dmunch commented on #39
I remember a long discussion on the mono-dev mailing list about pull requests: http://mono.1490590.n4.nabble.com/Pull-Requests-td4664224.html

[2015-08-18 11:44] EricWhiteDev commented on #39
@dmunch, @akoeplinger I agree, I apologize for the slow response on this.  At the time, I was working on System.IO.Packaging, and it was taking longer than I planned for, we didn't have XUnit tests for the Open XML SDK, so difficult to validate fixes.  Also feeling pressure to get the SDK for Office 2016 put together.  But we are in a somewhat better shape now, although XUnit tests are not to wher

[2015-09-03 14:15] LeanderVanEck opened #57 "DocumentBuilder merging styles from MS Word documents created with different language settings."
When attempted to merge a document created in a Dutch office version with a document created in a English office version the resulting document ends up with default styles from both documents inside styles.xml.

 For example

 <w:style w:styleId="Normal" w:default="1" w:type="paragraph">
 <w:style w:styleId="Standaard" w:default="1" w:type="paragraph">

 This opens perfectly fine in MS Word 2010 a

[2015-09-08 14:43] hanginwithdaddo opened #59 "Request to change .xlsx file content to match standard Excel"
This is a request to change the Microsoft Open XML SDK to product .xlsx files that match Excel for Android, the OneDrive version of Excel, and Excel for Windows (Excel 2010 is the version that I tested).

Microsoft Excel for Android, the OneDrive version of Excel, and Excel for Windows (Excel 2010) all produce .xlsx files that contain a docProps folder and a _rels/.rels file whose xml content does

[2015-09-08 14:44] hanginwithdaddo commented on #59
I should note that I am using the latest version of the SDK (2.6) as posted on github.

[2015-09-08 22:49] EricWhiteDev commented on #59
Thanks for bringing up this issue.  I've assigned to myself.  I'll bring this up in a meeting with the folks in charge.

[2015-09-09 12:49] hanginwithdaddo commented on #59
Awesome! Thanks in advance for looking into this and please keep me posted so I can update our local copy with any corrections/changes. This SDK is extremely useful!
Peace,
Dave

[2015-09-15 13:54] Ganesan-Chandran opened #60 "Add snk file to System.IO.Packaging,DocumentFormat.OpenXml and PowerTools .Strong-name signed assemblies must specify a public key in their InternalsVisibleTo declarations."
Hi,

I have add latest OpenXml SDK (2.6) and PowerTools 4.0 in my project.I have added snk file to my project.I got Unable to emit assembly error.So i try to add snk file for System.IO.Packaging,DocumentFormat.OpenXml and PowerTools . For System.IO.Packaging there is no problem.But For DocumentFormat.OpenXml,After adding snk file i got below error.

Friend assembly reference 'SdbBuilder' is invali

[2015-09-16 14:25] hanginwithdaddo commented on #59
Eric, did you hear back from anyone about this yet?
Thanks,
Dave

[2015-09-18 17:04] back5576 opened #61 "Can't correlate github howto with files in release"
Github says : "In your program that uses the Open XML SDK, add references to the newly built libraries in build/OpenXmlSdkLib/Debug"
Don't see that. After running the build cmd, I have dll files in:

    Open-XML-SDK\DocumentFormat.OpenXml\bin\release

and

    Open-XML-SDK\DocumentFormat.OpenXml.WB\bin\release

and no explanation as to what "WB" means

[2015-10-06 10:27] rajcitystar opened #62 "Repeated Header and footer count"
Acutally i need to get the characters count in docx(including header and footer).
but open xml sdk is not giving header and footer part count.
now i have read the header and footer text. but I would like to know the number of time the header and footer text used in docx. so that i can multiply and get the correct count of header and footer text

[2015-10-06 10:30] rajcitystar opened #63 "Incorrect Charactes count"
Both the below
ExtendedFilePropertiesPart.Properties.Characters.InnerText and
ExtendedFilePropertiesPart.Properties.Characterswithspace.InnerText and
returns wrong values

[2015-10-27 19:06] sgutkin commented on #2
If you cannot distribute binaries why not distribute *.csproj that allow for multi targeted builds?  and perhaps a post build operation to setup the Nuget package.   If you don't know what you're doing you'll burn half a day putting it altogether.  Perhaps you could even distribute a shell of a  xxx.nupkg  file to help folks.

[2015-10-27 23:55] EricWhiteDev commented on #2
@sgutkin Unfortunately, in this area, I don't know what I'm doing, so prob will take a bit more than half a day!  :-)  Do you have any interest in putting together a post build operation to setup the Nuget package?  If you start with the vNext branch of Open-Xml-Sdk, and put together a pull request, I'll attend to it as soon as you submit it.  Then, when we have the Nuget package, I think that it

[2015-10-30 17:36] hanginwithdaddo commented on #59
Has there been any update on this issue?
Thanks,
Dave

[2015-11-02 12:27] bijiasuo2006 opened #64 "Operation is not supported."
Hi,

Below is the inner exception, seems Mono's DeflateStream not support something.

[code]

Cheers,
##

Edison

[2015-11-02 13:58] EricWhiteDev commented on #64
Hi,

Can you kindly attach the document that the SDK fails to open?

[2015-11-03 08:41] eliu03 commented on #64
Hi,
All the files in this folder https://github.com/OfficeDev/Open-Xml-PowerTools/tree/vNext/OpenXmlPowerToolsExamples/WmlToHtmlConverter01 have problem, it seems like not caused by special file.

Thanks,
--
Edison

[2015-11-04 22:11] EricWhiteDev commented on #63
@rajcitystar Can you provide more info?  The InnerText methods just return the inner text of those XML elements, akin to the InnerText methods of XML DOM APIs.  What value is it returning for you, and what value do you think it should be returning?

[2015-11-04 22:14] EricWhiteDev commented on #62
@rajcitystar The Open XML SDK does not have this feature.  In order to get this information, first we would have to paginate the document, so that we would know what the pages are for the document.  We could then, in theory, figure out which headers / footers are used.  However, there is no functionality in the Open-Xml-Sdk to figure out pagination, so this functionality is not possible.  We don't

[2015-11-04 22:14] #62 closed

[2015-11-04 22:18] EricWhiteDev commented on #61
You are right, this is not as clear as it should be.  The WB files is the Open XML SDK that is built using the old System.IO.Packaging that is in the WindowsBase assembly.  We don't recommend using that assembly, because there is the infamous 10MB bug, which is associated with IsolatedStorage.  See the following screen-cast for more information:

http://openxmldeveloper.org/blog/b/openxmldeveloper

[2015-11-04 22:18] #61 closed

[2015-11-06 03:15] EricWhiteDev commented on #59
@hanginwithdaddo We're in the middle of doing the port for Office 2016, dealing with some issues associated with how 2016 writes files.  Following that, I have some internal documentation tasks that are very high priority.  It is possible I can look at this while doing the 2016 port, but can't promise.

Also, FYI, I am on vacation, will not be back in the office until Nov 16th, so nothing will hap

[2015-11-06 03:17] EricWhiteDev commented on #57
@LeanderVanEck This should be an issue in Open-Xml-PowerTools, not Open-Xml-Sdk.  Can you please create the issue there?

When you create the issue there, it is always helpful to include sample documents, so that repro is as easy as possible.

[2015-11-06 03:17] #57 closed

[2015-11-06 03:24] EricWhiteDev commented on #44
Further notes on this -

We have contemplated adding an option to validation, which is to either validate as written by Office, or validate per the spec.

In either case, we're not going to address this until the Office 2016 port is completed.

[2015-11-06 11:00] hanginwithdaddo commented on #59
Thank you so much for your reply. I'll pass this along to the rest of my
team.

On Thu, Nov 5, 2015, 10:15 PM Eric White <notifications@github.com> wrote:

[2015-11-06 17:29] EricWhiteDev commented on #60
I'm open to incorporating this if anyone is free to do the work.  Can propose a plan of action, with proposed files to be added to the repo, and can discuss.

[2015-11-06 17:31] EricWhiteDev commented on #38
Closing this suggestion.  This is most likely not going to be implemented, so should close this issue to reflect that.

[2015-11-06 17:31] #38 closed

[2015-11-06 17:32] EricWhiteDev commented on #35
This most likely is not going to be addressed, so closing this issue to reflect that.

[2015-11-06 17:32] #35 closed

[2015-11-06 17:35] EricWhiteDev commented on #32
This issue was discussed and closed at the above link.

[2015-11-06 17:35] #32 closed

[2015-11-08 02:52] #63 closed

[2015-11-08 02:54] #20 closed

[2015-11-09 08:02] robertmuehsig opened #65 ".NET Core Support"
I just tried the .NET Portability Analyzer on the current and the vNext branch and it seems there are only a few code parts that needs to be changed to run it on .NET Core:

![image](https://cloud.githubusercontent.com/assets/756703/11028594/160756d6-86c0-11e5-8822-aff91e214b06.png)

Have you any plans to support it?

Is your System.IO.Packaging the same code as in the CoreFX (which would run unde

[2015-11-10 01:44] EricWhiteDev commented on #65
The System.IO.Packaging is the same - I wrote the new System.IO.Packaging such that it would work in .NET Core, and submitted it to COREFX, along with a different set of XUnit tests, so we are good-to-go on that front.

The Open XML SDK uses, in a few places, some deprecated classes (XmlTextReader IIRC) that are not in COREFX.  It should be trivial to convert that code to use supported COREFX clas

[2015-11-15 18:31] houssemzaier commented on #38
Hello
I have the sale problem when I want to read an Excel file containing a non valid URI I don't have any solution to this problem yet... any help please ?

[2015-11-24 09:43] gabisandor opened #66 "Breaking changes since v2.5?"
We are currently using the binary release of Open XML SDK v2.5 in our organization and we want to use Open XML Power Tools. However, it seems that the power tools strictly require version 2.6 of the SDK, so we might have to upgrade it.

Are there any breaking changes that we should know of between 2.5 and 2.6? I'm afraid I can't figure out from the repo history where 2.5 ends and 2.6 starts and wh

[2015-11-24 15:45] gabisandor commented on #2
I managed to create a NuGet feed for my personal fork of this project using the steps described here: http://weblogs.asp.net/bsimser/automatically-publishing-nuget-packages-from-github. It seems to work fine, it's uploaded here: https://www.nuget.org/packages/GabiS.OpenXmlSdk/ (please don't use it, it's just for NuGet testing purposes, nothing official).

I can make a pull request with my changes,

[2015-12-02 14:14] k59319 opened #67 "HtmlToWmlConverter for .NET 3.5"
Will you port HtmlToWmlConverter class to .NET 3.5 version of the library?

[2015-12-02 14:38] k59319 commented on #67
Sorry, wrong project.

[2015-12-02 14:38] #67 closed

[2015-12-02 23:03] EricWhiteDev commented on #67
WRT Open-Xml-PowerTools, there is a .NET 3.5 project in the directory.  You can just build for 3.5 and use it.

[2015-12-03 13:57] jmanring opened #68 "ZipArchive.CreateEntry not found."
I'm working on a simple app to merge presentations based on the PresentationBuilder example in Open-Xml-PowerTools . I have it working fine in Windows but when I push it to my Linux box, compile it in Mono it throws a "System.MissingMethodException: Method 'ZipArchive.CreateEntry' not found." error. Any idea what is going on?

[code]

[2015-12-08 09:54] sonalsatpute commented on #53
@akoeplinger:
I am trying to build the solution on Ubuntu using *build.open-xml-sdk.sh*.
I have mono working fine. I am stuck with NuGet package download *nuget restore Open-XML-SDK.sln* when I am trying to execute *sudo apt-get install nuget*  I am getting message -Unable to locate package nuget-

will you help me with installation of NuGet on Ubuntu

[2015-12-08 15:22] k59319 commented on #60
I have exactly the same issue building OpenXml SDK 2.6. There are no binaries Microsoft.com website, no nuget package, and it's impossible to build it straight from the sources. Do you have any updates on this issue?

[2015-12-10 14:05] gabisandor commented on #60
@Ganesan-Chandran : you have to modify the InternalsVisibleTo declarations so that they contain the public key besides the assembly name, it worked for me.

However, i was not successful in the end, even after i sign all assemblies many of the unit tests fail due to some deserialization problems involving .bin files in src\GeneratedCode. I have honestly no idea how to solve this properly.

Another

[2015-12-10 14:24] akoeplinger commented on #60
@gabisandor Strong Name signing is not a security feature. See https://msdn.microsoft.com/en-us/library/wd40t7ad(v=vs.110).aspx:

[2015-12-10 14:32] gabisandor commented on #60
@akoeplinger: Hmm, i'm confused about this. What's stopping then someone from getting the private key which is now available to everyone, use it to sign his own assembly name DocumentFormat.OpenXml and impersonate maliciously this official assembly?

[2015-12-10 14:33] akoeplinger commented on #60
@gabisandor nothing, that's the point. If you want security, you need to Authenticode sign the assembly. Strong Names are not the right tool for that.

[2015-12-10 14:34] gabisandor commented on #60
@akoeplinger: So it seems i mixed these 2 distinct concepts all this time :). Thanks for pointing this out!

[2015-12-10 14:37] akoeplinger commented on #60
@gabisandor don't worry, it's a *very* common misconception :)

[2015-12-12 21:58] sergey-tihon commented on #2
I probably can help with it.

It should be pretty simply if you are open to add dependency on [FAKE](http://fsharp.github.io/FAKE/) (I will use it to script build steps for Open-XML-SDK).

[Lots of OSS projects](http://fsharp.github.io/FAKE/users.html) already use FAKE and love it.

Release process can be as simple as run `build Release` in you console. We popularize this approach in [ProjectScaff

[2015-12-14 09:54] gabisandor commented on #2
If this ever materializes officially, i would highly appreciate if all the assemblies published in the NuGet package were signed.

[2015-12-21 05:29] santochan opened #69 "Can't open file: Absolute URIs are not supported"
I'm running OpenXMLSDK(2.5.0) on Mac OS 10.11.2 (EI Capitan) with Mono 4.2.1 .
When I'm trying to open a Docx file, I got this exception:
 `targetUri Parameter name: Absolute URIs are not supported`

My code is below:

[code]

Error stack:

[code]

Does anyone know what is the problem here? Thank you.

[2015-12-31 03:13] rjmille2msft opened #70 "Receive exception when accessing SharedStringTablePart from multiple threads simultaneously"
I get this exception even when I open the file using read only attributes.  So why couldn't multiple threads that have a read only view of the file open be able to read the SharedStringTable Part?

[code]

System.IO.InvalidDataException was unhandled by user code
  HResult=-2146233087
  Message=A local file header is corrupt.
  Source=System.IO.Compression
  StackTrace:
       at System.IO.Compres

[2015-12-31 07:36] mojtabakaviani opened #71 "Open XML SDK Documentation and Samples"
work with open xml sdk not easy and not enough documentation in internet.
we needs more documentation and samples for new features and advanced capabilities.

[2015-12-31 10:26] ThomasBarnekow commented on #71
There is a ton of documentation, e.g., on http://openxmldeveloper.org and https://msdn.microsoft.com/en-US/en-en/library/office/bb448854.aspx

Just google "OpenXML SDK".

[2016-01-13 18:54] KennedyTedesco commented on #69
+1 The same issue here using Mono.

[2016-01-14 04:55] EricWhiteDev commented on #69
The SDK hasn't been systematically checked out with Mono, although I have heard anecdotal reports of success using it.  I have successfully made a 'hello world' Open XML SDK app using Mono, but that's about it.

There have been reported issues associated with the implementation of System.IO.Packaging that comes with Mono - minor variations in semantics in certain limited scenarios that cause error

[2016-01-14 10:34] Suriman opened #72 "Support for .NET Core"
It would be very useful that Open XML SDK will be ported to .NET Core.

Thanks!

[2016-01-15 10:27] eriawan commented on #72
@Suriman ,

This would not be possible in the near future. There's a dependency on WPF assembly, WindowsBase.dll.

In broader sense, porting to .NET Core will also means to be able to run under other OS, and therefore  making OpenXML SDK to be cross platform.
Unless OpenXML SDK dev team has found solution to provide same functionality to replace this WPF dependency, we could not port to .NET Core

[2016-01-15 10:35] eriawan commented on #72
Ah, this issue should be closed, it's already discussed in #65.
I'm glad to know that System.IO.Packaging is ported to be in .NET Core 5 :smile:

ping @EricWhiteDev

[2016-01-20 22:53] JaredShaver commented on #65
Since the .NET Core ecosystem heavily relies on NuGet packages will issue #2 be addressed as part of this?

[2016-01-21 06:41] anantu commented on #2
Isn't this "OpenXMLSDK-MOT" package official? It's by Microsoft Open Technologies Inc.

[2016-01-22 13:13] Numpsy commented on #39
fwiw, I just fell over this issue when trying to get some Windows document handling code running under Mono 4.2.2 on OSX, with an older version of the SDK.
It seems ok with a local build of Mono 4.3.3, but it would have been nice if the patch linked above could have found its way into a 4.2.x build, given how simple the fix seems to have been.

[2016-01-22 13:21] akoeplinger commented on #39
@Numpsy yeah, the release cycle for Mono 4.2 was quite long and for the current service release only high priority fixes went in. We'll be branching for Mono 4.4 in the near future and as you said it'll contain the fix.

[2016-01-22 14:55] Numpsy opened #73 "[OSX] test failures due to hard coded path separators?"
I just tried to run some document handling code that i'm trying to port from Windows to OS X/Mono using the latest SDK/system.io.packaging, and some some errors that seem to be down to zip handling.
I thought i'd give the units test a go to see what those do, and got rather a lot of failures.

However, looking at the output, a load of those look as though they could be down to hard coded path sepa

[2016-01-22 16:36] Numpsy commented on #64
i get loads of these errors when trying to run the SDK unit tests on Mono/OSX. e.g.

[code]

Debugging it, inside ZipWrappingStream, we have

[code]

But in these test cases _packageFileAccess is ReadWrite, so it calls _baseStream.Length (where _baseStream is a DeflateStream, whose Length property is apparently supposed to throw according to the MSDN),

[2016-01-24 02:40] EricWhiteDev commented on #73
I'm not surprised.  This definitely needs addressed.  One of the action items coming up is to port the Open-Xml-Sdk to COREFX, which is multi-platform, so this certainly will be addressed in that process.

I think I am a couple of months out from tackling this work.  Of course, pull requests are welcome.  :-)

[2016-01-24 03:51] EricWhiteDev commented on #70
@rjmille2msft Unfortunately, we know that the Open XML SDK is not thread safe.  Making it be thread-safe would entail going through the code with a fine-toothed comb, identifying and fixing some known static state.  Further, it would entail identifying the key scenarios, and writing XUnit tests that exercise the functionality in those scenarios, and fixing the SDK as appropriate.  This task is not

[2016-01-24 03:54] EricWhiteDev commented on #66
There are no breaking changes between 2.5 and 2.6.  There are tags on the master branch, if you want to find out the specific changes.  The key difference was the new System.IO.Packaging, which fixes a crappy bug in the System.IO.Packaging that comes from WindowsBase.

The latest Open-Xml-PowerTools still works with 2.5.  You just need to compile / link appropriately.

[2016-01-24 03:54] #66 closed

[2016-01-24 03:55] EricWhiteDev commented on #65
@JaredShaver It is possible that issue #2 will be addressed as part of this.  It depends on how much extra work will be involved.

[2016-01-24 05:03] rjmille2msft commented on #70
I could understand this being an issue if I had the document open for read/write, but when it is opened read-only shouldn't it be somewhat easier to implement the multi-threading?

Randy

Sent from my Windows Phone
________________________________
From: Eric White<mailto:notifications@github.com>
Sent: ‎1/‎23/‎2016 8:51 PM
To: OfficeDev/Open-XML-SDK<mailto:Open-XML-SDK@noreply.github.com>
Cc: Rand

[2016-01-25 13:36] Numpsy opened #74 "[OSX/MONO] 'The entry is already currently open for writing' errors when running tests"
When trying to run the unit test of OSX/Mono 4.3.3, I get some test failures along the lines of

[code]

Which look to be down to calling zipStreamManager.Open twice in ZipPackagePart.GetStreamCore() (https://github.com/OfficeDev/Open-XML-SDK/blob/vNext/System.IO.Packaging/ZipPackagePart.cs#L50).

Not sure if there is a Mono issue here with something not being closed, but besides that, is it actua

[2016-01-25 18:22] Numpsy commented on #74
Actually, seems like a more general lssue with ZipArchiveEntry always being 'open' after being opened once (Open() just checks if the existing stream is non-null, and throws even if the stream has been disposed).
The tests have more of these exceptions where OpenXMLPackage.Dispose() tries to write any changes to the archive, and it fails because it thinks they're already open for write.

I guess t

[2016-01-25 18:31] Numpsy commented on #64
For a little more info, the unit tests get a lot of these errors from OpenXMLPart.LoadDOMTree(), which it seems only wants to know if there is data in the stream rather than what the length is.
Not sure if there is anything that can be changed to work around the issue? (maybe decompress the data and Load the Part from that? Doesn't seem ideal to read all the data to work out the length and then re

[2016-01-26 00:45] EricWhiteDev commented on #64
Thanks, good information to know.

It may be desirable to modify the API for System.IO.Packaging a little bit.  The above hack, which I wrote when re-writing System.IO.Packaging is certainly less than ideal.  In the end, I left that hack in there because a) parts are small, so overhead is not too bad, and b) testing indicated that the perf of the new System.IO.Packaging was within 5% of the old on

[2016-01-26 01:00] EricWhiteDev commented on #74
This was an issue that I ran into when doing the new implementation of System.IO.Packaging.  The old System.IO.Packaging (from the WindowsBase assembly) was forgiving if an application opened a stream more than once.  The old System.IO.Packaging was based on a hacked internal implementation of Zip files, and this internal implementation did not complain if an app opened a stream twice.  There are

[2016-01-26 11:57] Numpsy commented on #64
Hmm, might it be possible for ZipWrappingStream.Length to make use of _zipArchiveEntry.Length in the case where the archive mode is ZipArchiveMode.Read, rather than copying the stream?

[2016-01-27 13:05] Numpsy commented on #74
At a low level, the code

[code]

Works on .NET4.5 (VS 2015), but on Mono throws an 'already open' exception at the second open. Assuming this is supposed to work, it seems like a Mono issue?

[2016-01-27 13:28] EricWhiteDev commented on #74
Good information.  This sheds some light on the issue.  This certainly does seem to be a Mono issue.

Question: what happens if you explicitly close the stream inside the using statement?

[2016-01-27 13:29] EricWhiteDev commented on #64
I seem to recall trying that.  I worked on this issue for a bit of time before resorting to the hack.

[2016-01-27 14:05] Numpsy commented on #74
That doesn't change anything.

The check in ZipArchiveEntry.Open is just

[code]

Changing it to check if the stream is non-null yet disposed (or if CanRead/CanWrite/CanSeek are all false at least) avoids the error, but I'm not sure of there are other issues elsewhere.
I'll mention it on the Mono making list and see.

[2016-01-27 14:51] EricWhiteDev commented on #74
Thank you.  Will be curious to see if you get a response.

It probably is not doable to avoid this through the SDK - it relies in many places on opening / closing streams working.

[2016-01-27 15:11] Numpsy commented on #59
This issue seems to be causing problems for the SDK itself when trying to read files on OS X, because it thinks that the path to the custom.xml is absolute rather than relative, and throws.

(In InternalRelationShipsCollection.ProcessRelationshipAttributes(), the

[code]

returns a Uri of with an AbsoluteUri of "file:///docProps/custom.xml", and IsAbsoluteUri=true).

[2016-01-27 15:26] Numpsy commented on #59
(above post of course relating to opening files which have custom document properties in the docprops/custom.xml file)

[2016-02-01 01:56] sgryphon opened #75 "[Feature] Make this library available via a NuGet package"
This package should be available on NuGet

[2016-02-01 02:16] sgryphon commented on #75
Don't worry - found it https://www.nuget.org/packages/OpenXMLSDK-MOT/

Just very far down the list (second page) when trying to find -- mostly I found the 2.5 version.

[2016-02-01 02:16] #75 closed

[2016-02-04 12:23] adrien-constant commented on #65
I would really be interested in having the support for .NET Core.
My project had to drop dnx50 because of this.

[2016-02-10 21:06] accidentaldeveloper commented on #2
Can you please confirm whether the mentioned Nuget package is "official? It gives some appearances of being official, but I'm not confident that it is.

https://www.nuget.org/packages/OpenXMLSDK-MOT/

[2016-02-11 00:14] EricWhiteDev commented on #2
Not official, but I have connected with Ranji Venkatesh, he is volunteering to keep them up to date.

[2016-02-11 10:59] robertmuehsig commented on #2
This is official enough for me ;) - thanks! :+1:

[2016-02-19 15:20] jmclej opened #76 "openxml doesn't retrieve the same value than what VBA gives"
Hello,
I am using open xml sdk 2.5 with Visual Studio C# and I have noticed a bug and I am asking you if you could correct it please?
I have the cell D5 in an Excel spreadsheet that contains the formula "=3000000/D10" and D10 cell contains the formula "=1.41973/1.2939".

When I read this cell within VBA macro like this : Worksheets("My sheet").Cells(5, 4), I get 2734111.41555084 but when I read it

[2016-02-19 16:18] EricWhiteDev commented on #76
Hi,

The Open-Xml-Sdk gives *exactly* the values that you find in the excel file, which are definitely different from what you see in VBA.

The issue is pretty complicated - the values that you see in VBA have been formatted per the styles part, and it is non-trivial code to apply that information.

I recently put together a module that goes a long way towards getting the values that you want.  Pl

[2016-02-23 00:39] Numpsy commented on #74
Ok, a fix for the issue has been made to Mono

https://github.com/mono/mono/pull/2659

hopefully it'll be ok in Mono 4.3 :-)

[2016-02-24 17:14] gabisandor opened #77 "Validator reports error for valid "0" values in pageSetup attributes"
I identified the following attributes in pageSetup that trigger a "Sem_AttributeValueDataTypeDetailed" error when they have value 0:

"copies",
"firstPageNumber",
"fitToHeight",
"fitToWidth",
"paperSize",
"scale",
"verticalDpi",
"horizontalDpi"

The value 0 is acceptable in the specification: [https://msdn.microsoft.com/en-us/library/documentformat.openxml.spreadsheet.pagesetup(v=office.14).aspx](

[2016-02-25 08:11] EricWhiteDev commented on #77
@gabisandor Noted.  I am addressing some validation errors for v3.0.  Not sure if this fix will make it in, but in any case, we will leave the issue open.

[2016-02-25 08:52] gabisandor commented on #77
@EricWhiteDev I see, thanks. I'm wondering if the validation fixes will include something related to this: http://openxmldeveloper.org/discussions/formats/f/14/p/8638/164860.aspx.

[2016-02-25 14:39] EricWhiteDev commented on #77
@gabisandor Yes, I have already addressed w:smtClean in v3.0.

[2016-02-27 19:20] goodhisotry commented on #42
I downloaded Preview of the Open-Xml-Sdk v3.0.
But this issue isn't left unsolved.
Could you let me know what's going on?

[2016-02-27 20:32] EricWhiteDev commented on #42
Just checking, did you check out Office2016 branch? Please upload a file that does not validate properly.  Cheers

[2016-02-27 21:59] goodhisotry commented on #42
@EricWhiteDev.
Thank you for your repray.
I will attach the file.
[schemas_openxmlformats_org_wordprocessingml_2006_main.zip](https://github.com/OfficeDev/Open-XML-SDK/files/149587/schemas_openxmlformats_org_wordprocessingml_2006_main.zip)

[2016-03-02 14:12] Numpsy commented on #64
A little more fishing around in some test failures (e.g. T131_String_OpenOrCreate_ReadWrite_Star ) shows up another possible Mono issue.

Seems that code along the lines of

[code]

Will manage to write to the stream on MS.Net, but will throw a 'Stream is not writeable' exception on Mono (looks like the stream returned from Open is a DeflateStream in decompress mode, which you can't write to).

[2016-03-03 02:25] santochan commented on #69
Thank a lot for introducing COREFX. I'll try it out!

[2016-03-03 14:13] EricWhiteDev commented on #64
This is going to require some research.  I am currently putting together the next version of System.IO.Packaging for COREFX, so is an opportune time to dig in.  I'll see what I find out...

[2016-03-03 20:29] Numpsy commented on #64
I put what I found in a Mono bug: https://bugzilla.xamarin.com/show_bug.cgi?id=39282

I'm thinking that Mono just isn't handling streams in update mode archives correctly, but i'm still getting to grips with how the flags and modes work, so it'll be nice to get comment from someone who knows.

I see 23 failures when running the Packaging tests on the current Mono Master/Linux, with most of those d

[2016-03-04 11:22] george-polevoy commented on #2
Unfortunately the mentioned above is not quite official enough for my company just yet, so we are building it locally for now, but would definitely switch to an official version as it's available.

Any movement in this direction yet?

[2016-03-04 11:49] george-polevoy opened #81 "Move to Automatic Package Restore process for nuget"
Consider moving from outdated MSBuild-Integrated package restore to Automatic Package Restore, which is a recommended way for nuget.

Basically this means that the .csproj files do not contain nuget related build targets, and there is no nuget.exe in the source code repository.

Visual Studio handles the new scenario automatically, and many CI servers also have this feature: [Building a C#, F#, or

[2016-03-04 15:28] george-polevoy commented on #2
@EricWhiteDev
I am working on the nuspec files to contribute for the DocumentFormat and PowerTools. What is the version top up mechanism you are using?

I'm building vNext  515cbde73c03f330819f288bf8549057da4c1a0a
The version in the AssemblyInfo.cs is: 2.6.0.0

[2016-03-05 00:05] EricWhiteDev commented on #2
@george-polevoy I didn't do the work to create that Nuget package.  I don't know what the best top up mechanism is.  I am happy to hear/take your recommendation.  If you put this together, then can we include it in the repo, in such a way that when we create a new release, we can easily update the NuGet package?

[2016-03-06 21:24] george-polevoy commented on #2
@EricWhiteDev
I discovered a dependency on System.IO.Packaging.
It seems it should go into another package.
Is it the original code base for System.IO.Packaging, or it's just a copy? Should we create a nuget package for it, or source it from somewhere else?

[2016-03-06 21:29] sergey-tihon commented on #2
@george-polevoy I think the source code of `System.IO.Packaging` should be in another repo with separate release cycle and NuGet package

[2016-03-07 15:06] kfertitta commented on #2
I'm glad to see the work going on here with the NuGet package development but wondering if as part of this we will address the issue with strong-naming these assemblies.  I've spent quite a bit of time charging down the same path as #60 with the exact same results.  I've also investigating using ILMerge to work around the issue, but it has trouble specifically with the case of resources referring

[2016-03-07 21:04] robertmuehsig commented on #2
I would strongly recommand you to stop the strong-naming stuff, because it is basically useless for most use cases, but I don't want to start a new discussion on "pro/contra strong-naming", because there are tons of discussions on this topic out there. (e.g. [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/strong-name-signing.md))

[2016-03-07 22:00] kfertitta commented on #2
Yeah, don't want to start that discussion either, as I'm very familiar with all of the arguments -- most of them simply ignore reality in one sense or the other.  The v2.5 SDK was strongly named, so I suspect v3.0 will eventually be if it's to be part of the framework.  As such, is that going to cause a problem for you in your app to the extent you'll continue to build and deploy from the GitHub r

[2016-03-07 22:27] robertmuehsig commented on #2
Currently we use a very unofficial NuGet package (http://www.nuget.org/packages/DocumentFormat.OpenXml/) for our commercial app, but other companies have other rules, so a first step would be a NuGet package build from this repo.

[2016-03-07 22:32] kfertitta commented on #2
Hi Robert,

Thanks for the reply.  Indeed, getting a NuGet package together, even if it's just for our own private use, is the right way to go.  The difficulty is in building the source with a string name.  There are some binary resources used for some of the schema validation stuff that seem to have assembly references in them, and those assembly references will not resolve when you build the rep

[2016-03-07 22:37] robertmuehsig commented on #2
Nope, we started some years ago and tried to strong name our stuff, but then we took dependencies on other libraries (mostly OSS) - first we cloned the code and signed it with our own cert, but it was pretty complicated and the whole strong naming discussion lead us to our current "don't use strong naming at all"-policy.

[2016-03-07 22:41] kfertitta commented on #2
Gotcha.  Yeah, you can do that if you control the whole stack.  Sadly, for our current application, we don't.  Have to comply with some official specs that require use of the GAC, policy file versioning, etc.  So, we have to deal with strong names.  For now, I'm having to fallback to v2.5 to get any of our codegen working, but I'll want to be using the HtmlConverter, which relies on the newer stuf

[2016-03-08 00:54] EricWhiteDev commented on #74
Fantastic.  Is there any info on when 4.3 will be available?

[2016-03-08 01:39] akoeplinger commented on #74
It's in the branch that will become the next stable Mono (v4.4) and should already be in the current build that is in the alpha channel right now :)

[2016-03-08 08:39] gabisandor commented on #2
Hi everyone.

Just as a reminder for anyone wanting to grab the code and sign the assemblies themselves, with their own key, this is achievable but first you have to change line 305 in SimpleTypes.cs from FormatterAssemblyStyle.Full to FormatterAssemblyStyle.**Simple**. See https://github.com/OfficeDev/Open-XML-SDK/issues/60 for more details.

[2016-03-08 13:55] kfertitta commented on #2
Ah, yes, I missed that Update 2 portion.  This is definitely in the bit of code that was causing an issue (hopefully the last).  I'll give that a try.  As the OP points out, however, a signed NuGet package really would enable more folks to work with the tooling more easily.  Thanks again for your assistance here.

[2016-03-09 10:01] robertmuehsig opened #83 "Multiple w:tr's in one content control"
Hi
I'm not sure where to ask, but I saw some "spec"-questions in the past, so I hope this is not the worst place.

We are building a document-engine, which is able to iterate over any content and bind it via content controls.

One idea was, just to mark one Table-Row and insert put this in one content control, e.g.:

			<w:sdt>
				<w:sdtPr>
					<w:id w:val="-1520543329"/>
					<w:placeholder>

[2016-03-11 09:36] robertmuehsig commented on #2
@EricWhiteDev @sergey-tihon @george-polevoy The [current NuGet package](https://www.nuget.org/packages/OpenXMLSDK-MOT/) ships with System.IO.Packaging.

As far as I know, the System.IO.Packaging stuff will end up in the .NET Core FX - so in the future there will be a seperate package, right?
In the mean time, we could build a NuGet package, which contains the System.IO.Packaging dll and the OpenXm

[2016-03-13 21:33] sergey-tihon commented on #73
separators should be fixed in #82

[2016-03-13 21:38] sergey-tihon commented on #74
The same error on Mono 4.3.2 from alpha channel https://travis-ci.org/sergey-tihon/Open-XML-SDK/jobs/115731149#L2623
In #82 I have tried to run on `latest`, `alpha` and `beta` versions on Mono https://travis-ci.org/sergey-tihon/Open-XML-SDK/builds/115731147 Tests fails on all of them.

[2016-03-13 21:43] sergey-tihon commented on #2
NuGet package creation was automated in #82 (without signing)

[2016-03-13 23:17] Numpsy commented on #74
I also got 23 failures in Packaging.Tests last time I tried them, but that was down to #64 rather than the open streams issue.

[2016-03-18 01:37] EricWhiteDev opened #84 "Open XML SDK does not properly process MP4 files"
From a forum post:

Please take a look at the code I got from PresentationBuilder::CopyRelatedMedia and the definition of DocumentFormat.OpenXml.Packaging.MediaDataPartType.

Since MediaDataPartType doesn't have mp4 in its enumeration, PowerTools GetMediadataPartTypeFromContentType uses the default value - MediaDataPartType.Wmv - as mp4 media type. That is why mp4 file cannot be played correctly.

[2016-03-18 03:20] SergeyKn opened #85 "'Invalid Hyperlink' exception when opening the document"
OpenXML version: 2.5.5631.0

When I worked with one of the documents I found out that
`WordprocessingDocument::Open(gcnew String(documentName), true)` throws an exception
_Invalid Hyperlink: Malformed URI is embedded as a hyperlink in the document._

There is no other way to continue working with the document except of removing that hyperlink.
Attached problematic document.
[APPSERVER.docx](https:

[2016-03-18 06:31] sharpoverride opened #86 "Invalid path to xl workbook"
The following code code creates absolute paths to worksheets. The issue reproduces with latest version on master. It creates an invalid entry in `/xl/.rels/_rels`
[Sample document.xlsx](https://github.com/OfficeDev/Open-XML-SDK/files/179156/document.xlsx)

Excel 2013 fails to load this as the relationship for the worksheet is referenced by an absolute path
`<Relationship Type="http://schemas.openx

[2016-03-18 23:26] kfertitta opened #87 "Productivity Tool validation vs OpenXmlValidator"
I'm seeing the OpenXmlValidator v2.6.0 report some errors not being reported by the 2.5 SDK Productivity Tool.  Is this to be expected?

[2016-03-23 11:05] george-polevoy commented on #2
@EricWhiteDev @robertmuehsig

I'm proposing movement to a separate repo for System.IO.Packaging and making it a nuget package, as @sergey-tihon suggests.

Please have a look at the experimental
https://github.com/george-polevoy/System.IO.Packaging - a repository split for SIP
https://github.com/george-polevoy/Open-XML-SDK (would issue a pull request if the above adopted officially)

The repository

[2016-03-23 12:19] ghost opened #88 "Incorrect path in Target attribute of <Relationship> tag"
Relationship tag in /_rels/.rels after creation by SDK:
`<Relationship Type="http://schemas.openxmlformats.org/officeDocument/2006/relationships/officeDocument" Target="/word/document.xml" Id="Rc15b273bb4a243cd" />`
Can open document with MS Word: **yes**
Can open document with OpenOffice: **no**

Relationship tag in /_rels/.rels after creation by SDK **and resaving by MS Word**:
`<Relationship Ty

[2016-03-23 12:50] Numpsy commented on #88
Sounds like the same issue as #59 and #86? (affecting all the office apps with various problems occuring as a result).

[2016-03-23 12:53] mif007 commented on #88
Yes, you are right.

[2016-03-24 14:43] wmccullough commented on #65
Just curious to see how this is going. I'm in the same boat as @adrien-constant

[2016-03-28 14:29] george-polevoy commented on #2
@EricWhiteDev @robertmuehsig @sergey-tihon
I have summarized what I'm proposing in [Publishing a .NET project with Appveyor and NuGet](http://few-lines-of-code.blogspot.com/2016/03/publishing-net-project-with-appveyor.html) on my [Few Lines of Code](http://few-lines-of-code.blogspot.com) blog.

[2016-04-04 22:30] abelondev commented on #39
So is there workaround?

[2016-04-05 13:24] Numpsy commented on #39
It seems to be working in the 4.4.0 alpha, I don't know beyon that.

[2016-04-10 10:25] diimdeep opened #89 "Provide official SDK in chocolatey, NuGet, OneGet"
Didn't find any, in 2016 devs should be able to install that kind of stuff from cli.

[2016-04-10 15:46] kwaazaar commented on #65
.net core would be a GREAT plus, since it supports running our solutions on Mac, Linux and even Docker! It may even enhance performance, since .NET core makes some promises on that as well. :)

[2016-04-15 10:24] broegger111 opened #90 "SpreadSheet custom map add x: to defaultNamespace"
Changing an OpenEmlElement in a CustomXmlMapping adds the prefix x to the default namespace.
This results in the new xlsx file cant map to the schemas in excel.

[2016-04-20 07:50] wldevries commented on #89
duplicate of #2

[2016-04-21 08:55] huanacaraz opened #91 "Validation fails for different culture"
Hello, didnt found this in list of bugs so reporting it here.
When I run the tests, this three OpenXmlSimpleValueTest tests fails for me:
DecimalValueTest
DoubleValueTest
SingleValueTest
and one OpenXmlSimpleValueTest2:
SingleValueTest
(in this case the tests pass for double and decimal because they are missing real decimal number test - the value 765.43211234E11 is actually without decimal point,

[2016-04-26 09:03] terodelarosa commented on #64
Hello and thank you for the effort on making the SDK work on Mono. Sadly, this is the same error that I'm getting after having solved [this one](https://github.com/OfficeDev/Open-XML-SDK/issues/74) by updating to mono 4.4 alpha where it was fixed. I'll be following the issue hoping to get this working some day.

[2016-05-03 16:19] EricWhiteDev commented on #87
I'm not certain.  Exactly what differences in errors are you seeing?

[2016-05-04 14:29] meshrajk opened #92 "Changing Document Type Renames Workbook.xml to Workbook2.xml"
I’m using the below code to convert .xlsx to .xlsm. But for some reason, it is changing “xl\workbook.xml” to “xl\workbook2.xml” making the workbook unavailable moving forward for other libraries like EPPlus or ClosedXML. We use these for more modification of the workbook/vbaproject etc.

Is it by design or its a bug? Is there any alternate way we can convert document to macroenabled?

[code]

[2016-05-04 14:51] nickgsoft opened #93 "OpenXML integration with Windows RMS (Right Management Services)"
I got requirement to Export Excel with integrating the Windows AD RMS ( Active Directory Right management Service) integration.  I mean is there any way we can use ClosedXML or OpenXML SDK and create some security that Excel can be accessed by Users defined in AD RMS Security configuration??

I know it is complex requirement, and i did search but looks like there is no way at this moment.

Can any

[2016-05-17 10:29] timbophillips commented on #65
+1 from me on this one

[2016-05-19 05:47] avishnyakov commented on #81
+1

[2016-05-19 05:47] avishnyakov commented on #89
+1

[2016-05-19 05:47] avishnyakov commented on #2
+1, 2.6 not in the NuGet, only source code in the release, seriously?

[2016-05-23 21:08] xrkolovos commented on #65
now that we have the new NET Platform Standard system and .net core rc2 might be the time for this features.. :)
+1

[2016-06-02 13:27] okravchuk opened #94 "Incorrect font names when chart added from Excel to PowerPoint"
Dear all,

Chart in Excel has Calibri fonts.
If it's added to PowerPoint from Excel with OpenXML it gets Arial fonts.

I created a test solution to show this issue. You can find it in my repository: https://github.com/okravchuk/public/
Filename: TestOpenXmlFont.7z

Thanks, Oleksiy

[2016-06-13 23:25] miguelzf commented on #64
Hello

I'm trying the TextReplacer example. All the test doc's fail with the following exception:

Unhandled Exception:
System.NotSupportedException: Specified method is not supported.
  at System.IO.Compression.DeflateStream.get_Length () <0x407e0770 + 0x00017> in <filename unknown>:0
  at System.IO.Packaging.ZipWrappingStream.get_Length () <0x407e0640 + 0x0010b> in <filename unknown>:0
  at Open

[2016-06-17 02:03] ImmePak opened #95 ".NetCore 1.0 RC2 Support"
[code]

when trying to install pakage into .NETCore 1.0 RC2 MVC application

is any new version? that i can use in my app ?

[2016-06-20 18:48] saukun opened #96 "Support for UWP"
Would it be possible at all?

[2016-06-21 08:56] niwrA commented on #91
I also noticed this. You can easily fix these tests (I tried) by adding CultureInfo.InvariantCulture to the ToString() method as follows:

            Assert.Equal(((float)765.43211234E11).ToString(CultureInfo.InvariantCulture), target.InnerText);

[2016-06-22 12:33] marspd commented on #65
Any progress on porting to .Net Core at all
+1

[2016-06-25 22:17] xrkolovos commented on #95
#72 #65 also mention this. We await this feature. On monday .net core is rtm

[2016-06-25 22:38] xrkolovos commented on #65
rerun portability report
![image](https://cloud.githubusercontent.com/assets/517802/16359481/8adf12c2-3b3e-11e6-9db8-3c0677fe1558.png)

[2016-06-27 10:26] arlm opened #98 "Where are the w:headers and w:header elements?"
I understand that WordprocessingML got w:headers and w:header elements added on the standards, so that w:tcPr can have a w:headers child and the latest could have any amount of w:header elements as children.

I could not find any reference or matching element whatsoever to use it. How could one get a reference to these elements by class name?

And

[2016-06-27 11:02] thanhvyit opened #99 "OpenXML doesn't retrieve correct display formatted data"
In excel file, the data is displaying these values:
232.2342
343454
3.343
43.4343
43.343
345.545
54.454

But when I use OpenXML for retrieve data, it show me different with more than decimal point:
232.234200002
343454
3.3429999
43.43430345234
43.3429999
345.545
54.454

This is my testing code:
`string value = null;

[code]

[2016-06-27 16:02] tritao commented on #64
We've put some more fixes in place in Mono that should help some of the problems mentioned in this issue. Please try the latest System.IO.Compression assembly from Mono and report any problems left so we can get them fixed.

[2016-06-27 18:43] Numpsy commented on #64
I gave it a go, and put some info about some issues I saw in the bugzilla entry at https://bugzilla.xamarin.com/show_bug.cgi?id=39282 (some of which relate to this problem, and an extra one that might be a separate bug in SharpCompress)

[2016-06-29 15:26] Numpsy commented on #64
Right, using Mono master as of this morning, I see various extra operation not supported errors from the Packaging tests, which have different call stacks that before. e.g.

[code]

Looking at it, it seems that other changes in Mono master have caused more instances of the issue.
For example, the test

[code]

completes on Mono 4.4.0, but throws a not supported error on Master. Looks like XmlReade

[2016-06-29 16:01] DavidMoraisFerreira commented on #65
Any updates?

[2016-07-01 14:06] tritao commented on #64
@Numpsy feel free to give it another try with latest master.

[2016-07-01 16:13] Numpsy commented on #64
Right, good news. Using the vNext branch of the SDK and the current master branch of Mono:

The System.IO.Packaging tests get 4 failures, where there were 23 before.
The DocumentFormat.OpenXML tests get 264 failures, when the were ~400 before.

The 'Operation is not supported' errors seem to have all gone :-)

Also, a big chunk of those other failures are down to path issues when running on OSX/Li

[2016-07-05 15:28] HowardRubin opened #100 "Open-XML-SDK on Linux"
Now that Microsoft has bought Xamarin, when will there be a way to output OOXML on Linux? The mono migration analyzer reports 34 problems with the Open-Xml-Sdk (see below)

I need to know because I'm on a team that maintains our application that outputs ooxml. I'd ask on OpenXMLDeveloper.org, but that website has been decommissioned, and Eric White has been pulled from the project.

libopc looks l

[2016-07-05 16:19] Numpsy commented on #100
Are you sure that the report from MoMa is correct? Last time I tried it, it seemed to be somewhat out of date with the actual state of Mono.

I've been building the SDK with Mono on OSX and it builds fine, though there are a load of failures in the unit tests (getting better now though). I haven't tried it on Linux for a while, but I don't think the implemented libs should be behind OSX?

[2016-07-05 18:14] xrkolovos commented on #100
#72 #65 #95 #96
many people wait this

[2016-07-06 00:08] Supratentorial commented on #65
Any update on this?

[2016-07-06 15:21] xrkolovos commented on #65
Last night i created this. I tried out before for our project and it works fine.
[Open XML SDK for NET Platform Standard 3 & .net Core](https://github.com/xrkolovos/Open-XML-SDK-for-NET-Platform-Standard)

It's not proper code, but a first try to help this community. If someone wants to help i can add him to this repo.

[2016-07-07 07:58] xrkolovos commented on #65
this might help more -> https://github.com/dotnet/corefx/issues/9635

[2016-07-12 11:39] ph1ll opened #101 "GenerateCode Functionality"
I am currently trying to port this to NetStandard for use in .NET Core projects and am having difficulty replacing BinaryFormatter (not available in .NET Core) due to missing the functionality to regenerate the serialised schemas using a .NET Core supported serialisation method:
- O12SchemaConstraintDatas.bin
- O14SchemaConstraintDatas.bin
- O15SchemaConstraintDatas.bin

Best I can tell, these are

[2016-07-13 21:01] ph1ll commented on #65
I am currently working on full .NET Core support under https://github.com/ph1ll/Open-XML-SDK/tree/netstandard. Please ignore the commit history as this is very much WIP and it is a bit of a mess, obviously there is a lot of work to do and I have been committing as I go along so I can easily revert if I break something. I will be rebasing before submitting a MR.

Main changes I had to make are:

 *

[2016-07-15 11:08] webartoli commented on #90
+1
I've the same problem using `DocumentFormat.OpenXml.Spreadsheet.MapInfo` that's write `xl\xmlMaps.xml` file inside xlsx package.

With prefix `x:` for default namespace `http://schemas.openxmlformats.org/spreadsheetml/2006/main` excel do not recognise properly xml maps.

Removing manually the `x:` prefix it works like a charm.

[2016-07-15 11:17] broegger111 commented on #90
This is how I solved it
`                    //add the default namespace without prefix -> this is a hack
                    var mapOuterXml = spreadsheetDocument.WorkbookPart.CustomXmlMappingsPart.MapInfo.OuterXml;
                    var xml = new XmlDocument();
                    xml.LoadXml(mapOuterXml);
                    if (xml.DocumentElement != null) xml.DocumentElement.SetAttribute("x

[2016-07-15 13:00] webartoli commented on #90
your last comment is self describing: it is an hack! ;-)

Saving an xlsx file using ms excel the default namespace (without prefix) is `http://schemas.openxmlformats.org/spreadsheetml/2006/main`. But in the library in the file `DocumentFormat.OpenXml.NamespaceIdMap.cs` each namespace has a prefix.

Defining a xml default namespace for each output file seems an elegant solution like:

- xlsx - `htt

[2016-07-22 10:07] codepandy commented on #69
@santochan Do you solve it?

[2016-07-22 14:36] HowardRubin opened #102 "Help with PresetGeometry output to docx"
How can I create objects of _[DocumentFormat.OpenXml.Drawing.PresetGeometry](https://msdn.microsoft.com/en-us/library/documentformat.openxml.drawing.presetgeometry(v=office.15).aspx)?_ in a Microsoft Word docx file? These are shapes such as lines, arrows, and polygons.

### What I need
It would be very helpful to have an example similar to the ones provided for _[Images](https://msdn.microsoft.com

[2016-07-26 09:11] ant-s commented on #53
The newbuild.open-xml-sdk.sh doesn't seem to create any DLL files. I'm not sure if its still meant to do this. I cant run `mcs WmlComparer01.cs` as I get the following errors:
[code]

I'm guessing this is because the DLLs are missing, but I'm unable to generate them.

[2016-07-26 18:47] HowardRubin commented on #102
I tried the "Open XML SDK 2.5 Productivity Tool for Microsoft Office" again to compare an empty docx to one with an arrow, and it works now. There's lots of C# code in there that might not be needed so a minimum example would still be helpful, but I'm able to move forward now.

Howard Rubin

[2016-08-02 23:50] davidnmbond commented on #65
Hi All - I'm keen to get this up as a proper nuget package and am willing to contribute to a project which aims to do so.

xrkolovos, ph1ll,
Please let me know if I can help here.  I have several packages up on Nuget already, so understand the general process here.

[2016-08-04 06:41] xrkolovos commented on #65
If anyone wants to add him to my repo and help. I welcome him/her. Although the code is not ready i thing to add it in a nuget package. Better wait for an official one.

[2016-08-04 20:35] #102 closed

[2016-08-05 15:55] HowardRubin opened #103 "Productivity Tool usability"
The [Open XML SDK 2.5 Productivity Tool](https://www.microsoft.com/en-us/download/details.aspx?id=30425) does some amazing things for me, but it would be even better if there could be some way to automatically fill in the Browse Files to Compare dialog box, such as with the last files opened.

**What** I tried:
1. Google search for: Open XML SDK Productivity Tool command line
2. I used the [Spy++]

[2016-08-17 01:13] dominoFire commented on #53
I tried to compile the library with the provided script.

[code]

[2016-08-17 01:35] dominoFire commented on #53
I found a way to disable the test that have references to libraries that currenty are not available for non-Windows distributions. In the .sln file, you have to remove the references to the projects that have tests:  DocumentFormat.OpenXml.Tests, DocumentFormat.OpenXml.WB.Tests, System.IO.Packaging.Tests. The final .sln file looks like this:

[code]

I'm not sure to make a pull request for this mo

[2016-08-29 12:47] arlm opened #105 "Why is auxHint namespace (Auxiliary XML Document 2003) not mapped with strong names?"
Is there a reason, other than that these elements have no effect and are not processed by Word, for not mapping `http://schemas.microsoft.com/office/word/2003/auxHint` namespce into strong names?

We do have a pretty nice description of them here:
- [Auxiliary XML Document 2003 Introduction [Word 2003 XML Reference]](https://msdn.microsoft.com/en-us/library/aa175186%28v=office.11%29.aspx?f=255&msp

[2016-09-13 22:21] chengtie opened #106 "Install Open XML SDK in a Ubuntu server"
I am trying to install Open XML SDK in my Nginx & Ubuntu server.

By following its readme page and [this video](https://www.youtube.com/watch?v=zfSeqzMOXiQ&list=LL_WrYcTnXlz5Rjj9ZNwpWEA&index=1), I have installed git and mono in the server, cloned the code.

Then I did "make -f Makefile-Linux-Mono build" in the folder and got the following error:

"make: Makefile-Linux-Mono: No such file or direct

[2016-09-15 11:53] Numpsy commented on #106
try using build.open-xml-sdk.sh instead of make?

[2016-09-15 14:00] chengtie commented on #106
Thanks for your reply...

Indeed, I should have tried build.open-xml-sdk.sh.

I tried to run it in the server, but it gives an error: http://pastebin.com/y3p3UDKy

Do you have any idea?

Cheers

Tie

[2016-09-30 08:20] jamiemitchellconsultants opened #107 "Invalid IL Code. Xamarin console exe on OSX"
Stack trace.....

Unhandled Exception:
System.InvalidProgramException: Invalid IL code in System.IO.Packaging.Package:Open (string,System.IO.FileMode,System.IO.FileAccess,System.IO.FileShare): method body is empty.

  at DocumentFormat.OpenXml.Packaging.OpenXmlPackage.OpenCore (System.String path, System.Boolean readWriteMode) [0x00021] in <a7316bf1edfd42b484fda64cef0dcf01>:0
  at DocumentFormat.O

[2016-10-03 20:18] tarunchopra commented on #99
Hello thanhvyit: Can you please attach your test file so that I can try to repro the issue and have a look?

[2016-10-04 04:04] thanhvyit commented on #99
Thanks for your response!
Please get the test file in attachment.
[testdecimals.xlsx](https://github.com/OfficeDev/Open-XML-SDK/files/507677/testdecimals.xlsx)

[2016-10-04 04:40] tarunchopra commented on #99
Sorry for not being clear, please share the file that has testing code (.cs file)

[2016-10-04 04:47] tarunchopra commented on #92
Hello meshrajk : Can you please enlighten as to what do you mean by this '**making the workbook unavailable moving forward for other libraries like EPPlus or ClosedXML'** ? The new file has no mention of workbook.xml hence I'm not sure why the libraries you mentioned are having issues.

[2016-10-04 16:02] tarunchopra commented on #94
Hello Oleksiy: I'll have a look as I get bandwidth and will get back !!

[2016-10-04 16:24] tarunchopra commented on #94
Hello Oleksiy

I'll have a look.

Thanks.

[2016-10-05 18:10] tomjebo commented on #86
After playing with the code you provided, the part that Excel doesn't like appears to be unrelated to the absolute Target path used in the relationships. It appears that the Cell code that adds the InlineString is not setting the Cell.DataType to CellValues.InlineString (which I see you commented out in your code). When I add this back in to the code, Excel 2016 and 2013 load this file just fine,

[2016-10-05 19:20] tomjebo commented on #88
See the comments on [#86](https://github.com/OfficeDev/Open-XML-SDK/issues/86). I did some testing and verified against the standard (ISO 29500-2 9.1.1 and 9.3.2.2) and:

1) absolute URI and relative path should both be correct for the <Relationship> Target attribute.
2) OpenOffice 4.1.2 (at least Calc) seems to handle absolute paths just fine, as does Microsoft Excel.

I haven't tested OpenOffice

[2016-10-05 19:34] tomjebo commented on #59
See the comments on [#86](https://github.com/OfficeDev/Open-XML-SDK/issues/86). I did some testing and verified against the standard (ISO 29500-2 9.1.1 and 9.3.2.2) and:

1) absolute URI and relative path should both be correct for the Target attribute.
2) OpenOffice 4.1.2 (at least Calc) seems to handle absolute paths just fine, as does Microsoft Excel.

@Numpsy Can you provide sample code or a d

[2016-10-05 20:25] hanginwithdaddo commented on #59
Have you tried opening your document file using Google Sheets? We were writing an app for Android using your SDK and this is where we ran into a problem.

[2016-10-05 20:30] tomjebo commented on #59
@hanginwithdaddo No I hadn't tested that yet. I saw the OpenOffice reference and started there. I will try Google Sheets. However, the format of the Target attribute that the SDK writes should still be valid per the ISO 29500 standard.

[2016-10-05 20:40] tomjebo commented on #59
@hanginwithdaddo I used the online version of Google Sheets to open the sample document created with code from #86 (correcting the InlineString attribute issue) and it opens fine. It has an absolute path like this:

`    <Relationship Type="http://schemas.openxmlformats.org/officeDocument/2006/relationships/worksheet" Target="/xl/worksheets/sheet.xml" Id="R07e895d31b004ef3" />
`

[2016-10-05 20:48] tomjebo commented on #83
This would be better to post on the [Office XML, ODF, and Binary File Formats](https://social.msdn.microsoft.com/Forums/en-US/home?forum=os_binaryfile) forum. Also, when you post there, if you can provide an actual sample document that would help.

[2016-10-05 21:56] tarunchopra commented on #94
Hello Oleksiy

I manually copied over the chart from Excel to PowerPoint and observed the exactly same behavior as produced by SDK. Hence I don't think there is any issue with SDK.

Thanks.

[2016-10-06 01:22] hanginwithdaddo commented on #59
We will have to pull a new copy of the SDK and try this. Thanks again,
Dave

[2016-10-07 18:05] tarunchopra commented on #85
Hello SergeyKn:

I'll have a look and get back !!

Thanks

[2016-10-10 14:17] tutkowskim opened #108 "ZipPackage _containerStream isn't closed when a exception is thrown in the ZipArchive constructor"
If an exception is thrown in the ZipArchive constructor inside of ZipPackage(string path, FileMode packageFileMode, FileAccess packageFileAccess, FileShare share), which can happen if the specified file is not a archive or the disk is completely out of space, the _containerStream isn't disposed.

I was able to fix it by adding the call `_containerStream.Dispose();` in the following catch block.

[2016-10-10 16:07] IMSEMartell commented on #59
Hi @tomjebo ,

I'm working with @hanginwithdaddo on re-testing this issue for our team's Android project.  I came in here to pull a new copy of the SDK to test the fix for this issue, and I have a couple questions:

1.  I went to https://github.com/OfficeDev/Open-XML-SDK to pull a new copy of the source, and saw that all of the dates were pretty old.  I could not find any file modified recently.

[2016-10-10 16:21] tomjebo commented on #59
@hanginwithdaddo, I did make a modification but didn't see any errors or warnings. Again, I am using the Chrome app on Windows and not on Android. I will find an Android device and test with that.

[2016-10-10 16:39] IMSEMartell commented on #59
@tomjebo That would be great, thank you.  I pulled my file off the device, and testing with the Chrome app on Windows as well and do not see an error when making a modification.  But with the same file on my device, after making a modification and trying to close the file, I see the attached.

![screenshot_2016-10-10-12-37-17](https://cloud.githubusercontent.com/assets/22750186/19243688/97705d10-8

[2016-10-10 16:42] tomjebo commented on #59
@hanginwithdaddo ok, getting a device and testing. I will diff the files to see what it thinks needs to be changed.

[2016-10-10 22:06] tomjebo commented on #59
@hanginwithdaddo I did test this on an Android device using Google Sheets.

Now I see the "To continue saving..." dialog and when I hit "UPDATE & SAVE", Sheets saves the document as a .xlsm instead of .xlsx. I then compared the resulting .xlsm with the original .xlsx and see that the changes are basically analogous to the changes that Excel makes when saving an SDK-genned document. Really just reo

[2016-10-11 16:24] tomjebo commented on #83
Closed, please bring up on the MSDN Open Specifications forums

[2016-10-18 21:51] tomjebo commented on #59
@IMSEMartell @hanginwithdaddo In addition to the testing in my previous post, I also tried taking the same SDK generated file and changing only the Target paths to be exactly the same as the relative Target paths used in the Android Sheets-saved xlsm file. With only those changes, I then uploaded the file again to Google Drive and opened and modified with Sheets on Android device. Again, Sheets in

[2016-10-19 08:25] jurjen74 commented on #93
+1. I have problems with RMS/Open XML too. Cannot open RMS protected files with open XML even thought programmatic access is allowed according to the RMS template.

[2016-10-25 17:17] IMSEMartell commented on #59
Hi @tomjebo, thanks for your testing.  I was reading the comments above, as well as some of the comments on the other related issues noted (86,88), and saw that you used OpenOffice to test.  I do not have the same results as you when opening my SDK-generated file with Open Office 4.1.3 (Calc).  It opens without error, but the file is blank.  Opening the same file with Excel shows me the data.  I h

[2016-10-25 20:10] tomjebo commented on #59
Hi @IMSEMartell,
thanks for the follow-up information. I'm really not sure what the "new format" message that Google Sheets displays is trying to say. Having taken out the absolute paths from the document, I really don't think it's related to that. And also the fact that it saves in .xlsm (macro enabled) vs .xlsx leads me to believe it's something else (?). I would suggest following up with Google

[2016-10-25 21:19] tomjebo commented on #59
@IMSEMartell I changed only the worksheet Target relationship absolute path in CallHistory.xlsx to a relative path. After opening in OpenCalc 4.1.3, I still see no data. In Excel I see the data. Not sure what OpenCalc doesn't like. This is a very simple package. Perhaps you can bring this up with OpenOffice to narrow down the source of the problem?

[2016-10-26 20:27] cmerat opened #110 "OutOfMemoryException when writing large Spreadsheet"
In version 2.6, the Packaging engine was changed. Unfortunately, this new implementation can cause OutOfMemoryExceptions when generating HUGE files. The reason for this is that the use of ZipArchiveEntry (used by ZipArchive that is used by ZipPackage/OpenXMLPackage) when used in Update mode will hold onto all of the data written to it in the UncompressedData stream property. The data is only flush

[2016-10-27 17:16] tarunchopra commented on #85
Hello Sergey:

I debugged the issue and observed that .net API for creating a URI (https://msdn.microsoft.com/en-us/library/ceyeze4f(v=vs.110).aspx ) is not happy with the reserved character ('$') present  in document.xml.rels :

    Target="file:///\\$APPSERVER_HOST_1$\renditiontemp"

If we remove '$' from target and replace it with the following, then validation works fine:

     Target="file://

[2016-10-28 15:31] IMSEMartell commented on #59
@tomjebo Ok, I've logged questions with both Google Sheets and OpenOffice.  Hopefully their answers will help us narrow down what the issue is.  I'll update here when I hear back.  Thanks.

[2016-10-28 16:08] tarunchopra commented on #110
@cmerat : Can you please share a sample code to repro. the issue?

[2016-10-28 21:26] Josh-Curry commented on #98
Hi arlm, after reviewing the ISO/IEC 29500 standard and the Open XML SDK project, it is our determination that this is something that is currently missing and should be added. The request has been logged and will be reviewed for possible addition to the SDK in a future release of the project. Please let me know if you would like to provide any further details. Otherwise, we will consider this issu

[2016-10-31 23:56] tarunchopra commented on #110
@cmerat: Any update please?

[2016-11-01 14:00] cmerat commented on #110
@tarunchopra The repro case was in a production scenario with a customer along with our application code so obviously I can't just send this directly over. I'll try to get a sample that reproduces the case to you asap but it might take a few days.

[2016-11-01 19:46] tarunchopra commented on #108
I reviewed the code and believe that it's appropriate to replace zipArchive.Dispose() call with Dispose(true); as it will handle other cleanups too. Hope that's fine.

I'll work on check-in the code.

[2016-11-01 19:50] tarunchopra commented on #110
@cmerat : Sounds good; thx

[2016-11-03 20:31] twsouthwick opened #111 "Add support .NET Standard"
I've ran an analysis of the library (https://github.com/microsoft/dotnet-apiport) to determine what needs to be done in order to support .NET Standard (and by extension, .NET Core, UWP, etc). The following are the steps that need to be done for this:

- [x] Remove custom System.IO.Packaging (rely on built-in or use the build from CoreFX) (see #112)
- [x] Move to project.json (for multitargeting to

[2016-11-03 20:59] cmerat commented on #110
You'll find attached the repro case. The NuGet package is already set to cause the problem, running the executable you'll quickly see rising memory usage. You can manage the NuGet package to downgrade to 2.5.1 and the problem is gone, memory usage remains stable during execution.

Note that this will create a huge (1GB+) xlsx file at c:\temp\Output.xlsx. Make sure you have a temp folder and enough

[2016-11-04 18:50] twsouthwick commented on #96
This is being tracked by #111

[2016-11-04 18:50] twsouthwick commented on #95
This is being tracked by #111

[2016-11-04 18:50] twsouthwick commented on #100
This is being tracked by #111

[2016-11-04 18:59] twsouthwick commented on #72
Work for this is being tracked by #111

[2016-11-04 19:00] twsouthwick commented on #65
Work for this is being tracked by #111

[2016-11-04 19:00] twsouthwick commented on #12
Work for this is being tracked by #111

[2016-11-07 14:52] meshrajk commented on #92
Once this "xl\workbook.xml" is changed to "xl\workbook2.xml", any other libraries are still looking for "xl\workbook.xml" in the package and they error out when the "xl\workbook.xml" is not found in the package.

[2016-11-08 09:21] ph1ll commented on #111
Very good to see some movement on this repo, I was starting to think it had been abandoned.

I do have a working netstandard1.4 fork at https://github.com/ph1ll/Open-XML-SDK/tree/netstandard, which I use internally. The main problem with porting at the moment is the lack of BinaryFormatter - I worked around this by using protobuf-net and adding a tool to convert the existing serialised schema file

[2016-11-08 16:58] twsouthwick commented on #111
Thanks @ph1ll! I recently found where that code generation is and that is definitely the hardest thing about  getting this working on .NET Standard. I initially did something similar to you, but serialized it to C# code so no deserialization was needed at runtime, but hooking into the actual code generation will be the best for long term support. For now, the goal is to get everything else in work

[2016-11-09 08:51] ph1ll commented on #111
I think the main reason for picking .NET Standard 1.4 was that I was targeting UWP and needed something working quickly.

I will try and help out if I can, but given the number of MRs you already have underway, I have a feeling you will beat me to most bits. Many thanks for bringing some life back to the repo.

[2016-11-16 07:45] igitur commented on #95
@ImmePak  Please close this issue.

[2016-11-16 07:45] igitur commented on #72
@Suriman Please close this issue.

[2016-11-16 09:40] TimYi opened #119 "A paragraph is inside a run"
I paste pictures into word document. And the pictures can't be recognized by OpenXml SDK.
Inside my docx file, I found some abnormal structure:
[code]
A paragraph with picture is inside a run. Can I read the picture using OpenXml SDK in such condition?

[2016-11-17 00:14] #95 closed

[2016-11-17 06:06] tarunchopra commented on #119
Hello TimYi: I'll have a look and get back !

[2016-11-17 07:41] #72 closed

[2016-11-17 07:50] tarunchopra commented on #110
Thx, I will have a look.

[2016-11-17 14:24] Numpsy commented on #59
@tomjebo When testing the SDK against Mono on OSX a while back I saw some failures in its own unit tests related to the relative/absolute paths - no other test files needed. (I may have put more info in one of the other similar bugs, I don't recall).

I haven't had chance to look at any of this stuff recently as i've been snowed under with other things so i don't know if anything has changed in Mo

[2016-11-17 21:03] tarunchopra commented on #119
Hello TimYi:

I replaced content of the document.xml with the one you pasted but it didn't work well. Can you please share your .docx file to verify\troubleshoot the behavior you are observing?

Thx.

[2016-11-17 21:50] tarunchopra commented on #108
We have addressed this issue in #112 which removed our custom System.IO.Packaging. If you still any issue with System.IO.Packaging, please open an issue at following link: https://github.com/dotnet/corefx

[2016-11-17 21:50] #108 closed

[2016-11-17 22:57] HowardRubin opened #123 "Different part name between Excel and Open-XML-SDK"
When I call the function `WorksheetPart.AddNewPart<DrawingsPart>`, the result part filename is /xl/drawings/drawing.xml, which is different from what Excel 2013 names it (/xl/drawings/drawing1.xml). Note the "1". This wouldn't matter, **except** that the Open XML SDK 2.5 Productivity Tool for Microsoft Office won't compare DrawingsPart s created the two different ways.

What's causing this is that

[2016-11-18 15:45] HowardRubin commented on #123
There's a similar issue for part `/xl/worksheets/sheet1.xml` on lines 9891 & 9897 of the same package.cs file:
`    internal const System.String TargetNameConstant =@"sheet";`

[2016-11-18 18:55] twsouthwick opened #125 "Clean up test temporary files"
At the moment the tests don't all use a central location to determine where to output files. Some do it do locations that are shared during parallel tests and so cause non-deterministic errors. These should be cleaned up.

[2016-11-19 00:03] #125 closed

[2016-11-19 07:33] tarunchopra commented on #110
@cmerat: Thanks for the help and repro code. I tested your code with new binary set ( #112 which removed our custom System.IO.Packaging.) and didn't find a memory leak. Would request to please retest your code with latest binary set.

[2016-11-19 08:07] tarunchopra commented on #99
@thanhvyit : Gentle reminder, would you like to share the requested .cs file or solution so that we can have a look ?

[2016-11-19 08:14] tarunchopra commented on #92
@meshrajk : I'd say that the issue here is with the apps who are still looking for xl\workbook.xml whereas we have already updated all the relationships in the document with xl\workbook2.xml. If you still need this support, we would request you to fork the project and make a change to suit your requirement.

[2016-11-19 08:14] #92 closed

[2016-11-21 07:18] TimYi commented on #119
Hello tarunchopra,
This is the file：
[click the link will directly download the docx file.](http://note.youdao.com/yws/api/personal/file/WEB5942ab3d548536b63a88b9aaf090136d?method=download&inline=true&shareKey=6a90d6a90221699e3103c567379e2380)
In this file, the pictures are all in embed paragraph(a paragraph in a run). Display of this file is correct by Microsoft Office.

[2016-11-21 13:40] thanhvyit commented on #99
Sorry for late response, I actually found solution for it. Just return Double.Parse(cell.CellValue.Text, CultureInfo.InvariantCulture).ToString() if datatype null.
Thank you very much!

[2016-11-21 20:05] #111 closed

[2016-11-21 20:07] twsouthwick opened #126 "Merge .NET Standard changes to Office2016 branch"

[2016-11-21 20:15] ph1ll commented on #111
Awesome. Many thanks.

[2016-11-21 20:18] ph1ll commented on #126
Are there any plans for an official nuget package to go with this? #2

[2016-11-21 20:28] twsouthwick commented on #126
I'm working with the team to set up a signing service via AppVeyor and the .NET Foundation to get some CI/CD builds (hopefully of both vNext and Office2016 branches).

[2016-11-22 16:36] #99 closed

[2016-11-22 16:55] tomjebo commented on #59
@Numpsy I will test with Mono as well but there have been a lot of changes wrt .Net support including removal of the System.IO.Packaging mod that we were using before. Not sure if this will impact Mono but I will do the testing when I get time. Thanks for bringing it up.

[2016-11-22 18:06] tarunchopra commented on #19
@michivo: We are closing this issue as BldSdk.ps1 PS script is no longer a part of present code base.

[2016-11-22 18:06] #19 closed

[2016-11-22 21:53] Will-Gregg commented on #119
Hello TimYi:

Thank you for posting your .docx that exhibits the behavior you are seeing. We will do some research and reply back with the results of our investigation.

[2016-11-22 22:15] Will-Gregg commented on #107
Hi jamiemitchellconsultants:

I will take a look at opening the attached documentation using the System.IO.Packaging library. There's been quite a number of recent changes with regards to the .NET support, so its possible that the issue you are seeing has been addressed. However, I will take a look to verify.

[2016-11-24 04:24] prostovasya opened #127 "How to add custom attribute into Presentation document"
Hi everyone,

I tried to add a custom attribute into .pptx document. I did it, but when I saved the document from PowerPoint my attribute disappeared.

How do I preserve my custom attributes even after pptx is saved. Can I use custom XML part to store only attributes specific to each content documents? Any code samples will be helpful.

Excel has Extensions, that allow Excel convert roundtrip cust

[2016-11-29 12:11] JustinMinnaar opened #128 "Confusing exception when file cannot be found"
I have a large document that opens fine and edits without issue under Microsoft Word 2016. It contains 67 pages, and some images and tables. When trying to open this document using the OpenXml libraries, I receive the following exception. Any suggestions?

An exception of type 'DocumentFormat.OpenXml.Packaging.OpenXmlPackageException' occurred in DocumentFormat.OpenXml.dll but was not handled in u

[2016-11-29 16:39] tarunchopra commented on #128
@JustinMinnaar :

Please share the WORD document so that we can debug the issue AND openxml test code that you are using to reproduce the issue.

Thx

[2016-11-29 17:20] JustinMinnaar commented on #128
Regret that the document is a confidential document and I cannot send it to you. I'll try create a dummy document tomorrow to reproduce the issue. Sent from my Huawei Mobile-------- Original Message --------Subject: Re: [OfficeDev/Open-XML-SDK] Can't open valid Word document (#128)From: "TarunChopra[MSFT]" To: OfficeDev/Open-XML-SDK CC: Justin Minnaar ,Mention @JustinMinnaar :
Please share the WOR

[2016-11-29 18:52] tarunchopra commented on #128
Sure, we will wait for the artifacts. Thanks.

[2016-11-30 13:31] TsengSR commented on #2
Yes, please please please add nuget packages to official nuget feeds!

[2016-11-30 14:39] JustinMinnaar commented on #128
Hi. My apologies, I've determined that this error actually means that the file is not found. I deleted everything out of the file and it still raised the error, until I realized that the file was not being copied into the debug folder.

 Perhaps it would be worth raising the FileNotFoundException instead?

 Kindest regards,

 Justin Minnaar

----------------------------------------
 From: "TarunCh

[2016-11-30 17:04] tarunchopra commented on #128
@JustinMinnaar : Yes, you are correct and I'm able to verify\reproduce the issue. I'll add a validation check for File.Exists at all the entry points.

[2016-12-01 04:54] JustinMinnaar commented on #128
Great. As I was unable to Edit and Continue during debugging, I ended up wrapping the functions I needed to extract the data into my own classes. This also made it easier to write unit tests for the functions I needed. Thanks for providing me with a clean method of extending Word. It's really useful. Justin Sent from my Huawei Mobile-------- Original Message --------Subject: Re: [OfficeDev/Open-XM

[2016-12-01 09:08] vitalylukyanenko opened #129 "How I can detect "filled markers" list item ?"
Hi,
I need detect TextBody/Paragraphs with markers. All markers type has a mark "CharacterBullet" or "NoBullet", but one of these hasn't any mark.

Here is a slide with TextBody which contains undetected markers:
![1](https://cloud.githubusercontent.com/assets/23737443/20787636/886ba5b4-b7df-11e6-9270-334fbf61399f.png)

How I can detect theirs ?

[2016-12-05 10:43] xrkolovos commented on #65
help me understand because i am confused with all this issues about the same issue. Issue #111 is closed but this issue(#65) is still opened. What are the issues right now?
Thanks

[2016-12-05 17:30] tomjebo commented on #65
@xrkolovos The porting for .Net Core is done and yet we are still working on the Nuget packaging. We are working on clearing up the issues list to take care of ones invalidated by the port.

[2016-12-05 20:44] lostincomputer commented on #2
+1 Our company has a policy of only using signed libraries so it would be really great if Microsoft releases an official Nuget package where the libraries are signed.

[2016-12-05 20:47] tomjebo commented on #2
@lostincomputer Yes, we are currently working on that. Thanks for the feedback!

[2016-12-09 21:35] #12 closed

[2016-12-09 21:35] #7 closed

[2016-12-09 21:36] #71 closed

[2016-12-11 05:30] #5 closed

[2016-12-14 10:33] hervethouzard opened #131 "Problem with templates and search & replace"
Hello,

I have a template document (modele.docx) with some content and let say, 3 special texts inside, like this:
{document1}
{document2}
{document3}

They represent the name of the file I have to insert content from (document1.docx, documen2.docx and document3.docx)

With the help of the video you suggested me (http://ericwhite.com/blog/advanced-use-of-documentbuilder), Im trying to:

1) Open th

[2016-12-15 19:13] twsouthwick opened #132 "Library support for Xamarin.Mac/Mono"
@yingfangdu asked a question in PR #130, so creating an issue for that discussion.

@yingfangdu:

Does this version support mono build? I see before it can build for mono while it is is not supported for this new version?
And as we use Xamarin.Mono/Mac which does not have WindowsBase.dll, I remember before it uses another dll named SystemIOPackaging. I cannot find it now.

@twsouthwick

@yingfangd

[2016-12-15 19:17] twsouthwick commented on #132
The confusion appears to be around the role of .NET Standard. Please read through the link I included above. The important part is this table:

![image](https://cloud.githubusercontent.com/assets/583206/21238431/eaefac2a-c2b7-11e6-88f9-f573d3e05ee8.png)

This indicates that Mono and Xamarin platforms will support up through .NET Standard 1.6. Since this library targets .NET Standard 1.3, you can c

[2016-12-16 01:22] twsouthwick commented on #132
Since this is by design, I'm going to close this issue. Please reopen if you feel this doesn't address your issue.

[2016-12-16 01:22] #132 closed

[2016-12-16 16:39] #6 closed

[2016-12-16 16:40] #16 closed

[2016-12-16 16:40] #39 closed

[2016-12-16 16:40] #21 closed

[2016-12-16 21:17] twsouthwick commented on #2
@lostincomputer By signed are you referring to authenticode signed or strong name signed? Authenticode provides security benefits, while strong name doesn't. Currently, the story for strong name signing is still being worked out.

[2016-12-16 22:29] #89 closed

[2016-12-16 22:46] twsouthwick opened #134 "Add a strong name key"
This is to track adding the strong name signing back, not to start a discussion on whether or not there should be one. Hopefully we can add one that will mitigate the known dev issues of strong names (ie local builds) following guidance the [CoreFX team](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/strong-name-signing.md) is using.

[2016-12-16 23:23] twsouthwick opened #135 "CI build is broken"
The key was changed and builds are not being pushed to myget

[2016-12-16 23:47] tomjebo commented on #88
closing as this is being discussed on #88

[2016-12-16 23:47] #88 closed

[2016-12-17 01:38] #135 closed

[2016-12-19 04:13] mjrousos opened #137 "Excel row height behaves unexpectedly on high-dpi machines"
Setting spreadsheet row height appears to be affected by high-dpi scaling even though the height is not set in terms of pixels.

As an example, setting `Row.Height` to 15 creates a spreadsheet with a row of only 7.5 height (20 pixels) on a machine with DPI scaling set to 200% (192).

edit - I should specify this is with the 2.5.0 package available on NuGet. I haven't tried with more recent builds.

[2016-12-19 10:05] davideloper commented on #64
I think this problem is not solved yet:
PackageRelationship target must be relative URI if TargetMode is Internal

This happens on mono, including system.io.packaging (from net.standard) with OpenXmlSDK.
Has maybe someone already resolved this bug?

[2016-12-19 15:32] mohammad234 opened #138 "Issue with Generating Powerpoint document in Memory Stream. The file is corrupted"
Hello Expert,

I am facing issue with generating powerpoint, when working with Memory Stream. The generated powerpoint is corrupted.

below Code:
I am also attaching the sample. Any help will be highly appreciated.
MemoryStream templateStream = null;

            using (Stream stream = File.Open(@"D:\Project\Open XML SDK\Template.pptx", FileMode.Open, FileAccess.Read))
            {

[2016-12-19 19:41] davideloper commented on #38
I guess I have the same problem with xlsx: "PackageRelationship target must be relative URI if TargetMode is Internal"
This error is only presented on mono, on windows everything looks fine.
I am using OpenXmlSdk 2.6 and System.IO.Packaging from .NETStandard.
The error fires on SpreadsheetDocument.Open(filePath ...).
Any possible solutions?

[2016-12-26 06:12] lostincomputer commented on #2
@twsouthwick strong-named assembly

[2016-12-27 20:34] twsouthwick commented on #2
@lostincomputer That is known (see #134) and we are working to figure that out.

[2017-01-03 19:01] tarunchopra commented on #138
Hello mohammad234 : I'll look into it.

[2017-01-04 03:43] tarunchopra commented on #138
I made some modifications in your code and able to generate the output file w/o any issue. Can you please review below modified solution?

[ExportPPT.zip](https://github.com/OfficeDev/Open-XML-SDK/files/683874/ExportPPT.zip)

In addition, there is any existing test case - CanCreatePresentationFromTemplate() that you can refer to leverage existing functions to generate power point file from the tem

[2017-01-04 06:03] tarunchopra commented on #131
@hervethouzard: I'll look into it.

[2017-01-04 06:15] MakanMakan commented on #65
Any news ?

[2017-01-04 06:16] #94 closed

[2017-01-04 06:26] #85 closed

[2017-01-04 06:29] #110 closed

[2017-01-04 10:21] xrkolovos opened #139 "Can't find any package in myget feed V3"
I can't find any package in myget feed V3 with vs 2015. I also checked Include Prerelease packages.

[2017-01-04 15:35] cmerat commented on #110
@tarunchopra forgot to get back to you but it indeed appears to be fixed in the new binary set. Thanks!

[2017-01-04 16:37] tomjebo commented on #139
I'm looking into this. It should be mostly in place but there were some issues with signing.

[2017-01-04 16:39] tomjebo commented on #139
Actually, it was saying the pkg we build was corrupt:
"Error publishing package. NuGet server returned 400: Invalid or corrupt NuGet package detected. A local file header is corrupt."
We're investigating.

[2017-01-04 17:09] Josh-Curry commented on #84
Closing issue. Fix contained in PR #140.

[2017-01-04 17:09] #84 closed

[2017-01-04 19:08] tarunchopra commented on #137
@mjrousos :

I created the attached file with default height of 15 by executing test case  G002() to reproduce the issue using **Latest Code** (DPI was 100%).

After creating the file, I increased the DPI to 175% and verified the Row Height (Home->Cell->Format->Row Height option in excel) and excel still reports it as 15.

Can you please verify enclosed file once and let me know if you still see t

[2017-01-04 19:55] tomjebo commented on #139
@xrkolovos There is now a manually built latest version nuget package available on myget feed. Note that this is not currently strong named and there may be other minor details to polish but the package is available, working and up to the latest commits. Let us know if you find any issues.

[2017-01-05 04:02] twsouthwick commented on #65
@thyams @MakanMakan @xrkolovos There is now a nuget package available. It's a CI build (not supported for production use at the moment), but should get you unblocked to try things out. Please open new issues for any problems encountered.

[2017-01-05 04:02] twsouthwick commented on #65
See the README for directions on the feed to use

[2017-01-05 22:16] #91 closed

[2017-01-06 00:26] thyams commented on #65
I implemented a generic spreadsheet. Submitting issue found as a new issue.

[2017-01-06 00:31] thyams opened #142 "Adding dates to cells is not easily discoverable"
Using the following example to determine cell value:

        private static CellValues GetDataType( object DataColumn )
        {
            CellValues cvs = new CellValues();

            if( DataColumn is int || DataColumn is short || DataColumn is long ||
                DataColumn is float || DataColumn is double || DataColumn is uint ||
                DataColumn is ulong || DataColumn is u

[2017-01-06 00:44] twsouthwick commented on #142
@thyams Which platform are you running on? ie .NET Framework, UWP, .NET Core, etc

[2017-01-06 01:01] thyams commented on #142
NetCore, CI

[2017-01-06 01:04] twsouthwick commented on #142
Do you see the repro if you compile against .NET Framework?

[2017-01-06 01:39] thyams commented on #142
I will try tomorrow.

[2017-01-06 17:36] tomjebo commented on #131
@hervethouzard We're closing here and I've opened [https://github.com/OfficeDev/Open-Xml-PowerTools/issues/105](url) over on the Power Tools repo since the problem is likely with the generated code in Power Tools.

[2017-01-06 17:37] tomjebo commented on #131
Closing #142

[2017-01-06 17:38] tomjebo commented on #131
Closes #142

[2017-01-06 17:38] #131 closed

[2017-01-06 18:07] tomjebo commented on #142
Please disregard that last reference from #131. It was a mistake.

[2017-01-10 05:56] #138 closed

[2017-01-10 05:57] #137 closed

[2017-01-10 15:15] tomjebo commented on #2
The package is being built and currently available on myget feed (see the readme). The strong naming is being tracked by #134. Closing.

[2017-01-10 15:15] #2 closed

[2017-01-10 15:16] tomjebo commented on #126
We will likely be including the Office2016 branch changes in the coming months. I've merged them privately and tests are passing. This is in our plans.

[2017-01-10 15:16] #126 closed

[2017-01-10 17:43] tomjebo opened #143 "Add constructor overload to validator that determines file format version instead of defaulting to 2007"
From #8 this is a request for fixing and improving default handling for validator ctor.

"The constructor of the validator requires me to specify against which fileformat (2007/2010/2013) to validate. How can I determine the file format of an existing document? If that's possible, why doesn't the default constructor of the validator do so, instead of defaulting to 2007?"

[2017-01-11 17:52] tomjebo commented on #134
I'm working on this and should have it in the build soon. Thanks.

[2017-01-11 19:20] Josh-Curry commented on #8
Hi Robert, I spent some time looking into your questions and I'll address each of them in turn…

	1. Validation complains a lot about attributes on tables. Word does not.
		a. We recognize and acknowledge that the validation functionality has some issues that need to be addressed. We will be working to improve the reliability and accuracy of the validation in the future.

	2. Validation does NOT c

[2017-01-11 19:20] #8 closed

[2017-01-12 14:19] martinfletcher opened #144 "Official NuGet Package"
Hello,

Is there an official NuGet package for this SDK? My company only allows use of packages from trusted sources (nuget.org), but can only find unofficial packages.

Please can someone point me in the right direction, and provide one if not already available?

Thanks,

Martin

[2017-01-12 14:23] robertmuehsig commented on #144
=> https://github.com/OfficeDev/Open-XML-SDK/issues/2#issuecomment-271601375

[2017-01-12 14:44] martinfletcher commented on #144
Thanks @robertmuehsig, but is there a package on NuGey.org?

[2017-01-12 15:12] robertmuehsig commented on #144
Currently not - I'm waiting as well (and for the .NET Core support) ;)

[2017-01-12 18:59] mredman commented on #144
There seem to be no libraries that can generate word documents that support .net core 1.1, including commercial ones.

[2017-01-12 20:31] twsouthwick commented on #144
There is a pre-release of the latest build (which supports .NET 4.5 and .NET Standard 1.3) on myget at https://dotnet.myget.org/F/open-xml-sdk/api/v3/index.json. See the [README](https://github.com/OfficeDev/Open-XML-SDK#ci-builds) for more details.

Do you mean by this that a custom feed is not trusted, but nuget.org is? If so, please be aware that nuget.org allows anyone and everyone to push a p

[2017-01-13 07:51] mredman commented on #144
@twsouthwick Thanks, this works.

[2017-01-13 16:54] tomjebo commented on #144
Closing.

[2017-01-13 16:54] #144 closed

[2017-01-17 12:46] fadenmad opened #145 "Export to excel error"
Hello.
I got data from database, created excel file and wrote that data into one sheet.
But, when i tried to open that file, i got error "missing ';'".
I unzipped excel file and in file sheet.xml i found that some Unicode symbols are incorrect wrote. For example, "&#43E&#41A;&#438". After first unicode symbol ';' is missing.

[2017-01-17 19:13] Josh-Curry commented on #145
Hi fadenmad, can you verify that the data you get from the database is valid? I would imagine that the SDK doesn't modify the string when it writes it to the file.

Can you reproduce the problem by hardcoding the string or another way that you can share with us? If yes, can you please share a code snippet that reproduces the problem?

Thanks.

[2017-01-19 06:35] fadenmad commented on #145
This is test project: https://drive.google.com/open?id=0B02wP-j_WJ1fZ3FpbWVIM0FDV3M (zip-archive)
This is excel file from export:
[example.xlsx](https://github.com/OfficeDev/Open-XML-SDK/files/715842/example.xlsx)

[2017-01-19 17:03] Josh-Curry commented on #145
Thanks. I'll take a look at it.

[2017-01-19 17:39] sandrock commented on #144
Hello. Maybe I'm stupid and the 2 other guys in my team too: I can't find a way to install the package.

[code]

**Can you write just a little bit of documentation? Or maybe a link to the generic documentation on how to install a package from this kind of repository? That would be great.**

Yes, we searched online and found nothing that works.

* https://dotnet.myget.org/gallery contains nothing *

[2017-01-19 17:46] twsouthwick opened #149 "Add documentation for using package sources"
Some users are not familiar with NuGet package sources, so we should add some documentation to the README for this.

[2017-01-19 17:47] twsouthwick commented on #144
Hi @sandrock. This issue you're hitting is conflating the term *package* and *package feed*. The *package* you want is `DocumentFormat.OpenXml`, while the *package feed* (or *package source* - the term is used interchangeably) is the url you tried. You still install the same way (ie `Install-Package DocumentFormat.OpenXml`), but you need to add the feed to the source of feeds via a configuration o

[2017-01-19 17:49] twsouthwick commented on #144
@sandrock I only looked at the first couple of tries you did. Try

[code]

[2017-01-19 17:51] twsouthwick commented on #144
Here's a link to the gallery as well: https://dotnet.myget.org/gallery/open-xml-sdk. I'm seeing the package - let me know if you're not

[2017-01-19 17:57] Josh-Curry commented on #145
Hi fadenmad, is the problem semi-random? I've run the project several times but each time the file it creates is valid. Is there a trick to it?

I tried opening the example.xlsx that you provided and it fails to open for me as well, but trying to open and parse the 436MB sheet.xml file is more than a little cumbersome. Is it possible for you to reproduce the problem with the counter set to somethi

[2017-01-19 19:03] sandrock commented on #144
Thank you for your help @twsouthwick

It seems I got the package name wrong (DocumentFormat.OpenXml). There was no place in the readme file with this name. I wonder how anyone could have guessed it?

About the command you suggested: I already tried this one. The result is "An error occurred while loading packages from '...json': The remote server returned an error: (404) Not Found.".

I did the nu

[2017-01-19 19:16] twsouthwick commented on #144
Good call on needing to call out the library name. I think we had the assumption people would add it via the UI where the package shows up. Also, by default, packages tend to be the name of the project. However, this is not a hard and fast rule and not something we should assume is obvious.

As far as `install-package` not working, did you try to restart VS? I've found that the package sources ten

[2017-01-23 12:12] fadenmad commented on #145
I reduced columns and rows count from 1000 to 25. Error still appeare.
[test.xlsx](https://github.com/OfficeDev/Open-XML-SDK/files/723508/test.xlsx)

[2017-01-23 17:01] Josh-Curry commented on #145
Hi fadenmad, I see that the new file you posted still has a problem with it. But I am still not able to reproduce the issue with the sample application you sent.

I took a closer look at the actual data in the sample file versus what the sample application produces and I can see that the data is completely different. Is that still being pulled from the database? I can also see that the xml is form

[2017-01-23 17:28] fadenmad commented on #145
Hello. Data that exports to Excel is not from database (i can't send you our database data). I reproduced the problem by hardcoding as you ask. I create the new test application with similar export method. Problem is not from database output or other. It's appear when I use Open XML for export to Excel. I tried to run application on other computers with similar soft (almost identical, for, example

[2017-01-23 18:41] twsouthwick opened #152 "Update-Version.ps1 script fails to update version"
@tomjebo

After a recent change (6fb08bcc133bd7b291badcd8669b3392bcb21dc2), the [`build\Update-Version.ps1`](https://github.com/OfficeDev/Open-XML-SDK/blob/vNext/build/Update-Version.ps1) script no longer works. This was searching for the `3.0.0-*` string to find/replace in the project.json files and now it won't find it.

[2017-01-23 18:44] tomjebo commented on #152
Thanks, I'll remove that since I changed the version in the json to 2.7.0.

[2017-01-23 18:46] twsouthwick commented on #152
If you remove it, then the versioning won't be done by GitVersion. With GitVersion, CI builds get a version based off the previous tag (ie, 2.7.0-vnext003, where 003 is the number of commits since 2.7.0); if you remove it, then you have to manually change the version each time and it will break the automation.

[2017-01-23 19:04] tarunchopra commented on #69
@codepandy :

Please test your scenario with the latest bits as we have replaced custom System.IO.Packaging (https://github.com/OfficeDev/Open-XML-SDK/commit/5ef669ba14b043ece9e1fa4643c294d9120d4a4e ). If it still does not work with latest bits, let us know.

[2017-01-23 19:25] tomjebo commented on #152
I'm fixing it. Sorry. I'll also change the 3.0.0 placeholder to 0.0.1 so it's more obvious this is a placeholder.

[2017-01-23 19:32] tarunchopra commented on #87
@kfertitta : Please share specific details so that we can confirm if the behavior is expected or not?

[2017-01-23 20:32] Josh-Curry commented on #145
I tried to test it on a few other machines but I wasn't able to reproduce the problem. It could be something specific to the client or environment as well.

I also noticed that you are using an older version of the DocumentFormat.OpenXML.dll. It looks like you are using the official 2.5 version that is several years old at this point. There have been significant changes to the SDK since that relea

[2017-01-23 21:05] tarunchopra commented on #76
Closing the issue as it’s supposed to be resolved by the module that Eric suggested. Please open\reactivate a thread if you still need help

[2017-01-23 21:05] #76 closed

[2017-01-24 01:06] tomjebo commented on #81
@george-polevoy @avishnyakov I think this is covered now in our current build. Do you agree?

[2017-01-24 06:48] fadenmad commented on #145
The latest version is require .Net Framework 4.5. I need a .dll for .Net Framework 4.0.

[2017-01-24 10:13] george-polevoy commented on #81
@tomjebo I think so, as long as .nuget folder is gone.

[2017-01-24 14:10] sandrock commented on #144
Thank you again  @twsouthwick

Restarting VS worked in a way.

`PM> Install-Package DocumentFormat.OpenXml -Version 2.7.0-vnext0061` still does not work but...

`PM> Install-Package DocumentFormat.OpenXml -Version 2.7.0-vnext0061 -Source https://dotnet.myget.org/F/open-xml-sdk/api/v2` works!

I will try all that on other PCs to better diagnose the issue. Then I will contribute to the nuget side if

[2017-01-24 16:00] jpgeiger6789 opened #154 "Visual Studio does not find tests"
When I clone this to my computer (Windows 7) and open the project in in Visual Studio 2015, visual studio is unable to find any tests in the Test Explorer.  I have to run the tests using a command line utility.  I am not sure if this is an issue with my computer/Visual Studio installation or an issue with the SDK, but Visual Studio is finding the Open XML Power Tools tests.

[2017-01-24 17:00] tomjebo commented on #60
Closing as we now have strong naming in the current builds.

[2017-01-24 17:00] #60 closed

[2017-01-24 17:00] tomjebo commented on #134
Done.

[2017-01-24 17:00] #134 closed

[2017-01-24 17:02] tomjebo commented on #152
fixed.

[2017-01-24 17:02] #152 closed

[2017-01-24 17:20] tomjebo commented on #93
@nickgsoft @jurjen74  Thanks for the suggestion to add RMS support. At this time we have no plans to take this on but you or anyone in the community is welcome to implement this in a fork/clone and we will evaluate PR contributions for inclusion in this repository.

[2017-01-24 17:27] #81 closed

[2017-01-24 18:10] tomjebo commented on #105
@arlm The OpenXML SDK doesn't support the 2003 Office XML format which is not ISO 29500/ECMA 376 standard.

[2017-01-24 18:10] #105 closed

[2017-01-24 18:15] tomjebo commented on #103
@HowardRubin thank you for the suggestion and the code sample, but the Productivity Tool is not currently part of this repository. If you don't mind, please post your suggestion here:
[https://social.msdn.microsoft.com/Forums/office/en-us/home?forum=oxmlsdk](url)

[2017-01-24 18:15] #103 closed

[2017-01-24 18:16] Will-Gregg commented on #154
@jpgeiger6789 the v2.7 label or PR #155 has changes that should address the issue you are seeing. Please sync your repro with those changes.

[2017-01-24 18:16] #154 closed

[2017-01-24 18:18] tomjebo commented on #101
@ph1ll please sync or clone again, we have completed work on .Net Standard and the serialization code. This should be covered by #111.

[2017-01-24 18:18] #101 closed

[2017-01-24 18:29] tomjebo commented on #49
@ThomasBarnekow Please resync, build and rerun. We've since removed System.IO.Packaging and the tests should be running. If you still have problems with the tests, please reopen the issue.

[2017-01-24 18:29] #49 closed

[2017-01-24 18:38] tomjebo commented on #34
@Themanwithoutaplan Please post this issue to the following forum:
[https://social.msdn.microsoft.com/Forums/office/en-us/home?forum=oxmlsdk](url)

The PowerTool support is handled there.

[2017-01-24 18:38] #34 closed

[2017-01-24 18:54] Themanwithoutaplan commented on #34
I'm sorry, I don't follow. Why has this SDK issue been closed?

[2017-01-24 19:19] jpgeiger6789 commented on #154
The project is configured to use .NET core version 1.0.  I have .NET core version 1.1 installed.  I can't even find an installer (after a short google search) for version 1.0.  Is there an easy way to fix this?

[2017-01-24 19:29] tomjebo commented on #34
The Productivity Tool is not supported in this repo. Currently the forum I listed, is the way to report issues with it.

[2017-01-24 19:54] Themanwithoutaplan commented on #34
But the Productivity Tool is part of the SDK and built with it.

[2017-01-24 20:02] tomjebo commented on #34
No, it's not part of this repo. It is built with and dependent on the 2.5 SDK. That's why Eric originally said he would email the folks responsible for developing it. The forum I pointed to is the correct place to ask about the Productivity Tool.

[2017-01-24 22:37] Will-Gregg commented on #149
The following text was added to the readme in PR #151

The Latest Builds

Where to get the Nuget package

The NuGet package for Open XML SDK is currently available as a custom feed on MyGet. You can trust this package source, since the custom feed is locked and only this project feeds into the source.

How to install the Nuget package

The package you want to install is DocumentFormat.OpenXml. See

[2017-01-24 22:37] #149 closed

[2017-01-25 18:14] tarunchopra commented on #129
@vitalylukyanenko : Can you please share your .pptx file and tell us as to which textbody\para does not have a marker ?

[2017-01-25 22:04] tomjebo commented on #65
Closing

[2017-01-25 22:04] #65 closed

[2017-01-26 04:41] ethier commented on #149
This is great.

Install-Package DocumentFormat.OpenXml -Source https://dotnet.myget.org/F/open-xml-sdk/api/v3/index.json

This doesn't work though. Is there a delay here? Just want to confirm whether the documentation is correct or whether it's just a matter of time before it's resolved.

[2017-01-26 08:47] arlm commented on #105
Ok, understood. Thanks.

[2017-01-26 09:21] fadenmad commented on #145
Can you give me advice, how can i use the latest version of OpenXML dll library on .NET Framework 4.0 ?
.NET Framework updating is currently impossible.

[2017-01-26 17:50] ClareMSYanGit commented on #149
I added the version. (see below) It seems to work for me. Can you confirm if it works for you? If it does, then I'll update the README instruction.
PM> Install-Package DocumentFormat.OpenXml -Version 2.7.0-vnext0061 -Source https://dotnet.myget.org/F/open-xml-sdk/api/v3/index.json

[2017-01-27 15:50] #139 closed

[2017-01-27 23:46] Josh-Curry commented on #145
Hi fadenmad, we don't have any plans at this time to make the SDK compatible with the 4.0 framework. However, I did some initial investigation into what this might take. If you modify the project.json file to change the framework version from net45 to net40, remove the netstandard1.3 option, and then try to build the project there is only a small handful of errors that don't seem like they would b

[2017-01-27 23:46] #145 closed

[2017-01-28 20:01] EatonZ opened #158 "Latest update on NuGet"
Hi, can you please publish the latest update to NuGet? I am in eager need of a fix in release 2.7 and NuGet has been showing the old version for several day now.

https://www.nuget.org/packages/OpenXMLSDK-MOT/

Thank you!

[2017-01-29 06:15] tomjebo commented on #158
@EatonZ If this is urgent for you, I will do this in the morning (Sunday), otherwise I will do this on Monday if you can wait. We currently do it manually which is more involved and also need to build a release package instead of the debug one the automated build creates.  Sorry for the inconvenience. Still a couple of wrinkles in the process to iron out. :(

[2017-01-29 06:17] EatonZ commented on #158
@tomjebo Thanks for the response. This is not urgent, so do it whenever you can. Just wanted to make sure that it wasn't overlooked.

[2017-01-31 06:22] tomjebo commented on #158
@EatonZ The 2.7.0 nuget package has been uploaded to the myget feed:
https://dotnet.myget.org/feed/open-xml-sdk/package/nuget/DocumentFormat.OpenXml

Please let me know if you have any problems.

[2017-01-31 06:27] EatonZ commented on #158
@tomjebo Thank you - should I use that one instead of the one I linked originally? That one is still old.

[2017-01-31 07:17] tomjebo commented on #158
@EatonZ if you want the 2.7.0 release, that link or the command shown on that page:

Install-Package DocumentFormat.OpenXml -Version 2.7.0

will retreive it.

[2017-01-31 07:26] EatonZ commented on #158
I just added your MyGet to my feeds and I got it.

Why is there a dependency on "NuGet.CommandLine"? Seems strange to have that included now when 2.6.1 didn't need it.

[2017-01-31 07:53] tomjebo commented on #158
I accidentally added that dependency when manually creating the package. I will rebuild tomorrow and re-upload. Should be faster this time. Sorry.

[2017-01-31 10:22] tomjebo commented on #158
@EatonZ I've rebuilt and a new package should be uploaded by late morning. Again, sorry about the dependency.

[2017-01-31 14:46] kimsey0 commented on #84
@tomjebo: Will you make sure to get this into vNext again now that v2.7 is out? How is the timeline for getting this in a release? It was more than a year between v2.6 and v2.7, after all, and we need this quite a bit.

[2017-01-31 16:42] Josh-Curry commented on #90
Hi broegger111, there have been significant changes to the SDK in the past few months. Can you please verify whether or not this is still a problem that is occurring? If this is still a problem, could you please post some sample code that reproduces the issue?

Thank you.

[2017-01-31 17:58] twsouthwick opened #159 "Validation fails when calling from a strong-name verified assembly"
Repro code:

[code]

Exception seen:

[code]

[2017-01-31 18:06] twsouthwick commented on #158
@EatonZ Also be aware that we found an issue with this when validating documents when launched from an assembly that enforces strong names. We have a fix (see #160), but you'll need to wait until we get that uploaded if that's a blocker for you

[2017-01-31 18:07] EatonZ commented on #158
@twsouthwick Thanks for letting me know. That actually might impact me. Upload when you have all fixes in place - thanks!

[2017-01-31 19:39] #159 closed

[2017-01-31 21:13] twsouthwick commented on #142
@thyams Were you able to repro it on .NET Framework?

[2017-01-31 21:26] tomjebo commented on #158
@EatonZ the v2.7.1 release is deployed to nuget (myget feed) and this includes the fixes for the issues @twsouthwick  discussed above. This is the latest release and the one you should be using now.

[2017-01-31 21:27] tomjebo commented on #158
@twsouthwick Thank you for helping work through the CI build and Validate problems!

[2017-01-31 21:31] EatonZ commented on #158
@tomjebo Thanks - did you intend to publish as "prerelease"? It only shows up when I ask it to "Include prereleases".

[2017-01-31 21:34] tomjebo commented on #158
@EatonZ it shows up for me in VS package manager without the include pre-release checkbox.

[2017-01-31 21:36] EatonZ commented on #158
Looks like I may have been too quick, it's there now. Everything appears fine, thanks again!

[2017-01-31 21:37] tomjebo commented on #158
@EatonZ ok, glad to hear it.  you may have had one of our 2.7.1 prerelease builds in your nuget cache.

[2017-02-01 09:19] 3bm opened #163 "Trouble with Import-Module, no System.IO.Packaging.dll"
Trying to Import-Module Open-Xml-PowerTools returns this error

ments\WindowsPowerShell\Modules\Open-Xml-Sdk\DocumentFormat.OpenXml\bin\debug\System.IO.Packaging.dll' because it does
not exist."
At C:\Users\macer\Documents\WindowsPowerShell\Modules\Open-Xml-PowerTools\AddTypes.ps1:69 char:16

"DocumentFormat.OpenXml.dll" can't be found either but is in a net45 and netstandard1.3 folder

[2017-02-01 22:27] Josh-Curry commented on #123
Hi Howard, I just submitted a PR to address this problem. Please let me know if you run into any other issues related to this. Thanks.

[2017-02-02 10:46] vitalylukyanenko commented on #129
@tarunchopra : Thank you. Here is a .ppts file with my issue

[Test.pptx](https://github.com/OfficeDev/Open-XML-SDK/files/747480/Test.pptx)

[2017-02-02 16:30] twsouthwick commented on #163
@3bm Where are you getting the `Open-Xml-PowerTools`? Are you building it yourself or downloading it from the PSGallery? This looks to be an issue with the module and not the Open-XML-SDK library. Here's the repo for that: https://github.com/OfficeDev/Open-Xml-PowerTools.

[2017-02-02 17:00] tarunchopra commented on #129
@vitalylukyanenko : So if I understand correctly, you want to detect following para using SDK?

One - There is no any marks, but it’s a bullet point
Two – There is no any marks, but it’s a bullet point

Thx

[2017-02-02 17:16] twsouthwick opened #166 "Organize test infrastructure"
The tests need to be cleaned up in order to decrease run time (such as is shown in #186). Things that need to be done:

- [x] Remove test context - this is unused and appears to be a remnant of an old test system (#231)
- [x] Use xunit's ITestOutputHelper instead of creating custom log files (#230)
- [x] Move test assets to be under the test directory so they can more easily be included in output

[2017-02-02 19:11] HowardRubin commented on #123
/word/theme/theme1.xml has the same missing "1" issue on line 16663 of src/GeneratedCode/package.cs

[2017-02-02 19:12] HowardRubin commented on #123
Hi Josh,

Thanks for letting me know. /word/theme/theme1.xml has the same missing "1" issue on line 16663 of src/GeneratedCode/package.cs

Howard Rubin

From: Josh Curry [mailto:notifications@github.com]
Sent: Wednesday, February 01, 2017 3:28 PM
To: OfficeDev/Open-XML-SDK <Open-XML-SDK@noreply.github.com>
Cc: HowardRubin <howard.rubin@hl.konicaminolta.us>; Author <author@noreply.github.com>
Subje

[2017-02-02 19:21] Josh-Curry commented on #123
I was aware of that one as well. After reviewing the ISO/IEC 29500-1 standard, 39 of the contentTypes will now have a number appended to the name even if there is only a single instance of that type in the package. This addresses all 3 package/file types and should match the behavior of Word, Excel, and PowerPoint.

[2017-02-03 08:19] vitalylukyanenko commented on #129
@tarunchopra yes, you're right.

[2017-02-03 16:17] Numpsy commented on #73
I think these should all be sorted in vNext now.

[2017-02-05 04:11] tomjebo commented on #84
@kimsey0 Sorry for the delay in responding. Yes, we did add this and then revert. Now that 2.7.1 is done, we will add this fix back in. A PR will likely be submitted next week. Thanks for asking.

[2017-02-05 12:07] kimsey0 commented on #84
@tomjebo: Great. Thanks.

[2017-02-06 07:28] 3bm commented on #163
@twsouthwick I cloned the PowerTools from the repo.

[2017-02-06 07:55] Ivan-Grishkov commented on #149
Hello, Could someone explain, why do you use MyGet instead of Nuget? Do you plan to push 2.7.* builds to https://www.nuget.org/packages/OpenXMLSDK-MOT/ ? When?

[2017-02-06 13:42] joelharkes opened #167 "Opening generated Xlsx in numbers (iOS) doesn't work."
Using the following code, i generate an xlsx document. which i can open in Excel 2016 but when i open it in Numbers (iOS) i see the worksheet name, but i don't see any data in the sheet. (its just blank, I don't even see cells).

When i open in excell => save => open in Numbers (iOS) it does open.

Biggest changes that happen after saving in Excel:

* Styles.xml is filled with default styling (it

[2017-02-06 13:43] joelharkes commented on #167
anyone knows a way to fix this? ive been searching the internet but didnt find anything

[2017-02-06 16:47] twsouthwick commented on #149
Hi @Ivan-Grishkov . This is common practice for CI builds. MyGet is a way of hosting a private feed so you have complete control over it. NuGet is a public feed that anyone and everyone can push to. For instance, that package you link to is **not** an official package and not put up or supported by the Office team (AFAIK). We are definitely looking into pushing a package to NuGet, but for now, add

[2017-02-06 16:51] twsouthwick commented on #149
@tomjebo I've reached out to the listed owner of that package so we can figure out where it's coming from.

[2017-02-06 17:18] twsouthwick commented on #163
I'm not familiar with that project, so I would suggest you raise an issue there. I'll check around to see if I can find who owns it. As a work around, try downloading the package from the MyGet feed and referencing that (you'll want the net45 version of it)

[2017-02-06 19:55] #123 closed

[2017-02-06 20:16] HowardRubin commented on #100
[#111](https://github.com/OfficeDev/Open-XML-SDK/issues/111) Add support .NET Standard is closed. What is the status of this issue #100

[2017-02-06 20:19] twsouthwick commented on #100
As long as you are using a platform that supports .NET Standard 1.3, you should be able to consume this library. Please open a specific issue if you are not able to.

@tomjebo Are we going to close these issue requests? There are number of related ones that are expected to be fixed with .NET Standard support

[2017-02-06 20:52] HowardRubin commented on #100
The original issue of this thread was a request for "a way to output OOXML on Linux" so no further issue should need to be opened because that specific question has not yet been fully answered.
What Linux platforms are known to support .NET Standard 1.3, and is mono the way to do it?

[2017-02-06 21:09] twsouthwick commented on #100
.NET Standard is supported on newer versions of Mono which support some varieties of Linux. .NET Core also supports .NET Standard 1.3 and is available for some varieties of Linux. The original issue is beyond the scope of this specific project and a bit misleading - nothing in this project is specific to an OS, but is rather dependent on where our dependencies are available. If you are not aware o

[2017-02-06 22:42] HowardRubin commented on #100
I'm hearing that the minimum I need for full support of Open-XML-SDK is .NET Standard 1.3. Is that right? And if not here, where would be appropriate to ask about .NET Standard 1.3 support for Linux?

[2017-02-06 23:08] twsouthwick commented on #100
Yes - this library supports .NET Standard 1.3 and .NET 4.5. .NET Core supports it on Linux, but as for Mono, you'll need to look at the Mono site for their support of .NET Standard. Mono can run some libraries built for .NET 4.5, but I believe historically WindowsBase.dll has been a problem, which the .NET Standard 1.3 version should alleviate.

I would recommend adding the MyGet feed described in

[2017-02-07 15:12] HowardRubin commented on #100
Got it. So nobody has tested these 2 Microsoft technologies (Open-XML-SDK and mono) together on Linux.

[2017-02-07 17:08] twsouthwick commented on #167
Which version of the library are you using?

[2017-02-07 18:03] twsouthwick opened #168 "Create a supported platform list for the library"
With the release of the library for .NET 4.5 and .NET Standard 1.3, there have been a number of questions about support on specific platforms. This issue is to track the creation of a supported platform list so people can easily see which platform is supported. Since .NET Standard is a fairly new concept, this should help people translate the abstract concept of the standard into the more pragmati

[2017-02-07 18:06] twsouthwick commented on #100
I haven't tried it on Mono and Linux yet (not sure if anyone else has). I have a service that uses it on .NET Core and it works fine. We definitely should create a list or matrix of known supported configurations. I've created issue #168 to track this - let's continue the conversation there.

[2017-02-08 07:07] joelharkes commented on #167
I used version 2.7.0.
I saw 2.7.1 was just released. But it looked like not much changed?

(Btw I tried to get the myget feed to work, but I couldn't so I just uploaded it myself to nuget, I'm wondering why you guys aren't?).

[2017-02-08 07:09] joelharkes commented on #167
I had been trying to debug by removing saves and not using shared string library. But that wouldn't work.

[2017-02-08 11:21] xrkolovos commented on #100
HowardRubin, i think you should first go and read about the .NET Standards.

https://docs.microsoft.com/en-us/dotnet/articles/standard/library
https://github.com/dotnet/standard/blob/master/docs/faq.md

[2017-02-08 11:43] Numpsy commented on #100
I gave it a very brief test on Linux/Mono some time ago while preparing for some Mac work, with results similar to on the Mac (lots of test failures due to path separator/case sensitivity issues, a variety of bugs in Monos ZipArchive handling).
Those should have been sorted now, but I haven't tried the latest code with Monos owm system.io.packaging so I don't know if there will be more problems th

[2017-02-08 14:18] twsouthwick commented on #167
What are you compiling against? 2.7.1 fixed a validation bug when on .NET Framework and a packaging issue.

As for NuGet, there are processes we have to go through to get it uploaded to NuGet and are figuring that out. Which package are you supporting? We would like to consolidate to just one to limit confusion. What problem were you getting with myget? If you used 2.7.0 from myget, then saw issue

[2017-02-08 15:46] joelharkes commented on #167
My package (with credits to you guys, ofc). Its a direct build of the 2.7.0 release: https://www.nuget.org/packages/Joelharkes.DocumentFormat.OpenXml/

We are using dotnet core 1.1.0 sdk with project json.

[2017-02-08 18:12] Josh-Curry opened #169 "Why are package items numbered using Hex format?"
I came across these lines of code while fixing issue #123.

[code]

I believe that once 10 or more items of the same contentType, such as an Excel worksheet, are added to the package we will see the same problem as in issue #123 where comparisons using the Productivity Tool will not work correctly after the file is resaved by Excel. I will investigate and make changes as necessary.

[2017-02-09 07:02] joelharkes commented on #167
I'll try 2.7.1 and come back to you.

[2017-02-10 22:52] Josh-Curry commented on #167
I just tested this with the latest build from the repo, not the nuget package, and Numbers for iPad is able to open and convert the file without any issues. Interestingly though, Numbers on iPhone doesn't even try to convert the file. I don't think it should matter, but I'm using the .NET 4.5 dll.

[2017-02-13 10:48] 3bm commented on #163
Oops, might have used the wrong branch, switched to the master branch on both projects and have no issues anymore.

[2017-02-13 10:48] #163 closed

[2017-02-13 16:46] twsouthwick commented on #163
That makes sense, then. This project has a lot of divergence from develop vs master and looks like that project has an expectation about the project structure that has since changed. I've created an issue there for it to just pull in the library this project generates instead of expecting the repo side-by-side so others won't be blocked by this. Thanks!

[2017-02-13 18:17] #169 closed

[2017-02-14 16:03] joelharkes commented on #167
@twsouthwick  2.7.1 Still has the issue.

Running on latest iOS (Siera 10.12.3) and numbers 4.0.5 (4052).
and dotnet core app1.1.

[2017-02-14 16:29] Josh-Curry commented on #167
@joelharkes I believe that is MacOS, not iOS.

[2017-02-14 19:22] joelharkes commented on #167
Ah yes, sorry, i'm not really into the apple scene, my colleague tests it for me.

but i had another colleague try and for him it also didnt work on macOS

[2017-02-15 13:13] joelharkes commented on #167
@Josh-Curry  where you able to reproduce it as well?

[2017-02-17 15:45] tomjebo commented on #100
@Numpsy I just built both projects on Ubuntu and they built fine. Tests still were failing due to paths as you observed. I'm investigating.

[2017-02-17 15:47] #96 closed

[2017-02-17 15:51] #86 closed

[2017-02-17 17:23] Numpsy opened #172 "unit test failures on OSX / .NEtCore"
I don't have much time to look at this at the moment, but for the record running the unit tests on the latest source with .Net Core 1.0 on OSX gets me 9 failed tests:

[code]

example of a more detailed test failure:

[code]

Still looking a lot better than it used to though :-)

[2017-02-20 09:14] ranjithvenkatesh commented on #149
"Moss and Lichens" provides the NuGet packages for OpenXMLSDK-MOT on demand. I long back used Open XML and I liked it and started providing the packages on NuGet.

[2017-02-28 06:14] GuanRainy opened #173 "para.Descendants<OfficeMath>().Count() return 0"
when I call the "para.Descendants<OfficeMath>().Count()"(para is a Paragraph class instance), it return 0, but the para instance contain the "m:oMath" label, What is the problem ? thansks!
the para instance contents as follows:

- <m:oMathPara xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math">
- <m:oMath>
- <m:sSup>
- <m:sSupPr>
- <m:ctrlPr>
- <w:rPr xmlns:w="http://schemas.open

[2017-02-28 19:28] tomjebo commented on #173
@GuanRainy can you share the code you use to get to this point?

[2017-02-28 20:26] tomjebo commented on #173
This works for me, perhaps you need to get past the initial `<p>`:
`            using (WordprocessingDocument package = WordprocessingDocument.Open(@"..\..\..\..\equation.docx", true))
            {
                // Assign a reference to the existing document body.
                Body body = package.MainDocumentPart.Document.Body;
                DocumentFormat.OpenXml.Wordprocessing.Paragraph

[2017-03-01 01:24] GuanRainy commented on #173
@tomjebo Thank you very much for your ! Your answer helped me solve the problem.
My OfficeMath should belong to the "DocumentFormat.OpenXml.Math.OfficeMath" type, and I mistakenly think that it is "DocumentFormat.OpenXml.Wordprocessing.OfficeMath",
`para.Descendants<DocumentFormat.OpenXml.Wordprocessing.OfficeMath>.Count()` return 0.

My word2010 sample document has two OfficeMath formulas, they a

[2017-03-02 03:36] prairiesnpr commented on #168
I'm unable to compile in release mode with UWP.  I receive an ILT0005 error.  This is with VS2017RC and NETCore.UniversalWindowsPlatform 5.3.0. Get the same error with 2.7.1 or 2.7.2 -vnext0023.  Remove OpenXml or compile in debug and the app will compile.

Error is:
\.nuget\packages\microsoft.net.native.compiler\1.6.0\tools\Microsoft.NetNative.targets(691,5): error : ILT0005: \.nuget\packages\mic

[2017-03-10 10:35] MarcoMartins86 opened #174 "WindowsBase crashes when feeding data"
This happens every time, with all versions that are dependent of WindowsBase.dll (2.5, 2.7 not 2.6 since uses independent implementation of System.IO.Packaging).
When feeding a huge amount of data (in my case 137MB of valid XML content into a worksheet part),  throws a System.IO.IsolatedStorage.IsolatedStorageException ("Unable to determine the identity of domain.")

at System.IO.IsolatedStorage.I

[2017-03-10 18:22] tomjebo commented on #173
@GuanRainy glad you figured it out.

[2017-03-10 18:22] #173 closed

[2017-03-14 09:02] KLuuKer commented on #70
@EricWhiteDev you just said something really scary

i hope you meant instances of a SpreadsheetDocument
can we get a confirmation that what you actually meant is the following? (and maybe update the readme file with this sentence)

because we use then openxmlsdk for reading and writing excel sheets that our customers upload\download to our web application and multiple read's and write's to **diffe

[2017-03-14 22:29] twsouthwick commented on #174
Yes, this is why we moved the dependency to System.IO.Packaging. However, that fix will only show up on .NET Standard 1.3 platform. I took a look, and even on .NET 4.6 (which supports NS 1.3), the net45 one is being used. Unfortunately, we cannot support System.IO.Packaging on <.NET 4.6, but we can add a build to provide a .NET 4.6 version that will have this fix.

@MarcoMartins86 Which platform a

[2017-03-15 13:28] ThomasBarnekow opened #177 "Usage of branches unclear"
It's been a while since I made my last contribution and I see that a lot is going on right now, which is good. However, when I looked at the repo, I asked myself what I should actually use if I wanted to upgrade to the latest stable revision. I couldn't see a clear logic as to how branches are used, at least compared to how we intended to use master and vNext at the time vNext was introduced.

I a

[2017-03-16 08:07] qinmeigui opened #179 "I can't download OpenXml Packges,how can I Dot"

[2017-03-16 08:22] qinmeigui commented on #179
[image](https://cloud.githubusercontent.com/assets/24547755/23987444/957bb24e-0a64-11e7-9688-f1b7e1ecc2d7.png)

[2017-03-16 15:15] MarcoMartins86 commented on #174
Thanks for the clarification on this subject. For now, because of .Net Framework 4.5 constraints on the project I am working, I will keep using the DocumentFormat.OpenXml 2.6.
In the future when we can migrate to a newer .Net version I will keep this fix in mind.

[2017-03-16 15:26] twsouthwick commented on #172
Awesome, @Numpsy. Thanks for giving this a try - we've been discussing the best way to get automated tests running on various platforms. Good to know we've only got 9 failing tests :) (hopefully test issues, and not actual product bugs, though)

[2017-03-16 20:33] twsouthwick opened #180 "Add support for .NET 3.5"
It appears that ClosedXML is holding off on taking a dependency on the latest versions because support for .NET 3.5 is dropped (see https://github.com/ClosedXML/ClosedXML/issues/225). Is there interest for a .NET 3.5 build of the library?

[2017-03-16 20:37] twsouthwick commented on #180
We can take a look at this after #175 is merged so we can be up to date with the project system.

[2017-03-16 23:53] twsouthwick opened #181 "OpenXML not compiling in .NET Native"
From @prairiesnpr on #168:

.nuget\packages\microsoft.net.native.compiler\1.6.0\tools\Microsoft.NetNative.targets(691,5): error : ILT0005: .nuget\packages\microsoft.net.native.compiler\1.6.0\tools\x64\ilc\Tools\nutc_driver.exe @"\obj\x64\Release\ilc\intermediate\MDIL\FirearmDb.rsp"' returned exit code 1

[2017-03-16 23:55] MattWhilden commented on #168
@prairiesnpr
I work on the .NET Runtme and Compiler team. I suspect that the issue with your build is related to our over eager reflection analysis of the OpenXml binary. Fortunately, there are ways to give hints to the compiler for just such a scenario.

Can you try adding this directive:
` <Assembly Name="DocumentFormat.OpenXml" Dynamic="Auto"/>`

To this file in your project:
`Properties\Defaul

[2017-03-17 00:06] prairiesnpr commented on #168
After a few nights of trying different directives I actually was able to get the app to compile and function correctly.  The directive that finally worked for me was <Assembly Name="DocumentFormat.OpenXml" Dynamic="All" />.  Using Auto would compile, but I would get runtime errors with any call to the framework.

[2017-03-17 00:09] MattWhilden commented on #168
Happy to hear you're unblocked. I presume markdown ate your directive tag :-)

[2017-03-17 15:36] tomjebo commented on #177
The merge is done so master is up to date now.

[2017-03-17 15:36] #177 closed

[2017-03-19 10:53] ThomasBarnekow commented on #177
Thanks!

[2017-03-19 12:23] ThomasBarnekow opened #186 "Unit tests take too long to run"
I've seen the following statement in the release notes for Version 2.6.1:

20 minutes for running "unit tests" is clearly too long and defeats the purpose. Who will make a code change and then run those unit tests, possibly even multiple times?

Mind you I have also written a few of those unit tests. Those tests, like many others, access the file system. Like any other persistence operation, we sh

[2017-03-19 14:43] ThomasBarnekow opened #187 "Cannot open projects with VS 2015"
Not sure whether everybody has already upgraded to VS 2017, given that it has only been released very recently. Anyhow, the recent commit entitled "Update projects to VS 2017" (dbaddb57) changed the .csproj files so that those projects can no longer be opened with VS 2015.

Using `DocumentFormat.OpenXml.csproj` as an example, here is the error message I get (with `[...]` meaning I omitted that par

[2017-03-19 18:14] robertmuehsig commented on #187
I guess VS2017 is the way to go because the new .csproj base is vastly different and offers more possiblities (e.g. creating NuGet packages directly from it)

[2017-03-19 19:31] ThomasBarnekow commented on #187
For the avoidance of doubt, I'm not arguing against VS2017 being the way to go. I also planned to make the transition from VS2015 to VS2017 soon after its official release. And looking at just 2 open pull requests, I think we don't leave too many contributors behind. And if NuGet packages are now the preferred way of distributing releases rather than having people build their own, the "problem" mi

[2017-03-20 06:41] PVINOD91 opened #188 "Unable to create charts in xlsx/xlsm & pptx using OOXML & C#"
Hello,
I am recently trying to create charts in Excel & Powerpoint through OOXML SDK & C# Script. It helps to create sample bar chart, but when I tried to add some custom line & other properties, it doesn't work. please extend your help in letting me create a chart with custom defined properties. please share me your inputs and thoughts. or let me know if you need any other details from me.

[2017-03-20 17:02] ThomasBarnekow commented on #188
@PVINOD91, have you tried to:
- create the chart with whatever custom lines and other properties using Excel or PowerPoint;
- look at the Open XML mark-up produced by Excel or PowerPoint; and
- create the same mark-up using the SDK?

Otherwise, if your "issue" is related to *using* the SDK rather than some *bug* or other *shortcoming* of the SDK that should lead to a fix or enhancement of the SDK,

[2017-03-21 03:48] PVINOD91 commented on #188
Thanks for the Quick Reply.

I have tried to create charts in Excel or PowerPoint using OOXML & C#, but failed to achieve the final outcome (tried some solutions discussed in other internet pages, but fails) I might have missed something in script during implementation, Hence I have requested to help / the example scripts for implementing it success.

Thanks,
Vinod Pichamuthu
Honeywell Technology

[2017-03-21 04:07] tarunchopra commented on #188
Vinod : Which version of open XML SDK are you using ? That SO forum is for 2.0 and 2.5 version which is not supported here. We support only 2.6 and above version on this forum. If you are using 2.6 or above version; have you referred unit test cases to leverage any existing test case ?

Thanks
TC | Sr. EE
On Mar 20, 2017, at 8:48 PM, PVINOD91 <notifications@github.com<mailto:notifications@github.c

[2017-03-21 04:19] PVINOD91 commented on #188
I am currently using 2.0.5022.0. But I am ready to migrate it to 2.6 or other latest version which is under your support. Please share me the latest SDK files if you have it available.

Thanks,
Vinod Pichamuthu
Honeywell Technology Solutions | TS IT

From: TarunChopra[MSFT] [mailto:notifications@github.com]
Sent: Tuesday, March 21, 2017 9:38 AM
To: OfficeDev/Open-XML-SDK <Open-XML-SDK@noreply.gith

[2017-03-21 04:27] tarunchopra commented on #188
Vinod : Please refer readme ( https://github.com/OfficeDev/Open-XML-SDK ) to get package from my get. To view and serch any relevant test case; either search in code repository on github (https://github.com/OfficeDev/Open-XML-SDK) or download the latest code; open it with VS; launch test explorer to view all the existing test cases.

On Mar 20, 2017, at 9:19 PM, PVINOD91 <notifications@github.com<

[2017-03-21 06:17] PVINOD91 commented on #188
Couldn’t locate the right place to get the latest SDK files downloaded. Please route me to the right direction for SDK and test files for creating charts

Thanks,
Vinod Pichamuthu
Honeywell Technology Solutions | TS IT

From: TarunChopra[MSFT] [mailto:notifications@github.com]
Sent: Tuesday, March 21, 2017 9:58 AM
To: OfficeDev/Open-XML-SDK <Open-XML-SDK@noreply.github.com>
Cc: Pichamuthu, Vinod <

[2017-03-21 06:45] PVINOD91 commented on #188
Hello,
                I couldn’t open it in my VS 2010, showing this error and not letting me to go in. please let me know the way to access this project

[cid:image001.png@01D2A23C.C410AB90]

Thanks,
Vinod Pichamuthu
Honeywell Technology Solutions | TS IT

From: TarunChopra[MSFT] [mailto:notifications@github.com]
Sent: Tuesday, March 21, 2017 9:58 AM
To: OfficeDev/Open-XML-SDK <Open-XML-SDK@nore

[2017-03-21 06:59] tarunchopra commented on #188
We have note tested with VS2010; please install vs2015 and test.
https://www.microsoft.com/en-us/download/details.aspx?id=48146

[2017-03-21 07:06] tarunchopra commented on #187
@ThomasBarnekow : You are right; we broke something and project is not compiling with VS2015. It's supposed to work with VS 2015.

@tomjebo : Can you review what broke the VS 2015 compilation ?

[2017-03-21 07:13] PVINOD91 commented on #188
If I am not wrong, SDK v2.6 or above can’t be used in VS 2010, it needs VS 2015 or above. Am I right?

Thanks,
Vinod Pichamuthu
Honeywell Technology Solutions | TS IT

From: TarunChopra[MSFT] [mailto:notifications@github.com]
Sent: Tuesday, March 21, 2017 12:30 PM
To: OfficeDev/Open-XML-SDK <Open-XML-SDK@noreply.github.com>
Cc: Pichamuthu, Vinod <Vinod.Pichamuthu@Honeywell.com>; Mention <mention@n

[2017-03-21 07:20] ThomasBarnekow commented on #187
@tarunchopra, this is not a compile problem. As described in my original post, the project files cannot be opened with VS2015 because the project file format has been upgraded to VS2017. The VS2017 format is incompatible with the one used up to VS2015.

[2017-03-21 07:27] tarunchopra commented on #179
@qinmeigui : I'm pretty confident that you have downloaded wrong package; this package is hosted on myget and not on nugget. As taylor suggested; follow 'The Latest Builds' section in readme (https://github.com/OfficeDev/Open-XML-SDK#how-to-install-the-nuget-package) to get correct package.

[2017-03-21 07:45] tarunchopra commented on #188
We have not tested 2010; is there any issue using 2015 ? Community edition 2015 is free and should work. I'll check on 2010 with team in a day or so and update the readme accordingly to avoid confusion moving forward.

[2017-03-21 07:52] tarunchopra commented on #188
One more thing; our vs2015 build is broken presently (#187). Will try to get it fixed in a day or so; sorry for the inconvenience.

[2017-03-21 08:41] PVINOD91 commented on #188
Thanks for the Quick reply. Please let me know once it is fixed and ready to use. So I can test from my side

Thanks,
Vinod Pichamuthu
Honeywell Technology Solutions | TS IT

From: TarunChopra[MSFT] [mailto:notifications@github.com]
Sent: Tuesday, March 21, 2017 1:23 PM
To: OfficeDev/Open-XML-SDK <Open-XML-SDK@noreply.github.com>
Cc: Pichamuthu, Vinod <Vinod.Pichamuthu@Honeywell.com>; Mention <men

[2017-03-21 08:48] PVINOD91 commented on #188
I tried in VS 2015, but the project doesn’t open to access. Please refer the attached image. Also it would be useful to update for VS 2010, because till v2.5 I could work with VS 2010, but not supporting now in higher versions.

Thanks,
Vinod Pichamuthu
Honeywell Technology Solutions | TS IT

From: TarunChopra[MSFT] [mailto:notifications@github.com]
Sent: Tuesday, March 21, 2017 1:16 PM
To: Office

[2017-03-21 08:56] ThomasBarnekow commented on #188
@PVINOD91, you responded that you:

Do you know **exactly** what the Open XML mark-up is supposed to look like? If not, the SDK will let you produce the wrong mark-up, which is why it might fail. This is why I suggested you should:

- produce the desired outcome using **Excel** or **PowerPoint** rather than the SDK;
- look at the mark-up produced by **Excel** or **PowerPoint**; and
- reproduce tha

[2017-03-21 09:07] ThomasBarnekow commented on #188
@PVINOD91, how do you intend to use the SDK? Do you want to:

1. change and possibly contribute to the source code or
2. just use the SDK as it is released?

In the first case, you should really go with the flow and use recent tooling. VS2010 is no longer "recent" and will create issues for yourself and this project.

In the second case, you should really consider using the NuGet packages hosted o

[2017-03-21 09:07] PVINOD91 commented on #188
To be honest, I did understand your completely. But I will explain what I have tried so far.

1.       I was able to create PowerPoint Presentation (Images, Copy Charts from Excel, Table & Comments) using OOXML. Success

2.       I tried to update excel (xlsx & xlsm) cells using OOXML. Success

3.       I tried to create a chart (both Chart Sheet & Chart Object) in Excel using data from an Excel S

[2017-03-21 09:09] PVINOD91 commented on #188
I just wanted to use the latest SDK as it is released, but in Visual Studio 2010 if possible.

But I had an another problem that I really needed a support for. Please refer my previous reply for understanding

Thanks,
Vinod Pichamuthu
Honeywell Technology Solutions | TS IT

From: Thomas Barnekow [mailto:notifications@github.com]
Sent: Tuesday, March 21, 2017 2:38 PM
To: OfficeDev/Open-XML-SDK <Ope

[2017-03-21 09:14] ThomasBarnekow commented on #188
@PVINOD91, could you please tell me whether you tried what I suggested?

[2017-03-21 09:21] PVINOD91 commented on #188
I can easily create the desired outputs using Excel Macros or other Programming languages, but I wanted to achieve it through OOXML & C#. because the project is already 90% implemented with OOXML, hence I didn’t want to achieve it through other solutions.

Please let me know if possible to have a short discussion through any medium, will talk for better understanding.

Thanks,
Vinod Pichamuthu
Hon

[2017-03-21 10:16] ThomasBarnekow commented on #188
@PVINOD91, I can't talk to you right now, unfortunately.

Assuming you have created the output (e.g., Excel workbook) you desire by whatever means (manually, through VBA), did you have a look at the Open XML? Looking at the Open XML mark-up representing what you desire has been my point from my first response.

Say you have an Excel file that looks exactly as desired. If you then look at the Open

[2017-03-21 10:46] PVINOD91 commented on #188
Say you have an Excel file that looks exactly as desired. If you then look at the Open XML, you will see what you have to produce using the SDK. – I understand this point and I have followed this so far to create PPT presentations & Excel files. But I couldn’t create XML for Charts using C# script how it looks like in an Excel file looks exactly as desired.

Hence I would need a sample script to c

[2017-03-21 12:45] ThomasBarnekow commented on #188
@PVINOD91, I don't know what the code looks like if I don't know what Open XML mark-up I need to create. If you followed my advice, you will now have the Open XML mark-up. Can you please share that here?

I have never done what you are trying to achieve. What I am describing is an approach to getting to a solution, which often is to just construct the right objects. Thus, if you see the Open XML m

[2017-03-21 13:11] PVINOD91 commented on #188
Thanks for the detailed explanation. This is how I build nested XML structure to get my things done for PowerPoint Presentation & Excel Files update.

To create charts, I have referred this link https://msdn.microsoft.com/en-us/library/office/cc820055.aspx, which helped me to create sample bar chart without custom chart / bar properties.

But when I wanted to update the custom properties, I was ab

[2017-03-21 14:07] ThomasBarnekow commented on #188
@PVINOD91, what *exactly* do you mean with

Are you saying that additional parts are required for those custom properties?

Again, it is important to understand what the correct outcome looks like. If the outcome is created by adding well-defined mark-up to a single part, that is one thing. If the outcome is produced by creating multiple, interconnected parts, that obviously requires the creation

[2017-03-21 15:49] PVINOD91 commented on #188
This sample bar chart is created by referring https://msdn.microsoft.com/en-us/library/office/cc820055.aspx
![bar1](https://cloud.githubusercontent.com/assets/26536321/24155422/292e8e8a-0e2a-11e7-982b-284f31da40ff.png)

if you could refer this image xml structure there is "chart.xml" in the location xl>drawings>charts>chart.xml
![folderstructure1](https://cloud.githubusercontent.com/assets/2653632

[2017-03-21 16:02] tomjebo commented on #187
@ThomasBarnekow thanks for bringing this up. I'll sync up with @twsouthwick and get this resolved.

[2017-03-21 16:08] ThomasBarnekow commented on #188
Are you sure that the only change you need to make is in that `ChartPart`? How did you create that example chart? in Excel? What **exactly** was the difference between the .xlsx file before and after you made that change? Were any parts added? Was any mark-up added elsewhere?

For example, if you add a single sheet with text content in the cells, this requires multiple parts.

[2017-03-21 16:15] twsouthwick commented on #187
This was by design as the tooling for VS2015 was preview and with VS2017 hitting RTM, that tooling is the way forward. The two project types don't work well together (having a project.json and the csproj in the same directory causes problems for the toolchains). I can't gather from the thread if this is a blocker (ie are people unable to upgrade to VS2017?).

@ThomasBarnekow  if you want to look a

[2017-03-21 16:19] twsouthwick commented on #186
This is a better description of what #166 was trying to define :)

[2017-03-21 16:37] PVINOD91 commented on #188
yes I need to make changes in chart Part. maybe the chart part should be appended to another part I didn't know, instead of drawingspart. I create this example chart in excel (.xlsx). the only difference between the .xlsx file before and after I made that change was Y Axis Title Component. no other parts have been added after that. main difference I could see was the position of that chart.xml / c

[2017-03-21 16:39] tomjebo opened #189 "Update the Readme.md to correctly reference VS 2015"
Currently, Build Instructions says:

...
To build the Open XML SDK:

Clone the repo at https://github.com/OfficeDev/Open-XML-SDK
Open the solution using Visual Studio 2015. Community Edition of VS2015 works just fine.

That last line should say 2017, as we now have a requirement for 2017.

[2017-03-21 16:43] tarunchopra commented on #189
This table too needs an update:

Table 1: The latest builds are available via a MyGet feed
Client
Feed URL
NuGet V3 (Visual Studio 2015+)
https://dotnet.myget.org/F/open-xml-sdk/api/v3/index.json

NuGet V2 (Visual Studio 2012+)
https://dotnet.myget.org/F/open-xml-sdk/api/v2

[2017-03-21 16:49] tomjebo commented on #189
@tarunchopra I think for using the library it's ok

[2017-03-21 16:49] #189 closed

[2017-03-21 17:14] PVINOD91 commented on #188
if I add a single sheet with text content, it may need only worksheetpart>worksheet>sheetdata>row

[2017-03-21 18:02] ThomasBarnekow commented on #187
@twsouthwick I personally don't have an issue with upgrading to VS2017 as I planned to do that anyhow. Other people might have a problem, though.

I was just surprised that I could effectively not open the solution with VS2015, because the only project files I can see right now are `.csproj` files, e.g., `DocumentFormat.OpenXml.csproj`, which don't work with VS2015. I can't see `project.json` file

[2017-03-21 18:39] twsouthwick commented on #187
Yes, the README is being updated to address this issue. The way forward is to open in a tool that supports the new csproj format: VS2017, VS Code, VS for Mac, or .NET CLI

[2017-03-21 18:56] twsouthwick commented on #188
As @ThomasBarnekow mentioned, this kind of question is much better suited for SO. This issue is not a problem with the SDK. Please repost your question there so the wider OpenXML community will see it and can help.

@tarunchopra I've requested the tag on SO to be updated to remove the version number as there is no need to limit to just 2.0 and 2.5 there. I don't have enough reputation to do it mys

[2017-03-21 19:04] ThomasBarnekow commented on #188
@PVINOD91, if you have a workbook with a single sheet and some text, e.g., "Hello World!", Excel will represent that sheet and its text using two (2) parts rather than just one. It will have one part for the sheet (e.g., `sheet1.xml`) and one part for shared strings (e.g., `sharedStrings.xml`) that is referenced by the cells.

I also did my own little test, producing an Excel workbook with a colum

[2017-03-21 19:16] ThomasBarnekow commented on #187
Good. Once the README is updated, we can close this issue.

[2017-03-22 03:39] PVINOD91 commented on #188
Thanks for the very detailed explanation. I knew it was not SDK problem, it was because I was unaware how to build the xml markups. please route me to the right team. so they can help to get some more ideas in using it effectively

[2017-03-22 04:42] PVINOD91 commented on #188
[Open XML.zip](https://github.com/OfficeDev/Open-XML-SDK/files/860354/Open.XML.zip)
Attached Zip file has two excel files and a PowerPoint to briefly explain the problem.

Excel File "No custom changes.xlsx" was created by C# script & OOXML, referring https://msdn.microsoft.com/en-us/library/office/cc820055.aspx

after creating this excel file, I manually opened the file and inserted "Y Axis Title

[2017-03-22 07:40] ThomasBarnekow commented on #188
@PVINOD91, as also @twsouthwick said, stackoverflow.com would be the place to go for asking your **how-to** questions. As you rightly said, this is **not** an SDK **issue**.

Some last comments ...

- Note that the Open-XML-SDK and Excel (in particular) might produce output that **looks** different to the casual user but in fact is totally in line with the Open XML specification. Excel will also c

[2017-03-22 08:46] Doff3n opened #191 "Official Nuget package for .NET Core"
Do you have a roadmap on .NET Core support and are you planning to put .NET Core packages on Nuget anytime soon? Our conclusion is that #184 is awaiting to be merged before packages are released to Nuget.

The myget feeds work great for us so far, creating docx documents programatically

[2017-03-27 20:08] wacked7c1a opened #193 "Add print option to file templates."
Doh.  I forgot to add an option to Word File Templates to print.  This could be a thing.  Totally I should do this tomorrow.  That may or may not be a thing you could do with OpenXML, but with automation it could work.

[2017-03-29 05:18] PVINOD91 commented on #188
Hello again, I reached out stackoverflow.com for this question. It didn't help me yet. I am suspecting it may be because of the version of Open XML (version 2.5), Currently I use. Hence, could you please share me the latest Open XML SDK version 2.6 or above (latest) ?, so I could check if I can get that feature success and some additional features for my project.

[2017-03-29 05:58] ThomasBarnekow commented on #188
This site (GitHub) and myget.org (see README.md) are meant to share exactly what you are asking for. You can build whichever version from source using this repo (or a fork if you wish to make changes) or you can install a NuGet package with the latest and greatest already built from myget.org as described in the README.

[2017-03-29 08:59] PVINOD91 commented on #188
Thanks.. I was told that the last build had some problems two weeks ago, so just wanted to confirm

Hence, Please confirm the latest SDK update has no problems in using it.

[2017-03-29 14:36] ThomasBarnekow commented on #188
I can only say that I am using the latest version (`2.7.2-vnext0027`) of the `DocumentFormat.OpenXml` package hosted on [myget.org](https://dotnet.myget.org/gallery/open-xml-sdk) without problems so far.

Using the NuGet package removes the need to build from source, which now requires Visual Studio 2017 if you want to build the latest and greatest.

[2017-03-29 15:26] twsouthwick commented on #188
@PVINOD91 If you have a specific issue, we can investigate it. Can you give context to your question? ie what issues are you referring to? If there is an issue that you are encountering, please give full context for the issue and what you are seeing compared to what you are expecting.

Also, if you add the link for the SO question, then we can respond there for questions on usage rather than issue

[2017-03-29 22:05] jvanriel commented on #69
I'm running with the latest mono 4.8 on Debian 8.7 and the latest NuGet package for Open-XML-SDK.

I'm still getting this exception, even when I temporarily change the current working directory of the process such that i use relative files instead of absolute paths. I've tried with System.IO.Packaging but to no avail.

Creating a new file works without issues. Has anyone code that successfully ope

[2017-03-29 22:20] igitur commented on #69
@jvanriel When I last looked at this issue, there was also a bug In Mono itself. I attempted a poor pull request at https://github.com/mono/mono/pull/3630 but with those changes I was able to manipulate xlsx files.

[2017-03-30 08:47] ThomasBarnekow commented on #187
@twsouthwick, you said the README is being updated but I can't see any update yet. Will this be done anytime soon?

I've also seen that the Change Log in the README does not reflect the latest **nine (9)** NuGet packages (see [here](https://dotnet.myget.org/feed/open-xml-sdk/package/nuget/DocumentFormat.OpenXml)). And if you look at the [gallery](https://dotnet.myget.org/gallery/open-xml-sdk) page

[2017-03-30 09:10] igitur commented on #38
For those still struggling with this issue, please see @EricWhiteDev 's article on how to handle this: http://ericwhite.com/blog/handling-invalid-hyperlinks-openxmlpackageexception-in-the-open-xml-sdk/

The link Eric posted above seems obsolete.

@EricWhiteDev: Is there absolutely no way that this workaround will be implemented going forward?

[2017-03-30 11:06] jvanriel commented on #69
It looks like the mono pull request form igitur is not (yet) merged.  From an Open-XML-SDK perspective a simple test like the one below : create an .xlsx file (which works) and then open that file again (which fails) seems like a pretty fundamental issue.

As far as i understand both Open-XML-SDK and Mono are under the same MS umbrella. Could I get some guidance from an insider about when this iss

[2017-03-30 14:57] twsouthwick commented on #187
The [README](./README.md) in the repo has been updated but looks like you are looking at the feed description which has not. Only released versions are included in the README - ci builds (ie once with vNext in the name) are not included as those are not official releases. I'll update that readme.

[2017-03-30 15:04] twsouthwick commented on #187
I've updated the feed README to include the latest information

[2017-03-30 20:09] ThomasBarnekow commented on #187
@twsouthwick, I looked at both the README of this repository and at the feed.

Regarding the README (following the link you provided above), what exactly did you update? For example, it does not mention that VS2015 and earlier are no longer supported. It should mention what you already indicated above:

The README also says the following:

Is that still up-to-date?

The fact that you publish CI bu

[2017-03-30 20:55] blakepell commented on #142
I have this same issue compiled against net461.  I'm temporarily writing strings, anytime I use CellValues.Date and put a date into it it corrupts the spreadsheet.  I set the cell's DataType to CellValues.Date and then the CellValue to a new CellValue with the date passed in as a string to the constructor of CellValue (perhaps it needs a specific format on the date?.. as opposed to whatever DateTi

[2017-03-31 00:30] twsouthwick commented on #187
We don't explicitly state it doesn't support VS2015, but we do say you need VS2017 or something compatible. I prefer to state what you need to open it, rather then list some of the things that won't work. What do you think? The current wording is in bullet 2:

[code]

Good catch. This is out of date and needs to be updated

MyGet doesn't seem to differentiate between prerelease and non-prerelease

[2017-03-31 00:35] twsouthwick commented on #191
.NET Core support has been available since November (see #111) and #184 is already merged. What's the specific need for NuGet support if MyGet is already working for you? We are working on getting a NuGet release, but someone has already taken the name and we're trying to get ahold of the publisher to take it over with official releases.

[2017-03-31 15:38] jmhmaine opened #194 "NuGet package for 2.7"
What is the NuGet package for version 2.7.1? I only see the following listed:
https://www.nuget.org/packages/OpenXMLSDK-MOT/

This is at version 2.6.1.

[2017-03-31 16:40] ThomasBarnekow commented on #194
@jmhmaine, please have a look at the [README](https://github.com/OfficeDev/Open-XML-SDK) (as shown on the main page of this repo). You will find links to **myget.org**, where the NuGet packages are hosted (i.e., not on **nuget.org**). If you are looking for version 2.7.1, you will end up [here](https://dotnet.myget.org/feed/open-xml-sdk/package/nuget/DocumentFormat.OpenXml/2.7.1).

[2017-03-31 20:41] jmhmaine commented on #194
Thank you for the quick response @ThomasBarnekow.
Is the new location of OpenXMLSDK-MOT that was on NuGet, or a different fork?

Josh.

[2017-04-01 12:59] robertmuehsig commented on #191
MyGet Feeds have the notion of "pre-release" stuff. I',m also waiting for an official NuGet release, because I want to avoid to manage custom feeds inside our dev-environment, especially if you provide a real NuGet.org hosted package it would be confusing and would require some "migration" work.

[2017-04-01 13:14] ThomasBarnekow commented on #187
I would also say that VS2015 and earlier are not supported. Otherwise, people would have to find out that VS2015, for example, does not support the latest .NET project files. Thus, you could add something like the following:
[code]

Regarding the *stable* versions on myget.org, you are right in case people use the VS GUI. However, people might use the Package Manager console to install the package

[2017-04-01 13:29] ThomasBarnekow commented on #194
@jmhmaine, I don't know what "OpenXMLSDK-MOT that was on NuGet" is and I don't know anything about the package author's affiliation.

"This" is the official location of the Open XML SDK and nothing else. To my knowledge, the project never released a NuGet package on nuget.org but only on myget.org. Because a NuGet package was in high demand before this project released it on myget.org, other autho

[2017-04-01 15:12] jmhmaine commented on #194
Thank you for the clarification @ThomasBarnekow. I'm beginning to think that the OpenXMLSDK-MOT on NuGet was only added because it is a dependency for other packages, such as the one I'm using which is OpenXml Power Tools ( https://www.nuget.org/packages/OpenXmlPowerTools/ ). The issue I see is that this never gets updated from the official project, which appears to be yours. I also see the other

[2017-04-01 15:25] ThomasBarnekow commented on #194
While @EricWhiteDev is the author of the Open XML PowerTools and also maintained the Open XML SDK for a while, to my knowledge he did not author NuGet packages for these projects. This also led other people to author those NuGet packages that you can find on nuget.org.

You didn't actually need those NuGet packages in the past. You could have built those libraries from source. While the NuGet pack

[2017-04-01 15:55] jmhmaine commented on #194
@ThomasBarnekow, that makes sense. It seems the ideal would be to have the dependency reference the official Open XML SDK from the Repo.  I'm not sure if NuGet supports linking to another repo for dependencies, I haven't seen it before. Likely Open XML PowerTools would need to be hosted on MyGet and for the dependency to work. This assumes that MyGet supports the same dependency referencing that N

[2017-04-05 04:24] rainierpaul opened #195 "FieldCode is fragmented"
When getting fieldcodes using

`document.MainDocumentPart.RootElement.Descendants(Of FieldCode)()`

FieldCode  is fragmented  when Word put the instruction text in multiple  <w:instrText>.

the xml looks like these
<w:r>
		<w:rPr>
			<w:b />
		</w:rPr>
		<w:fldChar w:fldCharType="begin" />
	</w:r>
	<w:r>
		<w:rPr>
			<w:b />
		</w:rPr>
		<w:instrText xml:space="preserve"> MERGEFIELD CHIL</w:instrT

[2017-04-10 16:03] twsouthwick commented on #191
We're working on getting the NuGet feed, but the MyGet feed is not prerelease (although it does contain some prerelease versions). @robertmuehsig have you tried just adding a NuGet.config file and adding the myget endpoint there? It's very lightweight and I haven't had any issues doing that for any of my projects. Are there other considerations you have in managing custom feeds?

[2017-04-10 16:57] twsouthwick commented on #193
I'm not clear on what you are asking. Are you seeing an issue with the SDK or are you requesting a feature?

[2017-04-10 17:00] #187 closed

[2017-04-10 17:19] twsouthwick commented on #194
When NuGet is finding packages, it doesn't care which feed an item is on; it will search all the feeds and then add them to your project. We've been working on adding a package to NuGet.org, but the ID is already taken, so we've been trying to figure out our next steps. Please see issue #191 for more details.

I'm going to close this as it's a duplicate ask for #191. Please feel free to comment th

[2017-04-10 17:19] #194 closed

[2017-04-10 17:19] twsouthwick commented on #179
@qinmeigui Since the directions are on the README and there are other issues with examples, I'm going to close this. Please reopen with more details if you feel your issue has not been addressed.

[2017-04-10 17:19] #179 closed

[2017-04-10 17:22] twsouthwick commented on #106
The project has switched to using the latest .NET tooling and provides a MyGet feed to download precompiled binaries targeting .NET Standard 1.3 and .NET Framework 4.5 (with more to come). Please see the README for details. Please reopen or create a new issue if you have trouble using the package.

[2017-04-10 17:22] #106 closed