[2018-07-27 07:31] jason8232590 commented on #517
@twsouthwick
Thanks for your reply !
Here is the "csproj" file.
[code]
By the way , I don't want to update the visual studio unless it is the only way to solve this problem ,because I find the new version usually can not support the project what build on old version well enough.

[2018-07-27 16:21] twsouthwick commented on #517
Well, the fix appears to have been put in a later VS, so I don't know if there's much we can do without you upgrading. You can always stand up a VM in Azure (there are prebuilt machines for this: https://docs.microsoft.com/en-us/visualstudio/install/using-visual-studio-vm).

Can you explain what this means? Have you had specific issues in the past?

[2018-07-30 07:42] jason8232590 commented on #517
@twsouthwick   I have tried updating IDE and now it can run on my android when I only just import "DocumentFOrmat.OpenXML".  By the way , the new version IDE predictably caused some other issues as usual  . It even can not run the project what new from the IDE . Here is  the error log .

[code]
Finally , I downgraded Xamarin.Forms then solved the problem . I think the compatibility of IDE and some

[2018-07-30 07:44] #517 closed

[2018-07-30 09:02] xiangxingze opened #518 "I have a question, who can help me?"
Sorry for disturbing you!
Open XML SDK is similar to Microsoft.Office.Interop.Word
How to move the cursor to wrap
Object extend = Word.WdMovementType.wdExtend;
                 Object unit = Word.WdUnits.wdCell;
                 Object count = 1;
                 wApp.Selection.MoveRight(ref unit, ref count, ref extend);

[2018-08-06 08:36] bhguo opened #519 "It's appreciate if OpenXML SDK provides calculation mechanism"
OpenXML SDK has no calculation mechanism, it makes simple task very complex. For example, a excel file has a formula cell A3=sum(A1:A2), if we need insert a row of data after row1, the formula should change to sum(A1:A3) .
This can be done automatically either in excel application or in office automation solution. But with OpenXML SDK, we need to do by programming, it's not a simple task because w

[2018-08-06 18:07] tomjebo commented on #519
@bhguo Thanks for the suggestion. It sounds like this is something that would fit better with the [Open-XML-PowerTools](https://github.com/OfficeDev/Open-Xml-PowerTools) than the SDK. It involves a lot of application specific implementation.

[2018-08-07 07:02] xiangxingze opened #520 "Using the Open XML SDK to manipulate Wrod how do I move the cursor to a particular paragraph"
Please help me, when using the Open XML SDK to generate a Word document through the Word template in the.net core platform, how do I move the cursor to a specific paragraph?

中文：在.net core 平台下使用Open XML SDK 通过Word模板生成Word文档时，如何将光标移动到特定的段落？

[2018-08-07 12:39] ThomasBarnekow commented on #520
@xiangxingze This is a typical stackoverflow.com question rather than an issue with the Open XML SDK. However, as it is a quick answer, the following example shows the markup that you want to create:
[code]
Word uses a special bookmark called "_GoBack" to mark the paragraph that was last edited. However, it seems that it Word does not (always) go there but rather just offers the user the option to

[2018-08-07 19:40] stefan505 commented on #204
Any progress on this?

[2018-08-08 12:27] SSAbraham opened #521 ".NET Core and OpenXmlSDK"
**Description**

Error: Package 'DocumentFormat.OpenXmlSDK 2.0.0' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.1'. This package may not be fully compatible with your project.

Is there any plan to support .NET Core or is there a matrix of the version of OpenXmlSDK's supported versions of .NET?

[2018-08-08 12:33] SSAbraham commented on #521
I think I found a post saying I need to just get the 2.8.1 version so I'm going to close this until I test.

[2018-08-08 12:33] #521 closed

[2018-08-11 11:54] giangcoi48k commented on #516
I resolved this problem by myself. I figured out that a chunk element can inside in the bottom of a run element. So, I changed ReplaceElement method:
[code]
It is work well for me!

[2018-08-13 12:05] igitur commented on #519
@bhguo There are libraries that are wrappers around OpenXML that enable you to do this, e.g. [ClosedXML](https://nuget.org/packages/ClosedXML) and [EPPlus](https://www.nuget.org/packages/EPPlus). As far as I know, they both have formula parsing and evaluating.

[2018-08-13 22:44] EatonZ commented on #512
Hi again, any updates?

[2018-08-17 17:40] tomjebo commented on #512
@EatonZ we're still working on it.

[2018-08-27 16:23] fmoghaddampoor opened #522 "How to build the open xml?"
Hi
For one of my projects I want to embedd the open xml into one of my dlls . I started downloading master Open xml from below address: https://github.com/OfficeDev/Open-XML-SDK And tried to build it first, but to my dismay its saying The SDK 'Microsoft.NET.Sdk' specified could not be found

I have looked at below address and I saw I have installed these .net cores: C:\Program Files\dotnet\sdk

1.

[2018-08-27 17:17] tomjebo commented on #522
@fmoghaddampoor could you take a look at this post [error MSB4236: The SDK 'Microsoft.NET.Sdk' specified could not be found.](https://github.com/Microsoft/msbuild/issues/2532)? Specifically, you may need to add a workload to your VS setup: .Net Core Build Tools.

Tom

[2018-08-28 21:08] tomjebo commented on #522
@fmoghaddampoor let us know if you still have a problem here. To answer your question about .Net Standard 1.3, there is no package. .Net Core 1.0.0 supports .Net Standard 1.3 so if you have .Net Core installed then you should be good to go. You can read more here: [.Net Standard specification](https://docs.microsoft.com/en-us/dotnet/standard/net-standard)

[2018-08-29 11:29] fmoghaddampoor commented on #522
One of the problems with nuget format mode is there are super many files generated as output in Bin folder which makes nuget mode useless as we just need one dll for our clients. And the only thing We need from openxml is to change xlsx revision file properties.

[2018-08-29 17:05] tomjebo commented on #522
@fmoghaddampoor is it building successfully aside from the extra unwanted files? Are you just trying to remove dependencies?

[2018-08-30 08:51] fmoghaddampoor commented on #522
The Nuget format mode is working with two extra files:
DocumentFormat.OpenXml.dll
DocumentFormat.OpenXml.xml

However to my dismay sometimes a lot of system.* files also go to bin which I remove them and it works.
For the part of building master Im not sucessful still:

MSB4044	The "GetAssemblyVersion" task was not given a value for the required parameter "NuGetVersion". DocumentFormat.OpenXml.Ben

[2018-09-01 17:47] fmoghaddampoor commented on #522
As I have tried to go your way I have first tried to find the build tools however visual studio installer did not have the item. So I totally removed visual studio and then I reinstall it again and this time I find the build tools. I could at the end build the project with no error however the c# used is super high 7.2 🙄which needs also. Net framework 4.7. Also to my dismay I found it uses a syste

[2018-09-03 00:50] len5417 commented on #426
I just updated to OpenXML.DLL version 2.8.1 and am getting this warning. I was using version 2.5 previously and made no other dependency changes, so I'm operating under the assumption that the OpenXML.DLL upgrade is where my issue started. I see this is closed, is there somewhere I can go for more information?

[2018-09-03 15:07] twsouthwick commented on #426
The fix is in, but hasn't been released yet. We're in the process of doing so. Are you also using the aras tools?

[2018-09-03 15:13] twsouthwick commented on #426
Just to clarify, this is a bug with Aras (or whatever you are using to host the app) as it is incorrectly not honoring visibility rules. You can use the latest CI build of 2.9.0 stable (we haven't pushed it to NuGet but it is supported as a stable release) which has this fix, but also please contact the developers of the hosting framework to notify them they have a potentially serious bug. Not  ho

[2018-09-18 20:56] twsouthwick commented on #522
Hi @fmoghaddampoor I think we should take a step back to understand what your ask actually is. Sounds like you want to embed the SDK in another assembly. Can you please help us understand what your scenario is (ie why do you want to do this)? The recommended way to go about this is to create a NuGet package that then takes a dependency on this package. The benefit of it is:

- You are not responsi

[2018-09-18 21:29] twsouthwick commented on #522
For directions on building, see https://github.com/OfficeDev/Open-XML-SDK/blob/master/README.md#to-build-the-open-xml-sdk. This is only if you stay on the "golden path" - as I said, the build process is non-trivial

[2018-09-18 23:08] twsouthwick commented on #520
As @ThomasBarnekow said, this is not related to the SDK functionality directly, but rather usage of the schema. Thanks for answering! I'm going to close this issue, @xiangxingze , but feel free to open again if you find issues with the SDK.

[2018-09-18 23:09] twsouthwick commented on #518
As @daniel-white said, this is a question that would be better asked on StackOverflow. This repo is for issues in the SDK. Thanks!

[2018-09-18 23:09] #518 closed

[2018-09-18 23:09] #520 closed

[2018-09-21 01:43] guyuming76 opened #523 "rsid related issue for insert picture to Word with openxml sdk"
https://social.msdn.microsoft.com/Forums/en-US/92a94048-3339-4943-90e0-03fe8d0632a9/cannot-open-docx-after-inserting-picture-with-openxml-problem-with-partworddocumentxml?forum=os_binaryfile#65fb63fb-7ce4-4521-acf2-3b9a7551c302

[2018-09-24 17:08] tomjebo commented on #523
@guyuming76 can you please add the description and provide simplified code so that we can reproduce this?

[2018-09-25 00:51] tomjebo commented on #509
@NerdBrick (@twsouthwick @tarunchopra) I spent some time today testing this scenario. I found that a blank, newly created Excel workbook (no SDK involved) behaves the same way when using the "Open and Repair" option in Excel. So I focused on the Spreadsheet Compare tool.

After whittling down the Excel genned file to the same structure and content as the SDK genned one (tediously), I found that th

[2018-09-28 17:43] twsouthwick commented on #522
@fmoghaddampoor Any updates?

[2018-10-03 09:35] fmoghaddampoor commented on #522
Well actually the problem is we have a synchronizing system which we are releasing all the time our files for lots of clients, so the they start using the dlls in one system from many app at the same time. And if they are in use synchronization can not be done until all the processes shut down on client computer. We have find the solution by renaming dlls in use and copy new dll. but what will hap

[2018-10-03 18:06] tomjebo commented on #522
Would it be more appropriate to build an isolated application? [Isolated Applications](https://docs.microsoft.com/en-us/windows/desktop/sbscs/isolated-applications)
This would allow you to select which assemblies and DLLs you use and where they come from.

[2018-10-04 10:05] smithapk opened #524 "Detect pending track changes in excel using open xml"
# Before submitting an issue, please fill this out

Is this a:

- [x] Question on library usage -Yes

**Description**

Requirement :

                               Read pending track changes from excel which are not yet accepted or rejected

Problem Statement:

                             There is no tag to identify directly whether a track revision is accepted or rejected  in revision log .

As

[2018-10-05 01:19] tomjebo commented on #524
@smithapk thanks for detailing this issue and requesting an attribute. I'll take a look. you might also want to check with StackOverflow.

[2018-10-05 09:17] rominator1983 opened #525 "ToFlatOpcDocument and ToFlatOpcString deliver a document that is not useable in MS Word when there is an altChunk-Part"
**Description**
ToFlatOpcDocument and ToFlatOpcString deliver a document that is not useable in MS Word when there is an altChunk-Part.

When a document contains an altChunk-Part with content-Type "application/xhtml+xm" the conversion routine returns a part with a pkg:xmlData-Element.
Such documents cannot be processed in MS Word (tested in 2010 and 2016).

MS Word expects altChunk-Parts always to

[2018-10-08 11:14] rominator1983 commented on #525
@tomjebo: If you need further information just let me know. I will get back at you as soon as I can.

[2018-10-15 15:21] twsouthwick commented on #522
This sounds like you need to figure out a better deployment strategy. What kind of application is this? Client or server? I'm assuming client. How are you deploying? Using click-once/appx/msix/installers should be able to handle this transparently for you.

[2018-10-15 15:30] twsouthwick commented on #522
As I said, you're deployment strategy is the issue here. Why do you not put everything in a specific directory for each application that needs it? Are these loaded as extensions in the applications? Are you automating this under a client w/o their knowledge or are they opting into it?

[2018-10-15 15:30] twsouthwick commented on #522
Also, what do you mean by this:

[2018-10-15 18:52] fmoghaddampoor commented on #522
Well users start synchronizing from cad to get new software and new database, lets say a button which synchronize the software which may already be used in another instance of cad. so a cad runs a vb script , vbscript is using a com exposed function of c#, which is a  dll which uses your dll. the software is doing long running batch process. then another app is synchronizing the files already in u

[2018-10-16 01:11] twsouthwick commented on #522
Ok - I understand what you're doing. Is this run in the same process? If so, you'll need to unload the assemblies so you can correctly reload things. However, most applications require a restart for this precisely so they don't run into issues you are describing (ie Visual Studio does that with their extensions).

Since this is not something SDK, I'm going to close this issue. Good luck with your

[2018-10-16 01:11] #522 closed

[2018-10-16 06:53] rominator1983 commented on #525
The issue occurs when creating a document with the OpenXML-SDK (with an altChunk-Part) as well as document that are only opened for conversion and have such a part.

You can easily reproduce the issue when you save the converted Flat-OPC that gets created by my code sample and try to open that in MS Word.

MS Word converts an altChunk-Part during opening to inline Word-Processsing-ML so you do not

[2018-10-16 14:54] smithapk commented on #524
@tomjebo  Thank you for the input.
We are able to progress by considering revision history  and time stamp for each revision.
Currently I used an approach of verifying Time stamp of each header to identify  last change happened in a cell.
DateTime date1 = ((DocumentFormat.OpenXml.Spreadsheet.Header)headercollction[i]).DateTime;
DateTime date2 = ((DocumentFormat.OpenXml.Spreadsheet.Header)headercol

[2018-10-16 15:10] twsouthwick commented on #522
@fmoghaddampoor btw Stackoverflow is usually a good place for this kind of question. If you submit the question there, paste the link here so we can potentially help there.

[2018-10-16 15:11] twsouthwick commented on #525
Can you provide a simple repro with the SDK creating the altChunk-Part? It helps greatly to have as small as a repro as possible to identify the specific issue.

[2018-10-17 08:31] RocheVal commented on #39
Hi,

Same issue here than the one mentioned above by @jeongsd and @acabutto (with Mono 5.16.0.179 on Ubuntu).

Any news on this issue? Or any workaround?

[2018-10-17 09:43] smithapk commented on #524
@tomjebo

Hi Tom,
I am getting the expected result using below code
But the issue is that  in addition to  headers and revision log  correlation  I am considering time stamp also to get the last change happened to a cell
This approach will fail if the same excel sheet is updated from different time zones as Time Stamp comparison is there to identify the last change happened to the particular cell

[2018-10-19 17:56] tomjebo commented on #523
@guyuming76 I'm closing this for now. If you still need help please post some code that reproduces the issue so we can investigate.

[2018-10-19 17:56] #523 closed

[2018-10-19 22:03] tomjebo commented on #524
@smithapk after reviewing the latest code you posted, this still won't work. You are still not accounting for the `ua="1"` attribute. Remember that each revision is either:
1. accepted in which case it will show up by *revision id* in the `<reviewedList>` or
2. rejected in which case there will be another revision that *is* and the `<reviewedList>` *and* which also refers to the rejected revision

[2018-10-20 00:55] tomjebo commented on #524
@smithapk I've created a simplified example of what I was referring to. This should detect any changes which have not been reviewed (accepted or rejected).

[code]
Obviously, you may want to add processing in addition but this will find the pending revisions.

[2018-10-22 12:46] smithapk commented on #524
@tomjebo
 Hi Tom,

 Thank you for the solution ! 👍
 This works fine for me .

Thanks,
Smitha

[2018-10-22 16:56] tomjebo commented on #524
@smithapk my pleasure. This could be something to add to the [Open XML PowerTools](https://github.com/tomjebo/Open-Xml-PowerTools.git).

[2018-10-22 16:56] #524 closed

[2018-10-23 10:50] tspendel commented on #512
Hello, any updates on this? :)

[2018-10-30 18:41] ThomasBarnekow commented on #484
@twsouthwick and @tomjebo Just checking whether there are any news on this.

[2018-10-30 18:57] tomjebo commented on #484
@ThomasBarnekow We are currently working on getting the remainder of 2016 support built in the SDK. There were scheduling issues during the summer but we now are starting work on it. No ETA right now but hoping for the next couple months, maybe end of year.

[2018-11-02 21:11] twsouthwick commented on #512
Update: We have a location to build now that we can sign with a Microsoft authenticode key for upload to Nuget. Now we're trying to figure out how to get that hooked up.

Please remember, you can use the CI feed to access the 2.9.0 release.

[2018-11-08 09:22] QuarK264 opened #527 "Error display decimal divider for zero double value in Excel"
**Description**

I have an error connected with displaying decimal divider for zero double value in Excel using custom `NumberingFormat`. I set `FormatCode` `"0.####"`, it works fine for values like 3.4342, but fails for 0.0 (get 0.). I have tried to change `FormatCode` to `"0.0###"`, when I do it, I got sheet error when open document.

I think it is a bug, as if I change cell type to string and u

[2018-11-08 17:39] tomjebo commented on #527
@QuarK264, thanks for reporting this issue. I’ll repro and investigate.

[2018-11-15 13:20] QuarK264 commented on #527
@tomjebo I don't understand, what do you mean, when you talk about ';' separated sections. I don't use them or I don't know about them.

Format code `"#,##0.0000"` doesn't fit to my situation, as I don't need thousand separator. I need the next format: at least zero or more figures before decimal separator (dot) and at least zero or up to 4 figures after dot. I see two possible formats for my case

[2018-11-16 15:57] Danghor commented on #512
Looks like it’s available now:

https://www.nuget.org/packages/Open-XML-SDK/

[2018-11-16 15:58] daniel-white commented on #512
@Danghor that doesn't look official.

[2018-11-16 16:05] twsouthwick commented on #512
That is not the official release. Please use the myget feed to get an official build. The non-pre-release software is supported, we are just working through issues getting it onto NuGet. Please be patient - this project is a side-project for us and we want to help everyone, but we've been pretty busy lately.

[2018-11-16 16:07] daniel-white commented on #512
@twsouthwick i'd reach out to nuget.org and somehow handle that - its pretty bad that an unofficial package is out there.

[2018-11-16 16:10] twsouthwick commented on #512
Yeah, I'm already on it. Thanks for point it out!

[2018-11-16 18:18] twsouthwick commented on #512
I'm not going to comment on whether it violates the MIT license, but it definitely breaks the ecosystem when there are divergent packages with different names. I'm confused as to why the myget feed is not sufficient.

[2018-11-16 18:19] daniel-white commented on #512
Not to mention that its not clear if there were modifications to the code before it was packaged.

[2018-11-16 18:37] Danghor commented on #512
Fair enough. I was really just curious if it would violate the license.

[2018-11-19 18:02] CaseySchurman commented on #451
Are there any updates on this issue? Or is it known which version will include a fix for this, and when that version will be released? Currently running into the "useWord2013TrackBottomHyphenation" value error with word doc templates that are edited in Word 2016.

[2018-12-03 13:20] zhijieshi commented on #204
Any progress? Thanks.

[2018-12-13 18:57] twsouthwick commented on #512
We are waiting on some internal approvals to get a key to sign with. Sorry for the delay. The CI system is set up, just need the key

[2018-12-20 20:41] #511 closed

[2018-12-25 20:37] orobert91 commented on #506
Any progress on this? 6 months and the dotnet core hasn't even started looking at it. This should be top priority. It is a blocking issue with no workaround and prevents modifying Excel files in .NET Core.

[2018-12-27 12:11] Metalnem commented on #441
Hi Taylor!

I'm the author of [SharpFuzz](https://github.com/Metalnem/sharpfuzz), which is a tool that enables fuzzing of .NET programs using afl-fuzz. I did a small experiment on **SpreadsheetDocument.Open** method, which discovered that it can throw many unexpected exceptions ([documentation](https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml.packaging.spreadsheetdocument.open?vi

[2018-12-28 02:04] dkddkk opened #529 "search and replace text"
using (WordprocessingDocument xxDoc = WordprocessingDocument.Create(dstPath, WordprocessingDocumentType.Document))
{
MainDocumentPart objMainDocumentPart = xxDoc.AddMainDocumentPart();
objMainDocumentPart.Document = new Document(new Body());

           //add paragraphs here
           //Open-Xml-PowerTools
           TextReplacer.SearchAndReplace(xxDoc, tTarget, tKeyVP.Value, true);
}

SearchAndR

[2018-12-28 16:34] ThomasBarnekow commented on #529
Your question or issue is not related to the Open XML SDK but rather the PowerTools for Open XML. The GetXDocument Extension method and the static TextReplacer class are not part of the SDK.

All of this is Open Source, so you can debug and see what the problem is. You should also have a look at the articles written by Eric White, e.g., on the TextReplacer. However, you might want to consider the

[2019-01-03 09:08] rakewell opened #530 "All strings converted to numbers"
**Description**

There is an issue reading data from the spreadsheet. All cells are somehow converted to numbers even if they contain text. For example the word "testing" becomes 11. I have used the same code with other excel files but text is returned where appropriate.

**Information**

.Net Framework 4.7.2
[OpenXmlReadProblem.zip](https://github.com/OfficeDev/Open-XML-SDK/files/2723115/OpenXmlR

[2019-01-03 17:16] tomjebo commented on #530
@rakewell You need to check the type of the cell and convert to a string with a look up in the shared string table. The value you see is the index in the shared string table.
Check out this article to see how to do this:
[How to: Retrieve the values of cells in a spreadsheet document (Open XML SDK)](https://docs.microsoft.com/en-us/office/open-xml/how-to-retrieve-the-values-of-cells-in-a-spreadshe

[2019-01-03 17:23] twsouthwick commented on #506
@orobert91 The issue is not in this SDK but in the .NET Core implementation. We're blocked here until there is progress there.

[2019-01-03 17:55] tomjebo commented on #527
@QuarK264 if you check the standard section I pointed to you'll see the ";" thing I mentioned. But anyway, I tested the following:

`  <x:numFmts>
    <x:numFmt numFmtId="1" formatCode="0.0###"/>
  </x:numFmts>`

And it works just fine for a value of 0.0.

![image](https://user-images.githubusercontent.com/4644198/50652703-2f728700-0f3c-11e9-9eeb-64150effa665.png)

And using "0.####" will indeed g

[2019-01-03 22:36] rakewell commented on #530
thank @tomjebo. I'm wondering whether there might be a more intuitive approach for getting the cell value directly using, perhaps, an extension method. The code that looks up the shared string table for example wouldn't have to be replicated client side for deriving strings (something that needs no conversion). Also, it is not helpful for decimals where the original is 2.5817 to be converted to 2.

[2019-01-03 22:36] #530 closed

[2019-01-03 23:47] tomjebo commented on #530
@rakewell I was thinking this as well. I'll mark this as a proposed feature request. You are welcome to contribute a PR and we'll review for including into the library. I think we do have to be careful of adding a lot of higher level functionality over the encapsulation of OOXML but this might be something we could add.

[2019-01-04 19:45] twsouthwick commented on #441
This is awesome! I had gone through and tried to update some of the exceptions (I had noticed more were thrown than was documented).

[2019-01-05 12:38] Still34 commented on #389
Has this feature been added? It's been a year since the last discussion comment.

[2019-01-08 15:52] rvanlaak commented on #512
As found in the repo's installation instructions, using the following command does indeed allow installing `2.9.0` 🎉

@twsouthwick Could you maybe elaborate on that a bit further? One question I still have is whether it will keep using that source in case of package updates.

[2019-01-09 22:59] twsouthwick commented on #512
All built packages go there first and we'll retain released packages there as well. So, to answer your question, yes, it will continue to get updates there. However, note that if you set up your `nuget.config` to search both our myget feed and NuGet.org, then it'll just magically find the right package independent of which feed it comes from. The SDK uses strong identity, so we'll never have two p

[2019-01-09 23:01] twsouthwick commented on #512
**Update:** Approvals to obtain a signing key have been completed, now we need to hook it up to the internal CI system. Again, sorry for the delay.

[2019-01-15 20:59] zds0180 opened #756 "Memory use when loading worksheets"
I am seeing what I perceive to be excessive memory use when attempting to get the names of all of the worksheets in a workbook. As soon as I try and open the worksheets inside of the package (excelPackage.Workbook.Worksheets) my test uses ~ 400 MB of memory and takes around 20 seconds to finish that line of code. I am wondering if this is a normal amount of load for the tool to be using for a 30 M

[2019-01-18 13:00] musabmjafri commented on #426
Anyone has any idea when will this be pushed to NuGet?

[2019-01-18 13:27] Reemamotog1 opened #554 "Not able to open VS 2015 solution (Community/Professional) with GitHub"
**Description**

While opening VS2015 (Community/Professional), the VS just scans GitHub repo and automatically closes after 10 secs or so.

**Observed**

On Opening VS2015 it is just keeps scanning GitHub repository and then after 10secs or so VS solution closes automatically.

**Expected**

I was able to open the solution since last 8 month after migration from TFSto GitHub.

[2019-01-18 15:44] twsouthwick commented on #426
Please see #512. Feel free to add the myget feed to get 2.9.0 - it is a supported release and supported mechanism to retrieve the package.

There was a policy change to NuGet for Microsoft products to be authenticode signed by Microsoft, while we have been signing with the .NET Foundation. Due to this, we haven't been able to update the nuget feed. It is being worked on, but requiring a lot of bac

[2019-01-18 15:45] twsouthwick commented on #554
I'm not sure what you mean by 'GitHub repo' or 'migration from TFSto Github'. If you are referring to a cloned fork of this project, then you're right that VS2015 won't open it. We use the new project system introduced in VS 2017 and require C# 7.2 to compile. Please see the README.md on the front page for details.

[2019-01-18 21:08] #529 closed

[2019-01-21 13:20] 1Jesper1 commented on #142
How to create a DateTime column and add dates to an Excel 2013 file?  @twsouthwick

[2019-01-21 22:07] tomjebo commented on #142
@1Jesper1 If you're reporting a problem with the SDK, this is a good place. How to type questions should be posted on stackoverflow. A search like this may help:
[StackOverflow #openxml-sdk datetime](https://stackoverflow.com/search?q=%5Bopenxml-sdk%5D+datetime)

[2019-01-25 20:30] twsouthwick commented on #554
@Reemamotog1 Since you haven't responded to the question, I'm going to close this issue. Please feel free to reopen with more details.

[2019-01-25 20:30] #554 closed

[2019-01-30 21:03] the-frank opened #561 "Open-Xml-SDK cannot load document referencing not installed font when x14ac:knownFonts is present"
**Description**

Open-Xml-SDK will throw an OpenXmlPackageException with the message "The specified package is invalid. The main part is missing." when an excel file references fonts in worksheets that are not present on the system and the tag x14ac:knownFonts is found.

**Information**

- .NET Target: .Net Framework 4.7.1
- DocumentFormat.OpenXml Version: 2.8.1 and 2.9.0

**Repro**
We use Open-XM

[2019-02-19 01:19] zhhbo opened #563 "is there any way to convert alternatecontent to png?"
i want your help?

[2019-02-19 22:55] twsouthwick commented on #563
Can you please fill out the issue template so we can understand what you are trying to do and what you are expecting?

If this is a question on how to use the SDK, it would be best submitted to https://stackoverflow.com as explained in the issue template.

Please reopen if this is an issue with the SDK with more details. Thanks!

[2019-02-19 22:55] #563 closed

[2019-02-19 22:56] twsouthwick commented on #561
Can you share an example of an excel document with this? It definitely shouldn't fail to open.

[2019-02-19 22:57] twsouthwick commented on #527
@QuarK264 this does not appear to be an SDK related issue. I'm closing this for now, but if you feel this is related to the SDK and not Excel, please reopen.

[2019-02-19 22:57] #527 closed

[2019-02-19 22:59] twsouthwick commented on #509
@tomjebo Yeah, that seems to be an issue with the compare tool as it is valid XML. Can you close this once you have a bug opened with the Excel tools folks?

[2019-02-20 14:56] the-frank commented on #561
I will as soon as I clear with Legal here, what and how I can share the excel file.

[2019-02-20 18:58] twsouthwick commented on #561
Awesome. It'll probably be used for a unit test (although we can definitely remove all PII and make it super generic) if that matters for legal purposes.

[2019-02-27 19:40] jchoinski opened #564 "Office Online created document fails OpenXmlValidator validation"
**Description**

Any document created in Office Online, including blank ones fail OpenXmlValidator validation.

                var v = new OpenXmlValidator(FileFormatVersions.Office2016);
                var errors = v.Validate(wDoc);

Produces the following 2 errors :

1.
AttributeQualifiedName: null
Description: The element has unexpected child element 'http://schemas.microsoft.com/office/word/

[2019-03-06 11:59] AlexHedley opened #566 "SAX Approach Replace Example"
I'm looking for an example of using the SAX approach (instead of DOM) to open a large file and perform a replace on a given value, then save the file.

I think this would be a useful addition to the [Documentation](https://docs.microsoft.com/en-gb/office/open-xml/open-xml-sdk).

How to: Search and replace text in a document part (Open XML SDK)
https://docs.microsoft.com/en-us/office/open-xml/how-t

[2019-03-09 18:28] PJBowron opened #567 "Unable to build release with .Net native toolchain"
**Description**

A project incorporating the OpenXML package will fail to build in Release config if the build is set to use the .Net native toolchain (required for Store submision).

**Information**

- Target: UWP
- DocumentFormat.OpenXml Version: 2.9.0

**Repro**

- Create/Open a solution & project and add the OpenXML package
- Right-click on project in Solution Explorer and select "Properties"

[2019-03-12 18:08] twsouthwick commented on #567
Thanks for reporting this! I have a fix that we'll try to get out as quickly as possible (it'll be 2.9.1).

[2019-03-12 18:09] twsouthwick commented on #567
btw this seems to be a problem with the .NET Native compiler that has been reported here https://github.com/Microsoft/dotnet/issues/807.

[2019-03-12 20:03] #567 closed

[2019-03-12 21:20] PJBowron commented on #567
Thanks for the quick resolution!

[2019-03-12 22:30] twsouthwick commented on #567
We'll hopefully have a fix uploaded to NuGet by the end of the week.

[2019-03-13 16:27] twsouthwick commented on #564
Thanks for the report. I'm in the middle of some major changes to fix up the validation system (it's very opaque right now so debugging it is incredibly difficult if not impossible). Do you have a sample that we can use?

[2019-03-14 03:06] twsouthwick commented on #567
This has been uploaded to NuGet as v2.9.1: https://www.nuget.org/packages/DocumentFormat.OpenXml/2.9.1

We don't have a good process to vet .NET Native builds, so please file any other issues you find. We have it on the backlog (and I now have a sample app) to add support to run the unit tests on .NET Native....

[2019-03-14 07:42] dmytro-gokun opened #574 "What are the changes in 2.9.1?"
CHANGELOG.md was not updated, so it's a bit confusing..

[2019-03-14 16:49] PJBowron commented on #567
Happy to. I'll try out the new package asap. Thanks again!

[2019-03-14 18:04] twsouthwick commented on #574
Thanks for the catch! It's a fix for .NET Native related projects and doc update. I'll update the readme

[2019-03-14 18:21] #574 closed

[2019-03-15 00:06] twsouthwick commented on #492
@ThomasBarnekow I've been looking at cleaning up the schema generation and was trying to understand about this. I'm still trying to wrap my head around the actual OpenXml spec and not sure what you mean by the properties having an order. I'm looking at the ISO 29500 spec and not sure where it's indicating a specified order. Can you point me to that part of the spec?

[2019-03-15 02:00] twsouthwick commented on #492
Ah I see it in the actual schema with `sequence` vs `all`

[2019-03-15 07:58] WeihanLi opened #578 "Is there some api to export word/excel/ppt documents to svg or pdf or jpg?"
Is this a:
- [x] Question on library usage

**Description**

Is there some api we can use to export word/excel/ppt documents to svg or pdf or jpg?

[2019-03-15 17:32] twsouthwick commented on #578
Please review the issue template that questions on usage should be posted to Stackoverflow and keep this for actual issues on the SDK.

That being said, no there is no dedicated API to export documents to another format. The purpose of this SDK is to provide low-level access to packages and schema elements. What you do with them (ie exporting, etc) is beyond the scope of this project. There are ot

[2019-03-15 17:32] #578 closed

[2019-03-16 04:42] WeihanLi commented on #578
Thanks for your reply @twsouthwick

[2019-03-20 12:11] t08094a opened #579 "Generating objects from outer xml results in missing property values"
Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

Generating OpenXmlElements from an XML string results in missing property values of those generated objects. After getting the outer XML of those objects, the attributes with their values are also missing.

**Information**

- .NET Target: .NET Framework (4.7.2)
- DocumentFormat.OpenXml Version: (2.9.0

[2019-03-27 02:15] twsouthwick commented on #579
Interesting... doesn't look like an easy way to set that flag as a consumer. Have you been able to do this in previous versions (wondering if there was a regression at some point) or if it is just part of the design. Either way, we can investigate how to adjust this.

[2019-03-27 14:17] mstoffel-infraserv opened #580 "Paragraph.InsertAfter Invalid Operation Error in Textbox"
Receiving an invalid operation error when calling Paragraph.InsertAfter when the paragraph is in a floating object/textbox. Please note the function below that I found on stack overflow. To reproduce this issue use a document that has a picturebox/textbox with word or phrase you are wanting to highlight.  It blows up on the line paragraph.InsertAfter(highlightRun, found.Run);

- .NET Target: 4.6.1

[2019-03-27 16:48] twsouthwick commented on #580
Can you include a minimal viable reproduction so it's something we can copy, run, and see the error?

[2019-03-27 20:17] mstoffel-infraserv commented on #580
[TestDoc.docx](https://github.com/OfficeDev/Open-XML-SDK/files/3015123/TestDoc.docx)
Do a text search for 612-000-0000 on that document to reproduce the issue.

[2019-03-27 22:33] twsouthwick commented on #580
Thanks @mstoffel-infraserv. That's getting to a good repro. By a minimal viable repro it should be something that we can just run the code to see what you're seeing. The function you have is an entry point that takes in a `Paragraph` and a `string` - can you provide a sample that takes the input file and calls into this method appropriately.

[2019-03-28 09:23] Ingerdev opened #581 "Wordprocessing.PermStart.Id field illegal type"
DocumentFormat.OpenXml.Wordprocessing.PermStart.Id field has Int32 type instead of string type
as Ecma standart says. Please fix it.

[2019-03-28 09:27] Ingerdev commented on #581
DocumentFormat.OpenXml.Wordprocessing.PermEnd.Id should be fixed too.

[2019-03-28 09:56] t08094a commented on #579
In my opinion after parsing the XML content the properties should get updated. There should be no need to modify the `strictTranslation` value.
I think there could be more classes with that behavior. The commit fa9cc48b914b2a20467a407e2a1463ccaeeca5b6 addresses more of them but i haven't verified.

[2019-03-28 13:53] mstoffel-infraserv commented on #580
The following function will reproduce the issue.

`private static void OpenAndSearch(string filename)
        {
            //Open file
            WordprocessingDocument wordprocessingDocument = WordprocessingDocument.Open(filename, true);
            //Get main document part
            var docPart = wordprocessingDocument.MainDocumentPart;
            //go through paragraphs in document and hig

[2019-03-28 18:21] twsouthwick commented on #579
I'm not sure I follow. The properties getting updated is due to `strictTranslation` having a default value that causes, so it would need to be able to be set to have the properties updated.

@tomjebo Can you chime in here regarding strict translation and default behavior?

[2019-03-28 18:55] twsouthwick commented on #580
The issue is that `found.Run` is not a child of `paragraph`. The documentation isn't really helpful here and the exception wasn't being populated with a message. I've supplied a PR for this.

To fix your code, you'll need to insert/remove to/from the parent. So, instead of

[code]

do
[code]

You'll also have an issue with `paragraph.RemoveChild(found.Run)`, which you can replace with `found.Run.R

[2019-03-28 19:44] twsouthwick commented on #581
Thanks, @Ingerdev. Schema related issues are a bit tricky to change (and this would be a breaking change to introduce). Are you hitting an issue due to this or is it so it aligns with the standard? This will help us identify the severity.

[2019-03-28 20:02] Ingerdev commented on #581
This type of error is nasty, however, I have a workaround for it so nothing hurry.
(Imagine valid xml where id is a guid. OOXML library cant restore its value on load)

[2019-03-29 15:48] twsouthwick commented on #581
Yes, I can definitely see the potential issue. Have you seen a document that has a guid or other invalid integer as the id? If Word, for instance, is creating GUIDs as the Id, the impetus to fix this has just grown.

A v3.0 is becoming more likely as breaking changes are required for a few things, so we can add this to the list.

[2019-03-29 15:48] #580 closed

[2019-03-29 15:58] Ingerdev commented on #581
No, i never saw such a document.

[2019-03-29 16:03] TazUk commented on #451
Any updates on the validation issue?
We are encountering the value error with useWord2013TrackBottomHyphenation using v2.9.1 validation of Word 2016 template.

[2019-03-29 18:17] tomjebo commented on #581
Although the standard (ISO 29500-1 17.13.7 Range Permissions and Annex A (normative) Schemas... CT_Perm) state that id is of type ST_String, the SDK is based on Office specific behavior. This behavior is described in:

[[MS-OI29500]: Office Implementation Information for ISO/IEC 29500 Standards Support](https://docs.microsoft.com/en-us/openspecs/office_standards/ms-oi29500/1fd4a662-8623-49c0-82f0-

[2019-03-30 14:51] Ingerdev commented on #581
Thanks, it is pretty informative.

[2019-03-30 14:51] #581 closed

[2019-04-01 09:56] Alexander-Hauser commented on #387
I'd welcome this very much. Most of the time only one of those libaries is needed.

This feature would come in very handy. It would make styling much easier.

[2019-04-01 20:17] twsouthwick commented on #579
@t08094a Sounds like we need some sort of API to allow for opting into transitional behavior. The easiest would be if we added an overload to `OpenXmlElement` that would allow the following:

[code]

The transitional attributes should be seen as deprecated (@tomjebo can provide the documentation to back this up), but I can see that it would be nice to be able to create an element from XML outside

[2019-04-04 09:28] t08094a commented on #579
To extend the API would be welcome.

[2019-04-15 10:10] downleave commented on #39
Hello, Mono 5.20.1.19 still have the same problem. Have you solve your problem and how? @jeongsd @acabutto @RocheVal

[2019-04-29 07:59] DartWelder commented on #142
Try to set CellValues to Number.

[2019-05-09 04:40] rysavyjan opened #592 "DOCX Validation reporting 0 errors on invalid document"
[x] Issue with the OpenXml library

**Description**

Invalid DOCX document that cannot be opened with Microsoft Word 2019 is reported as valid by Open XML SDK Validator.

**Information**

- .NET Target: .NET Framework 4.7.2
- DocumentFormat.OpenXml Version: 2.9.1

**Repro**

Create a new valid DOCX document containing table and remove <w:p /> child element from <w:tc> parent.

![wp](https://user-i

[2019-05-31 18:22] twsouthwick commented on #579
@t08094a Would you be up for driving this?

[2019-06-03 07:41] xiangxingze opened #594 "Open xml sdk generate word document, can transfer pdf?"
Open xml sdk generate word document, can transfer pdf?
open-xml-sdk word to pdf?

[2019-06-11 17:48] JoelMendoza opened #595 ".NET Native compilation"
**Description**

A UWP project incorporating the following NuGet packages:
- DocumentFormat.OpenXml (version 2.9.1)
- Microsoft.Azure.Management.Fluent (version 1.22.2)
- Microsoft.NETCore.UniversalWindowsPlatform (version 6.2.8)

Fails to build in Release config if the build is set to use the .Net native toolchain (required for Store submission).

**Information**

- UWP
- DocumentFormat.OpenXml V

[2019-06-16 20:34] IrakliLomidze opened #599 "Incorporate Open XML Power Tools in base SDK"
Is this a:
- [ ] Issue with the OpenXml library
- [X] Question on library usage

**Open XML Power tool features in base SDK**

Open XML Power tools had perfect tools that is was very helpful but, Microsoft decided to kill that product. Is it any plan to incorporate that functionality in this SDK ? and support them/

It would be really nice to be.

[2019-06-16 20:38] IrakliLomidze commented on #578
@twsouthwick Unfortunately Mr. Eric give us promise to support and develop PowerTools but he did not update anything yet.

[2019-06-16 20:44] IrakliLomidze commented on #387
Please Incorporate Open XML Power Tools in the version 3.0

1)Splitting DOCX/PPTX files into multiple files.
2)Combining multiple DOCX/PPTX files into a single file.
3)Comparing two DOCX files, producing a DOCX with revision tracking markup, and enabling retrieving a list of revisions.

4) High-fidelity conversion of DOCX to HTML/CSS.

[2019-06-18 12:37] stefanbg opened #600 "Row.Hidden always reads first sheet"
**Description**

Row.Hidden always reads first sheet

**Information**

- .NET Target: .NET Framework 4.6.2
- DocumentFormat.OpenXml Version: 2.9.1

**Repro**

[code]

[2019-06-19 16:07] twsouthwick commented on #387
@IrakliLomidze Open XML Power Tools is built on top of the SDK. The SDK is intended for the low level tasks of handling the file format and providing a 1:1 strongly typed SDK.

[2019-06-19 16:10] twsouthwick commented on #578
@IrakliLomidze We are not supporting PowerTools for active development and if you find that @EricWhiteDev is not taking it in a direction that works for you, you can try to get involved in his fork or make your own.

[2019-06-19 16:32] IrakliLomidze commented on #387
@twsouthwick  I'm aware about that Open XML Power tools is build on top of the SDK. but some times it is arguable. what is a base functionality (levels of tasks) and what not.

This is a just suggestion, what DOCX SDK should have.

[2019-06-19 16:49] twsouthwick commented on #387
Think of it this way: does it have to do with the file format itself (that is, a direct representation of what is in the package)? If so it belongs in the SDK. Otherwise, probably not. There's definitely room for discussion about some of these, so feel free to open issues for any specific scenario you would like to enable.

Some background: This project is a side project for those of us involved a

[2019-06-21 10:14] DizTortion opened #601 "WorkbookProtection corrupts Spreadsheet for Excel 2019"
Spreadsheets saved with Excel 2019 get corrupted as soon as you add a WorkbookProtection.

**Information**

- .NET Target: .NET 3.5
- DocumentFormat.OpenXml Version: 2.9.1, 2.10.0-beta0001

**Repro**

Create an empty spreadsheet in Excel 2019. Perform the following operation:

[code]

Open the spreadsheet in Excel 2019.

**Observed**

Excel fails to open and repair the file.

![Exception](https://

[2019-06-24 07:23] #600 closed

[2019-06-24 07:24] stefanbg commented on #600
My mistake. Need to do something like this:
                        var theSheet = spreadsheetDocument.WorkbookPart.Workbook.Sheets.ElementAt(TabToUse) as Sheet;
                        var worksheetPart = (WorksheetPart)(spreadsheetDocument.WorkbookPart.GetPartById(theSheet.Id));

                        foreach (var sheetData in worksheetPart.Worksheet.Elements<SheetData>())

[2019-06-25 23:51] twsouthwick commented on #601
@DizTortion Thanks for the report. I'm a little confused by which version of excel you are referring to throughout. Can you update your repro to be explicit as to the version?

This is probably from the new 2016 features that have been brought online.

[2019-06-26 09:55] IrakliLomidze commented on #387
@twsouthwick It ok to stabilize code of base SDK.
it is my opinion that goal of "Open XML SDK" is to convince and attract developers to stick with Open XML and not to ODF.
Open XML Power tools was a great IDEA to make Open XML SDK usable in real business scenarios.
Please make it into consideration, that we developers would like to see more futures in the SDK.

Not only futures from power tools. B

[2019-06-27 14:12] DizTortion commented on #601
@twsouthwick Hi, I updated the issue and removed references to versions other than Excel 2019. I just tried to emphasize that the code worked while we used Excel 2010. Now that we upgraded to Excel 2019 we are seeing corrupted files.

[2019-06-27 15:01] twsouthwick commented on #601
Thanks @DizTortion for the feedback. @tomjebo this seems a bit more schema related - can you check if the ordering has changed between 2010 and 2019?

[2019-06-27 15:04] twsouthwick commented on #599
The tooling for it has not been "killed" but no longer invested in from us and moved to a community member. It is OSS and can be used however you would like. Any specific feature that you would like to see? This SDK is focused on the file format management and most of the power tools are scenario specific that isn't a good fit for the SDK.

[2019-06-27 19:47] ThomasBarnekow commented on #599
@IrakliLomidze, when @twsouthwick says "moved to a community member", this community member is @EricWhiteDev, the actual author of the Open XML PowerTools. Thus, nothing has changed effectively.

[2019-06-27 20:03] ThomasBarnekow commented on #599
@twsouthwick, I would have a totally cool feature that I would love to see. How about (somewhat transparently) supporting documents stored on SharePoint. For example, with documents stored locally at a given `path`, I can do this:
[code]
It would be really nice if `path` could also be a SharePoint URL.

Just saying ...

[2019-06-28 03:48] twsouthwick commented on #599
@ThomasBarnekow I honestly have never done any sharepoint programming so not sure what this would entail. Could you create an issue with a description of what currently has to be done?

[2019-06-28 03:49] twsouthwick commented on #599
Closing this issue as there are no plans to fold the power tools into this project. Feel free to look at the fork @EricWhiteDev has and help out there!

[2019-06-28 03:49] #599 closed

[2019-07-07 23:08] gdalsnes opened #611 "Error MSB4044 The "GetAssemblyVersion" task was not given a value for the required parameter "NuGetVersion""
Downloaded and unpacked v2.10.0-beta1.zip. Opened Open-XML-SDK.sln in VS 2017.
Build->Build solution. Fail:
Error MSB4044 The "GetAssemblyVersion" task was not given a value for the required parameter "NuGetVersion"

[2019-07-08 14:36] igitur opened #612 "Location of pivot cache parts inside xlsx file"
**Description**

When creating a new .xlsx file with a pivot table in Excel and saving it, the pivot cache parts (specificially the `PivotCacheDefinitionPart` and `PivotCacheRecords` parts) are saved to the `./xl/pivotCache/` location inside package.

When one generates pivot tables using the OpenXML SDK, these new parts are added to the `./pivotCache/` location. Notice that it does not fall under

[2019-07-08 14:56] igitur commented on #612
I notice that in https://github.com/OfficeDev/Open-XML-SDK/blob/master/src/DocumentFormat.OpenXml/GeneratedCode/Packaging/PivotTableCacheDefinitionPart.g.cs#L85 the relative target path is defined as `../pivotCache`. But this is relative to the workbook part.

I suspect someone treated this target path as if it's relative one of the pivot tables that uses the pivot table cache definition.

[2019-07-08 21:00] twsouthwick commented on #611
Hmmm you may be missing a workload. You need the .NET Core workload. There's a way for a project to declare that so VS will let you know (although it may only be available for VS 2019).  I'll add it though so people can see the required workloads.

[2019-07-11 18:32] twsouthwick commented on #611
I've added a .vsconfig in #614. This should prompt you in VS 2019, and in VS 2017 (15.9) you can import the file.

[2019-07-11 18:32] #611 closed

[2019-07-11 18:41] twsouthwick commented on #592
As of #603, this is much easier to debug.

It appears that the constraint information is this:

https://raw.githubusercontent.com/OfficeDev/Open-XML-SDK/master/src/DocumentFormat.OpenXml/GeneratedCode/schemas_openxmlformats_org_wordprocessingml_2006_main.g.cs on line 16152 (the file is too big for GitHub to show a link). Here's the code:

[code]

It appears that the constraint for a `Paragraph` is

[2019-07-11 22:56] twsouthwick commented on #612
@tomjebo Looks like the schema files has the path defined as `../pivotCache`. Which behavior do we want in the SDK?

[2019-07-11 23:00] twsouthwick commented on #594
This SDK to designed to expose the internals of the Open XML packaging format. Converting to PDF will be a higher order operation.

[2019-07-11 23:00] #594 closed

[2019-07-11 23:04] twsouthwick commented on #525
Just saw that you had a sample but it was hidden behind a link... my bad. The file doesn't seem to exist any more.

[2019-07-14 03:17] tomjebo commented on #612
@igitur you are correct. The explicit relationship from the workbook part is supposed to be just: `Target="pivotCache/pivotCacheDefinition1.xml"/>`
Where adding a relationship (if needed; the standard says it's "implicit") from the pivotTable part is supposed to be:
`Target="../pivotCache/pivotCacheDefinition1.xml"/>`

This is per the standard ISO 29500-1:2016 12.3.12 "Pivot Table Cache Definition

[2019-07-15 11:11] igitur commented on #612
Thanks Tom.

I had a quick look at the `12.3.12` section.

A bit of a side-note, but I notice this (my emphasis):

Surely this cannot be true. I see many examples of multiple pivot tables sharing a single pivot table cache definition.

For now, I'm going to assume that multiple pivot tables can share a single pivot table cache definition. So, for me, it makes more sense to enumerate and add all my

[2019-07-15 18:10] tomjebo commented on #612
@igitur I had said that before doing the remaining investigation and now don't think that. More likely the relationship is getting overwritten after adding in the pivot table and table definition parts.

After investigation, my point was more that just adding the pivot cache definition to the workbook relationships does not represent a completed package. Table and sheet are needed. After adding th

[2019-07-24 13:19] laultman commented on #595
This is blocking our company from releasing a product in Azure because we need the Windows client app part as a component of a larger Azure project.

[2019-07-31 21:41] cbryan-risklens commented on #204
Is there any guess about when this will be added?

[2019-08-03 06:19] nihao0818 opened #616 "The thread-safe issue regarding IsolatedStorage"
Is this a:
- [x] Issue with the OpenXml library
- [x] Question on library usage

**Description**

It was known to us that OpenXMLSDK had an implementation to use IsolatedStorage for PartPackage larger than 10MB which was not thread-safe.

Details:
https://social.msdn.microsoft.com/Forums/office/en-US/fcccab24-cd48-40fc-afbb-a7c30191a9e1/open-xml-sdk-v2-handling-multiple-threads
https://stackoverfl

[2019-08-13 17:50] PingPongSet opened #617 "Is *.xlsb supported"
Is *.xlsb supported?

[2019-08-13 19:39] ThomasBarnekow commented on #617
No, that‘s a binary format and not XML-based.

[2019-08-14 17:16] twsouthwick commented on #617
This SDK provides strongly typed classes for the Open XML standard.

[2019-08-14 17:16] #617 closed

[2019-08-15 16:40] mc2002tii opened #618 "ChangeDocumentType does not fully remove vbaProject reference"
**Description**

I'm using the sample code at https://docs.microsoft.com/en-us/office/open-xml/how-to-convert-a-word-processing-document-from-the-docm-to-the-docx-file-format to remove macros from a docm file and convert it to docx because we have some filtering software in place that prevents transferring files with macros.

Using that sample code I delete the VbaProjectPart, change the document

[2019-08-17 16:38] PingPongSet opened #619 "Get cell value via column name and other functionality with Open XML SDK"
I need to read a *.xlsx file using Open XML SDK, I wonder if the functionality below is available:

1 Ability to read cell value using column name like below?

  var row0ColA = row[0]["ColA"]

2 ability to read more than one tabs

3 tab 1's header starts at row 2, tab 2's header starts  row 1

4 Row filtering ideally before loading file

5 Column filtering ideally before loading file

Any code exa

[2019-08-20 07:38] avonwyss opened #620 "SectionProperties does not expose child elements as properties"
**Description**

In contrast to most other classes in the SDK, the [Wordprocessing SectionProperties](https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml.wordprocessing.sectionproperties?view=openxml-2.8.1) does not expose the child elements as strongly-typed properties. This makes Wordprocessing sections even more difficult to use than they already are.

Looking at the documentatio

[2019-08-21 07:53] mathieumack opened #621 "Insert of HTML content in a Table cell corrupt the generated document"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library

When I try to insert an html content string in a table cell, the generated docx document is corrupted.
The same html content string inserted in a paragraph > Run outside a table is ok.

Please provide a simple description of the issue encountered.

**Information**

- .NET Target: .net Standard 2.0

[2019-08-24 07:59] avonwyss commented on #620
I noticed that there is also a `PreviousSectionProperties` which has the same element name as the `SectionProperties`, but this one does indeed have the strongly typed properties. Apparently it should be used as child of the `sectPrChange` element. I'm tempted to try and use the `PreviousSectionProperties` en lieu of the `SectionProperties` as child in `body`/`pPr` elements...

[2019-09-03 11:59] RAVIDHOBLE opened #755 "Not able to add chart in spreadsheet"
Am new to C# and OpenXML. As per the example shown in this link [https://docs.microsoft.com/en-us/office/open-xml/how-to-insert-a-chart-into-a-spreadsheet](url) I can't see the chart added to the generated spreadsheet.
In this below code snipet the Uri link is not working.
graphicFrame.Append(New Graphic(New GraphicData(New ChartReference() With _
                {.Id = drawingsPart.GetIdOfPart(ch

[2019-09-03 20:20] KalleOlaviNiemitalo commented on #616
See [WindowsBase or System.IO.Packaging](https://github.com/OfficeDev/Open-XML-SDK/blob/master/README.md#windowsbase-or-systemiopackaging) in README.md.

The MSDN forum thread at your first link has a comment saying that the bug in System.IO.Packaging of .NET Framework was fixed in [KB2996568](https://support.microsoft.com/en-us/help/2996568/hotfix-rollup-2996568-for-the-net-framework-4-5-4-5-1-an

[2019-09-24 01:07] micnie2020 commented on #516
Hi,

The code above missing the function:-
html.ConvertHtmlContent()

Can you upload this function code please? Appreciate for your kindness.

Thanks.

Regards,
Micheale

[2019-09-24 10:59] micnie2020 commented on #516
Hi,

Can share this function code:
	html.ConvertHtmlContent()

Thanks.

Regards,
Micheale

[2019-09-24 11:14] ThomasBarnekow opened #627 "TableRowProperties does not expose child elements as properties"
**Description**

The `TableRowProperties` (`w:trPr`) class does not expose child elements such as `Deleted` (`w:del`) or `Inserted` (`w:ins`) as properties. This is in contrast to the `ParagraphMarkRunProperties` (`w:rPr`) class, for example, which exposes those child elements as properties.

This issue is related to #620, which also points out missing properties.

**Information**

- .NET Target:

[2019-09-24 16:13] amanbolat opened #628 "WordprocessingDocument.Open is very slow"
**Description**

`WordprocessingDocument.Open` is very very slow when reading big .docx document.
i'm trying to read 10 mb sized .docx document and it takes about 1 minute just to open it.

**Information**

- .NET Target:  .NET Core 2.2
- DocumentFormat.OpenXml Version: 2.9.0

**Repro**

[code]

Link to the file: https://drive.google.com/file/d/1_InQLbZ19KCUgkuePAiLXvUuLcZl6Qu7/view?usp=sharing

*

[2019-09-27 23:35] twsouthwick commented on #628
Thanks for the issue. What OS are you running on?

[2019-09-28 00:19] twsouthwick commented on #627
Yeah - I've been looking at this recently. Currently, the way the generator does this is to expose single items; once a sequence is encountered, it stops. I've been cleaning up the generator (hopefully at somepoint we can put it in this repo) to allow for this. I've got a branch somewhere that has changes that should help with this; I'll look to see if I can pull that out and cc you on the design

[2019-09-28 00:20] twsouthwick commented on #620
I'm marking this for 2.11  as this has come up a lot. See #627 for some details

[2019-09-28 00:21] twsouthwick commented on #628
Here's a benchmark version of it:

[code]

And the results:

[code]

[2019-09-28 00:54] amanbolat commented on #628
I tried it on windows 10 and MacOS. Results are same.

[2019-09-28 03:13] ThomasBarnekow commented on #627
@twsouthwick, that sounds good.

I‘d guess the generator also creates the constructors, right? Would it be possible to enhance those as well along the lines of how XElement instances can be constructed? This would be helpful for pure functional transformations. Happy to elaborate more if this is an option at all, e.g., in another specific issue.

[2019-09-28 05:30] ThomasBarnekow commented on #492
@twsouthwick, this is also related to #627 and #620.

[2019-09-29 04:04] amanbolat commented on #628
I'm new to C# so i don't know how to profile it and find the problem, but after looking for source code it seems to me that `Open` function parse all dependencies in file. And this file in my example has a lot of nested charts and images. May be it will help you.

[2019-09-30 15:49] twsouthwick commented on #628
ah that is a good observation. I'll have to see if there's a way to lazily load those (I've never actually explored that scenario)

[2019-09-30 15:50] twsouthwick commented on #627
Yes, updating a constructor would actually be a lot easier. Can you open an issue with a design that you'd find helpful?

[2019-10-07 16:39] typhon88 opened #633 "Adding NumberingFormats breaks spreadsheet file"
I am generating a spreadsheet file with some styles like fonts, borders and fills and they all seem to work but as soon as I add NumberingFormats after the file is generated and I try to open it, it doesn't work it says the file is corrupted.
I tried different format codes, none of them worked, any ideas? Thanks.

This is the code:

        private Stylesheet GenerateStylesheet()
        {

[2019-10-08 20:33] raudabaugh commented on #204
I started trying to add support for this but got stuck when I realized that the generated code is missing type definitions for http://schemas.microsoft.com/office/drawing/2016/SVG/main. Are the xsd files and code generation steps for this publicly available somewhere?

[2019-10-10 21:42] ThomasBarnekow opened #634 "Increase flexibility of constructors, e.g., for pure functional transformations"
**Description**

In the context of pure functional transformations, it would be beneficial to construct `OpenXmlElement` instances very flexibly. For example, one might want to construct a new element in the following way:
[code]

**Information**

- .NET Target: All
- DocumentFormat.OpenXml Version: Latest

See discussion in #627.

**Observed**

Using the `Paragraph` class as an example, the subcl

[2019-10-11 19:08] ThomasBarnekow commented on #634
@twsouthwick, this is based on the discussion we've had in #627. Tell me whether such a change is an option at all.

At the moment, I am dealing with the shortcomings of the constructors by using extension methods. However, more direct support for pure functional transformations would be a pretty appropriate feature of the Open XML SDK from my perspective.

[2019-10-15 02:24] nbulusanjr opened #635 "Support for encrypted workbook"

[2019-10-21 10:06] Porkechebure opened #636 "Make it easy"
package is utter shit.
Rewrite it from scratch

Sample:
`using (SpreadsheetDocument sDoc = SpreadsheetDocument.Open(MyExcelStream, ReadOnly))
            {
                WorkbookPart workbookPart = sDoc.WorkbookPart;
                IEnumerable<Sheet> sheets = sDoc.WorkbookPart.Workbook.GetFirstChild<Sheets>().Elements<Sheet>();
                string relationshipId = sheets.First().Id.Value;

[2019-10-22 05:18] twsouthwick commented on #636
@Porkechebure Please engage with respect.

[2019-10-22 05:18] #636 closed

[2019-10-22 05:18] twsouthwick commented on #635
Can you please describe the scenario and what you are looking for? Feel free to reopen with more details.

[2019-10-22 05:18] #635 closed

[2019-11-01 06:13] xinyu391 opened #637 "how to build on Ubuntu/Linux with .net core 3.0.100"
**Description**
build openxml-sdk failed with .net cor 3.0 on ubuntu19.04

**Information**
- OS: Ubuntu 19.10
- .NET Target:  .net core 3.0.100
- DocumentFormat.OpenXml Version: (2.9.1)

**Repro**

download and install .net core 3.0 https://dotnet.microsoft.com/download/dotnet-core/3.0
and set DOTNET_ROOT PATH

Build FAILED.

**/home/jesse/Software/dotnet3.0/sdk/3.0.100/Microsoft.Common.CurrentVer

[2019-11-14 12:47] AKrasheninnikov commented on #206
Hi all,

Now getting the following strange issue. 2.7.2 is installed by ClosedXML 0.94.2, but something tries to load 2.9.1.

'Could not load file or assembly 'DocumentFormat.OpenXml, Version=2.9.1.0, Culture=neutral, PublicKeyToken=8fb06cb64d019a17' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)'

[2019-11-19 18:45] twsouthwick commented on #637
Looks like when I added a sample that was .NET Framework specific, the sln file still picks it up. I've added a fix in #638. Please update and try again. I'll close for now, but please reopen if you're still having an issue. Worked for me on WSL with ubuntu

[2019-11-19 18:45] #637 closed

[2019-11-20 16:08] S1r-Lanzelot commented on #601
Any update on this @twsouthwick ? We ran into the same issue, ended up building our document with openxml and then using com to do the protection. 🤦‍♂

[2019-11-27 10:05] weitzhandler opened #639 "Symbols package"
**Description**

Please include symbols in NuGet package to allow debugging.

**Information**

Please include symbols with the NuGet package so we can debug the `OpenDocument` assemblies.
I'm referring to this:

![image](https://user-images.githubusercontent.com/2716316/69713963-2a976280-110e-11ea-808d-c358ef6ccd5d.png)

[2019-11-27 19:56] weitzhandler opened #640 "Spreadsheets: Sophisticated references"
# Feature suggestion

**Description**

Please add alternative coordinates to the hardcoded `CellReference`, or `MergeCell.Reference` etc.

Ideally, there should be few more types like:
- `ColumnReference { int Index, string ColumnName }` (e.g. `A` as in `A1`).
Should provide easy casting between both `string` and `int`
- `RowReference { int index }` (e.g. `1` as in `A1`)
- `CellReference { ColumnR

[2019-12-03 03:18] hong1997 opened #644 "How to parse embedded file(OLE obejct) in pptx/docx"
# Before submitting an issue, please fill this out

Is this a:
- [ ] Issue with the OpenXml library
- [X] Question on library usage

How to parse embedded files(OLE obejct) in pptx/docx.
They are Ole objects mostly, like object1.bin.
If there're any good ways to parse it?
 Unzip the OLE object, there're several kinds of format:
![image](https://user-images.githubusercontent.com/20583076/70017644-9

[2019-12-08 14:09] adamshakhabov commented on #644
Use follow code example to get OLEObjects from the first slide presentation:

[code]

[2019-12-08 14:15] hong1997 commented on #644
Hi adamshakhabov,  thanks for your reply! According to my knowledge, the ole object should be stored in embedded object parts(X.MainDocumentPart.EmbeddedObjectParts), and I am asking for a method to parse the oleobject instead of just getting it.

[2019-12-08 14:58] adamshakhabov commented on #644
Hi @hong1997!

I think Open XML SDK has not some specific method for OLEObject element reading (parse its properties). Can you say more precise, which one feature of OLEObject you try to parse?

_Also, it would be better if you attach pptx-file with this OLEObject case._

[2019-12-08 18:57] ThomasBarnekow commented on #644
@hong1997 and @adamshakhabov, GitHub issues are not the place to ask and discuss questions regarding Open XML SDK library **usage**. You should ask usage-related questions on stackoverflow.com, where you will already find a large number of questions and answers tagged with `openxml` or `openxml-sdk`.

In this specific case, another user already asked about how he could extract OLE-embedded files f

[2019-12-08 19:17] ThomasBarnekow commented on #525
@rominator1983, it seems that

are all MIME types, so the third one is not missing a `+xml` at the end. See the question on the [correct MIME types for Office documents](https://stackoverflow.com/questions/4212861/what-is-a-correct-mime-type-for-docx-pptx-etc) on stackoverflow.com and the question on [what mime-type should XHTML be served with](https://www.w3.org/2003/01/xhtml-mimetype/) on www.w3

[2019-12-08 19:17] hong1997 commented on #644
@ThomasBarnekow , thanks for your info, I will close the issue. However, the answer you provided only handles 1 kind of OLE structure. You could see from my description that only the last kind of ole object can be handled by the class you provided.

[2019-12-09 19:23] DizTortion commented on #601
@S1r-Lanzelot Maybe give this workaround a try. Make your Spreadsheet modifications and dispose it. Then pass the stream (variable `memoryStream`) to the using block below.

It checks if there is a workbook protection and swaps its position with the revisionPtr. No COM interop required.

[code]

[2019-12-11 19:55] rominator1983 commented on #525
Thank you for getting back at me on this. It has been some time. Fortunately our customers have not yet requested the feature for which this functionality would be great (we did offer a new feature based on the altChunk-functionality when I posted this issue here).

Here is a working link again: https://amforst.ddns.net/s/7qWWpCeRxs2rKgb There has been a security issue in Nextcloud that forced me

[2019-12-14 02:04] paulresdat opened #645 "Embedded documents with images breaks "Save As" on Word for Mac"
Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

Using OpenXML, appending a word document with embedded images into another word document using `AddAlternativeFormatImportPart(AlternativeFormatImportPartType.WordprocessingML, altChunkId)` causes an issue where the user can not "Save" or "Save As" when altering the content in Word for Mac.

**Informa

[2019-12-14 12:44] ThomasBarnekow commented on #645
@paulresdat, thank you very much for this excellent issue description, which is a perfect example of how one should do it.

Based on your description, I reproduced the behavior. Microsoft Word for Mac shows the behavior you describe, and Microsoft Word for Windows works as expected. I even made some changes to your sample code to see whether that makes a difference because your sample code has a f

[2019-12-17 17:17] #639 closed

[2019-12-17 17:17] twsouthwick commented on #639
Good idea. It's been merged and will be available via NuGet with the next release

[2019-12-17 19:56] weitzhandler commented on #639
Thank you!

[2019-12-17 19:59] weitzhandler commented on #640
In addition to that, I'd also propose easier ways to work with rows columns and cells, for example, deleting a column or row, so that the affected `Row`s/`Column`s/`Cell`s'/`MergeCell` and styles are all updated accordingly.
I wrote a set of extension methods for that. Would you consider a PR?

[2019-12-17 23:44] paulresdat commented on #645
@ThomasBarnekow - thank you for taking the timeout to test this and for the kind words! 👍

I'm in the process of downloading Open Office so I will follow up with a verdict on a different applicaiton.  However as far as our environment at work, we do not use Open Office.  We're tied to Microsoft and so a work around to use another application won't suffice as a solution for us.

However I've come u

[2019-12-18 11:59] ThomasBarnekow opened #652 "Open-XML-SDK.sln fails to build due to incorrect ProjectLoadStyle environment variable"
**Description**

The Open-XML-SDK.sln fails to build in both Visual Studio 2019 Version 16.4.2 and on the command line.

In Visual Studio, using the DocumentFormat.OpenXml.csproj as an example, the error message for all projects is:
[code]

On the command line, the error message shown by `dotnet restore` is:

[code]

**Information**

- Visual Studio: Community 2019 Version 16.4.2 (with previous ve

[2019-12-18 19:54] ThomasBarnekow commented on #525
@rominator1983 and @twsouthwick, I wanted to look into this and offer a fix. However, as noted in #652, I can't even build the Open XML SDK at the moment.

[2019-12-19 01:28] twsouthwick commented on #652
Hmm interesting... I can't repro this. It does require .NET Core SDK to build (as it by default will target .NET Standard 2.0). Do you have that installed?

[2019-12-19 01:30] twsouthwick commented on #525
I have not looked into this. Feel free to offer a fix :)

[2019-12-19 01:43] twsouthwick commented on #634
This is interesting. I'll create a branch with the generated constructors if you want to prototype what the proposed constructors would look like.

[2019-12-19 02:01] twsouthwick commented on #628
@amanbolat Sorry for the delay. I've got some time now to look into some of these issues. However, lazily loading this is trickier than I thought. Have you tried loading the package into memory and then accessing it that way? If streaming from disk, it will have some overhead from disk IO. You could try the following:

[code]

[2019-12-19 02:03] twsouthwick commented on #616
@nihao0818 This seems to be fixed in later versions of .NET Framework. If you have a repro, please let us know but according to KB2996568, it has been fixed. Thanks @KalleOlaviNiemitalo for the link. I'm closing this, but please reopen if you can repro it on a recent .NET Framework version (or any other version).

[2019-12-19 02:03] #616 closed

[2019-12-19 02:05] twsouthwick commented on #595
Per the linked issue, this appears to be fixed by adding some entries to the `rd.xml` file. Please reopen if it that does not help.

[2019-12-19 02:05] #595 closed

[2019-12-19 03:17] amanbolat commented on #628
@twsouthwick Hi. Yes, I tried it and result is same, it will take about 1 minute. I tested on my new MacBook with ssd so the overhead shouldn’t be so big, I think so.

[2019-12-19 04:04] twsouthwick commented on #197
These have all been enabled. Any further changes will be tracked by new issues.

[2019-12-19 04:04] #197 closed

[2019-12-19 08:31] rominator1983 commented on #652
Cant repro on my side too. Everything building fine. I have VS professional (also 16.4.2) and had .NET Core SDK 3.1 installed too.
Some colleagues reported that the .NET Core 2.1 that is shipped with VS has some kind of quirks and produced strange build errors. Installing .NET Core 3.1 (non preview) fixed the issue along with cleanly removing the 3.1 preview.

[2019-12-19 09:46] ThomasBarnekow commented on #652
I think I found the culprit. I still had the `ProjectLoadStyle` environment variable set to `DevCore10`. I then looked at the `Directory.Build.props` file and saw the following:

[code]

So it seems DevCore10 is no longer used and supported. Thus, I tried DevCore31, but that failed, too. The reason for that is the conditional markup below, which uses `DevCore30` instead of `DevCore31`.

[code]

Ne

[2019-12-19 11:14] ThomasBarnekow commented on #634
@twsouthwick, yes, please do that.

[2019-12-19 16:42] #652 closed

[2019-12-19 16:55] twsouthwick commented on #628
Ok. I'll try to make this a higher priority, but to set expectations, I work on this as a side project for work so I'm able to do feature work here somewhat sporadically. If you have any desire to take a stab at it, feel free and I'm happy to provide pointers

[2019-12-19 17:19] amanbolat commented on #628
Thank you.
I’m new to C# but I will try my best.

[2019-12-19 17:44] ThomasBarnekow commented on #525
@rominator1983 and @twsouthwick, I just created a PR with a fix. Word opens the test document with different kinds of altChunk parts without any issues. I've tested it with the following content types:

- application/xhtml+xml,
- application/xml, and
- application/vnd.openxmlformats-officedocument.wordprocessingml.document.main+xml.

While the MIME type of Word documents seems to be

- application

[2019-12-19 17:47] ThomasBarnekow commented on #525
@rominator1983, I even tried to replace the "xml" with "+xml" in the checks. However, that did not produce the expected results and I left it at "xml". The reason is that _custom XML parts_, for example, have a content type of `application/xml`, meaning those would be treated incorrectly in case we used "+xml".

[2019-12-19 17:56] ThomasBarnekow commented on #628
@amanbolat, try the following method from my [CodeSnippets](https://github.com/ThomasBarnekow/CodeSnippets) repository:

[code]

I've benchmarked a number of ways to [clone Office Open XML documents](https://stackoverflow.com/questions/59090254/what-is-the-most-efficient-way-to-clone-office-open-xml-documents) and this came out as the fastest.

[2019-12-19 20:55] rominator1983 commented on #525
I allowed myself to comment on one commit. It looks good to me, even though I do not know why InternalPackageRelationships is neccessary. I do not know the code base too well.

[2019-12-19 22:45] ThomasBarnekow commented on #525
I appreciate your feedback. I used `InternalPackageRelationships` to produce the collection of all `PackageRelationship` instances. We need the `RelationshipType` property value of those `PackageRelationship` instances to identify the `AlternativeFormatInputPart`s.

I implemented this class in another context and reused it here. There might be another way to achieve the same, though.

[2019-12-20 19:26] twsouthwick opened #666 "Enable external viewing of CI failures"
Since we're using an internal DevOps instance, it makes it challenging for the community to see errors (especially since the matrix we build for is larger than the default build in VS). This issue is to track enabling some way to view into the results (potentially GitHub checks, but open to ideas).

[2019-12-22 00:25] #525 closed

[2019-12-22 10:19] ThomasBarnekow commented on #484
@twsouthwick and @tomjebo, just checking whether this has already been done and just not reflected by closing this issue.

[2019-12-22 14:57] ThomasBarnekow commented on #38
@twsouthwick, I am very frequently running in this issue and have implemented a workaround based on Eric White's article. However, rather than having everybody implement that workaround for himself or herself, wouldn't it be better to offer that as part of the Open XML SDK? For example, we could either provide a separate utility class or add a static utility method to `OpenXmlPackage`.

[2019-12-23 08:04] amanbolat commented on #628
@ThomasBarnekow method doesn't matter. Try to open my file and you will see that it will take about 1 or 2 minutes.

Link to the file: https://drive.google.com/file/d/1_InQLbZ19KCUgkuePAiLXvUuLcZl6Qu7/view?usp=sharing

[2019-12-23 21:31] twsouthwick commented on #484
I don't see the this part in the generated code. @tomjebo Can you check to see if there's schema info we're missing?

[2019-12-23 21:35] twsouthwick commented on #627
Closing as duplicate to #492

[2019-12-23 21:35] #627 closed

[2019-12-23 21:35] twsouthwick commented on #620
Closing as duplicate to #492

[2019-12-23 22:20] twsouthwick commented on #492
As part of the current release, I've been taking care of a ton of technical debt, including making the validation system more transparent. As part of this, I created a new data structure to store the validation info for child elements. For the example you started with, `Worksheet`, it looks like this:

[code]

As you can see, the strongly typed properties stop at `SheetFormatProperties` as the nex

[2020-01-02 18:18] twsouthwick commented on #204
Unfortunately, they're not available. We're trying to get things updated and would like to make them public, but that hasn't happened yet.

[2020-01-13 05:17] hDrummer commented on #206
The same problem.
How to fix it?

[2020-01-13 05:28] hDrummer commented on #206
Ok, the way to fix this issue lies in correcting the app.config file.

Change this section to:
<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-**2.7.2.0**" newVersion="**2.7.2.0**" />
      </dependentAssembly>

[2020-01-13 12:01] AKrasheninnikov commented on #206
That's right. In our case there was a design limitation as well for the consumer's application domain, it could not use the adjacent dll.config at all, all binding redirect instructions had to be loaded from a different location's config file.

[2020-01-17 16:01] AlejandroFerrandiz opened #672 "CellReference is null"
**Description**

I have excel files that I'm trying to map but CellReference is null for each cell but, if I Open the file with Microsoft Office and save, after that if I try to map again CellReference is not null for each cell. I think is a bug in the library.

**Information**

- .NET Target: netstandard2.0
- DocumentFormat.OpenXml Version: 2.9.0

**Expected**

CellReference not null for all the

[2020-01-17 18:26] twsouthwick commented on #672
Can you give a sample of this? Could you provide the xml that you expect to see a CellREference and example SDK usage?

[2020-01-17 18:30] AlejandroFerrandiz commented on #672
This is the file that CellReference is null for all the cell

[abc.xlsx](https://github.com/OfficeDev/Open-XML-SDK/files/4078275/abc.xlsx)

[2020-01-17 18:57] twsouthwick commented on #672
I'm not sure what to do with this. Can you provide repro steps? Ideally, like a unit test (that is described in the issue template), and without a file dependency (extract the specific xml snippet that is required if possible). At a minimum, I need a some code to reproduce that shows what you are seeing and a description of what you expect to see.

[2020-01-17 19:29] AlejandroFerrandiz commented on #672
[code]
Check  --> var cellReferent = cell.CellReference;  ///////////////  this is null instead A1, B1, C1, etc
[code]

[2020-01-22 17:46] AceTheWiz opened #673 "n open xml exaples"
# Before submitting an issue, please fill this out

Is this a:
- [ ] Issue with the OpenXml library
- [ ] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting -----------

[2020-01-22 17:57] ThomasBarnekow commented on #673
@AceTheWiz, would you mind providing a description of your issue in the structure provided by the template that you are asked to fill in? "n open xml exaples" is not enough to work with ...

[2020-01-26 13:27] mooop12 opened #674 "PPTX Sunburst chart?"
How would I go about creating a sunburst chart using OpenXML SDK? I tried reflecting it using the Productivity Tool but it would seem it does not support it correctly, and the chart itself is an image embedded into the PPTX. Seems to be stored very much differently than other types of charts.

I know this is a question and not a bug, but SO is entirely unhelpful in answering new questions, I tried

[2020-01-29 19:01] tomjebo commented on #674
@mooop12 Charts are more complex to create and this is indeed a "how to" question. I'm not sure what might be going on with the reflection code, if I have some time, I might try the same exercise. However, in the meantime you might want to look at this post on StackOverflow:
[How to create chart/graph in excel sheet OpenXML 2.0 C#](https://stackoverflow.com/questions/11365430/how-to-create-chart-g

[2020-01-29 19:09] mooop12 commented on #674
We actually have (other) chart creation pretty much covered, it's just that Sunburst seems to be a new chart in Office 2016 and there aren't any Sunburst classes in Open XML SDK currently. From what I've seen, Office 2016 initial support has just been added to the SDK in version 2.10.

[2020-01-29 19:40] twsouthwick commented on #509
@tomjebo Have you been able to open a bug with the compare tool?

[2020-01-30 03:28] tomjebo commented on #674
The classes are actually generated but I think the problem here is that the productivity tool just doesn't know about them and I don't happen to have an example of generating a chart like that. Two options here come to mind, 1) manually come up with the code based on the classes. The chartex code works a little differently than for example doing a BarChart but it should be possible, although tedio

[2020-01-30 14:39] AlejandroFerrandiz commented on #672
Any update about this issue?

[2020-01-30 17:04] rmboggs commented on #672
I'm not sure this is an issue with the library but with how the spreadsheet was created in the first place.  I just unzipped the file and examined the worksheet xml file in the xls file you posted earlier and I didn't see any cell reference attributes list in any of the cell elements. Which is why the CellReference properties in the Cell objects are coming through as null. Do you know how the file

[2020-01-30 18:38] ScottHaney opened #675 "cx:chartSpace is Missing"
**cx:chartSpace is Missing**

When trying to create a histogram chart (an example of an extended chart) in office the cx:chartSpace xml element is required. A C# class for this exists in an uncompiled test which is named `DocumentFormat.OpenXml.Office2016.Drawing.ChartDrawing.ChartSpace`. For some reason this class isn't included in the sdk.

**Information**

- .NET Framework
- DocumentFormat.Open

[2020-01-30 18:50] ThomasBarnekow commented on #674
@tomjebo, isn't the productivity tool based on a pretty old version of the Open XML SDK? Does this ever get updated?

[2020-01-30 18:51] ThomasBarnekow commented on #673
@twsouthwick, as there's not been any reaction for over a week now, I'd suggest you close this issue (or even delete if possible).

[2020-01-30 18:53] twsouthwick commented on #673
No delete option, and in case @AceTheWiz  wants to update their issue, it's good to track.

[2020-01-30 18:53] #673 closed

[2020-01-30 18:55] tomjebo commented on #674
@ThomasBarnekow it's based on 2.5 (pre-github) and hasn't been updated AFAICT.  I'll spend some time manually putting together the sunburst example and see if there are any issues with it.

[2020-01-31 13:26] #620 closed

[2020-01-31 20:36] ThomasBarnekow commented on #634
@twsouthwick, how about that branch?

[2020-02-01 00:32] maflleje1983 commented on #509
@NerdBrick, where you able to get an answer to this issue?  I just recently took on helping resolve this issue in an application.  The end user will not want to open and save every time an Excel file is generated.

When the file is first generated, I noticed the size of the application is small. When I open up and save the file in Excel, the file almost doubles in size with all of the corrections

[2020-02-02 01:29] twsouthwick commented on #492
@ThomasBarnekow I have a POC of what this may look like. The data structure #676 provides would allow for either of the options I listed above. For now, the change will introduce a new storage/retrieval mechanism so that current usage will start using that. This may have bugs, that I want to flesh out before supporting easy access to the rest of the elements (ie I don't want to break current behav

[2020-02-02 01:49] twsouthwick commented on #634
Here's a branch: https://github.com/twsouthwick/Open-XML-SDK/tree/pure-functional-transformations.

I'm somewhat wary of adding a ton of new constructors, but let's see how this goes. Here's another option to explore:

[code]

Where you can define the following:

[code]

This simplifies the number of constructors required. Something to explore - not sure how that affects your style of programming,

[2020-02-05 03:44] twsouthwick opened #678 "Convert semantic validation registration to declarative structure within OpenXmlElement"
There is currently a semantic constraint registry that contains all the semantic constraints that get applied during validation. This should be separated out so that each element defines their own semantic constraints. The following must be applied:

- [ ] AttributeCannotOmitConstraint.cs
- [ ] AttributeMinMaxConstraint.cs
- [ ] AttributePairConstraint.cs
- [ ] AttributeValueLengthConstraint.cs
-

[2020-02-06 16:42] twsouthwick commented on #675
Thanks @ScottHaney for the report. Any of the new Office 2016 related schema entries were added as best effort knowing that there were some gaps, but figured getting what we had out would be better than postponing until we had full support. Seems like you found one of the gaps.

@tomjebo This looks like it may be related to the issue you are already investigating.

[2020-02-06 20:42] ThomasBarnekow commented on #634
@twsouthwick, let me explore the extension method route. My initial thought is that this would enable the same approach while only requiring a little more code.

[2020-02-10 23:18] #634 closed

[2020-02-11 09:26] ThomasBarnekow commented on #492
@twsouthwick Let me ask one question first to provide some food for thought. When you say that you want an API similar to `AppendChild` in conjunction with not wanting to break current behavior, does that also mean you don't want to fix "incorrect" behavior?

For example, while `AppendChild` does nothing wrong on a technical level, it makes it easy to do the wrong thing on an Open XML schema level

[2020-02-11 09:56] ThomasBarnekow commented on #492
@twsouthwick Regarding the internal methods you want to expose, I have only found the following two methods in `OpenXmlCompositeElement`:

[code]

Here are some questions:

- Will you add methods without the `sequenceNumber`?
- What would be the difference between `GetElement<T>()` and `OpenXmlElement.GetFirstChild<T>()`?
- Apart from the return type, what would be the difference between `IList<TE

[2020-02-12 13:21] Martijn85 opened #680 "Freezing excel rows doesn't work in version 2.10.0"
After updating to version 2.10.0 from 2.9.1 the option to freeze rows using a pane results in a corrupt excel file.

.NET Framework 4.7.2
DocumentFormat.OpenXml 2.10.0

[code]

**Observed**

Excel file can no longer be opened.

**Expected**

The excel file to work like version 2.9.1

[2020-02-12 13:37] Martijn85 commented on #680
The reason appears to be that in version 2.10.0 the SheetViews is added after the SheetData element. Managed to solve the problem by forcing this in code.

`SheetData sheetData = worksheet.Elements<SheetData>().FirstOrDefault();`
`worksheet.InsertBefore<SheetViews>(new SheetViews(), sheetData);`

This was however not required in version 2.9.1

[2020-02-12 16:45] ScottHaney commented on #675
@twosouthwick - I don't mind doing some updates to the code to help with the missing features. I am in need of them to get the histogram plot working. How do I update the code to add the missing items? For instance in the `Chart` class with `SchemaAttr` value 80 there is an `Id` attribute missing. If I just add a property named `Id` to `Chart` with an `Index` attribute it won't serialize out the `

[2020-02-13 13:47] AlonCG opened #682 "After upgrading to v2.10.0, first column of data is always null"
**Description**

I inherited code that parses an Excel file and inserts the data in to a DataTable. I understand that this has been working for more than 5 years with very little changes in code. (I am sure there are many suggestions to make it better, but that is not the issue.) Upon updating to DocumentFormat.OpenXml version 2.10.0, the first column of data is always null. I was unable to find b

[2020-02-13 20:54] #682 closed

[2020-02-19 13:33] avonwyss opened #683 "Objects are not correctly initialized when using constructor with OuterXml"
**Description**

When creating SDK objects with OuterXml string, properties which should be set may be uninitialized (null).

**Information**

- DocumentFormat.OpenXml Version: 1.10.0

The same code works with version 2.9.1

**Repro**

[code]

**Observed**

Parsing of the supplied XML is not performed when accessing certain properties.

**Expected**

All getters should assert that the provided XML

[2020-02-19 21:51] twsouthwick commented on #675
Unfortunately, the source has a code generator we can't make public (hopefully someday). I've been working towards removing those magic numbers, but it's a slow process... right now, you can't just add things out. @tomjebo has found the issue and is looking to submit a fix.

[2020-02-19 22:09] twsouthwick commented on #683
Thanks for the report. I found the issue and have a fix. Apparently, our tests never validate this - good catch!

[2020-02-19 22:21] twsouthwick commented on #680
Thanks for the report. I'll take a look

[2020-02-19 22:28] twsouthwick commented on #680
@Martijn85 Can you show a minimal repro? I'm interested in what you had in 2.9.1 vs what you have in 2.10.0. The issue you said is probably it, but I don't see how you added the SheetViews in 2.9.1.

[2020-02-19 22:44] avonwyss commented on #683
Great! It was a bit puzzling because this manifested itself as a Heisenbug; the evaluation of the properties by the debugger would trigger the initialization code...

[2020-02-19 23:02] twsouthwick commented on #680
So, I may have a repro. Let me know if this is different what you're seeing:

[code]

This worked in 2.9.1, but not 2.10.0.

[2020-02-19 23:19] twsouthwick commented on #680
So, this is fixed in a PR already open. The problem was that as part of a refactoring 2.9.0->2.10.0, I tried to remove redundant data and as part of that, elements that were not statically typed were all of a sudden unknown to the parent element. This made it so that insertion got messed up. The PR I've linked to is much smarter about identifying where to insert an element.

[2020-02-20 07:04] Martijn85 commented on #680
Thank you for your response Taylor.
This indeed appears to be the same problem. Your test also works in 2.9.1 and no in 2.10.0

[2020-02-20 17:27] #683 closed

[2020-02-20 17:29] twsouthwick commented on #680
Cool - sorry about that! Definitely a part of a bigger problem that #676 is trying to address

[2020-02-21 19:35] twsouthwick commented on #492
@ThomasBarnekow Thanks for your thoughts. That's actually a good argument about updating the `AppendChild` behavior. It could be hidden behind an `AppContext` switch if needed. Definitely worth exploring.

As for your other questions:

This has been removed in the updated implementation. All information about where an element is located is retrieved from the composite particle information.

No dif

[2020-02-21 22:41] 06needhamt commented on #451
Is there any ETA for getting a fix for this as I am hitting this quite often. If not I would be willing to contribute a fix if it would be accepted.

[2020-02-22 19:23] JordiMola opened #688 "SDK seems to create corrupted workbooks."
**Description**

Creating the "sample minimal" Excel spreadsheet with the SDK seems to create a corrupted file (Excel doesn't like it). If I add some row data I still get the issue.

**Information**

- .NET Target: .NET Core (although I could also repro it with .NET Framework)
- DocumentFormat.OpenXml Version: 2.10.0

**Repro**

[code]

**Observed**

Excel complains when trying to open the file, m

[2020-02-22 20:13] ScottHaney commented on #675
@twsouthwick - Thanks for the response! I found that I was able to use the public method `OpenXmlElement.SetAttribute` to add attributes that would serialize out. Also in the meantime I added a custom implementation of the `ExtendedChartPart` which allows me to hack my way into creating histograms finally.

[2020-02-22 20:56] ScottHaney opened #689 "OpenXmlValidator Throws Incorrect Validation Error for CategoryAxis"
**Description**

When validating a `CategoryAxis` with an `AxisPosition` child the `OpenXmlValidator` creates a validation error even though the xml is valid according the office xml specification (CT_CatAx has a child EG_AxShared which has an element CT_AxPos on page 4080 of part I of the specification).

**Information**

- .NET Target: .NET Framework
- DocumentFormat.OpenXml Version: 2.10

**Rep

[2020-02-22 21:29] ScottHaney commented on #688
It works for me if you remove the line (`SheetData` is already added to `Worksheet` when it was passed in as an argument to the constructor so this extra line causes it to be added twice):

and also replace `workbookPart.Workbook.Save()` with `document.Save()`. Where did you get this sample from? If it is in the github repo it should be updated otherwise this should have been a question on stackov

[2020-02-23 20:05] JordiMola commented on #688
That did it, thank you.

I'll contact the owner of the page where I copied this from (after making sure it wasn't my copy/paste) mistake.

Thanks!

[2020-02-23 20:05] #688 closed

[2020-02-26 02:45] #680 closed

[2020-02-26 02:46] twsouthwick commented on #680
I'm looking at cutting a 2.10.1 release to get this fix out quicker than a 2.11 release

[2020-02-26 02:49] twsouthwick commented on #675
FYI there's a fix for this in #687 that @tomjebo is working through

[2020-02-28 20:28] twsouthwick commented on #689
@tomjebo and I were talking about a similar error this morning. He's looking into it. We may have some out of date schema info it seems.

[2020-02-28 20:59] twsouthwick commented on #683
@avonwyss  I've pushed the fix into an updated NuGet package - update to 2.10.1 and it should work now. Thanks for the report!

[2020-02-28 21:00] twsouthwick commented on #680
A 2.10.1 release is now available on NuGet. Thanks for the report!

[2020-02-29 01:51] twsouthwick commented on #93
This doesn't look like something the SDK should support as it's not directly related to the actual file format. Feel free to reopen if you disagree, but it looks like this would be something an application would need to handle. We'd be open to including a sample in the repo as to how to solve it.

[2020-02-29 01:51] #93 closed

[2020-02-29 01:52] twsouthwick commented on #457
Docs has changed. Not sure if there's a sample repo. Happy to link to one from the README if someone has one.

[2020-02-29 01:52] #457 closed

[2020-02-29 04:16] lindexi commented on #644
Some of the OLE can show as wmf image

[2020-03-02 06:49] Martijn85 commented on #680
Thank you. Everything works great in the new version!

[2020-03-10 10:22] MoamenMohamed93 opened #697 "Validator does not verify CellValue contents match content type"
Is this a:
- [X] Issue with the OpenXml library

**Description**

Invalid Excel document that shows error message "We found a problems with some content...." while opening using Microsoft Excel 2019 is reported as valid by Open XML SDK Validator.

**Information**

- .NET Target: .NET Core 3.1
- DocumentFormat.OpenXml Version:  (2.10.1)

**Repro**

Create a Cell with string value and data type set

[2020-03-11 12:24] eriawan opened #699 "Please update the SDK to support .NET Standard 2.0, .NET Standard 2.1, and .NET Core 3.1"
# Before submitting an issue, please fill this out

Is this a:
- [ ] Issue with the OpenXml library
- [x] Question/Proposal on library usage

**Description**
Please update the SDK to support .NET Standard 2.0, .NET Standard 2.1, and .NET Core 3.1, because current library only support .NET Standard before .NET Standard 2.0.
These .NET Standard before 1.6 needs more API surface referenced as nuget p

[2020-03-12 08:03] lindexi commented on #699
@eriawan The repo can support .NET Standard 1.3 that means it support .NET Standard 2.0 and so on.

[2020-03-12 19:21] tomjebo commented on #697
@MoamenMohamed93 can you please share repro code for this problem? It is possible to create OpenXML packages that are not accepted by Word, PowerPoint and Excel but which look "valid".  Please share the code.

[2020-03-13 23:44] twsouthwick commented on #699
.NET Standard 2.0 support was added in 2.10 (updated to 2.10.1 as there were some regressions in 2.10 that were fixed in 2.10).  However, the target a library is compiled against is an orthogonal decision as to where it will run. We currently target the following:

- .NET 3.5
- .NET 4.0
- .NET 4.6
- .NET Standard 1.3
- .NET Standard 2.0

There are currently no plans at the moment for .NET Standard

[2020-03-13 23:44] #699 closed

[2020-03-14 20:22] twsouthwick commented on #672
Thanks @rmboggs  for taking a look. @AlejandroFerrandiz since we haven't heard from you in a while, I'm going to close the issue. If you still feel that this is an SDK issue, feel free to reopen to continue the discussion.

[2020-03-14 20:24] twsouthwick commented on #644
Thanks everyone for an interesting discussion. This looks to have been resolved so I'll close the issue.

[2020-03-14 20:24] #644 closed

[2020-03-14 20:28] twsouthwick opened #701 "Support non-nullable annotations"
With C# 8.0 and .NET Standard 2.1 (and other supported platforms), APIs can be annotated with nullability information. This issue will track any work to enable this. So far, this would include:

- [x] Enable C# 8.0 in the project (#698)
- [ ] Enable .NET Standard 2.1
- [ ] Enable nullable annotations in non-.NET Standard 2.1 targets (through some shim to provide attributes that can be stripped out

[2020-03-15 08:02] MoamenMohamed93 commented on #697
@tomjebo  Here you are https://github.com/MoamenMohamed93/ExcelValidationTest
Yes it looks as a valid xml, Is there any way I can check if a package is valid?

[2020-03-15 17:02] eriawan commented on #699
Thanks @twsouthwick

[2020-03-16 22:32] tomjebo commented on #697
@MoamenMohamed93 I think the problem is just that the code you're using is setting the cell value DataType to "Number" when the content is a string. I changed it to this:

`                sheetData.AppendChild(new Row(new Cell()
                {
                    CellValue = new CellValue("StringValue"),
                    DataType = CellValues.String
                }));
`

And this works ju

[2020-03-17 07:52] MoamenMohamed93 commented on #697
@tomjebo And there is no way to do the same semantic validation like what excel does?

[2020-03-17 23:15] tomjebo commented on #697
@MoamenMohamed93 we could add this as a feature request. But I believe validation is schema validation in the current code. If there is semantic or other validation in our code (and there might be) it's likely added ad-hoc.

[2020-03-18 16:24] twsouthwick commented on #451
Please check if 2.10.1 fixes the issue. If not, I'll need something I can reproduce. This is ideally something like an xunit test.

[2020-03-19 11:33] lindexi opened #702 "Can we make the ListStyle and TextListStyleType have inheritance"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

I found that I need to write lengthy code to adapt the properties of these two classes.Because these two classes without inheritance have many of the same properties

**Information**

- .NET Target: All
- DocumentFormat.OpenXml Version: 2.10.1

**Rep

[2020-03-20 00:01] twsouthwick commented on #561
@the-frank I'm going to close this unless you have a repro we're able to take a look at. Feel free to re-open.

[2020-03-20 00:20] twsouthwick commented on #633
@typhon88 part of the issue template has information we need to correctly identify any issues. Can you please let me know which version you are using? Also, this snippet isn't a functional repro - please provide everything needed for a minimum viable repro.

This sounds like it may have been a regression in 2.10.0 that was fixed in 2.10.1 - can you verify that?

[2020-03-20 05:39] Kashishmsft commented on #451
[OpenXML_MS_Word 365_Issue.zip](https://github.com/OfficeDev/Open-XML-SDK/files/4358066/OpenXML_MS_Word.365_Issue.zip)

This issue still occurs when having Open XML SDK 2.10.1 with Office 365 created documents. Is it still under progress for fix ?

[2020-03-20 09:52] lindexi opened #704 "Document error in docs.microsoft.com"
Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

The document in https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml.drawing.textparagraphpropertiestype?view=openxml-2.8.1 is error

![图片](https://user-images.githubusercontent.com/16054566/77152366-c93b3b00-6ad2-11ea-84c4-cf4b26022726.png)

**Observed**

The document say that `bullet <

[2020-03-21 23:11] 06needhamt commented on #451
I will test on Monday morning. I have a document that reproduces this issue 100% of the time. Will upload it here if the issue still occurs with version 2.10.1

[2020-03-23 02:31] Kashishmsft commented on #451
I have lready uploaded the sample above. Use it to repro the issue with 2.10.1

[2020-03-23 22:31] twsouthwick commented on #697
There is semantic validation, and I've done a bunch of work to make it easier to extend. We can potentially add this. We'll keep it as enhancement. I won't have time to address this for a while, but @MoamenMohamed93  if you want to take a look, feel free :)

[2020-03-24 00:02] twsouthwick commented on #44
Since no clear repro is available, I'm closing this. Feel free to reopen with a repro.

[2020-03-24 00:02] #44 closed

[2020-03-24 00:06] twsouthwick commented on #31
Closing as no-repro

[2020-03-24 00:06] #31 closed

[2020-03-24 00:07] twsouthwick commented on #30
Closing as no-repro

[2020-03-24 00:07] #30 closed

[2020-03-24 00:27] twsouthwick commented on #25
Here's a repro:

[code]

I get the following error:

[code]

The semantic validation (not in the schema) constrains the value of `position` between `0` and `1`.

[2020-03-24 00:27] #25 closed

[2020-03-24 00:29] twsouthwick commented on #98
I believe this is a duplicate of #492 - please reopen with more details if that is not the case.

[2020-03-24 00:29] #98 closed

[2020-03-24 00:30] twsouthwick commented on #674
This is being tracked by #675

[2020-03-24 00:41] twsouthwick commented on #645
Thanks @ThomasBarnekow for your investigation. As this is not an issue with the SDK, i'll close the issue. Please use stack overflow for any Q&A of how to use the SDK. Thanks!

[2020-03-24 00:41] #645 closed

[2020-03-24 00:43] twsouthwick commented on #640
@weitzhandler For the most part, this SDK maintains a strict goal of enabling support to handle the OpenXML file types. We do not aim to provide an object model on top of it.

However, if you have an API design, please feel free to share what the design would be. Showing the APIs needed and their usage would be a good start.

[2020-03-24 07:22] guptavkumar commented on #451
I too having the same exception while validating a file created in O365. It will be really great to know the ETA for this fix. This is actually blocking us to compete something.

[2020-03-24 13:50] weitzhandler commented on #640
Can I share with you some code privately? Can you please drop me an email (same as my GH handle at gmail)?

[2020-03-24 15:51] twsouthwick commented on #640
Sure will do

[2020-03-24 17:58] #451 closed

[2020-03-24 19:32] twsouthwick commented on #506
Looks like this has been fixed in System.IO.Packaging (see https://github.com/dotnet/corefx/pull/37079). We've updated to the latest version, so should be fixed. I'll close the issue here, but please reopen if issue persists.

[2020-03-24 19:32] #506 closed

[2020-03-25 20:51] 06needhamt opened #709 "Schema Error : The 'urn:schemas-microsoft-com:office:office:gfxdata' attribute is not declared."
Is this a:
- [X] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

Schema Error : The 'urn:schemas-microsoft-com:office:office:gfxdata' attribute is not declared. On 2 separate valid Office 365 Word documents.

**Information**

- .NET Target: .NET 4.6.2
- DocumentFormat.OpenXml Version: 2.10.1

**Repro**

Validate the attached file with a WordDocumentValidator.

**Ob

[2020-03-30 21:13] tomjebo commented on #675
@ScottHaney #687 was merged, can you please retest and let me know if you're not able to get the histogram chart working?

[2020-03-30 21:43] tomjebo commented on #674
@mooop12 just to follow up on this since it's been a while. we merged PR #687 that addressed this issue. #675 was also dealing with this but I wanted to circle back here in case you are not tracking that issue. chartSpace is now added and the support for Sunburst chart types (as well as several other 2016 types) is in place. we've also added a project in the samples folder to demonstrate how a Sun

[2020-04-01 22:16] tomjebo commented on #709
@06needhamt just double checking on this, how did you generate gfxdata.docx? According to ISO 29500-4:2016 19.1.2.16 "rect (Rectangle)", gfxdata is not an attribute of CT_Rect type. If this was generated with Word, can you give me repro steps with word to create the document?

[2020-04-03 09:57] 06needhamt commented on #709
Hi @tomjebo the file in question was downloaded from [here](https://www.fhvzelm.com/files/LettertypenAlle.docx).

Hope this helps you diagnose the problem. Let me know if you need any more info.

[2020-04-03 22:17] tomjebo commented on #709
@06needhamt I found the reference. [MS-OI29500] has several references like this one for 19.1.2.13 oval (Oval)
which say:
"The standard does not mention the gfxdata attribute.
Office uses an gfxdata attribute. The definition is the same as the gfxdata attribute defined in
Section 14.1.2.19."

This is for the transitional markup, specifically for vector ML (VML). Since these are not in the schemas

[2020-04-07 01:13] #633 closed

[2020-04-07 02:56] twsouthwick commented on #689
@tomjebo Thoughts on this?

[2020-04-07 04:53] #709 closed

[2020-04-07 20:20] #444 closed

[2020-04-25 19:05] neeldeep commented on #240
This is the solution I was looking for as I had followed the same link above and had run into the stream issue in .Net Core.

However in my case Excel data is being updated but the Chart is not being refreshed unless I right click and open the Embedded excel.

@twsouthwick Can you please help with this?

[2020-04-25 19:38] rmboggs commented on #240
Hi,

Based on my experience with pptx and docx documents with embedded attachments, you need to update both the embedded Excel files and the associated chartpart in the file being worked on to male sure that the chart displays correctly without user intervention.  There is no easy way around it, im afraid.

[2020-04-26 07:10] NeeldeepRoy commented on #240
Yes I have updated both the Excel File and the embedded chat cache but I think I am missing something here. There are multiple Charts in my document and I am updating a specific one.

Here is code I am having.

[code]

[2020-04-26 07:14] neeldeep commented on #240
Yes I have updated the Embedded Excel file and Chart cache but it seems I am missing something. There are multiple charts in my file and I am updating a specific one.
Here is the code I am having:

[code]

[2020-04-30 08:46] igitur opened #711 "Make StrictTranslation property public"
# Before submitting an issue, please fill this out

Is this a:
- [X] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

Please provide a simple description of the issue encountered.

**Information**

- .NET Target: All
- Latest commit on `master`

In https://github.com/OfficeDev/Open-XML-SDK/blob/0f1764a866e36d615e22d247e780fb7675046e9a/src/DocumentFormat.OpenXml/Pack

[2020-05-05 08:43] DaniusLabs commented on #137
I was able to reproduce this with package id="DocumentFormat.OpenXml" version="2.10.1" targetFramework="net472" />

[2020-05-06 23:48] twsouthwick commented on #711
I'm ok with that. @tomjebo any issue with making this public?

We're getting ready for a 2.11 release and can probably squeeze this in.

[2020-05-07 19:58] twsouthwick commented on #711
@igitur Can you prepare a PR for this?

[2020-05-07 20:05] igitur commented on #711
@twsouthwick Sure. Maybe one more thing. Is `StrictTranslation` the correct name to expose publicly? I understand its meaning in the internal sense where you're translating namespaces from strict to non-strict. But maybe for a public property something like `IsStrictMode` is more applicable. Your call.

[2020-05-07 20:17] twsouthwick commented on #711
Good catch. Definately want `Is...` naming . I like your idea. Feel free to rename it while making it public

[2020-05-07 21:03] twsouthwick commented on #711
@tomjebo Thoughts?

[2020-05-08 00:00] tomjebo commented on #711
A couple things, I agree with the IsStrict... part of the naming, however, I'm not sure that IsStrictMode would be accurate. The assumption here is that the StrictTranslation field set to "true" indicates that the workbook will contain dates in the yyyy-MM-dd format while "false" indicates they will use the serial number format. I can't say that will always be the case as StrictTranslation simply

[2020-05-08 06:51] lindexi opened #712 "Add the TryGetPartById to OpenXmlPartContainer"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

We read some document which may lost some resource and as we know, the `OpenXmlPartContainer.GetPartById` will throw when the part with the specified id does not exist. And we can not find any API to check the specified id exist

**Information**

- .

[2020-05-08 07:12] lindexi opened #713 "The OpenXmlPartContainer.DeletePart will throw exception when the id not found"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

As we can see the OpenXmlPartContainer.DeletePart can delete the part, but this API will throw ArgumentOutOfRangeException when the part with the specified id does not exist.

Because the `DeletePart` call the `DeletePartCore` which will call the `Ge

[2020-05-08 10:47] waizui commented on #618
same issue here is there any solutions?

[2020-05-09 09:24] lindexi opened #715 "One illegal uri in Relationship will destroy the document parsing"
**Description**

The PPTX document that include an illegal uri in Relationship will make the `System.IO.Packaging.InternalRelationshipCollection.ProcessRelationshipAttributes` throw an exception to  `OpenXmlPart.Load`.

And the `OpenXmlPart.Load` can not catch the exception and it will break the `PresentationDocument.Open`.

**Information**

- .NET Target: All
- DocumentFormat.OpenXml Version: 2.1

[2020-05-10 08:09] lindexi commented on #715
Maybe we can define an interface and a PackageAdapt class. And the developer can input the IPackage and custom processing data.

[code]

[2020-05-11 14:33] igitur commented on #711
Agree. I like `StrictRelationshipFound`. It's very explicit about its intention. I'll prepare a PR based on that if you concur.

[2020-05-11 17:45] twsouthwick commented on #713
Can you point to other APIs in the SDK that do not throw when deleting? I agree we would want consistency, just want to document where else that is occuring.

[2020-05-11 17:46] twsouthwick commented on #715
Not sure what the `IPackage` would solve - `Package` is already abstract. You've linked to the issue in dotnet/runtime that is tracking a fix. Feel free to include use cases there.

[2020-05-11 20:00] #674 closed

[2020-05-11 20:00] #675 closed

[2020-05-12 00:21] lindexi commented on #715
@twsouthwick This is my link https://github.com/dotnet/runtime/issues/26084#issuecomment-626295078

[2020-05-12 00:23] lindexi commented on #715
@twsouthwick The Package is already abstract but not all the API can override. And we can use the IPackage to define the custom Package that can handle the exception

[2020-05-12 00:45] lindexi commented on #713
@twsouthwick Thank you. And my question is

- We can not sure the OpenXmlPartContainer contain the part with the specified id.
-  The `OpenXmlPackage.DeleteRelationship` do not throw exception when the deleted item not found. But the other API like `OpenXmlPartContainer.DeleteExternalRelationship` will throw exception.

https://github.com/OfficeDev/Open-XML-SDK/blob/c595b4bb4a4733093e2295d7902145b

[2020-05-12 00:53] lindexi commented on #713
And the other type like `List` and so on in dotnet will not throw exception when the item not found

https://github.com/dotnet/runtime/blob/0ab835c0b27280b87db4385740107bf878f1c491/src/libraries/System.Private.CoreLib/src/System/Collections/Generic/List.cs#L832-L842

[2020-05-12 01:30] twsouthwick commented on #715
I think what you'll want to do is open a new issue in that repo with the request to add it. However, it may be better to make the methods that are needed to override virtual rather than a whole new interface, and doesn't really pertain to this issue itself (ie ZipPackage and friends are internal and that's where the actual logic for opening packages and the Uri creation occurs)

[2020-05-12 07:26] Amitloh opened #717 "How to refer existing excel sheet in a chart created in ppt like vba"
# Before submitting an issue, please fill this out

Is this a:
- [ ] Issue with the OpenXml library
yes
- [ ] Question on library usage
yes

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting ---

[2020-05-12 22:46] #712 closed

[2020-05-13 01:29] twsouthwick commented on #713
Thanks for the research. Can you make a list of the APIs that throw and submit a PR to just exit instead of throwing?

[2020-05-13 01:30] twsouthwick commented on #717
@Amitloh Doesn't look like you have filled any of the template out. Your title implies this is more a How-To kind of question. Can you please post that to StackOverflow? I'll close this for now, but please link your StackOverflow link here. If this is a bug in the SDK, feel free to re-open with more information.

[2020-05-13 01:30] #717 closed

[2020-05-13 01:32] lindexi commented on #713
@twsouthwick Thank you. And sorry I do not how to solve it. What I'm worried about is that this change will change the behavior of the SDK.

Sorry, I just point the problem and I do not know how to solve it.

[2020-05-13 01:41] lindexi commented on #713
@twsouthwick After https://github.com/OfficeDev/Open-XML-SDK/pull/714 merged, we can use this API to check whether the OpenXmlPartContainer contain the part with the specified id. So, there are ways to avoid this problem.

[code]

[2020-05-13 01:43] twsouthwick commented on #713
It's merged so that should be available :)

[2020-05-13 02:10] Amitloh commented on #717
ok sure will put it on stackoverflow. Thanks.

[2020-05-13 03:18] twsouthwick commented on #713
Just making sure, do you want to provide a PR? Your code snippet using `TryGetPartById` would be the pattern to use.

[2020-05-13 03:19] lindexi commented on #713
@twsouthwick I do not want to provide a PR because I do not know how to do

[2020-05-13 03:27] lindexi commented on #666
@twsouthwick Could we use github action?

[2020-05-13 03:30] twsouthwick commented on #666
The challenge is we use devops for signing and unfortunately that process doesn't support running in actions.

[2020-05-13 10:09] lindexi commented on #666
@twsouthwick I created an MR but I do not know if I ’m right to do this, could you please review it?

[2020-05-14 10:56] igitur commented on #612
Ha! Stale indeed. I have to look at this again.

[2020-05-14 17:50] DizTortion commented on #601
Any progress on this one? I'd be happy to provide more information if required.

[2020-05-15 18:41] #711 closed

[2020-05-18 20:24] rmboggs commented on #697
A little late to this party but my 2 cents on this issue if anyone is interested:

There seems to be a disconnect with validation between the SDK and Microsoft Office ever since 2.0 of the SDK.  I've seen documents that passed sdk validation that Microsoft Office would not even open and documents that MS Office wouldn't have problems with that the SDK would have multiple failures on.  I always ass

[2020-05-18 20:45] rmboggs opened #720 "Adding parts to WorksheetPart derived class throws exception"
**Description**
When I try to add parts to a worksheet part within a class derived from WorksheetPart, such as SpreadsheetPrinterSettingsPart or VmlDrawingPart, an OpenXmlPackageException is thrown with a message "The part cannot be added here."  This just started when I updated the reference SDK to 10.0 or 10.1.  The code works as expected when built and run against SDK version 9.1 or earlier.

I

[2020-05-19 03:14] twsouthwick commented on #720
I am not able to repro the observed behavior. Can you provide a repro that I can run without any external files (if they are necessary, please include them). I tried to adapt your sample but couldn't figure out what you're doing:

[code]

[2020-05-19 14:49] rmboggs commented on #720
@twsouthwick , thank you for taking the time.  Looking at the code you posted, you are half way there but you didn't add the worksheet right.  Adding parts to the worksheetPart object on the outside works as expected, however the exception occurs when trying to perform the same operation inside the object. I am able to hit this issue reliably when trying to add parts within a WorksheetPart derived

[2020-05-19 15:14] twsouthwick commented on #720
Thanks @rmboggs I can repro it. Let me investigate - a lot changed during 2.9.1 and 2.10.0 internally. It looks like it's not a known part so it cannot be added.... let me see why it worked in 2.9.1. This is not  a scenario I've used before, but not a fan of regressions :)

[2020-05-19 15:30] twsouthwick commented on #720
Found the issue. Need to inherit the parts; for some reason, this was changed at some point to not inherit. Fix is in review

[2020-05-19 15:45] rmboggs commented on #720
@twsouthwick Awesome, thank you.

Do you know which version this change (once review is complete and change is committed) will show up in?  Will there be a 10.2 or will this just go into the 11 work that is going on?  Fortunately, I have everything I need in 9.1 for the time being so I'm not in a hurry for a new release.  I'm just curious.

[2020-05-19 15:46] twsouthwick commented on #720
We're planning on releasing 2.11.0 soon - have to renew a cert for signing and then that'll be released

[2020-05-19 15:48] rmboggs commented on #720
Sounds good.  Again, thanks for taking the time to address.

[2020-05-20 10:53] jurijr opened #724 "CellValue ctor for DateTime and DateTimeOffset should use proper xml standard format"
Issue with the OpenXml library

**Description**

CellValue created via DateTime constructor does not serialize xml string properly.
With the latest version of Excel the document xml has no problems loading, however with Excel 2016 it fails to load the xml value.

Further inspection showed the issue was with "midnight" date cell value "2019-09-25T00:00:00.0000000".
If you trim down the miliseconds,

[2020-05-20 11:55] dontbyte commented on #509
Related [https://github.com/ClosedXML/ClosedXML/issues/1436](#1436) @ClosedXML repo

[2020-05-20 23:22] twsouthwick commented on #666
After #725 , helpful status is now displayed:

![image](https://user-images.githubusercontent.com/583206/82507030-14170600-9ab6-11ea-99f0-bae37c4b1eb1.png)

For an example, see #727

[2020-05-20 23:22] #666 closed

[2020-05-20 23:28] twsouthwick commented on #724
@jurijr Thanks for the issue. Would you be up for submitting a PR to fix this?

@tomjebo Can I get your thoughts on the valid form here?

[2020-05-21 00:06] #678 closed

[2020-05-21 00:06] #621 closed

[2020-05-21 00:06] #619 closed

[2020-05-21 00:06] #579 closed

[2020-05-21 20:34] AlexHedley commented on #566
Hi @twsouthwick I’ve see you comment on other issues for this repo, would it be possible for a comment on this?

Also is there a reason why this would be auto closed with no interactions?

I know other questions have been suggested to moved to Stack Overflow, could instead the new Discussions tab be added and it moved to there instead, if you don’t think this is an Issue,

Thanks

[2020-05-21 20:59] #720 closed

[2020-05-22 00:06] #601 closed

[2020-05-22 00:06] #612 closed

[2020-05-22 00:06] #564 closed

[2020-05-22 00:06] #489 closed

[2020-05-22 00:06] #491 closed

[2020-05-22 00:06] #478 closed

[2020-05-22 00:06] #479 closed

[2020-05-22 00:06] #441 closed

[2020-05-22 00:06] #393 closed

[2020-05-22 00:06] #398 closed

[2020-05-22 00:06] #387 closed

[2020-05-22 00:06] #297 closed

[2020-05-22 00:06] #384 closed

[2020-05-22 00:06] #224 closed

[2020-05-22 00:06] #166 closed

[2020-05-22 00:06] #90 closed

[2020-05-22 00:06] #143 closed

[2020-05-22 00:06] #42 closed

[2020-05-22 02:33] Still34 commented on #389
Bump for refreshing the issue; has this been implemented anywhere yet?

[2020-05-22 03:42] twsouthwick commented on #566
Sorry for the auto close. I enabled a bot that went through and closed issues that had no comments on it. Happy to reopen and take a look.

[2020-05-24 00:22] weitzhandler commented on #640
@twsouthwick did u get my email I sent you at the time?

[2020-05-26 00:12] #702 closed

[2020-05-28 00:14] #509 closed

[2020-05-28 01:33] NerdBrick commented on #509
I'm sorry for the long delay replying. I no longer work for the company that I was using OpenXML for.

Sorry I wasn't of more help.

[2020-05-30 00:42] twsouthwick commented on #628
I'm going to open as I recently made a change to System.IO.Packaging that may help this and I want to verify. See https://github.com/dotnet/runtime/pull/35978

[2020-05-30 00:49] twsouthwick commented on #618
Can you include something I can repro?

[2020-05-30 00:51] twsouthwick commented on #640
I never saw any email regarding this.

[2020-05-30 00:54] twsouthwick commented on #612
Feel free to reopen if it still needs to be explored

[2020-05-30 05:07] weitzhandler commented on #640
In March, you sent me an email wish I replied to.
Please search your mail for my last name, I'm sure you'll find it.

[2020-05-31 00:10] #704 closed

[2020-06-01 13:27] mc2002tii commented on #618
I'll have to test this when I'm back in the office next week.  I couldn't reproduce it today, but at home I have a completely different environment (O365 vs Word 2016, Mac vs. Windows).  I know I could still reproduce it with .NET Core 3.1 and DocumentFormat.OpenXML 2.10, but I don't think I tried again when 2.11 came out.

[2020-06-03 07:21] Szaamaan opened #734 "PEverify issues using 2.10.0+ NuGet versions of OpenXml"
**Description**

OpenXML NuGet libraries with version 2.10.0 and upwards fail PEverify.

**Information**

- DocumentFormat.OpenXml Version: 2.10.0 and upwards
- Microsoft (R) .NET Framework PE Verifier.  Version  4.0.30319.0

**Repro**

Run PEverify (available in Developer Command Prompt for VS, I'm using 2019 version) on DocumentFormat.OpenXML.dll

**Observed**

[code]
While the library works fin

[2020-06-04 13:35] 06needhamt opened #735 "Semantic Error : Attribute 'si' should be present when the value of attribute 't' is 'shared'."
Is this a:
- [X] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

Semantic Error : Attribute 'si' should be present when the value of attribute 't' is 'shared'.  On 2 separate valid Office 365 Excel documents.

**Information**

- .NET Target: NET 4.6.2
- DocumentFormat.OpenXml Version: 2.11.0

**Repro**

[code]

**Observed**

The following validation error was repor

[2020-06-04 13:41] 06needhamt opened #736 "Schema Error : The attribute 'anchory' has invalid value 'line'. The Enumeration constraint failed."
Is this a:
- [X] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

Schema Error : The attribute 'anchory' has invalid value 'line'. The Enumeration constraint failed. On 2 separate valid Office 365 Word documents.

**Information**

- .NET Target: NET 4.6.2
- DocumentFormat.OpenXml Version: 2.11.0

**Repro**

[code]

**Observed**

The following validation error was re

[2020-06-07 00:10] #640 closed

[2020-06-09 17:32] abelykh0 commented on #38
Another workaround https://github.com/googleapis/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Core/Util/UriPatcher.cs

[2020-06-09 18:19] abelykh0 commented on #297
Is there a reason this was closed? It is a blocking critical issue.

[2020-06-12 21:58] filipkis opened #737 "Schema Error when order of w:b and w:i is switched inside w:rPr"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

---------------- Remove this line and above before posting ----------------

**Description**

When validating a `docx` file that has `<w:rPr>` with `<w:i/>` and `<w:b/>`, the error is thrown if `<w:i/>` appears before `<w:b/>`.

**Information**

- .NET Target: .NET C

[2020-06-14 00:11] #484 closed

[2020-06-15 05:47] oatyongyut opened #738 "Issue has after upgrade from 2.10.1 to 2.11.0"
When me convert error occurs convert html to pdf

HtmlConverter converter = new HtmlConverter(mainPart);
converter.ParseHtml("url");

TypeInitializationException: The type initializer for 'HtmlToOpenXml.RunStyleCollection' threw an exception

[2020-06-15 05:48] oatyongyut commented on #738
for now am downgrade to 2.10.1 again and don't have any issue

[2020-06-15 06:10] oatyongyut commented on #738
my html to convert

<table border="0" style="margin-bottom:0px;font-family:Arial;font-size:14px">
    <tr>
        <td style="font-weight:bold;padding-bottom:6px">TST Ref:</td>
        <td style="padding-bottom:6px;padding-left:30px" colspan="2">SSSSSSSSSSSS</td>
    </tr>
        <tr>
            <td style="font-weight:bold;padding-bottom:5px">Your Ref:</td>
            <td style="padding-bottom:

[2020-06-15 06:11] oatyongyut commented on #738
`

<table border="0" style="margin-bottom:0px;font-family:Arial;font-size:14px">
    <tr>
        <td style="font-weight:bold;padding-bottom:6px">TST Ref:</td>
        <td style="padding-bottom:6px;padding-left:30px" colspan="2">SSSSSSSSSSSS</td>
    </tr>
        <tr>
            <td style="font-weight:bold;padding-bottom:5px">Your Ref:</td>
            <td style="padding-bottom:6px;padding-left:

[2020-06-15 09:51] d3fr0g opened #739 "Cannot open presentation theme (.thmx) file"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

Trying to preserve themes and and generate presentations with specific themes (with slidelayouts). The logical way to store themes seemed like the thmx. It cannot be opened with OpenXML SDK.

**Information**

- .NET Target: .NET Framework 4.7.2
- Doc

[2020-06-15 14:06] zgordan-vv commented on #737
Confirm. The same is for x:font.

Actually the error is thrown in all cases except one when attributes are located in the order like in the code here: https://raw.githubusercontent.com/OfficeDev/Open-XML-SDK/master/src/DocumentFormat.OpenXml/GeneratedCode/schemas_openxmlformats_org_spreadsheetml_2006_main.g.cs , lines 17028 (for rPr) and 28814 (for font).

We can see there the same code:

[code]

[2020-06-18 10:24] gunnsth commented on #735
We are running into this too.

[2020-06-18 10:48] stoiveyp commented on #713
@twsouthwick I'd be interested in picking this up, seems like a straight forward change to start with

[2020-06-18 18:08] abelykh0 commented on #715
Considering Excel opens such files with no warnings and even "Open XML SDK 2.5 Productivity Tool" reports no warnings, I would consider this issue critical.

[2020-06-27 09:27] tmakin commented on #738
@oatyongyut I just run into this issue and ended up here via google. However, I think you might be raising an issue with the wrong library. I think you are probably looking for this one.
https://github.com/onizet/html2openxml

[2020-06-27 16:19] rmboggs commented on #225
Next couple of weeks?  I meant a couple of years.

If there is still interest in this, I finally have working code that will generate source code for openxml based documents.  It is still considered alpha status but I've been able to recreate documents using the generated code without errors so it's definitely working.

Project is here for those who want to check it out. [Serialize.OpenXml.CodeGen

[2020-06-29 20:13] tomjebo commented on #738
@oatyongyut or @tmakin can you provide the exception information (i.e. stack and error message) you're seeing? html2openxml depends on DocumentFormat.OpenXML library (this one) so it's possible that it could be an issue in this library.

[2020-06-29 22:27] tomjebo commented on #739
@d3fr0g The issue here is that the .thmx file type is actually not a PresentationDocument. It's an Office Theme package which is different. A .pptx has a bunch of other parts that .thmx is missing and hence the exception. There is an [article ](https://docs.microsoft.com/en-us/office/open-xml/how-to-apply-a-theme-to-a-presentation) which demonstrates how to manipulate theme parts and information t

[2020-06-30 09:12] tmakin commented on #738
@tomjebo Sure, here is my stack trace when I run test against v2.11.0
[code]

[2020-06-30 23:31] tomjebo commented on #737
@filipkis @zgordan-vv this is interesting. The schemas that we use for the generation of the framework look like this:

<xsd:group name="EG_RPrBase" ...
	**<xsd:sequence>**
		<xsd:element name="rStyle"
		<xsd:element name="rFonts"
		<xsd:element name="b" ...

whereas the ISO 29500 defined schemas from Part 1 Annex A look like this:

<xsd:group name="EG_RPrBase">
     **<xsd:choice>**
     <xsd:ele

[2020-07-07 22:16] 06needhamt commented on #736
Is there any ETA on a fix for this issue?

[2020-07-07 22:16] 06needhamt commented on #735
Is there any ETA on a fix for this issue?

[2020-07-08 07:29] lindexi opened #743 "Can we use SmartTagClean to replace the abbreviations SmtClean property name"
**Description**

I find the property named `SmtClean` in TextCharacterPropertiesType, and the full name of this property should be `SmartTag Clean`

Can we use `SmartTagClean` to replace the abbreviations `SmtClean` property name in TextCharacterPropertiesType?

Also, I want to replace the property named `SmtId` with the full name "SmartTagId"

**Information**

- .NET Target: (ie .NET Framework, .

[2020-07-08 17:03] twsouthwick commented on #738
This is an issue with the html2openxml project. I've filed an issue here: https://github.com/onizet/html2openxml/issues/70. They're using an internal API which was removed (and no plans to replace). I'll see if we can work with the maintainer to provide a useable API for their scenario.

[2020-07-08 17:04] #738 closed

[2020-07-08 17:18] twsouthwick commented on #734
@Szaamaan thanks for the issue. This is due to using readonly structs internally. Appears there was an issue discussing this https://github.com/dotnet/roslyn/issues/22485.

It appears this can cause issues in partial trust so apparently it's a breaking change. What framework version are you running? I'll add the compat flag to .NET Framework builds (partial trust doesn't exist on Core so standard

[2020-07-08 17:28] Szaamaan commented on #734
I was using .NET 4.6.2 (I think; might have been 4.5.2). As per the description, I was having issues actually getting the DLL to run in MS CRM Sandbox after using ILMerge to make a single library (common way of getting external libraries when creating MS CRM plugins), so I'm not 100% clear if the specific framework version I was using matters or if it's more of an issue with ILmerge not working fi

[2020-07-08 18:25] twsouthwick commented on #734
Yes, it matters, as we also support .NET Core, etc and just wanted to make sure this is only on .NET Framework. I have a fix for this to ensure compat with PEVerify on framework builds.

[2020-07-08 18:27] twsouthwick commented on #734
According to the Roslyn bug, this can be hit in partial trust. ILMerge is kind of best effort and can cause it's own bugs that we're probably not in a place to fully test. If this is due to ILMerge, we'd need to look down a different path. However, the errors you're seeing are also visible without IL merge, so once the merge is in, you can grab the CI build and give it a try.

[2020-07-08 18:43] twsouthwick commented on #735
Can you include a repro? Also, is this present on previous versions or just 2.11?

[2020-07-08 18:52] twsouthwick commented on #689
@ScottHaney I can't remember if this was addressed with the changes in 2.11. Are you still seeing the issue?

[2020-07-08 18:54] twsouthwick commented on #743
I'm fine with that. There's a lot of historical choices here that aren't as common (such as abbreviations... I mean, we don't have the same file limitations as 2 decades ago!).

@tomjebo any thoughts on this renaming?

[2020-07-08 18:54] twsouthwick commented on #743
btw this will have to be in the schema generation side which is still closed source (no timeframe on open sourcing that). It's a simple change, but FYI

[2020-07-08 18:56] twsouthwick commented on #739
@d3fr0g does the link @tomjebo  gave help with it?

[2020-07-08 21:20] #713 closed

[2020-07-08 21:58] twsouthwick commented on #734
@Szaamaan Can you verify that your process works with the latest builds that have peverify compat enabled? Use the CI feed described in the README, and you'll need at least v2.11.1-ci.7

[2020-07-09 09:19] Szaamaan commented on #734
@twsouthwick The CI version you linked works fine after ILmerging. :)

[2020-07-09 10:45] 06needhamt commented on #735
@twsouthwick Thank you for your response. I have added a repro in the initial comment.

[2020-07-09 17:50] twsouthwick commented on #734
Perfect! Yeah, this issue is a known one for partial trust apparently. If we had the ACPTA attribute in the assembly it would have compiled fine, but thankfully there is a compat switch for peverify. We'll get that released to NuGet soon. Thanks for verifying!

[2020-07-09 17:51] #734 closed

[2020-07-09 22:38] twsouthwick commented on #735
Thanks @06needhamt. I found the issue - checking if something is false instead of true :) There are still validation issues in the file you sent, but they don't look to be an issue with the validator, but the data. Those issues are:

[code]

It's a different validation. When you say you expect it to not fail validation, are these not expected as well?

[2020-07-09 22:42] 06needhamt commented on #735
@twsouthwick Thanks for the fix. I should have been more clear I was referring to that one specific validation issue the others that you reported were expected.

[2020-07-10 00:20] #735 closed

[2020-07-10 00:20] twsouthwick commented on #735
Cool. It's merged in now and will be available via CI. We'll probably cut a 2.11.1 release soon as we've got a few other fixes to get out.

[2020-07-10 00:37] twsouthwick commented on #697
Yes, this is something that we could add and makes sense. Let's have this issue track cell value types. Feel free to open issues for other things the validator should handle.

[2020-07-10 00:39] twsouthwick commented on #724
#697 is somewhat related. CellValue could provide a way to validate itself for the different types

[2020-07-10 00:47] twsouthwick commented on #697
If anyone is interested, here is a potential way to handle it (purely POC haven't actually tried it).

1. First would be to add a method to OpenXmlElement:

[code]

2. Add a call to that in the validator around here:

https://github.com/OfficeDev/Open-XML-SDK/blob/3cb921efb711169c259f756171959d1281fb98dc/src/DocumentFormat.OpenXml/Validation/Schema/SchemaTypeValidator.cs#L45-L50

[code]

3. Implem

[2020-07-10 00:55] twsouthwick commented on #736
Looks like an enumeration value is missing here:

https://github.com/OfficeDev/Open-XML-SDK/blob/3cb921efb711169c259f756171959d1281fb98dc/src/DocumentFormat.OpenXml/GeneratedCode/schemas-microsoft-com_office_word.g.cs#L523-L546

@tomjebo Any thoughts on that? Seems like some of the previous issues we had

[2020-07-10 01:48] twsouthwick commented on #492
At this point, I'm thinking about exposing the following API:

[code]

This way, people could opt into the new behavior but have it configurable. Is this sufficient as a first step? Is this API useable?

[2020-07-10 08:15] 06needhamt commented on #736
@twsouthwick I have added a complete repro to the main comment, hopefully this will assist you further

[2020-07-10 13:37] twsouthwick commented on #736
@06needhamt Thanks. The issue is that apparently there is supposed to be a `line` value in the enumeration. We fixed a few missing enum values last release, so I'm thinking it's a similar thing for this one.

[2020-07-10 14:27] twsouthwick commented on #715
Yes, I agree this is critical. I'm trying to push an API into System.IO.Packaging to allow this. There isn't a good way for us to handle this as the URI parsing is deep within the packaging APIs.

The reason the productivity tool works is it is probably targeting 4.0 (even when run on 4.8 it will be quirked with the old behavior). This would be seen when targeting .NET Framework 4.5, or any .NET C

[2020-07-10 14:45] twsouthwick commented on #628
FYI the fix that I got into System.IO.Packaging fixes this!

Before:

[code]

After:

[code]

Since the package is still in preview, we won't be upgrading it for the project at this time. Note, since the major version of this is changing, we won't actually be able to bring it into the repo until v3.0 (due to semantic versioning). That'll probably happen sometime soon, but not for a bit. However, y

[2020-07-10 14:52] twsouthwick commented on #628
I'm going to close this for now, as it is fixed where it needs to be. Once we move to v3.0, we'll update to the latest System.IO.Packaging so it'll come by default.

[2020-07-10 14:52] #628 closed

[2020-07-10 16:26] d3fr0g commented on #739
My actual goal was to separate the content from the layout. Create a presentation by using slide masters and merge them with the content. From a quick glance themes seemed like a good idea. After a while it turned out that the ECMA doesn't even specify themes (thmx) (at least I couldn't find it), and to add to the confusion Word can export a theme file which of course will be a different theme.
I

[2020-07-10 17:59] twsouthwick commented on #739
This seems like something we may want to include, but not sure if we'll have time to investigate. However, we'd be happy to accept PRs for this.

I'd suggest to derive from `OpenXmlPackage` similar to `PresentationDocument`. You may be able to reuse parts already defined that are needed in the theme package. You may also need to make new parts/elements. If you could do this in a separate assembly,

[2020-07-13 02:10] twsouthwick opened #752 "Add strongly typed parsing to CellValue"
`CellValue` can hold various forms of data. We've added constructors to correctly set `DateTime`/`DateTimeOffset` but it may be helpful to provide helpers for the other datatypes, as well as strongly typed parsers, ie `CellValue.TryParse(out DateTimeOffset dt)`

[2020-07-13 02:12] #724 closed

[2020-07-13 09:29] tipa opened #753 "DLL size in Xamarin project very large"
**Description**

I am using this SDK in a Xamarin.Android project.
Starting with 2.11.1, the DocumentFormat.OpenXml.dll in my release bundle grew from ~6MB to over 20MB, causing the apps download size to grow about 3MB

**Information**

- .NET Target: Xamarin
- DocumentFormat.OpenXml Version: 2.11.1 + 2.11.2

**Repro**

Xamarin.Android project with AOT+LLVM enabled
Example project: [App2.zip](http

[2020-07-13 10:15] AlexHedley commented on #566
@twsouthwick if you have some time that would be great, thanks.

[2020-07-13 15:11] twsouthwick commented on #753
We have a work item to break things up into smaller pay-for-play assemblies (if you're using Word, then you'll only need the Word dll). However, it's pretty tricky to do so.

Other than that, it would be nice to understand what is causing the growth. I imagine it's some of the generic-related things (I remember hearing EF Core had issues with size explosion during AOT due to that). Maybe other thi

[2020-07-13 17:53] 06needhamt commented on #736
@twsouthwick Great. Are there any time lines set for that release yet.

[2020-07-13 18:55] twsouthwick commented on #736
At this time no time is set. However, a number of API updates are on the docket, so probably within a month

[2020-07-13 23:47] twsouthwick commented on #756
Can you provide a bit more info? What versions of the SDK/Runtime/OS are you using?

I recently fixed a perf issue that will be fixed with .NET 5 System.IO.Packaging release (which will be supported on .NET Standard/Core as well, but not framework). If you have a repro, we can see if it'll be fixed there.

[2020-07-13 23:48] twsouthwick commented on #755
Can you include a snippet of code that we can review to see what the issue is? FYI, this is most likely not an issue with SDK, and could be asked on Stackoverflow

[2020-07-13 23:51] twsouthwick commented on #753
Ah - I just saw that with 2.11.0 it was half the size. One of the change (which appears I forgot to document) between the two is removing some of the reflection code and using generics. It's a work in progress, but very likely to be related.

I don't have much experience with Xamarin and probably won't have any time to explore for a while. If anyone is able to explore what is causing that in more

[2020-07-14 06:51] lindexi opened #759 "AttributeCollection's IsEmpty will alway be false"
**Description**

The IsEmpty property in AttributeCollection will always be false, because the `_data` is never been null

As the Constructor code says, we will set the `_data` field a not null value

https://github.com/OfficeDev/Open-XML-SDK/blob/0977a9430407115ff9ed149f60496fbb2688b5e5/src/DocumentFormat.OpenXml/Framework/Metadata/AttributeCollection.cs#L15-L27

And the `IsEmpty` property will b

[2020-07-14 10:17] d3fr0g commented on #739
@twsouthwick It would be interesting, I can look into this second part of August. What I recall that a lot of the code is generated but couldn't find the schemas or the templates, so I'll have to look into that as well. But then again, probably the schema itself is a question.
I'll get back to this when I'll have some time.

[2020-07-14 20:10] twsouthwick commented on #759
Good catch! Is that used any where? Maybe can delete it or update to check for `.Length == 0`

[2020-07-15 02:31] lindexi commented on #759
@twsouthwick I can not find any code use it and I think we can delete it

[2020-07-15 02:53] twsouthwick commented on #759
You can add that into the PR you're doing to remove the `Contains` method.

I've been revamping the infrastructure to consolidate concepts and help reason about metadata. Some of these methods were used at different points. Thanks for exploring in here!

[2020-07-15 08:59] 06needhamt opened #760 "IndexReferenceConstraint and ReferenceExistConstraint can cause really long validation times"
Is this a:
- [X] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

The attached .xlsm file takes approximately 33 minutes to validate compared to several seconds for other files

**Information**

- .NET Target: .NET Framework 4.7.2
- DocumentFormat.OpenXml Version: 2.11.2

**Repro**

[code]

Link to file
[DiversenGrafieken.zip](https://github.com/OfficeDev/Open-XML-S

[2020-07-15 15:57] twsouthwick commented on #760
@06needhamt Thanks for the report. I see two actionable items here:

1. Identify why it takes so long and try to minimize that
2. Provide a way to use CancellationTokens so that if validation is taking too long it can be gracefully cancelled (not asked here, but if I had something that took 33 minutes randomaly I'd want to be able to cancel it)

Let's have this issue track the first one, and the s

[2020-07-15 16:00] twsouthwick opened #761 "Integrate cancellation tokens in validation system"
There is a setting for max errors, but sometimes the validation can just take a long time. While we can explore perf issues, it would also be good to be able to cancel it using CancellationToken so all the built in ways to manage workflows with them can be used.

Inspired by #760

[2020-07-15 16:06] twsouthwick opened #762 "Instrument project with DiagnosticSource"
In order to better identify and root cause issues, it would be helpful to get in depth logs as to what the system is doing. DiagnosticSource would be ideal for this. I haven't used it personally, but wanted to track a work item to add support for it within the project.

[2020-07-15 16:57] twsouthwick commented on #760
Ok, I've tracked it down to a specific semantic validator:

![image](https://user-images.githubusercontent.com/583206/87573263-8143b380-c681-11ea-81a9-3a663f984fb9.png)

The `IndexReferenceConstraint`. Not actually sure what it does, but I noticed a while back that it was the only one that kicks off what seems like a separate validation sequence.

[2020-07-15 17:53] twsouthwick commented on #760
Ok, there are actually two constraints that are adding a ton of time:

- [ ] ReferenceExistConstraint
- [ ] IndexReferenceConstraint

If I disable these, then you get 23s validation. I honestly am not sure what they do, so not sure how fast a fix will come. I'll update once I know

[2020-07-15 23:05] twsouthwick commented on #760
I've reduced it from >1hr on my machine to 32s. Hopefully that's sufficient:

[code]

[2020-07-16 05:24] twsouthwick commented on #297
@abelykh0 Yeah, that stale bot closed a ton of stuff that should be addressed. I should probably disable it. There's another issue that was opened so we'll just track this there. #715

[2020-07-16 08:18] 06needhamt commented on #760
@twsouthwick That's excellent thanks.

[2020-07-16 16:21] #760 closed

[2020-07-17 18:01] twsouthwick opened #770 "Poll: What target are you running on?"
As we move forward, it would be nice to drop some old platforms that add a bunch of extra technical work (ie .NET 3.5, .NET Standard 1.3). So, I'm interested in what everyone is running on?

/polls '.NET 3.5' '.NET 4.0' '.NET 4.6+' '.NET Core 1.x' '.NET Core 2.x' '.NET Core 3.x' 'Xamarin' 'UWP' 'Mono'

[2020-07-17 18:03] twsouthwick commented on #770
/polls '.NET 3.5' '.NET 4.0' '.NET 4.6+' '.NET Core 1.x' '.NET Core 2.x' '.NET Core 3.x' 'Xamarin' 'UWP' 'Mono'

[2020-07-17 18:04] twsouthwick commented on #770
Hmm not working..... I'll close for now

[2020-07-17 18:08] twsouthwick commented on #770
/polls '.NET 3.5' '.NET 4.0' '.NET 4.6+' '.NET Core 1.x' '.NET Core 2.x' '.NET Core 3.x' 'Xamarin' 'UWP' 'Mono'

[2020-07-17 18:10] twsouthwick commented on #770
/polls Option1 'Option 2' "Option 3"

[2020-07-17 18:12] #770 closed

[2020-07-17 18:12] twsouthwick opened #771 "Test"
[![](https://api.gh-polls.com/poll/01EDEZNBHFKTPYTAQKQ1H6RZZG/Option1)](https://api.gh-polls.com/poll/01EDEZNBHFKTPYTAQKQ1H6RZZG/Option1/vote)
[![](https://api.gh-polls.com/poll/01EDEZNBHFKTPYTAQKQ1H6RZZG/Option%202)](https://api.gh-polls.com/poll/01EDEZNBHFKTPYTAQKQ1H6RZZG/Option%202/vote)
[![](https://api.gh-polls.com/poll/01EDEZNBHFKTPYTAQKQ1H6RZZG/Option%203)](https://api.gh-polls.com/poll/01E

[2020-07-17 18:13] 06needhamt commented on #770
/polls Option3 Option7

[2020-07-17 18:13] #771 closed

[2020-07-17 18:13] twsouthwick opened #772 "Poll: What target are you running on?"
As we move forward, it would be nice to drop some old platforms that add a bunch of extra technical work (ie .NET 3.5, .NET Standard 1.3). So, I'm interested in what everyone is running on?

[![](https://api.gh-polls.com/poll/01EDEZQY609NYXTRGVE4P67Y67/.NET%203.5)](https://api.gh-polls.com/poll/01EDEZQY609NYXTRGVE4P67Y67/.NET%203.5/vote)
[![](https://api.gh-polls.com/poll/01EDEZQY609NYXTRGVE4P67Y6

[2020-07-17 18:14] twsouthwick commented on #770
haha. Playing around with a pollin system :)

[2020-07-17 18:14] twsouthwick commented on #770
Working here: https://github.com/OfficeDev/Open-XML-SDK/issues/772

[2020-07-17 18:18] twsouthwick commented on #772
Note: You can only select one :( Limitation of the polling system it seems

[2020-07-19 03:41] #743 closed

[2020-07-20 07:20] ThomasBarnekow commented on #492
@twsouthwick As requested in #774, here are my thoughts on the API above.

My initial thought was "yeah, this would do the job". Then I thought that calling it `TryAppendChild` might be (not entirely sure) a bit misleading because it is not simply the counterpart of `AppendChild` in the usual `TryDoStuff` pattern.

Would it be possible to use the following API (noting the optional parameter)?

[co

[2020-07-20 09:23] onizet commented on #492
I second Thomas on its proposal. This API is more natural.

Using the `AppendOption.List` may leads in duplicate children and invalid order and thus invalid schema. I would also suggest to set the `Obsolete` flag on `AppendOption.List` to warn users about the *pitfalls*. Or maybe there are some cases where it is useful?

[2020-07-20 16:30] twsouthwick commented on #492
Thanks for the thoughts!

Adding that *to* the `AppendChild` would be a breaking change (adding optional parameters are breaking as it changes the signature of the API). However, we could add an overload that takes an option in. Optional parameters are nice, but difficult to add at later points. If the full use case is known (or the API isn't in a shipping library), I definitely prefer them to min

[2020-07-20 23:13] #761 closed

[2020-07-21 13:57] rmboggs opened #780 "OnOffOnlyValues Enum may be missing values"
# Before submitting an issue, please fill this out

Is this a:
- [X] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

The DocumentFormat.OpenXml.WordProcessing.OnOffOnlyValues enum only contains values `On` and `Off` but if I am reading the ECMA-376 standard correctly, properties with this value type may contain values `On`, `Off`, `0`, `1`, `true`, and `false`.  Wh

[2020-07-21 14:02] rmboggs commented on #780
FYI - I caught this while testing out the [Serialize.OpenXml.CodeGen](https://github.com/rmboggs/Serialize.OpenXml.CodeGen) library.

[2020-07-22 02:15] twsouthwick commented on #780
Interesting. @tomjebo can you take a look at the spec and weigh in here?

[2020-07-22 02:15] twsouthwick commented on #780
@rmboggs Can you share the section of the spec you were looking at?

[2020-07-22 04:35] rmboggs commented on #780
I was referencing the first revision of the open xml ecma standard [located here](http://www.ecma-international.org/publications/files/ECMA-ST/Office%20Open%20XML%201st%20edition%20Part%204%20(PDF).zip).
Pdf Page 308 - cantSplit definition which references the possible values defined by the ST_OnOff simple type
Pdf Page 1786 - ST_OnOff possible values which include the values I listed in the initi

[2020-07-22 13:35] rmboggs commented on #780
Actually, I dug a bit deeper here as there are other elements that also have the same possible values.  `DocumentFormat.OpenXml.WordProcessing.Caps` for example.  It has the same set of possible values as the `DocumentFormat.OpenXml.WordProcessing.CantSplit` but they inherit from different base classes.  `Caps` inherits from `DocumentFormat.OpenXml.Wordprocessing.OnOffType` while `CantSplit` inher

[2020-07-23 00:42] lindexi commented on #759
@twsouthwick I find the `ElementState` will use the `AttributeCollection.IsEmpty` property. And I can not delete it.

[2020-07-23 00:55] lindexi commented on #759
@twsouthwick  I seem to have found an null reference exception, could you help me?

The `ElementMetadata.Builder.BuildAttributes` will return null when the `_attributes` is null.

[code]

And it will make the ElementMetadata receive the null argument, and that means the `ElementMetadata.Attributes` may be null.

[code]

And we will use the `ElementMetadata.Attributes` to create the AttributeCollec

[2020-07-23 01:43] twsouthwick commented on #759
Do you have a repro of a null red? The readonly array is a custom type that gracefully handles null. If you have a repro, that would be very helpful.

[2020-07-23 03:41] lindexi commented on #759
@twsouthwick  Thank you. It is not null.

Why it is not null? Because we use the `DocumentFormat.OpenXml.Framework.ReadOnlyArray` to cast the null array to ReadOnlyArray object.

        public static implicit operator ReadOnlyArray<T>(T[] array) => new ReadOnlyArray<T>(array);

That means the ElementMetadata will never receive the null `attributes` argument

[2020-07-23 03:42] #759 closed

[2020-07-23 03:43] twsouthwick commented on #780
My gut says that's a breaking change. I'll dig into it too see. We'll probably do a v3 soon and can handle any breaking changes then

[2020-07-23 04:27] rmboggs commented on #780
It makes sense to be cautious.  I don't think this is urgent since the cantSplit class has been set this way for quite some time and the difference is being noticed now, in a non production environment. I have an idea how to get around this in my project so I should be ok. In the meantime,  would it be ok to label this for the 3.0 release so it doesn't get lost.

[2020-07-24 05:58] tomjebo commented on #780
@twsouthwick @rmboggs I think we have a mistake in the schema processing (backend). cantSplit looks like it was defined in our backend processing as CT_OnOffOnly which is not correct based on the ISO definition *or* what I see in the Office source schemas. I see it actually associated with both CT_OnOffOnly and CT_OnOff in our backend code and the former looks like it's overriding the latter. I th

[2020-07-24 12:46] Trysor commented on #772
Attempting to upgrade from .NET Framework 4.8 to Core but I've run into issues discussed across several issues in .NET (but perhaps most notably in https://github.com/dotnet/runtime/issues/23750), which leaves me unable to do this upgrade. Whether or not such things is considered bias in this poll or not is up to you, but here's a vote for Framework that would otherwise have been Core (3.x).

[2020-07-24 13:07] rmboggs commented on #780
Thanks @tomjebo.  Please let me know if you need more information on this.

[2020-07-24 17:09] twsouthwick commented on #772
@Trysor that's really helpful as well! Thanks for the feedback

[2020-07-24 17:40] twsouthwick commented on #780
This is definitely a v3.0 change as it will be a breaking change. We'll track this and get that in.

[2020-07-24 17:53] twsouthwick commented on #736
@tomjebo

[2020-07-25 15:20] rmboggs commented on #780
Thanks guys, I have a work around for my stuff in the meantime.

[2020-07-25 17:56] ThomasBarnekow commented on #772
For VSTO add-ins, I‘m targeting net472 to be fully netstandard2.0 compatible. For server-side stuff, I‘m on Net Core 3.x.

I would be interested to know for which use cases you would need anything older than net461. Just thinking that no longer supporting older .Net Frameworks might give developers an argument to finally deal with that technical debt.

[2020-07-27 16:24] twsouthwick commented on #772
That's a good question, but I want to point out that running an application *targeting* 4.0, but running on .NET 4.8 is fully supported, hence why I'll probably continue to support a .NET 4.0 target. It is still technical debt, ie you're opting into quirks to mimic behavior for an older runtime that may cause issues if you move to targeting .NET 4.8 or .NET Core (for example, one that comes to min

[2020-07-27 16:39] rmboggs commented on #780
Hi,

I'm finding other non-enumvalue type properties that do not seem to be matching up to their values in some of the sample documents that I am testing against.  Since they seem to be related to schema mismatches at first glance similar to this, should I append what I find to this issue or create a new one to keep things clean?  Please let me know.

[2020-07-27 19:37] twsouthwick commented on #780
Yes, let's make this an uber-issue for those kind of issues. Then we can track it for v3.0

[2020-07-27 20:13] rmboggs commented on #780
Ok, let me see if I can modify the title to be more broad in a bit.

In the meantime, I'm seeing more inconsistencies in the [sample docx file](https://github.com/OfficeDev/Open-XML-SDK/files/4953640/file-sample_500kB.docx) mentioned at the beginning of this issue when compared to the ecma standard.  First one is for the [DocGrid.CharacterSpace](https://docs.microsoft.com/en-us/dotnet/api/document

[2020-07-27 23:58] #755 closed

[2020-07-27 23:58] #756 closed

[2020-07-29 06:16] lindexi opened #784 "The UpRight property in DocumentFormat.OpenXml.Drawing.BodyProperties may be named wrong."
**Description**

According to  21.1.2.1.1 bodyPr (Body Properties) in ECMA 376, we can find the `upright` means "Text Upright". And "Upright" is a word not two words. But we use `UpRight` as the property name.

**Observed**

The property named `UpRight` is in DocumentFormat.OpenXml.Drawing.BodyProperties.

**Expected**

The property name is "upright".

[2020-07-29 22:36] twsouthwick commented on #784
@tomjebo Thoughts?

[2020-07-29 22:39] #752 closed

[2020-07-29 22:39] twsouthwick commented on #697
Added in #782

[2020-07-29 22:39] #697 closed

[2020-08-05 22:30] rmboggs opened #790 "Missing namespace A16"
Is this a:
- [X] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

The OpenXml SDK doesn't seem to contain definitions for elements in the A16 namespace (http://schemas.microsoft.com/office/drawing/2014/main).  I'm sure there are other element types that are not coming up but the sample I ran into was `a16:colId`.

**Information**

- .NET Target: .net standard 2.0
-

[2020-08-14 22:12] tomjebo commented on #790
@rmboggs thanks for reporting this. I confirmed colId and rowId elements are missing extensions. I'll try to add them soon.

[2020-08-14 23:20] rmboggs commented on #790
Thanks @tomjebo .  Please let me know if you have further questions.

[2020-08-17 16:59] twsouthwick commented on #715
I have a prototype of a tool that can be used to sanitize these malformed URIs I'd like to add for the next minor version. I'm interested though in what are the scenarios you all have seen that cause this? I'm especially interested in any where the malformed uri needs to remain there. The examples I've seen are hyperlinks that can just be removed or changed to be appropriately formed Uris.

[2020-08-17 17:45] abelykh0 commented on #715
File with issue.
[NotWorkingFile.xlsx](https://github.com/OfficeDev/Open-XML-SDK/files/5085941/NotWorkingFile.xlsx)

[2020-08-17 17:55] twsouthwick commented on #715
So in this file, what do you want to do with the hyperlinks? They're invalid mailto links - would you want to update them to something valid, or just remove them?

[2020-08-17 17:58] abelykh0 commented on #715
The easiest is to treat all hyperlinks as string. I am already doing a workaround.

[2020-08-17 17:58] abelykh0 commented on #715
Sorry, please delete this file, it cannot be posted on a public place.

[2020-08-17 17:59] twsouthwick commented on #715
We can't change things to use hyperlinks as strings internally as they use Uris in public. What workaround are you using?

[2020-08-17 18:03] abelykh0 commented on #715
[code]

[2020-08-17 18:03] twsouthwick commented on #715
So your workaround is to rewrite the Uri? Do you rewrite them back later?

[2020-08-17 18:04] abelykh0 commented on #715
No.

[2020-08-17 18:04] twsouthwick commented on #715
No to both?

[2020-08-17 18:05] abelykh0 commented on #715
Not rewiring back as I don't need them for my purposes (someone else might need them though).

[2020-08-17 18:07] twsouthwick commented on #715
Ok, so the sanitizer I'm looking at adding in would be a way to rewrite it, which is what you're already doing.

[2020-08-17 18:09] abelykh0 commented on #715
See also
https://stackoverflow.com/questions/29970814/openxml-excel-throw-error-in-any-word-after-mail-address

[2020-08-17 21:07] twsouthwick commented on #715
For anyone interested, I've opened a PR to explore an API that performs functionality similar to what @abelykh0 discusses and linked to in stackoverflow

[2020-08-24 22:12] hypnopotamus opened #795 "Can't Create Lists in the NumberingDefinitionsPart as expected"
Is this a:
- [ X ] Issue with the OpenXml library
- [ maybe? ] Question on library usage

**Description**

When trying to create paragraphs in a list allowing the Numbering instance that contains the numbering definitions fails produce listed output in the document file if it is referenced by the NumberingDefinitionsPart.Numbering property

**Information**

- .NET Target: .NET Core 3.1
- DocumentF

[2020-08-25 15:29] rmboggs commented on #790
Ugh, just found another one in the c16 namespace (http://schema.microsoft.com/office/drawing/2014/chart).

`C16.uniqueId` is coming though as `OpenXmlUnknownElement`

Should this be reported here or a new issue?

[2020-08-25 17:16] jptemplin commented on #492
I'm late to the game here, but this newbie got caught up by this.

My use case: I use a Word doc seeded with 35 styles as a template to create nicely-formatted cooking recipes read from a database. I copy this "empty" doc, and append the recipe text to the copy. The styles do all the formatting. It took me awhile to figure out that my paragraphs appended to the end of the copied doc were being add

[2020-08-26 11:22] 06needhamt commented on #736
@twsouthwick @tomjebo, Is there any update on this issue yet. This issue seems to be getting more common on our end.

[2020-08-26 15:59] twsouthwick commented on #736
Yes, @tomjebo is looking into it. Should be a part of the next minor release.

[2020-08-28 15:32] p-kaczynski opened #796 "Adding an image as per MSDN docs makes the file unreadable by Word for Office 365 (Windows)"
**Description**

When creating a basic WordprocessingDocument using instructions from: https://docs.microsoft.com/en-us/office/open-xml/how-to-insert-a-picture-into-a-word-processing-document the document cannot be opened by the MS Word application specifically Microsoft Word for Office 365 MSO (16.0.12527.20986) (version 2002) on Windows 10 (also tested on macOS using the Word for Office 365 as w

[2020-08-28 19:14] tomjebo commented on #790
@rmboggs This looks similar but to make sure, do you have an example document that shows this? The other one I can create but this one it would be quicker if you could provide a sample.

[2020-08-28 19:38] rmboggs commented on #790
I can but it is easy to quickly build a sample pptx with this element by adding a default chart using powepoint 2016.  The tag shows up in the extension list of the chart series element.

Element tree: (bar chart example)
ChartPart > Chartspace[0] > Chart[0] > plotArea[0] > barChart[0] > ser[0] > extLst[0] > ext[0] > c16:uniqueId

Please let me know if more details are needed.

[2020-08-28 22:00] tomjebo commented on #790
@rmboggs thanks, I was using Word. I'll try with PowerPoint.

[2020-09-01 12:29] p-kaczynski commented on #796
Additional info:

* File opens in LibreOffice
* File doesn't open in Word 365 for iOS, Word Professional 2016

I am currently going file-by-file and line-by-line of the docx package contents trying to pinpoint the exact thing that causes the issue. I have only limited time for this, so I don't know if I'll be able to find out the problem, but if I do, I'll update the ticket.

[2020-09-01 12:53] p-kaczynski commented on #796
Ok, found the issue.

This line in the MSDN docs:
[code]

is invalid, because of the `https` that should be `http`.

Changing that makes the document open without issue.

[2020-09-01 12:53] #796 closed

[2020-09-01 13:10] p-kaczynski commented on #796
https://github.com/OfficeDev/open-xml-docs/pull/52

[2020-09-02 13:50] Corpac46 opened #797 "Looking for consultant/vendor with Open Office XML/Open XML SDK Expertise"
Dear Open-XML-SDK Community,

My company is working on a large project where we are levering Open Office XML/Open XML SDK to manipulate/transform patent submission documents (Word format) as they are submitted online.  We are looking for somebody (or a vendor) with deep expertise with Open Office XML/Open XML SDK to provide technical consultation for the project.  We can accommodate a full-time re

[2020-09-02 18:43] arpana20singh commented on #672
I m also facing same issue? Any solution or help?

[2020-09-07 03:20] jingliancui opened #801 "code of docs about create pptx result without any content"
- [ √ ] Question on library usage

https://docs.microsoft.com/en-us/office/open-xml/how-to-create-a-presentation-document-by-providing-a-file-name

sample code same to docs
[ConsoleApp.zip](https://github.com/OfficeDev/Open-XML-SDK/files/5180913/ConsoleApp.zip)

result:
![result](https://user-images.githubusercontent.com/16309962/92345502-21efa600-f0fc-11ea-9ff4-fb7c98f3cbd4.jpg)

[2020-09-07 15:21] amanbolat commented on #762
@twsouthwick Hi there. I've wanted to open new issue here but it might be not appropriate, so let me ask my question here.
Is there any approach to get `depth`, `lineNumber` or `position` of current node?
As it's done using native `XmlTextReader`: https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmltextreader.lineposition?view=netcore-3.1
[code]

I have tried to get `Depth` of OpenXMLReader,

[2020-09-07 15:35] twsouthwick commented on #762
Feel free to open a new issue if you find a limitation of the sdk. I'm not available to look into it right now, but maybe others will. We want to keep issues scoped to single issues

[2020-09-07 15:39] amanbolat opened #803 "Reader depth or how to get current node's real depth."
Is there any approach to get `depth`, `lineNumber` or `position` of current node in a real XML file?
As it's done using native `XmlTextReader`: https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmltextreader.lineposition?view=netcore-3.1
[code]

I have tried to get `Depth` of OpenXMLReader, but it seems that it is returning depth of element in some stack which is not real depth of current xml

[2020-09-08 21:07] twsouthwick commented on #803
Can you show what you are doing and what you would expect?

[2020-09-09 09:21] amanbolat commented on #803
@twsouthwick Thanks for response!
I can't show any code right now, but please look at my explanation below:

### Why
I'm working on library which converts different types of files into my own structured document. After that the structured document would be translated and should be reinserted into the original document.
Whenever my library parses any kind of xml document, it relies on configuration

[2020-09-09 17:22] twsouthwick commented on #803
Seems like a reasonable feature to include. It may be as simple as ensuring IXmlLineInfo is implemented on an internal XmlReader. If you can provide a scenario where you need this we can ensure it's surfacing the information correctly.

[2020-09-09 18:03] amanbolat commented on #803
@twsouthwick Good evening or morning.
There is the code I have written today. I've omitted some parts in order to show where exactly this functionality is used in my library.
How i see it:

[code]

[2020-09-09 20:14] twsouthwick commented on #803
I've pushed some code that will surface that information if available. Not all implementations of OpenXmlReader will have this info (such as one created from OpenXmlElement instances)

[2020-09-09 20:15] twsouthwick commented on #803
As for the depth, there is already a property for that. Can you give an example as to what you expect and why the value right now isn't valid?

[2020-09-09 20:19] twsouthwick commented on #797
I'm going to close this comment as it is not the purpose of this issue tracker. Good luck!

[2020-09-09 20:19] #797 closed

[2020-09-10 10:17] amanbolat commented on #803
First of all, i see that i was not clear enough talking about depth.
There is an example of code with simple iteration trough the body of document.
Link: https://github.com/amanbolat/openxml_depth_example

Code:
[code]
Simple structure of main xml file (i also added it to an example repo):
[code]

If we execute the program the result will be:
[code]

And I want it to be is:
[code]
Where the depth

[2020-09-11 08:06] mattiamerzi opened #805 "Add support for SVG files"
Office 2016 natively supports svg as a vector image format, but OpenXml SDK does not have support for this yet.
Issue #204 has been opened back in 2017, but closed for inactivity.
I've written basic support for SVGs, and created pull request #802 , but that has been refused because modifies generated files, and the code generation process is not publicly available (sic.)

[2020-09-11 14:30] abalaci opened #806 "System.FormatException on Row.RowIndex.Value once row index hits one million"
**Description**

I need to import data from an exceptionally large Excel worksheet (~ 1 million rows),
and I'm using the `OpenXmlReader` class to read the sheet row by row.
However, when calling the `Row.RowIndex.Value` method for the row with index 1 million,
I'm getting a `System.FormatException`.

**Information**

- .NET Target:  .NET Core 3.1
- DocumentFormat.OpenXml Version: 2.11.3
- Partial

[2020-09-16 13:47] Viktor-36 opened #807 "Large parts cannot be written on .NET Core due to OutOfMemoryException"
**Description**

I was using ClosedXML to create large excel files (100k rows with 63 colums) and I faced issue with OutOfMemoryException. I found some examples of OpenXML using SAX, so I tried to switch to OpenXML, but it didn't help me. I tried to remove all my code (reading from DB, etc.) to try if that works, but I still get OutOfMemoryException.

My code is based on [http://polymathprogrammer

[2020-09-17 10:59] Viktor-36 commented on #807
https://github.com/dotnet/runtime/issues/23750
https://github.com/dotnet/runtime/issues/1544

[2020-09-17 11:04] Viktor-36 commented on #807
I closed the issue by mistake, so I am reopening it... I was trying to find more information about this issue and I found some issues with System.IO.Packaging... Is there some workaround I can try to fix my problem? I really need to generate large excel files in .NET Core.

**Related issues:**
https://github.com/dotnet/runtime/issues/23750
https://github.com/dotnet/runtime/issues/1544

[2020-09-17 11:05] Viktor-36 commented on #807
I closed the issue by mistake, so I am reopening it... I was trying to find more information about this issue and I found some issues with System.IO.Packaging... Is there some workaround I can try to fix my problem? I really need to generate large excel files in .NET Core.

**Related issues:**
https://github.com/dotnet/runtime/issues/23750
https://github.com/dotnet/runtime/issues/1544

[2020-09-17 14:27] #803 closed

[2020-09-17 21:36] twsouthwick commented on #807
This is definitely dotnet/runtime#1544. I am unsure of a good workaround at this time.

[2020-09-20 07:08] 06needhamt commented on #736
@twsouthwick @tomjebo Thanks. Any timelines for the next release containing this fix?

[2020-09-25 18:58] twsouthwick commented on #204
Sorry this got closed. Reopening and we're looking into this now.

[2020-09-30 11:51] vogla commented on #38
I just ran into this issue with an application that processes excel documents. How can such a fundamental and important issue be ignored for years? Invalid hyperlinks occur in excel documents all the time and everywhere.

[2020-09-30 12:29] igitur commented on #38
@vogla This was fixed in https://github.com/OfficeDev/Open-XML-SDK/pull/793 . Even if it weren't, the cool thing with open source software is that you can fix it yourself. And if you're really nice, you can contribute it back to the original project.

[2020-09-30 13:34] abelykh0 commented on #38
@igitur Thank you. But sorry, I do not think it is a good idea. On the one hand, this code adds a traversal, which will reduce performance. On the other hand, this code seems to modify the original document.

[2020-09-30 14:28] vogla commented on #38
Thank you @igitur for pointing this out and thank you @twsouthwick for providing this wonderful improvement. Fix #793 seems to adress this problem indeed. If I understand correctly the fix was merged to master quite recently, but not yet released. So hopefully we'll get a new release soon that will then include this fix.

[2020-10-02 19:01] twsouthwick commented on #806
@abalaci We've checked with the Office team and it looks like this wouldn't be supported by excel. How are you getting your input?

[2020-10-05 17:49] sorensenmatias commented on #566
+1 for this - I am currently faced with a presentation containing lots of vector graphics that ends up allocating 15.000.000 objects in memory using the DOM approach. This basically makes our product unusable. I would also love to hear about workaround to avoid loading everything to memory before it is possible to do manipulation on elements.

[2020-10-09 08:23] sorensenmatias opened #812 "Memory problems when modifying slide containing lots of elements"
**Description**

I have a presentation with a lot of vector graphics on the slides. I want to inspect the SlidePart of each Slide using the Descendants method and modify some elements. This loads the entire DOM of the slide in memory, which ends spending gigabytes of memory. Memory profiling shows that each slide allocates something along the lines of 200000 objects in memory.

It seems that there

[2020-10-13 22:46] twsouthwick commented on #812
Hi @sorensenmatias - this may be related to #807, but can you include an example of the code you are doing to do this?

[2020-10-14 15:03] twsouthwick commented on #806
@abalaci Any response? I'd like to finish verifying this before getting v2.12.0 released

[2020-10-14 16:28] abalaci commented on #806
One thing I've noticed is that Excel turns any rows indexes in exponential format into decimal upon saving the file. However, it can definitely open and read the file either way.

[2020-10-14 16:37] twsouthwick commented on #806
Thanks - not sure I need the actual file. I'm just trying to figure out the process here. What automated BI process?

[2020-10-14 16:41] twsouthwick commented on #806
Actually, @abalaci can you send a copy to me directly?

[2020-10-14 16:53] abalaci commented on #806
Sure, how does https://www.file.io/# sound?

[2020-10-16 21:46] tomjebo commented on #736
@06needhamt I apologize for delay in getting back to this. My review of this has revealed that this "Line" enum is not a Microsoft Office enum value but is just being accepted by way of ignoring it. Our implementation notes on the standard say this:

_Word ignores the tblpPr element if all attributes are omitted. It also ignores this element if the table
is contained in a textbox, footnote, endnot

[2020-10-17 03:02] twsouthwick commented on #806
That works

[2020-10-17 13:21] 06needhamt commented on #736
Hi @tomjebo Thank you for the response. I did a quick search over the two files that I attached and I found the below usages.

[code]

Hope; this helps you resolve the problem

[2020-10-20 07:19] amoraitis commented on #812
Hi, I have also tried to modify a large worksheet(write the Columns OpenXML element after writing the sheetData using a method like InsertBefore) and there is a lot of memory consumption the process will never complete. Se related [SO question](https://stackoverflow.com/q/64440133/7118639).

Version: 2.5.0(but occurs using 2.11 as well)
Framework: .NET 4.6.1

[2020-10-21 21:18] abalaci commented on #806
@twsouthwick, you should be able to download the file from here: https://file.io/02v5gcKJS8s0

[2020-10-29 15:37] DamirMakhmudov opened #814 "Could not load file or assembly 'DocumentFormat.OpenXml, Version=2.8.1.0, Culture=neutral, PublicKeyToken=8fb06cb64d019a17'"
I have 2 different .net (c#) projects on my VS2019: console app and class library project
I use DocumentFormat.OpenXml (2.11.3.0) and OpenXmlPowerTools (4.4.0.0) on both projects.

Both project were compilated successful. Conscole app works correct. But Class library project warn me the next error message:

**Exception thrown: 'System.IO.FileNotFoundException' in WordAssistant.dll
An exception of

[2020-10-29 16:16] tomjebo commented on #736
@06needhamt Thanks for pointing to the markup. I figured out that the wrap element being used is in the VML transitional markup described in part 4 of ISO 29500. This is covered in our SDK and wrapped properly for Office. We have an implementation note in MS-OI29500 that states that this "line" enum is not valid for Office so the SDK is correctly calling this out. (see below link). Office will pro

[2020-10-29 17:58] tomjebo commented on #736
@06needhamt @twsouthwick I should add here that the question of providing strict and transitional ISO 29500 support in the SDK, particularly when it conflicts with Office behavior is something we've been considering but will likely be a separate project or require some special mechanism both on the back end and in the framework. Possible approaches could see side by side validation of 2007, 2010,

[2020-10-30 11:17] 06needhamt commented on #736
@tomjebo Thank you for your explanation. I'm not sure if this is possible but could we add a new validation type that tells us if a document is valid in terms of Office rather than the XML Schema? As one of my use cases is to simply check if a file is a valid document spreadsheet presentation etc when it is uploaded to our server and not some other file with the file extension changed to get past

[2020-11-02 05:45] tomjebo commented on #736
@06needhamt The validations we have actually already validate in terms of Office (2007, 2010, 2013, 2016). That "line" enum is actually invalid for Office going back to the beginning wrt VML drawing. My last post was raising the discussion about something we've considered which is validation in terms of ISO 29500 strict and transitional schemas.

If you're looking to find out if Office will or wil

[2020-11-02 10:21] robertmuehsig opened #815 "ToFlatOpcDocument() or ToFlatOpcString() throws "System.Xml.XmlException: 'For security reasons DTD is prohibited in this XML document. To enable DTD processing set the DtdProcessing property on XmlReaderSettings to Parse and pass the settings into XmlReader.Create method.'""
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting -----------

[2020-11-02 20:39] 06needhamt commented on #736
@tomjebo Thank you for the response. This partially answers my question. The other part that I was asking about was just a simple check to see if a file is a valid document in the sense that it's not some other file e.g. a video renamed to a .docx file. I will open a separate issue for it as it's not related to this issue.

[2020-11-02 20:43] 06needhamt opened #816 "Is it possible to check if a file is a valid document and not some other file type renamed to .docx or some other office extension?"
# Before submitting an issue, please fill this out

Is this a:
- [ ] Issue with the OpenXml library
- [ X ] Question on library usage

---------------- Remove this line and above before posting ----------------

**Description**

Is it possible to check if a file is a valid document and not some other file type renamed to .docx or some other office extension? I know this may be off-topic here but i

[2020-11-02 20:45] 06needhamt commented on #736
Going to close this issue as I am satisfied with the responses. Feel free to reopen if necessary

[2020-11-02 20:45] #736 closed

[2020-11-02 21:01] rmboggs commented on #816
Hi,

I don't know if there is an official way to do it but the easiest way that i can think of is quickly open and close the document in a try block using WordProcessingDocument.Open.  if it fails, put something in the catch statement to tell the user that it is not a valid docx file.

If, for some reason, that isn't an option, you could try to open it as a Package and look for a uri that exists i

[2020-11-04 09:32] IrakliLomidze opened #817 "Porting Open XML SDK Library to Modern C++"
Is this a:
- [x] Question on library usage

**Description**
Is it any plan to port Open XML SDK Library to Modern C++?
Now C++ supports reflection and technically it is possible to port the library to the modern C++.

That will have significantly better performance and better portability.

[2020-11-06 18:55] twsouthwick commented on #806
Sorry - just got around to trying to download it, but it's failing. Also, what's the BI process?

[2020-11-06 19:02] twsouthwick commented on #806
You should also be able to drag and drop it into the comment here

[2020-11-08 12:06] 06needhamt commented on #816
Thanks, @rmboggs This was what I was currently doing but I wondered if/should there be an official way to do this as to me it seems like a very common use case. @twsouthwick @tomjebo What are your opinions on this?

[2020-11-10 19:27] twsouthwick commented on #815
Yes, we disable it due to security. Can you provide a file so we can repro it? We definitely should just ignore it, but I'm interested why there is a DTD element in there.

[2020-11-10 19:29] twsouthwick commented on #816
That process seems fine. Are you asking for a simple API? There isn't a `WordProcessingDocument.IsValidDocument(Package)` API at the moment, so what @rmboggs  said would be the best option. If you want to propose an API, we're happy to take suggestions

[2020-11-10 19:56] rmboggs commented on #816
Something like this should work.  I'm doing something similar with one of my projects during unit testing.  You shouldn't even need to use the SDK to validate this way.

[code]

[2020-11-10 23:16] 06needhamt commented on #816
Thanks this was what I was proposing and I think we should have the same thing for Spreadsheet and Presentation documents too.

[2020-11-11 14:16] jdehaan commented on #817
C++ portability is at source code level... .NET is more portable (at assembly level) I do not see any good reason to do that... I doubt about your better performance argument as well...

[2020-11-12 08:29] IrakliLomidze commented on #817
.NET core has a 3-year support lifecycle. A C++ code is more stable and you could rely on it for a long time.

About Performance: Abstraction in C++ has zero overhead. I'm sure that C++ implementation will have significantly better performance.

[2020-11-13 09:55] robertmuehsig commented on #815
We are processing Open XML documents and maybe it has something to do how we bind "svg" images? At least PowerPoint itself is capable of opening the file, so it seems "fine".

Check the attached file:
[dtdprocessing.pptx](https://github.com/OfficeDev/Open-XML-SDK/files/5536041/dtdprocessing.pptx)

[2020-11-20 18:50] twsouthwick commented on #814
Can you share a repro project? This appears to be a problem with binding redirects but I don't see any issue with what you have here

[2020-11-20 18:52] twsouthwick commented on #814
Also, how are you running this? Is this a console/web/winforms/wpf/pluging app? Each of those handle this differently. If you provide a repro project, happy to give pointers.

[2020-11-23 17:32] tauheedul opened #819 "Suggestion: Option to save document as PDF built into Open XML"
I am looking at implementing a feature of saving an XLSX document as PDF and have discovered Open XML does not have this ability.

To achieve this currently, there is a need to implement an additional third party library that will save the XLSX as a PDF file.
They vary a lot in quality and reliability.

There would be value in Open XML by having a native ability to save the document as a read only

[2020-11-23 20:48] twsouthwick commented on #815
@robertmuehsig I'm not really sure what the FlatOpc behavior should be here. If you check `DtdProcessing.Ignore` or event `.Parse`, it strips out the DOCTYPEs and the content of the svg is therefore changed. In order to identify what should happen, I need to identify the following:

- Is the FlatOpc a doc that Office will open and write? We'll want to conform to it if so
- Do all SVG docs have the

[2020-11-25 17:54] robertmuehsig commented on #815
We are able to generate such documents and Office has not problems to open and edit them.
The issue came up, because  we use "ToFlatOpcDocument" in our unit tests and it failed. I'm not really sure if we are doing the svg stuff 100% correct, but it "works" (as you can see in the document). Does that help?

[2020-11-27 07:38] SvyatoslavRazmyslov opened #820 "Bug report from PVS-Studio"
Hello all.

We have found bugs using [PVS-Studio](https://www.viva64.com/en/pvs-studio/) tool (static code analyzer for C, C++, C#, and Java).

Here is the report: [Analyzing the Code Quality of Microsoft's Open XML SDK](https://www.viva64.com/en/b/0777/).

[2020-11-27 12:46] arcusmaximus opened #821 "No more (public) way of retrieving schema metadata"
Pull request #532 saw the removal of the "unused" SchemaAttrAttribute. However, we have software at our company that very much depends on this attribute to determine XML namespaces and attribute names based on .NET properties. (An example would be finding the "anchorx" XML attribute name for the TextWrap.AnchorX .NET property.)

I looked around for alternative ways of retrieving this information i

[2020-11-27 19:18] #806 closed

[2020-11-30 17:27] twsouthwick commented on #821
Thanks for the feedback! I plan on opening up the DocumentFormat.OpenXml.Framework namespace as public once I'm happy with the usage. I would be happy to expose it as public with a warning for now to mark it as preview if that would be helpful so you can use it and let me know what you think about it.

[2020-11-30 17:32] twsouthwick commented on #820
Very interesting! Looks like some stuff we should look into. I am not familiar with that tool, but would love to see issues created for what they found. Looking over some of them are definitely latent bugs, while others I'm not so sure I trust the analysis. Happy to take issues and even happier for PRs 👍

This project was started long before my time and I've been working hard to clean some of the

[2020-11-30 17:50] twsouthwick commented on #815
So, it looks like office does not save the preamble or doctype. That makes it easier to work around.

[2020-12-01 09:32] arcusmaximus commented on #821
That would be great, thank you. The Framework classes look straightforward to use, so just making them (or even just the Framework.Metadata classes) public would be plenty for us.

On a small side note, I noticed that ActivatorElementChild.GetSchema() still calls GetCustomAttribute\<SchemaAttrAttribute\>(). Presumably this always returns null now. Similarly, the XML documentation on ElementLookup

[2020-12-03 04:27] softboy99 commented on #819
we also need it, Thanks a lot

[2020-12-03 04:29] softboy99 commented on #21
we need it also without using automating the Office client

[2020-12-04 18:34] #815 closed

[2020-12-04 19:10] twsouthwick commented on #821
Ok. Looking at what would be required, I'm going to add back the attributes so we can get a 2.12.0 release out with that. Then, I'll look at making them public for 2.13.0 and solicit your feedback on how it works.

Sorry again for not realizing that was part of the public surface that users may be relying on.

[2020-12-09 15:56] twsouthwick commented on #821
This has been added back and will be in the 2.12.0 release

[2020-12-09 15:56] #821 closed

[2020-12-10 16:40] 06needhamt opened #827 "Release 2.12 is not available on nuget"
As of now, the latest version available is 2.11.3. When will 2.12 be available on nuget?

[2020-12-15 00:01] twsouthwick commented on #827
Whoops - forgot to approve the deployment. On it now...

[2020-12-15 00:30] twsouthwick commented on #827
It is now on NuGet. Once indexing is complete, it will be able to be installed.

[2020-12-15 00:30] #827 closed

[2020-12-16 12:12] umeshpatil12 opened #828 "Excel File CustomFilePropertiesPart removed after Save As file"
# Before submitting an issue, please fill this out

Is this a:
- [x] Question on library usage

**Description**

I added CustomFilePropertiesPart in an excel file using C# code, but after **Save As** this file in the machine new file doesn't show any CustomFilePropertiesPart in Open Xml Productivity Tool.

**Information**

- .NET Target: 4.5
- DocumentFormat.OpenXml Version:  2.8.1.0

**Repro**
Af

[2020-12-16 17:32] lowellstewart commented on #592
I ran into this same issue recently and traced it back to here eventually. @twsouthwick , are you aware of anything committed to address this?  I'm concerned about your suggested fix (change the minimum constraint on Paragraph from 0 to 1) because, according to my reading of the spec, a table cell "must contain at least one block-level element" -- which could include a paragraph OR a nested table.

[2020-12-16 17:42] twsouthwick commented on #592
I do not know of anything specifically to address this. Reopening for discussion.

[2020-12-16 17:46] twsouthwick commented on #592
The first step to identify what the issue would be to have a bunch of examples of allowed and not allowed set ups. Ideally, this would be in the form of XML snippets. We have the example above that would give the following:

[code]

Where there's an expected error of the `w:p` element.

More of these will help identify if the issue is with the validation system or the schema layout (as this schema

[2020-12-16 19:00] lowellstewart commented on #592
Interesting.  I tried some experiments, and it appears that Word DOES require a paragraph in every table cell.  I constructed the nested table scenario -- where in the Word UI, the outer table cell appeared to contain ONLY the inner table, no paragraphs.  Looking at the XML, there was still an empty paragraph in there.  Removing the empty paragraph -- leaving only the nested table -- and Word gave

[2020-12-16 19:04] lowellstewart commented on #592
In other words, Word opened this without complaint:
[code]
... but gave an error on this:
[code]

[2020-12-16 20:23] lowellstewart commented on #592
Another interesting case: block-level content controls (`<w:sdt>`).  Word appears to accept, without complaint, a table cell that contains block-level content control... in fact whether that content control itself contains a paragraph **or not**.  And Word accepts a `<w:tc>` that has a content control "in" it, whether the XML has been structured (as Word does on Save) such that the `<w:sdt>` is OU

[2020-12-16 21:03] Pitterling opened #829 "Issue after upgrade from 2.11.3 to v2.12.0 - generated excel is not valid"
**Description**

I'm using ClosedXML to generate some large Excel files. I just replaced OpenXML to 2.12 and the generated file is broken.
Reverting back to 2.11.3 is fixing it again. Opening the Excel shows this error message

"We found a problem with some content ... Do you want us to try to recover .."

**Information**

- .NET Target: 5.0
- DocumentFormat.OpenXml Version: 2.12.0

**Repro**

[co

[2020-12-16 22:11] Pitterling commented on #772
NET5 is not selectable :)

[2020-12-20 16:04] Pitterling commented on #829
opened issue at ClosedXML .. provided repro code and template
[https://github.com/ClosedXML/ClosedXML/issues/1583](https://github.com/ClosedXML/ClosedXML/issues/1583)

[2020-12-23 18:02] Xiphereal opened #830 "Validation error - Unexpected element 'BiDi' in WordprocessingDocument"
Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**
I'm having an issue with relation to the `OpenXmlValidator.Validate()` method and a BiDi element in the style.xml in WordprocessingDocument. The thing is that i'm currently working with the DevExpress RichTextEditor Control for WPF for creating and editing DOCX documents . When saving any document with

[2020-12-27 11:29] mattiamerzi commented on #204
Hi, sorry for bothering you, have you got any news about this?

Thanks a lot!

[2020-12-28 07:06] Suriman commented on #830
We have the same problem.

[2021-01-04 07:36] lindexi commented on #817
@IrakliLomidze You can call the dotnet library in C++ project, see [Write a custom .NET Core runtime host](https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting?WT.mc_id=DX-MVP-5003606 )

[2021-01-05 08:52] GiuliaMarradi opened #831 "Export Excel - number cells with 2 decimals"
# Export Excel - number cells with 2 decimals

Is this a:
[x] Issue with the OpenXml library
[ ] Question on library usage

**Description**
I have a problem with excel export where I have numeric cells with 2 decimals.

**Information**

- .NET Target: .NET Core 3.1.1
- DocumentFormat.OpenXml Version: 2.12

**Repro**
Here you can find a sample reproducing the issue.
[https://github.com/GiuliaMarrad

[2021-01-05 11:56] SanatMistry commented on #249
Hi @tarunchopra,
I am facing a similar problem wherein the docx file created using open XML does not open in MacOS.

I have set the environment variable as well.  `Environment.SetEnvironmentVariable("MONO_URI_DOTNETRELATIVEORABSOLUTE", "true");` This does not solve my problem. I still get extra '/' in my target attribute.

[2021-01-05 17:11] avonwyss opened #832 "Using OpenXmlElement.WriteTo(XmlWriter) is not reliable"
**Description**

The method `OpenXmlElement.WriteTo(XmlWriter)` internally uses `XmlWriter.WriteRaw(RawOuterXml)` when the XML of the element has not been parsed. Unfortunately, not all XmlWriter implementations support WriteRaw, so that one can get unexpected exceptions (with Heisenberg effect since debugging often causes the XML to be parsed) when invoking.

**Information**

- .NET Target: .NET

[2021-01-05 17:24] avonwyss opened #833 "FieldCode (w:instrText) does not preserve whitespace"
**Description**

When using field codes with leading or trailing whitespace, the whitespace is lost.

This is a problem because it can cause problems with nested fields in Word, e.g. `{ IF { DATE }=...`

**Information**

- .NET Target: .NET Framework
- DocumentFormat.OpenXml Version: 2.12.0

**Repro**

[code]

**Observed**

[code]

**Expected**

[code]

[2021-01-05 17:49] akindle opened #834 "System.Xml.XmlException thrown when opening SDK-authored document containing an empty URI"
**Description**

System.Xml.XmlException is thrown when opening a word document that is created by DocumentFormat.OpenXml that contains an empty URI.

**Information**

- .NET Target: Observed on .NET 4.5.2 and 4.7.2
- DocumentFormat.OpenXml Version: 2.12.0

**Repro**

[code]

Alternately, the following test case, similar to https://github.com/OfficeDev/Open-XML-SDK/blob/d2da627a33cf40b0439c4e60465

[2021-01-05 17:52] akindle commented on #833
I believe the `Space` property will add this:
`new FieldCode("IF ") {Space = SpaceProcessingModeValues.Preserve };`

[2021-01-05 20:50] akindle commented on #834
I believe the root cause of this bug is in `System.IO.Packaging.` System.IO.Packaging.InternalRelationshipCollection considers an empty string to be an invalid URI (https://github.com/dotnet/runtime/blob/7ed93fa9211fcb8719fde13c540a46aa5b5d74fe/src/libraries/System.IO.Packaging/src/System/IO/Packaging/InternalRelationshipCollection.cs#L338-L340), while RFC 3986 states that an empty string is a val