[2021-01-06 01:28] avonwyss commented on #833
Thanks @akindle , that indeed works. Nevertheless using `Preserve` as default for this element may be a good idea?

[2021-01-06 09:58] timcodesdotnet opened #836 "SaveAs WordprocessingDocumentType.Template loses image references"
**Description**

When converting from a .docx format to a .dotx format, the images contained in the document show "The linked image cannot be displayed. The file may have been moved, renamed, or deleted. Verify that the link points to the correct file and location".

When inspecting the generated XML and comparing to a manually saved .dotx, it appears the image loses an r:href attribute.

**Inform

[2021-01-08 00:57] twsouthwick commented on #832
This is performance optimization I'd rather not remove. Since `WriteRaw` is part of the contract of `XmlWriter`, I see no reason to assume it is not supported. We could consider not using it if there was a way to query it, but I am not aware of one.

Since you're using an XmlWriter that has special casing for this, you can wrap it and add support. The reason the XmlWriter does not support `WriteRa

[2021-01-08 00:57] #832 closed

[2021-01-08 01:08] twsouthwick commented on #829
Please provide the SDK code that is used to generate this.

[2021-01-08 01:10] #834 closed

[2021-01-08 01:57] twsouthwick commented on #831
This appears to be a problem with using the SDK. I've pushed a PR for you to see how to fixe up some of it.

[2021-01-08 01:57] #831 closed

[2021-01-08 02:14] twsouthwick commented on #833
Unfortunately, that would be a breaking change in behavior. I'll leave this open for now to see what others think, but I'd be very hesitant to change the default value.

[2021-01-08 03:17] avonwyss commented on #832
Thanks @twsouthwick for your response and the code. I had thought about implementing a proxy writer but decided against it since this seemed like overkill. My current "solution" is to force the parsing (anything which ensures it's parsed but does not do much else):
[code]

Note that `XmlWriter.WriteRaw`  support is also flaky in other `XmlWriters` which do not write to a character stream. There ar

[2021-01-08 03:47] twsouthwick commented on #832
Hmmm.... we could potentially add this support to the SDK for a wrapper. Feel free to open this again if you feel like that would be useful.

The issue with yours is that I'm not sure you'll force the parsing of any child elements. By wrapping it, that will be handled for you.

[2021-01-09 14:42] adamshakhabov commented on #819
Agree, it would be good to have some API for creating PDF. I think, then creating an image should be easier. I tried to implement for [ShapeCrawler](https://github.com/ShapeCrawler/ShapeCrawler) (wrapper for Open-XML-SDK) API to generate an image from a slide, but I haven't even to start :( No idea how proprietary library does it.

[2021-01-11 07:37] igitur commented on #829
As mentioned in https://github.com/OfficeDev/Open-XML-SDK/pull/774#issuecomment-757482273 :

Hi,

This PR is a breaking change, specifically the https://github.com/OfficeDev/Open-XML-SDK/pull/774/files#diff-bfc8b437c919c6cfa4a52da72a36b29ac087ebdd0d7c2789043b6ce6bd396ff5R53 block.

Repro:
[code]

The `cell.CellValue = null` statement has no effect since v2.12.0. It still worked in v2.11.3. Until v

[2021-01-11 08:16] Pitterling commented on #829
@igitur @twsouthwick Template file uploaded
[template.xlsx](https://github.com/OfficeDev/Open-XML-SDK/files/5794553/template.xlsx)

[2021-01-11 11:30] lklein53 opened #848 "Lost whitespace in power point"
Hi,
I encountered the following issue using the OpenXML SDK

**Description**
I am reading in a simple pptx file (see the resource in the repro section) using the OpenXML SDK (code provided in the repro section).
First opening the file and then reading the slide part with the OpenXMLReader.
The text element containing only white spaces is trimmed and after reading contains no characters.
This behav

[2021-01-11 17:42] twsouthwick commented on #829
Thanks @igitur for looking into this.

[2021-01-11 19:29] adamshakhabov commented on #848
Interesting, I see that XML content also doesn't contain any whitespace😕:

![image](https://user-images.githubusercontent.com/5969304/104228320-5630f580-5453-11eb-9623-1792baf23c55.png)

Your text shape contains _tab_, not _whitespace_, by the way.

[2021-01-11 20:40] lklein53 commented on #848
Hi, thanks for checking the example. Yes you are right the tab is a mistake in my example file. I have changed it to a whitespace so the description of the issue matches the reporducer.

[2021-01-11 20:57] adamshakhabov commented on #848
Check it:

[code]

[2021-01-11 22:08] twsouthwick commented on #829
Fixed in v2.12.1 available on NuGet

[2021-01-11 22:08] #829 closed

[2021-01-12 01:24] #820 closed

[2021-01-12 07:54] lklein53 commented on #848
Hi,
Thanks for providing the working example. So it seems having a generic interface that just takes a OpenXmlPart and return an OpenXmlElement is not possible without loosing whitespaces in pptx ?

[code]

[2021-01-12 08:15] igitur commented on #829
Thanks @twsouthwick for the quick fix.

[2021-01-12 12:02] Pitterling commented on #829
thx @twsouthwick , @igitur .. confirm it's fixed

[2021-01-12 14:09] GiuliaMarradi commented on #831
Hi, thank you very much for your help.
I tried your changes, but still something is wrong.

![image](https://user-images.githubusercontent.com/27773947/104324361-9fcb2000-54e7-11eb-90cc-aee146261383.png)
![image](https://user-images.githubusercontent.com/27773947/104324445-be311b80-54e7-11eb-94a8-df8e92b844b0.png)

Cells in column B are considered numeric, but some don't have the right formatting

[2021-01-13 00:09] twsouthwick commented on #848
Hmmm this is interesting. Note that the example @adamshakhabov works, but the code it uses internally is not just creating a part and loading it. I'd suggest debugging into that to see what the difference is (the SDK supports source link (see https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/sourcelink for details) so you can just step into its methods

[2021-01-13 16:24] lklein53 commented on #848
The working code from @adamshakhabov uses the `LoadFromPart` method of the OpenXmlPartRootElement which uses
`XmlConvertingReaderFactory.Create(partStream, OpenXmlElementContext.XmlReaderSettings, openXmlPart.OpenXmlPackage.StrictRelationshipFound))` with different XmlReaderSettings than the OpenXmlReader.

The XmlReaderSettings of the OpenXmlReader explicitly set `IgnoreWhitespace = true` where t

[2021-01-18 21:57] twsouthwick commented on #848
Ah so are you saying you'd like to add a parameter to OpenXmlReader that accepts a setting option? I don't see anything wrong with that at this time. Happy to take a PR with that.

[2021-01-19 08:36] lklein53 commented on #848
Hi,
Thanks for your reply. I will create a PR with the changes

[2021-01-21 09:27] wtujvk opened #858 "数据包中不存在指定部件"
**Description**
数据包中不存在指定部件

Translation: The specified part does not exist in the packet

 File.Stream -> MemoryStream
调用  WordprocessingDocument.Open(memoryStream, true)

**Information**

- .NET Target: (NET Frameworknet461)
- DocumentFormat.OpenXml Version: (2.11.3)

**Repro**

[code]

**Observed**

在 System.IO.Packaging.Package.GetPart(Uri partUri)
   在 DocumentFormat.OpenXml.Packaging.OpenXml

[2021-01-22 13:10] wtujvk commented on #858
use Spire.Doc 9.1.0 is ok

[2021-01-22 17:18] rsdelapaz commented on #807
I am having the same problem. Has someone found a workaround for this issue?

Thank you in advance

[2021-01-22 18:24] twsouthwick commented on #858
@wtujvk I've translated the issue you're reporting, but I don't see what the expected behavior is. In order to identify an SDK issue here, we'll need a repro.

[2021-01-22 21:40] twsouthwick commented on #848
Fixed in #857. Thanks!

[2021-01-22 21:40] #848 closed

[2021-01-23 11:15] wtujvk commented on #858
//1-  error here  at, Open
using (WordprocessingDocument wordDoc = WordprocessingDocument.Open(memoryStream, true))

// throw exception here。
wordprocessingDocument.OpenCore(stream, isEditable);
![image](https://user-images.githubusercontent.com/17868266/105576622-02a59c80-5daf-11eb-8dc3-604f0cbdd60a.png)

----------------------------------------------------------------
This should be ignored。
![i

[2021-01-23 12:54] wtujvk commented on #858
Another situation is that  partUri = /NULL
![image](https://user-images.githubusercontent.com/17868266/105578698-f3c5e680-5dbc-11eb-820a-16a8ba5eb5ae.png)

[2021-01-25 03:50] twsouthwick commented on #858
This document is missing a relationship it says should be there `image1.jpeg`. Looks like however it was generated caused a problem. Feel free to reopen if it's tracked down to an issue in the SDK (or if there is a proposal for alternate behavior here).

[2021-01-25 03:50] #858 closed

[2021-01-26 05:07] wtujvk opened #863 "This document is missing a relationship"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library  2.11.3
- [x] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting ---

[2021-01-27 01:42] wtujvk commented on #863
one solution is use nuget packages and save as a new file.
 <package id="FreeSpire.Doc" version="7.11.0" targetFramework="net461" />

`using Spire.Doc;`
`using System.IO;`

`using (Document document = new Document(filePath))`
`var newFilePath = "newfile.docx";`
`document.SaveToFile(newFilePath, FileFormat.Docx);`
`return newFilePath;`

The new file becom
![image](https://user-images.githubusercont

[2021-01-27 02:05] twsouthwick commented on #863
Can you include a snippet of how you tried to use the RemoveMalformedHyperlinksRelationshipErrorHandler? Also, you're saying you used 2.11.3 but also tried the RemoveMalformedHyperlinksRelationshipErrorHandler? That infrastructure was introduced with 2.12.0

[2021-01-28 06:29] wtujvk commented on #863
Oh, the question occur in Version: (2.11.3), but when I update to 2.12.1，use code
`var openSettings = new OpenSettings(){RelationshipErrorHandlerFactory = p => new RemoveMalformedHyperlinksRelationshipErrorHandler(p)};`
`using (WordprocessingDocument doc = WordprocessingDocument.Open(memoryStream, true, openSettings)){}`

In this class ‘RemoveMalformedHyperlinksRelationshipErrorHandler‘, I can ove

[2021-01-28 10:33] DawidIzydor commented on #833
I think changing the default value would cause problem for every user that expects current default behavior.
Also there is a easy solution to get the code to work as expected so I don't really think this is a bug.

[2021-01-28 16:18] twsouthwick commented on #863
Yes, but I'm still confused as to what you are looking for. I'm not sure which `RemoveMalformedHyperlinksRelationshipErrorHandler` you're using - there's a test one, but by no means is it expected to be used as-is in production. Can you please include a full example of what you're doing so that it can be repro'd? I think you've given most of what's needed, but can you consolidate it all into a sin

[2021-01-29 08:03] wtujvk commented on #863
I think the reason is that package ' System.IO.Packaging.Package'.
I need to find a way to abandon the invalid part, not abandon the docx file.  I need to render a docx document, but when I cannot open the document (use WordprocessingDocument.Open), I can do nothing.  Show the effective parts as possible，so
we know there is an error in the document,  and can do something.  In the scene， we open a

[2021-01-29 09:56] lindexi opened #875 "OpenXML SDK will throw exception when a percentage with % char"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library

**Description**

When the document contains `%` characters, I use the OpenXML SDK to read a percentage value, an exception will be thrown.

**Information**

- .NET Target: All
- DocumentFormat.OpenXml Version: 2.12.0

https://github.com/lindexi/lindexi_gd/tree/9b506dea/RurlejileGearhuheljale

[code

[2021-01-29 18:06] adamshakhabov commented on #875
Interesting, In "ECMA-376, Fifth Edition, Part 1 - Fundamentals And Markup Language Reference", I see it should contain a percentage value:

![image](https://user-images.githubusercontent.com/5969304/106309793-4dba2680-626b-11eb-98e4-b5d100105f33.png)
But, for example, if I change this Transparency value from your example on 1%

![DABUXmxQwf](https://user-images.githubusercontent.com/5969304/10631

[2021-01-30 03:21] lindexi commented on #875
[code]

[code]

[2021-02-01 01:20] lindexi commented on #875
[code]

[2021-02-01 17:49] mikeebowen commented on #833
Hi @avonwyss We looked into this and it is not a bug because the SDK is mimicking the behavior of Word and Word requires the xml:space=”preserve” attribute to be set explicitly. I.e. Word only adds the code as needed, so a element with no space to preserve would not have an xml:space=”preserve” attribute. For rendering if Word receives a instText with extra space, but no xml:space=”preserve” then

[2021-02-01 17:49] #833 closed

[2021-02-01 18:17] avonwyss commented on #833
Thank you @mikeebowen for the feedback.

The behavior of Word you're describing is indeed like that: as soon as there is content whitespace (in any element, not just w:instrText) which would be trimmed by XML whitespace rules, Word will automatically add the xml:space=”preserve” attribute in order to prevent that whitespace from being trimmed. And this is what I expected to see as behavior.

The S

[2021-02-01 18:50] adamshakhabov commented on #875
Maybe such string (`input="100.00%"`) should be pre-processed [here](https://github.com/OfficeDev/Open-XML-SDK/blob/master/src/DocumentFormat.OpenXml/SimpleTypes/Int32Value.cs#L43) before passing into `XmlConvert.ToInt32()`:

**Int32Value.cs**
[code]

[2021-02-01 20:34] mikeebowen commented on #833
Hi @avonwyss thanks for the explanation, it gave me a better understanding and I think you're probably right. Unfortunately, it's a breaking change, so for now you'll have to use the work around and we will try and get it into the next major release.

[2021-02-10 10:01] carzaza commented on #830
Any news?

[2021-02-11 17:22] Muppets opened #883 "RelationshipErrorHandlerFactory fails with "Data at the root level is invalid""
Using RelationshipErrorHandlerFactory.Rewrite with an output that is shorter than the original URI causes the output XML to be malformed in this Word document.

[code]

When the above is run on a Word document with the following document.xml.rels:

[code]
It fails with "Data at the root level is invalid. Line 12, position 17." and has produced the following in the output document:

[code]

As you

[2021-02-11 17:55] Muppets commented on #883
Update on this. Turns out my hack to resolve the issue comes with a glaring issue.

`public override string Rewrite(Uri partUri, string id, string uri) => $"https://error{new string('r', uri.Length)}";`

If the output produced is over 265 characters, it blows up with:

[code]

[2021-02-11 23:44] twsouthwick commented on #883
Oh good catch on the bufferring! Probably need to set the stream to 0 before writing it.

I'm fairly busy right now, but will happily review PRs!

As for your workaround - just subract the length of the new string part. Didn't realize there was a length limit there

[2021-02-11 23:46] twsouthwick opened #884 "Renaming `master` branch to `main`"
This is a notice that we will be renaming `master` to `main` on 2/22. This shouldn't cause users any issues, unless you have automation expecting the main branch here to be named `master`.

Please see https://github.com/github/renaming for details on the renaming process.

[2021-02-15 14:39] swiftinitdotcom opened #886 "How to I clear cached excel chart underlying all charts values without user clicking on each chart refresh"
# Before submitting an issue, please fill this out

Is this a:
- [ ] Issue with the OpenXml library
- [x] Question on library usage- its a question

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before pos

[2021-02-16 17:19] twsouthwick commented on #863
We can probably make the RelationshipErrorHandler handle this kind of thing, but it doesn't appear to out of the box.

I'm fairly busy right now and can't investigate the design of this. I'll have some time in about a month. In the meantime, feel free to propose an API and I'm happy to review it.

[2021-02-16 18:24] #883 closed

[2021-02-17 10:41] Muppets commented on #883
@twsouthwick Just wanted to give a big thank you for helping get that fix in and the speed you got it rolled out on Nuget. Kudos to you sir! ❤️

[2021-02-21 09:30] igitur opened #887 "OpenXmlValidator not validating boolean values"
# Before submitting an issue, please fill this out

Is this a:
- [X] Issue with the OpenXml library
- [ ] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting -----------

[2021-02-21 20:54] twsouthwick commented on #887
Thanks for the issue! I added some better cell validation but apparently didn't handle this case. I'll get a fix in.

[2021-02-21 21:07] twsouthwick commented on #886
Please fill in the issue template. There is no user buttons this SDK provides so I am not sure what you are referring to. As it appears to not be an SDK issue, I'm closing for now. Feel free to reopen with a repro that we can work with.

[2021-02-21 21:07] #886 closed

[2021-02-22 21:16] twsouthwick commented on #884
This has been completed. Thanks!

[2021-02-22 21:16] #884 closed

[2021-02-23 08:25] shps951023 opened #893 "How package multiple openxml format xml to one xlsx file without OpenXml SDK just using string?"
# Before submitting an issue, please fill this out

Is this a:
- [V] Question on library usage

**Description**

# How package multiple openxml format xml to one xlsx file without OpenXml SDK just using string?

There're three xml like image, I'd like to package then to one xlsx `without OpenXml SDK`.

![](https://i.imgur.com/HIhiHQr.png)

I've tried create file and folder like
![](https://i.imgur

[2021-02-23 19:06] twsouthwick commented on #893
This does not appear to be an SDK issue, but rather a question about the OpenXML format itself. You can do this in the SDK, but I'm not sure if that's what you're asking.

[2021-02-24 00:05] shps951023 commented on #893
@twsouthwick thanks, I'm tracing how to implement logic of OpenXml SDK, and I resolve problem by below way.

Step1.  Folder tree path have to like :

[code]

Step2. then from root folder path to zip all folder and files to zip file and rename to `Demo.xlsx`

Result :

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/XZasq.png

[2021-02-24 00:05] #893 closed

[2021-02-26 11:56] igitur commented on #887
@twsouthwick Hope it's OK if I continue this issue. Else I'll open a new one if required.

We have fairly comprehensive test suite in ClosedXML and after upgrading to OpenXML 2.12.2 the problem described above was the cause of the majority of our test failures. Only now, after upgrading to 2.12.3, did I notice there were other, similar validation issues. Sorry, they fell through the cracks previou

[2021-02-26 15:18] twsouthwick commented on #887
Thanks! How about we get a fix for that and we'll iterate until you have a clean test suite?

[2021-02-26 15:56] igitur commented on #887
I added a PR at https://github.com/OfficeDev/Open-XML-SDK/pull/901

[2021-03-02 14:18] Nils-Berghs opened #903 "Number serialization does not use neutral culture"
When creating an excel file numbers are serialized with the culture of the current thread. However internally excel uses the invariant/US-culture.

So if you add a value to cell A1 like this:

[code]
Excel will accept the file if the code above is executed in a thread running on US culture. If running on a thread that uses ',' as a decimal seperator, excel will give the "We found a problem witn so

[2021-03-02 19:00] tomjebo commented on #903
This looks like a similar issue as #288 except that our ctor is doing the `ToString()` without doing it like this: `ToString(CultureInfo.InvariantCulture)`
Perhaps we should change the ctors to use the above method? @twsouthwick what do you think?

[2021-03-02 19:28] tomjebo commented on #903
@Nils-Berghs I've added PR#904 but don't have a non-US English machine handy. Can you take a look and test your scenario?

[2021-03-02 21:47] Nils-Berghs commented on #903
@tomjebo I have tested the branch you are merging and this seems ok.

[2021-03-03 22:07] tomjebo commented on #903
@Nils-Berghs thanks for testing. Doing on more confirmation internally and then I'll merge this.

[2021-03-06 01:09] tomjebo commented on #903
I've merged #904, added PR #906 for testing double and decimal CellValue.
Closing this issue.

[2021-03-06 01:09] #903 closed

[2021-03-07 16:15] Muppets commented on #830
This validation failure is actually down to the fact `bidi` element is being generated in the wrong place in the XML.

`w:Pr` node in the [ECMA standard](https://www.ecma-international.org/publications-and-standards/standards/ecma-376/) is defined as a `Sequence` and so the order is mandatory on the children:

![image](https://user-images.githubusercontent.com/638359/110246522-d2315080-7f5f-11eb-8

[2021-03-07 16:38] Muppets commented on #836
I tried to reproduce this here and I wasn't able to. Are you able to provide a working sample including a word document with the issue?

[2021-03-07 17:08] Muppets commented on #828
I tried to reproduce your issue but I was unable to. I grabbed your sample file, ran the following:

[code]

Which produced the output:

[code]

Are you able to provide more information on your issue?

[2021-03-10 20:11] AndrewDavidoff opened #907 "New NuGet prerelease 2.13.0-beta0001 with Office 2019 support"
This is a note that we released Beta version of SDK with support for Office 2019: namespaces and generated classes. Please give it a try and report issues, specifying NuGet package version number.

You need to check “Include prerelease” in VS NuGet Package Manager to see **2.13.0-beta0001** version.

[2021-03-11 19:25] twsouthwick commented on #887
@igitur Sorry I was on vacation last week and been catching up on stuff. We released a beta of 2.13.0 that has this fix. Can you verify with that build? We can get a 2.12.4 out once we've got all your regressions addressed.

[2021-03-12 10:00] igitur commented on #887
Thanks @twsouthwick . I tested against the beta version and all these kinds of parsing issues seem to be resolved, at least as far as our test suite covers.

Just something that I noticed, and it's not really a big issue, but I notice that now all the .xml files in the package have a `BOM` at the start of the file. Was this intentional? Or maybe it's a side effect of a newer `System.IO.Packaging`

[2021-03-12 23:29] twsouthwick commented on #887
That would be due to #303. It was intentional and allows it to be open by more editors.

[2021-03-12 23:31] twsouthwick commented on #887
We plan on releasing 2.13.0 end of the month. Is that OK timeframe or would a patch release be better?

[2021-03-13 03:17] igitur commented on #887
Thanks. Yes, that timeframe is all good.

[2021-03-13 03:17] igitur commented on #887
I think we can close this issue now. Thanks for the help.

[2021-03-13 03:17] #887 closed

[2021-03-15 11:10] timcodesdotnet commented on #836
I can't seem to reproduce it anymore either.

[2021-03-15 11:10] #836 closed

[2021-03-16 10:52] sdudnic commented on #796
I don't know why the issue was closed, because the documentation is still not updated and the error remains as for today with .net5 and office 365

[2021-03-16 15:34] himanshukodwani opened #909 "System.IO.IOException: 'Entries cannot be opened multiple times in Update mode"
Issue with the OpenXml library

 	System.IO.Compression.dll!System.IO.Compression.ZipArchiveEntry.OpenInUpdateMode()
System.IO.Compression.dll!System.IO.Compression.ZipArchiveEntry.Open()
System.IO.Packaging.dll!System.IO.Packaging.ZipStreamManager.Open(System.IO.Compression.ZipArchiveEntry zipArchiveEntry, System.IO.FileMode streamFileMode, System.IO.FileAccess streamFileAccess)
System.IO.Packagi

[2021-03-16 15:56] adamshakhabov commented on #909
I had a similar issue when I called `.GetStream()` twice without **closing the previous one**. Could you share the code example where you call `.GetStream()`.

[2021-03-16 17:11] tomjebo commented on #796
@sdudnic @p-kaczynski it looks like the PR only changes one instance of the "https" error. There are several instances in the example code in that document and these should all be fixed. That doesn't explain why the one instance your commit fixed didn't get changed. Perhaps it takes time to publish? I can follow up with the content owner to check on that but you might want to update or submit anot

[2021-03-16 18:14] himanshukodwani commented on #909
Hi!! This is actually not my code, but an open source project – SpreadsheetLight. This worked fine until pre .net core. Here is the code:

private void WriteDocumentProperties()
        {
            if (xl.CoreFilePropertiesPart == null)
            {
                xl.AddCoreFilePropertiesPart();
            }

            using (XmlWriter xw = XmlWriter.Create(xl.CoreFilePropertiesPart.GetStre

[2021-03-16 20:46] twsouthwick commented on #909
Can you include a full repro? ie something that can be run as-is without adding namespaces/initializing packages/etc?

[2021-03-16 20:49] tomjebo commented on #796
@p-kaczynski (or @sdudnic) you'll notice that the one instance has now been fixed. Can you submit a fix PR for the others as well?

[2021-03-16 22:19] twsouthwick commented on #772
Thanks all! Closing for now as we got the data we needed (people still use .NET 3.5 and .NET 4.0)

[2021-03-16 22:19] #772 closed

[2021-03-17 07:05] himanshukodwani commented on #909
Hi!!
Please check :
https://github.com/himanshukodwani/SampleReportingErroReproduction.git

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Taylor ***@***.***>
Sent: 17 March 2021 02:16
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [OfficeDev/Open-XML-SDK] System.IO.IOException: 'Entries cannot be opened multiple times in Update mode (#909)

Can

[2021-03-17 08:08] adamshakhabov commented on #909
[There is open](https://github.com/himanshukodwani/SampleReportingErroReproduction/blob/master/SampleReporting/SpreadsheetLightSource/SpreadsheetLight3.5/SpreadsheetLight3.5/sourcecode/SLDocument.cs#L3346)`CoreFilePropertiesPart` stream:

[code]

It should be closed, for example, like this:

![image](https://user-images.githubusercontent.com/5969304/111434762-9b4dfe00-8708-11eb-8398-bf1e9b50854f.p

[2021-03-18 01:34] twsouthwick commented on #909
@himanshukodwani Did that work for you? As much as possible, please wrap all disposables with a using so you don't run into this.

[2021-03-18 04:57] himanshukodwani commented on #909
Hello, It seems to have corrected the error but there was some corrupt output file problem so I have forwarded your reply to the developer of the spreadsheetlight library.
Thanks a lot for your prompt response.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Taylor Southwick ***@***.***>
Sent: Thursday, March 18, 2021 7:04:45 AM
To: OfficeDev/Open-XML-SDK **

[2021-03-19 10:25] OrthFelix opened #911 "Wrong decimal separator on serialization"
**Description**

In cultures that use the decimal comma as decimal separator, floating point numbers get serialized wrongly.

**Information**

- .NET Target: .NET Standard 2.0 or .NET 5
- DocumentFormat.OpenXml Version: 2.12.3
- Language is German in this case

**Repro**

Example is with .NET 5 in language version C# 9.0 for shorter code
[code]

**Observed**

Value gets serialized with a decimal c

[2021-03-19 14:59] apetrut commented on #99
@thanhvyit This seems like a workaround rather than an actual solution. Why should the DataType be null if the value is decimal? Shouldn't OpenXML identify correctly the datatype automatically?
@tarunchopra Can you confirm why the values: 3.343 gets translated into: 3.3429999?

I ran into the same issue when reading values from excel using OpenXML but this seems to be an issue that has to be fixed

[2021-03-19 16:58] tomjebo commented on #911
@OrthFelix Thanks for reporting this. It should be fixed in the 2.13.0-beta0001 version on Nuget. We added this fix in #904. Can you test with 2.13.0-beta0001?

[2021-03-19 17:20] OrthFelix commented on #911
Sure, it seems to be working!

[2021-03-19 17:20] #911 closed

[2021-03-19 22:52] twsouthwick commented on #909
Sounds good. I'll close this issue for now. Please reopen if needed or log a new issue if the corruption is related.

[2021-03-19 22:52] #909 closed

[2021-03-28 06:10] nike61 commented on #807
Hello @twsouthwick. Did you see the workaround that was supposed in https://github.com/dotnet/runtime/issues/1544 discussion?

[2021-03-29 11:57] clement911 opened #913 "Writing asynchronously with OpenXmlWriter"
The `OpenXmlWriter` doesn't appear to have any async overloads.
Is it not possible to write in a asynchronous fashion?

[2021-03-29 17:11] twsouthwick commented on #913
I'm not sure what would be involved, but happy to take any contributions here. One bottleneck is that I'm not sure if the System.IO.Packaging provides async overloads - that would need to be supported before we can do much with async I think. We may be able to some, but I think we'd need to identify what should be async and the work involved there.

[2021-03-29 17:13] twsouthwick commented on #819
I am not sure we would want to include that in this project. That feels like a project that could build on top of the SDK, though

[2021-03-29 23:13] tomjebo commented on #819
I agree that it wouldn't make sense to have a "save as PDF" in this API set.

[2021-03-30 08:45] clement911 commented on #913
I'm referring to the `OpenXmlWriter` here though.

I see that the `OpenXmlWriter` is implemented by `OpenXmlPartWriter`, which delegates calls to a regular `System.Xml.XmlWriter`, which does have async overloads for all write operations such as `WriteStartElementAsync`, `WriteAttributeStringAsync`, etc...

So it should be possible to add async overloads to the `OpenXmlWriter` class as well.

[2021-03-30 08:46] clement911 commented on #913
https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlwriter?view=net-5.0#methods shows the async methods.

[2021-03-30 10:56] softboy99 commented on #819
Hi,
@twsouthwick,@tomjebo, It's very useful if it's possible to build on top of the SDK, currently, if no it, we turn back to Office PIA to do that.

[2021-03-30 15:14] twsouthwick commented on #913
We'd be happy to accept a PR for this. The next major release will be in a week, and it could potentially be added in that release if reviewed quickly.

[2021-03-31 02:37] swiftinitdotcom opened #914 "is there any latest productvity tool like 2.5"
https://www.microsoft.com/en-in/download/details.aspx?id=30425
is there any latest?

[2021-04-01 06:07] Jenifer-TheCoder opened #915 "Replacing sdtelement in dotx file with HTML that has hyperlink doesn't work"
**Description**

I am trying to replace dotx sdtElement with html content that has hyperlink, but the link doesn't work. w:hyperlink's relationship with link doesn't seem to be working.

**Information**

- .NET Target: NET Framework 4.8
- DocumentFormat.OpenXml Version: 2.0.5022.0

**Issue in depth:**

- I have a dotx file which has [Text] that has to be replaced with html that has
<body <a href="

[2021-04-02 06:57] clement911 commented on #913
@twsouthwick , unfortunately I don't have enough time at the moment but I'll keep in mind that you accept PRs and may come back to it later.
I haven't done the analysis of all the classes that could to be made async. I suppose it doesn't all need to be added at the same time...
I guess it's a matter of finding all of the IO operations, for which .NET provides async overloads.
One potential problem

[2021-04-05 11:56] rsdelapaz commented on #807
Hi @Viktor-36, how have you fixed or workaround this issue?I need to generate large excel files in .NET Core too.

Hi @twsouthwick, have you read the message from @nike61?

[2021-04-07 18:50] Pxtl opened #917 "AddAlternativeFormatImportPart produces malformed documents if both parent and child contain shape-lines or similar objects"
**Description**

Document is malformed if I use AddAlternativeFormatImportPart on a document with a shape-line (or similar objects) in the root *and* the attached documents.

**Information**

- .NET Target: .NET Framework 4.6.2
- DocumentFormat.OpenXml Version: 2.12.3

**Repro**

Create 2 word documents "Template.docx" and "ExampleAttachment.docx".  Insert a single shape-line in both.
Note this wa

[2021-04-07 20:19] tomjebo commented on #917
@Pxtl thanks for reporting the issue. Did this happen in previous builds of the SDK? Did you try it with other versions of Office?

[2021-04-07 20:27] Pxtl commented on #917
@tomjebo

I have not tried on other versions of either Word or Open-XML-SDK.  I was implementing a new feature in our software that leverages the library... sadly we didn't find out about this problem until we were user-acceptance-testing.  The bug in more complex documents is so inconsistent that it slipped by all of our tests, it worked fine until we added a few more attachments that it exceeded

[2021-04-07 20:30] tomjebo commented on #917
@Pxtl Thanks, I'll take a look.

[2021-04-08 07:09] clement911 commented on #807
We are also running into that exact same issue, even though we call `SpreadsheetDocument.Create` with a `FileStream`.
Our environment is .Net 5 on Azure App service.

[2021-04-09 10:19] rubansergey opened #918 "OpenXml validation works slow starting from version 2.11.3"
- Issue with the OpenXml library

We have a customer's Wordprocessing document **with a lot of tracked changes** that hangs after we update OpenXml.

Investigation shows that:
- It hangs when we call OpenXmlValidator's **Validate** method against MainDocumentPart of this document.
- It works quick on version 2.11.2
- It was broken on version 2.11.3 I have reviewed [changelog ](https://github.com/O

[2021-04-12 08:21] sdudnic opened #919 "Copy pictures from one generated Word document to another one"
# Before submitting an issue, please fill this out

Is this a:
- [ ] Issue with the OpenXml library
- [x] Question on library usage

I ask here, because I had any answer [on StackOverflow](https://stackoverflow.com/questions/67038242) for several weeks.

---------------- Remove this line and above before posting ----------------

**Description**

I generate an SSRS report that I save as a Word doc

[2021-04-13 22:22] twsouthwick commented on #918
Thanks for the report! I'll take a look.

[2021-04-16 22:16] tomjebo commented on #917
@Pxtl sorry for taking so long to investigate this. The problem Word is having is with the wp:docPr element in the attached document. When you pull in that attached document, Word treats is like part of the attaching package. Running through this scenario, as you prescribed, the "template" and "attachment" documents end up with the same straight line wp:docPr element which also has the same id=1 a

[2021-04-20 20:34] tomjebo commented on #917
@Pxtl I've added the feature request tag. If you would like to submit a PR with a solution we'd be happy to review and consider it.

[2021-04-21 01:23] AndrewDavidoff opened #922 "New NuGet prerelease 2.13.0-beta0002 with Office 2019 support"
This is a note that on April 20th we released Beta 2 version of SDK with support for Office 2019: namespaces and generated classes. Please give it a try and report issues, specifying NuGet package version number.

You need to check “Include prerelease” in VS NuGet Package Manager to see 2.13.0-beta0002 version.

[2021-04-21 01:25] #907 closed

[2021-04-21 01:27] AndrewDavidoff commented on #907
Beta 2 is released on April 20th. Issue #922 discusses this new release.

[2021-04-21 15:32] g136660 opened #923 "Is it possible to split a document page by page into files? If the page sizes are known."
# Before submitting an issue, please fill this out

Is this a:
- [ ] Issue with the OpenXml library
- [x ] Question on library usage

Is it possible to split a document page by page into files? If the page sizes are known.
For converting to PDF.

[2021-04-21 16:53] tomjebo commented on #923
@g136660 This is a "how to" type of question and I would recommend using the resources mentioned in the readme:

Microsoft Q&A Forums (tag: office-addins-dev)
Stack Overflow (tags: openxml or openxml-sdk)

You'll likely get a better discussion and recommendations with those.

[2021-04-22 01:13] twsouthwick commented on #918
I repro'd this. Here's the benchmark difference:

2.11.2:

[code]

2.13.0-beta0002:

* Too slow to continue *

I'll keep tracking it down. Does look like it is something related to the recursion change.

[2021-04-22 04:31] twsouthwick commented on #918
This actually ended up being related to how data is stored during the same validation run. The cached value generated in one of the constraints (which was generated by traversing all the elements) had too narrow of a cache key so it was being evaluated many times in your example document.

This is similar to #763 that was fixed in 2.11.3 due to the same issue.

[2021-04-22 04:35] twsouthwick commented on #918
The validation now experiences the following benchmark:

[code]

A little slower, but way better than it was!

[2021-04-23 04:52] Artyom-Petukhov opened #925 "generated paraId values replaced with msword app"
**Description**

Paragraph have property ParagraphId
[code]

According to the issue #245 I tried to generate paraId for paragraphs (and set textId = "77777777" to respect spec). When I open generated docx with MS Word 2016/365 - it's Ok, no errors, no warnings etc.

Generated docx is protected from modifications, I can only add/modify/remove comments to it.

After adding new comment to document an

[2021-04-23 14:28] Artyom-Petukhov commented on #925
I believe that it's time to add the method of paraId generation for paragraphs to the SDK regardless whether the comments have been added to a docx or not because office 365 does this way already.

[2021-04-23 14:34] zakkar1 opened #926 "Cannot apply styleindex in Excel using OpenXml SDK"
Hi ,
I'm using a template xlsx file which contains some columns with Formats.
When I populate my new Excel file I can replace the values but I cannot accomplish the format of the cells
The workflow is as follows
a. I'm taking the excel template which contains the preformatted columns. I have for example a column with number format , a column with a datetime format etc.
b. I'm creating the new xlsx

[2021-04-25 04:51] foxjazz opened #927 "using memory stream doesn't work when adding chunked content"
This is using openxml worddocument processing.

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

When opening the document from a file, the functions for adding content behave differently than when using memorystream to open the document.

[2021-04-27 14:23] cjscholten commented on #84
Does anyone know what happened with this? I still can't find any reference to MP4 in the MediaDataPartType or MediaDataPartTypeInfo classes. Am I looking in the wrong place?

[2021-04-27 21:41] twsouthwick commented on #927
@foxjazz Do you have a repro? What are your observations vs expectations? We can't do much without some details as to how to repro it.

[2021-05-04 16:24] #918 closed

[2021-05-06 09:16] sorensenmatias commented on #807
Our company is currently being hit hard by this issue for both WordProcessing, Presentation and Spreadsheet. We are seeing big spikes of memory consumption on our production environment when modifying the OpenXml of certain documents. This gives significant problems for our enterprise customers.
Any updates or workarounds would be most appreciated.

[2021-05-06 22:13] S1r-Lanzelot commented on #672
Same issue

[2021-05-07 09:38] zchhaenngg commented on #819
Hi,

'Save docx or xlsx as PDF' is a very useful feature, we also need it.

[2021-05-10 22:23] robertmuehsig opened #929 "Office 365 Word starts extremly slow with a template that has "AltChunks" in it"
Office 365 Word starts extremly slow with a template that has "AltChunks" in it

We have a tool, that produces "dotx" files. The tool can automatically add content based on some variables. The added content is inserted via the OpenXML "AltChunk" mechanic.

This worked absolutely fine in Office 2013/2016/2019, but with Office 365 we are seeing performance issues.

We even could reproduce it with a

[2021-05-11 11:55] Hacnar opened #930 "Opening an empty docx file leaks handle on Windows."
Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

When trying to open empty docx file, OpenXml keeps an open handle to this file after throwing an exception. This prevents certain actions from being performed on the file, e.g. deleting it.

**Information**

Tested with
- Windows 10 x64 20H2 build 19042.964
- .NET 5.0.5
- DocumentFormat.OpenXml 2.11.3

[2021-05-12 16:19] lklein53 opened #931 "Media References are removed"
Hi I encountered the following issue while using the OpenXML SDK:

**Description**
I opened the attached file with the OpenXML SDK and saved it using a different name.
If I try to open the saved file Power Point reports that the file is broken and that it can try to repair it.
After repairing the document does not contain the video which was originally in the presentation.

**Information**

- .NET

[2021-05-12 20:07] twsouthwick commented on #931
@lklein53 Can you try the latest beta? 2.7.1 is quite old at this point.

[2021-05-12 21:12] lklein53 commented on #931
@twsouthwick thanks for your quick reply. Sorry messed up the bug report. I already tried using version v2.13.0-beta2

[2021-05-12 22:06] twsouthwick commented on #931
Thanks! So to be clear, it removes them in both?  Trying to understand if it is a regression from an earlier version that may have been working as expected.

[2021-05-13 06:47] lklein53 commented on #931
Yes, both versions produce a broken pptx without the video in it.

[2021-05-13 23:06] AlfredHellstern commented on #922
Closing issue. Shipping 2.13.0 release today.

[2021-05-13 23:06] #922 closed

[2021-05-14 01:49] twsouthwick commented on #931
Thanks! At least it's not a regression, but we'll take a look

[2021-05-14 08:44] MaceWindu opened #933 "Incorrect nullability annotations for OpenXmlComparableSimpleReference operator ==/!="
**Description**

https://github.com/OfficeDev/Open-XML-SDK/blob/main/src/DocumentFormat.OpenXml/SimpleTypes/OpenXmlComparableSimpleReference.cs#L131
https://github.com/OfficeDev/Open-XML-SDK/blob/main/src/DocumentFormat.OpenXml/SimpleTypes/OpenXmlComparableSimpleReference.cs#L147

Operators parameters not marked as nullable which leads to following error when checking derived instances (e.g. Strin

[2021-05-14 09:30] lklein53 commented on #931
Hi,
I had some time to look into this today.
In line 1731 of the OpenXmlPartContainer is the following code:

[code]
I think this has to be replaced by

[code]

At least my example works with this change. If you agree I will create a PR for it. Including a test case

[2021-05-14 16:26] twsouthwick commented on #931
Awesome! Go ahead and make a PR and we can explore it further

[2021-05-14 16:33] lklein53 commented on #931
https://github.com/OfficeDev/Open-XML-SDK/pull/934 contains the change and a simple regression test

[2021-05-15 03:42] IshamMohamed opened #935 "Image not shown correctly after removing some other images from Table via removal of Rows"
This issue is a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

Related stackoverflow question: [here](https://stackoverflow.com/questions/67313699/open-xml-removal-of-ms-word-table-rows-corrupting-images). However when the process document is uploaded to SharePoint and if viewed in "Edit" mode the images are shown correctly but view mode again corrupts the

[2021-05-17 18:40] twsouthwick commented on #930
Could you try again with 2.13.0? It was just released and I reworked some of the file opening

[2021-05-17 18:42] twsouthwick commented on #930
Also, can you paste the full exception you are seeing?

[2021-05-17 18:44] twsouthwick commented on #933
Thanks for the catch! Happy to accept a PR for this!

[2021-05-17 18:45] twsouthwick commented on #935
This sounds similar to #931

[2021-05-17 18:50] twsouthwick commented on #917
Before a PR, it would be great to continue the discussion as to how this should even work. Potentially, anything that adds another part could go through and explore it to see if there are collisions

[2021-05-18 06:40] Hacnar commented on #930
Behavior is still the same on 2.13.0.

I assumed the exception being thrown is not a bug, because I read that this library does not support opening empty files. My issue is only with the handle leak. Here is the exception:

`System.IO.InvalidDataException: Central Directory corrupt.
 ---> System.IO.IOException: An attempt was made to move the file pointer before the beginning of the file. : 'F:\aa

[2021-05-19 03:30] shps951023 opened #936 "Check excel content vaild like office excel open"
# Before submitting an issue, please fill this out

Is this a:
- [ ] Issue with the OpenXml library
- [X] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting -----------

[2021-05-20 19:20] twsouthwick commented on #929
@robertmuehsig Interesting find! It's been routed to the appropriate team to investigate. We'll update with news as it becomes available.

[2021-05-21 07:57] ArunGust opened #938 "Rust support"
# Before submitting an issue, please fill this out

Is this a:
- [ ] Issue with the OpenXml library
- [x] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting -----------

[2021-05-24 17:47] weedkiller opened #939 "How to compare two word documents to show diff in a new document"
- [ ] Sample request  and missing feature library usage

**Description**

**Use case example:** We have multiple documents, constantly revised in parallel by several people for pricing quotes, and we want to compare what changed in those documents. It possible and fast to do 2 documents with a 3rd party like aspose, but thats the limit, and it involves buying a license.

I tried it with the text p

[2021-05-26 20:16] blakepell commented on #807
I'm in the same boat.  On the classic framework 4.x  I was writing large data sets to a stream which kept the memory footprint low.  Updated to .NET 5 and now those are generated OutOfMemoryExceptions.

I'm a little unclear on the workaround.  It read like changing the `FileAccess` to `Write` and not `ReadWrite` might do the trick.  When I changed my Stream to be `Write` I got this Exception (I do

[2021-05-27 21:29] blakepell commented on #807
I've gotten closer, but I haven't quite gotten there yet.  I've figured out how to pass a package in, and in `ReadWrite` mode it makes the spreadsheet with high memory as expected, in `Write` mode it writes out seemingly all of the data with a low memory footprint but then throws an exception the second time any OpenXmlWriter is written two and I haven't been able to find a way to re-organize how

[2021-05-28 17:27] blakepell commented on #807
@sorensenmatias @clement911 @rsdelapaz

Sorry for the spam, I got something working and thought perhaps it might help someone looking for a workaround. I don't love my solution but, it did work.  Since I wasn't able to write to a second `OpenXmlWriter` I did this (order is important):

1.) Create a `FileStream' (I used `File.Create`).
2.) Create a `Package`, pass in the `FileStream` and use `FileM

[2021-05-31 11:51] Munavvar-Husein opened #941 "The error is occurring while merging the two OpenXML word documents having the chart into one of the document."
**Description**

The error is occurring while merging the two OpenXML word documents having the Chart inside one of the document.

Below is the error.
"Unable to cast object of type 'DocumentFormat.OpenXml.Packaging.ExtendedPart' to type 'DocumentFormat.OpenXml.Packaging.EmbeddedPackagePart'."

Below is the Stack track. The error is occurring from "OpenXmlPowerTools.DocumentBuilder.CopyChartObject

[2021-05-31 19:34] #927 closed

[2021-06-01 20:29] blakepell commented on #807
Here's more of a working sample for .NET Core that should get people started on the workaround.  I just wrote out a 500,000 row dataset and the memory footprint stayed pretty low.  There are a few places where some extension methods are used (like SafeLeft), you can remove those and put in what you need (GetCell in particular isn't super clean, keep in mind, proof of concept).  What you'll be inte

[2021-06-02 08:18] sorensenmatias commented on #807
Thanks @blakepell, this is very helpful. Unfortunately, doing Write instead of Read/Write would require a huge refactoring (months) for our use case. So our hopes is still that the root issue here could be fixed.
@twsouthwick is there any news on the matter?

[2021-06-02 21:23] blakepell commented on #807
One other note, with the workaround approach I posted you _can_ add additional sheets later in `ReadWrite`, they just can't be SAX based (as far as I can see).  I just tested adding a second sheet with a few rows in the traditional way after the initial large dataset and the memory footprint only grew as large as that second sheet I added (again, that requires re-opening the excel document in `Rea

[2021-06-08 17:53] tomjebo commented on #941
@Munavvar-Husein did you see previous to 2.11.3.0? It looks like it may go back further as I found a closed issue in the Microsoft PowerTools repro: [https://github.com/OfficeDev/Open-Xml-PowerTools/issues/149](https://github.com/OfficeDev/Open-Xml-PowerTools/issues/149)

[2021-06-08 17:53] tomjebo commented on #941
@twsouthwick could this be due to the #nullable enable we added in Feb? It looks like that was removed for ExtendedPart.

[2021-06-08 17:57] tomjebo commented on #941
I think this is the line in CopyChartObjects:

                        var newPart = newChart.AddExtendedPart(relType, conType, ".bin", id);

[2021-06-09 05:20] Munavvar-Husein commented on #941
@tomjebo , @twsouthwick, can you please tell me when this will be resolved?

[2021-06-09 10:54] AlexanderMagdysyuk opened #942 ""Requested registry access is not allowed" error is create spreadsheet from restricted account (IIS etc.)."
**Description**

Exception from the library under restricted account:

System.TypeInitializationException: The type initializer for 'MS.Utility.EventTrace' threw an exception. --->
System.Security.SecurityException: Requested registry access is not allowed.
System.ThrowHelper.ThrowSecurityException(ExceptionResource resource)
Microsoft.Win32.RegistryKey.OpenSubKey(String name, Boolean writable)
Mi

[2021-06-09 21:08] georearl opened #943 "Open XML SDK Productivity Tool has been removed from download"
**Open XML SDK Productivity Tool has been removed from download**

We were using the open xml sdk productivity tool to compare a before and after version of a slide in PowerPoint and then to generate the code to make the change. This saved us so much time and ramp up on the sdk. The scenario is we were generating a daily PowerPoint briefing as part of a daily process. we are creating highlight eve

[2021-06-09 21:22] adamshakhabov commented on #943
I also still use Open XML SDK 2.5 Productivity Tool and have plan check [DocxToSource](URL). Did you use it? It is not yet a good alternative for PowerPoint document investigation?

[2021-06-09 21:36] adamshakhabov commented on #939
What about [WmlComparer](https://github.com/EricWhiteDev/Open-Xml-PowerTools/blob/vNext/OpenXmlPowerTools.Tests/WmlComparerTests.cs) from [Open XML SDK Power Tools](https://github.com/EricWhiteDev/Open-Xml-PowerTools). It uses Open XML SDK and can generate document with revisions based on origin and modified .docx files.

[2021-06-09 21:58] rmboggs commented on #943
Hi,

[DocxToSource](https://github.com/rmboggs/DocxToSource) is good for spreadsheets right now and it can do presentations and wordprocessing documents too but the latter 2 document formats are pretty complex and there may still be bugs present for those situations.

Also, as an FYI, the main dependency of [DocxToSource](https://github.com/rmboggs/DocxToSource)  is [Serialize.OpenXml.CodeGen](htt

[2021-06-09 21:59] ThomasBarnekow commented on #939
As noted by @adamshakhabov, the `WmlComparer` might do the job for you unless you require a 100% faithful representation, e.g., including fields and content controls, which will not be represented in the comparison document.
m
Rolling your own document comparer would involve significant effort. Should you want to go down that route, look for the LCS algorithm and the paper ["An O(ND) Difference Al

[2021-06-11 20:08] sorensenmatias commented on #941
This is using OpenXmlPowerTools - I think you should direct your attention to that library and not this one? Am I missing something?

[2021-06-12 11:21] Munavvar-Husein commented on #941
@sorensenmatias, @tomjebo, @twsouthwick is the above comment for me? If it is, can you tell me which libraries are you referring to when you say "that library and not this one"?

[2021-06-12 11:56] ThomasBarnekow commented on #941
If you look at the stack trace, you see OpenXmlPowerTools, which is another namespace and library, which uses the Open XML SDK but is different from the Open XML SDK. If you see DocumentFornat.OpenXml, that‘s the namespace and library name used by the Open XML SDK.

You would have to open an issue in the Open XML PowerTools repo and not in this one.

[2021-06-12 21:03] weedkiller commented on #939
thanks @adamshakhabov and @ThomasBarnekow WML compare might work , its taking to me to a fork test case.

I dont believe my use case is all that complex, I have a simple quote thats emailed to the customer and he fills/edits some fields or text and I want to be able to highlight that

[2021-06-12 21:41] ThomasBarnekow opened #944 "w:sdtContent-related classes should inherit from SdtContentElement or similar"
**Description**

In a code example produced for the DevDays Redmond 2021, I wanted to show how developers can use the strongly-typed classes to remove (potentially nested) `w:sdt` and related elements (e.g., `w:sdtContent`) from the markup. The good news is that `SdtBlock`, `SdtRun`, `SdtRow`, and `SdtCell` are all derived from `SdtElement`, meaning that all kinds of `w:sdt` elements can be matche

[2021-06-13 07:47] mcpgza opened #945 "Implement missing PartTypes (such as PersonPart in threading comment feature in Excel 2019)"
**Description**

There are a lot of internal virtual property/method in OpenXmlPart which prevents custom part implementations in custom library.

**Information**

Latest version, any platform.

**Repro**
I tried to implement the missing PersonPart and ThreadedCommentsPart for Office 2019 office, but I realized it is not possible to write a custom OpenXmlPart implementation because of the lot of i

[2021-06-13 08:13] ThomasBarnekow commented on #939
In your use case, the WmlComparer should indeed be totally sufficient.

[2021-06-14 20:26] #939 closed

[2021-06-15 04:55] davidhunter22 commented on #945
I am also interested in this from a user perspective. The README says "Office 2019 Support Available" and specifically mentions "Threaded comments in Excel". However when I loaded a document containing threaded comments and persons they seem to get loaded as  ExtendedParts. So is there more sutff still to do? Is there any documentation or examples on how to extract threaded comments using 2.13.0?

[2021-06-15 10:09] Munavvar-Husein commented on #941
@ThomasBarnekow, the repo for Open XML PowerTools at https://github.com/OfficeDev/Open-Xml-PowerTools/ is readonly. I cant add any new issues. According to the readme there, the newer version is at https://github.com/EricWhiteDev/Open-Xml-PowerTools. This is not archived but I cant add issue there either.
Can you please guide me what to do next?

[2021-06-15 11:11] adamshakhabov commented on #941
Unfortunately, this repository is rarely updated and opened PRs are not been reviewed 😞 Not sure about Word, but sometimes I open an issue in [Clippit](https://github.com/sergey-tihon/Clippit) (Open-XML-PowerTools fork) repo when the issue related to PowerPoint.  You can take your chance there :)

[2021-06-15 11:43] ThomasBarnekow commented on #941
@Munavvar-Husein, the beauty of Open Source projects hosted on GitHub is that you can create your own forks and fix issues yourself. You do not have to wait for the maintainer or other contributors to do that for you, e.g., if fixing your specific issue is not high up on the priority list. Once you created the fix, you can open a pull request to contribute something back.

In the case of the Open

[2021-06-15 17:41] j2jensen commented on #807
@blakepell 's solution gave us an error ("Cannot retrieve parts of writeonly container") until we updated to the latest version of the `System.IO.Packaging` NuGet package.

[2021-06-16 01:14] lindexi commented on #753
@tipa I test the two version and I find that the 2.11.1 version has more generics type use which will AOT to more size

[2021-06-16 08:45] ThomasBarnekow commented on #943
On the Microsoft DevDays Redmond 2021 Online, @AlfredHellstern explained that the Productivity Tools were removed after a security review. They might become available for download again, if there is enough interest. In the same session, @mikeebowen demoed a very cool Visual Studio Code extension that might be a replacement, unless you need the C# code generation feature.

[2021-06-16 09:00] ThomasBarnekow commented on #925
@Artyom-Petukhov, was this issue resolved? Did you find out why the paraId values were changed?

@twsouthwick and @tomjebo, did you look into this? Under what conditions does Word change the paraId values? Would Word change values that comply with the specification?

In one of my use cases, it is extremely important to understand whether I can rely on the paraId values being unique and stable.

[2021-06-16 09:32] ThomasBarnekow commented on #915
Did you resolve your issue? Or is this still open?

I see many issues in your code and would not understand from the code what you are trying to achieve. If you are still looking for a solution, could you please show two things?

1. The source Open XML markup with the `w:sdt` element that you want to transform (or convert)
2. The target Open XML markup (with the hyperlink) that should be the resul

[2021-06-16 10:01] ThomasBarnekow commented on #819
The Open XML SDK is all about three very particular document formats:

- WordprocessingDocument, e.g., for Word documents (.docx) and templates (.dotx);
- SpreadsheetDocument, e.g., for Excel workbooks (.xlsx) and templates (.xltx); and
- PresentationDocument, e.g., for PowerPoint presentations (.pptx) and templates (.potx).

It does not support other file formats such as PDF.

There are several c

[2021-06-16 10:03] ThomasBarnekow commented on #817
@twsouthwick and @tomjebo, I think this issue should be closed.

[2021-06-16 10:06] ThomasBarnekow commented on #492
@twsouthwick, just checking whether this issue is still open. Otherwise, we might want to close it.

[2021-06-16 10:15] ThomasBarnekow commented on #816
Is this issue still open? Was anything added?

I suggest we make sure that something like IsValidWordprocessingDocument() makes sure the document is at least a minimum viable WordprocessingDocument, for example. On top of containing the main document part (word/document.xml), the part must not be empty but at least contain an w:document with a w:body child element (IIRC).

The API could also offer

[2021-06-16 16:20] tomjebo commented on #945
@mcpgza I have a fix for this and will submit a PR shortly.

[2021-06-16 17:28] tomjebo commented on #945
PR #946  is available. If you'd like, try this ahead of the merge. Here is sample code that exercises the parts:

`using System;
using System.Collections;
using System.Collections.Generic;
using System.Linq;
using DocumentFormat.OpenXml;
using Drawing = DocumentFormat.OpenXml.Drawing;
using DocumentFormat.OpenXml.Packaging;
using DocumentFormat.OpenXml.Spreadsheet;
using DocumentFormat.OpenXml.Off

[2021-06-17 22:07] tomjebo opened #947 "Implement missing PartTypes (for Rich Value Data, Structure, Array, Types, Styles) in Excel 2019 support"
**Description**

The Rich Value types (i.e. CT_RichValueData and others) were generated but not correctly derived as OpenXmlPart.

**Information**

- .NET Target: (ie .NET Framework, .NET Core, UWP, Xamarin, etc)
- DocumentFormat.OpenXml Version: (ie 2.7.2)

**Repro**

One example:

[code]

**Observed**

Currently derived from OpenXmlCompositeElement

**Expected**

Should be derived from OpenXmlPa

[2021-06-17 22:08] tomjebo commented on #947
Currently working on the fix. Will submit PR shortly.

[2021-06-18 02:43] TimonYang opened #948 "How to add slicer to excel?"
**Description**

I want to add a slicer to a table in excel, which is easy to implement in other packages, but now for some reasons I want to use Openxml to do it.

But I can't find relevant code examples on the Internet. My intuition tells me that this shouldn't be very complicated, but I don't know how to proceed.

**Information**

- .NET Target:  .NET Framework 4.7.2

             using (Spread

[2021-06-18 08:52] ThomasBarnekow commented on #948
As this is a question on library usage, please post it on stackoverflow.com.

[2021-06-18 18:36] ThomasBarnekow commented on #942
This somehow does not sound like it is due to the Open XML SDK specifically.

Could you try the following?

- Open any other type of file, e.g., a text or PDF, stored in the same location. Does that work?
- Open the Package (from System.IO.Packaging namespace) directly. Does that work?

If any of those don't work, it's not due to the SDK. If both work, it's the SDK.

[2021-06-22 06:31] Iansamaaa opened #949 "AddMediaReferenceRelationship and AddVideoReferenceRelationship Methods in Open XML Version 2.13.0 and Open XML Version 2.12.3"
The code is run, both in version 2.13.0 and 2.12.3

**Sample Code:**

MediaDataPart mediaDataPart1 = document.CreateMediaDataPart("video/mp4", ".mp4");
System.IO.Stream mediaDataPart1Stream = System.IO.File.Open(@"D:\samplevideo.mp4", System.IO.FileMode.Open);
mediaDataPart1.FeedData(mediaDataPart1Stream);
mediaDataPart1Stream.Close();

slidePart1.AddMediaReferenceRelationship(mediaDataPart1, "rId

[2021-06-22 17:01] tomjebo commented on #949
@Iansamaaa thanks for reporting this. I assume you start with a blank presentation and add using the code above? I'll test it out and try to understand why the relationship ids changed.

[2021-06-22 21:39] tomjebo commented on #949
@Iansamaaa can you provide the full sample code for the repro including adding the video blip to the slide?

[2021-06-22 21:50] tomjebo commented on #949
@Iansamaaa more on my testing: I used a PowerPoint generated deck with a video inserted already. Then replaced the id's with longer ones like "Raf78128d2b5b4f28". The video still plays just fine. So I think there's something else missing after your code adds the media and video parts. I'll need the full repro sample code to check it out.

[2021-06-23 01:25] Iansamaaa commented on #949
@tomjebo thank you for answering my question, so the code I am using is the generated code by the Open Xml Sdk tool 2.5, so is it okay if I send here the class ?

[RecreateVideoPowerpoint.txt](https://github.com/OfficeDev/Open-XML-SDK/files/6698249/RecreateVideoPowerpoint.txt)

Sample Code of creation slide 1 content:
private void GenerateSlidePart1Content(SlidePart slidePart1)
        {

[2021-06-23 01:42] tomjebo commented on #949
@Iansamaaa thank you. Looks like SDK Productivity Tool reflection code. I can also try that if the code doesn't work directly for me. But this helps.

[2021-06-23 01:46] Iansamaaa commented on #949
@tomjebo Thank you so much

[2021-06-24 00:14] tomjebo commented on #949
@Iansamaaa I found the issue. We made a change recently that removed the id parameter to System.IO.Packaging's CreateRelationship function. That cause it to generate a new id which you found. I will submit a PR shortly with a small fix that will resolve this and you can test.

[2021-06-24 00:52] tomjebo commented on #949
@Iansamaaa I submitted PR #954. Can you test with this to make sure it works for you? I tested with my repro and it does successfully add the video which plays.

[2021-06-24 03:28] Iansamaaa commented on #949
hi @tomjebo thank you so much for this, for the testing, by the way, sorry I am new to this, does the fix automatically reflected on nuget package?

[2021-06-24 10:23] ThomasBarnekow commented on #933
@twsouthwick, please have a look at PR #953.

[2021-06-24 17:04] #689 closed

[2021-06-24 17:51] twsouthwick commented on #931
@tomjebo Can you take a look to verify this change makes sense?

[2021-06-29 16:59] patrickryan79 commented on #943
This is a bummer. Setup a new PC and can't find the download anywhere. I heavily relied on this. Still have old computer to use though but where can I cast my vote?

[2021-07-04 14:46] #933 closed

[2021-07-07 13:13] ThomasBarnekow opened #959 "Incorrect nullability of MainDocumentPart.Document and corresponding root elements of other OpenXmlParts"
**Description**

The `Document` property of the `MainDocumentPart` is defined as follows:

[code]

Other subclasses of `OpenXmlPart` (e.g., `WorkbookPart`) define their respective root elements (e.g., `Workbook`) in the same way.

Firstly, this is inconsistent with the more generic `RootElement` property of `OpenXmlPart`, which correctly flags nullability:

[code]

Secondly, when nullability is en

[2021-07-09 16:43] ThomasBarnekow commented on #915
@twsouthwick and @tomjebo, I think we can close this issue.

[2021-07-09 17:06] ThomasBarnekow opened #960 "Strongly typed classes define all properties as nullable"
**Description**

Using the generated `Sheet` class as an example, it seems that (pretty much all) the strongly typed classes define all their properties as nullable. For example:

[code]

This is done even where the schema defines the corresponding attributes as required, meaning they will (or should) not be null. For example:

[code]

Flagging all properties as nullable is at least not helpful. I

[2021-07-09 21:31] #915 closed

[2021-07-09 23:31] tomjebo commented on #925
@Artyom-Petukhov @ThomasBarnekow Can either of you provide a simple sample to generate a document that causes Word to have this behavior? paraId is literally a random number between 1 and 0x7FFFFFFF. I have tried to test the limits of paraId and textId and am not able to cause the behavior in Word or Word web app that you describe. Word will replace paraId's that fall outside the limit but it is f

[2021-07-10 07:48] ThomasBarnekow commented on #925
@tomjebo, I can't provide an example. I am just interested to understand Word's behavior in this regard as I also depend on w14:paraId values to not be changed.

[2021-07-12 18:34] gogi100 opened #961 "sorting table per date column in word document"
**Description**

sorting table per date column in word document

**Information**

- .NET Target: .NET Framework 3.5
- DocumentFormat.OpenXml Version: 2.0

**Observed**

i have project in visiual studio 2010 where from the sharepoint 2010 list item is adding in word document table. the list items i adding from three list. i have to after adding to make sorting per column that contains date. my code

[2021-07-13 17:55] ThomasBarnekow commented on #961
@gogi100, please ask this question on stackoverflow.com. This how-to question is not an issue.

A hint on asking the questions on stackoverflow.com, though: You should demonstrate that you have done your own research on solutions and tried things that might have failed. In other words, don't expect others to do your homework.

@twsouthwick, please close this issue.

[2021-07-13 18:44] ThomasBarnekow opened #962 "Consider providing w14:paraId and w14:textId generators"
**Description**

`w:p` and `w:tr` elements can have the `w14:paraId` and `w14:textId` attributes, which are defined in [MS-DOCX](https://docs.microsoft.com/en-us/openspecs/office_standards/ms-docx/b839fe1f-e1ca-4fa6-8c26-5954d0abbccd) as `ST_LongHexNumber` values that are unique within the document part as well as greater than `0` and less than `0x80000000`.

Microsoft Word uses a random number ge

[2021-07-13 18:45] ThomasBarnekow commented on #948
@twsouthwick, please close this issue.

[2021-07-13 18:46] ThomasBarnekow commented on #942
@twsouthwick, I think we can close this issue.

[2021-07-13 18:52] ThomasBarnekow commented on #936
@shps951023, did you ask that question on StackOverflow as suggested in the issue template that you filled in?

@twsouthwick, as this is clearly a how-to question, I think we can close this issue.

[2021-07-14 02:52] shps951023 commented on #936
@ThomasBarnekow
Thanks, I've read document and found no way to do it, maybe it can be a feature?
Thanks again.

[2021-07-14 03:02] #936 closed

[2021-07-14 21:19] tomjebo commented on #949
@lansamaaa we haven't merged #954 yet. I was pulled off on some other work and I've also been requested to add unit testing for this scenario. I intend to do that soon. It will go out with a minor build due to the fact that this changes the API surface area (not a breaking change).

[2021-07-16 02:59] quager commented on #942
Hello @ThomasBarnekow, this error occurs when the Web.config file contains `<identity impersonate="true" userName="TestUser" password="TestPassword" />`.

It works.

This throws the same exception:
[code]

[2021-07-20 23:43] #949 closed

[2021-07-21 08:04] zeroskyx commented on #805
Any news on the topic? Would be really great to utilize SVG within PresentationML documents.

[2021-07-21 10:47] qqytqqyt opened #994 "New DOCX document is created with Override node rather than Default node in [Content_Types].xml"
**Description**

When creating a blank DOCX document with Open XML SDK. 'Default' nodes were created rather than 'Override' node in [Content_Types].xml, which would fail security checks when streaming the document

**Information**

- .NET Target: .NET Framework 4.6
- DocumentFormat.OpenXml Version: 2.13.0

**Repro**

[code]

**Observed**

'Default' nodes were created rather than 'Override' node in

[2021-07-21 20:19] rmboggs commented on #962
Not sure what else this is trying to accomplish with this request but I found that this is easier in generating paraId/TextId:

[code]
or if you want to just increment the values instead of pulling them at random to make sure there are no collisions:
[code]
The `X8` just prints out the hex value of an integer using 8 characters as a string.  It's been working ok for me with these paraId/TextId val

[2021-07-21 22:38] ThomasBarnekow commented on #962
@rmboggs, thanks for your comment.

There are two things that this tries to accomplish. One, this is about providing **some** way of generating those values so that users don't have to "roll their own" (unless they have specific requirements not fulfilled by the chosen way, whatever that might be). Two, this is about generating numbers that meet certain quality criteria.

While the first objective

[2021-07-21 22:41] tomjebo commented on #962
The one thing right now that makes me hesitate is conflicts. Consumers of the SDK can emit paraId/TextId that are not necessarily random as Word does but as long as they conform to the boundaries/rules documented including that they should not conflict with other paraId (document-wide uniqueness). Generating id's is quick as @ThomasBarnekow and @rmboggs showed, however, checking for conflict may n

[2021-07-21 22:50] ThomasBarnekow commented on #962
@tomjebo, collisions are also my biggest concern. If we used a method that produces collisions with a very low and acceptable probability, I would not see an issue. One question is whether we could use the same mechanism that is also used by Word itself. Otherwise, based on my testing, it looks like the `RNGCryptoServiceProvider` class does a decent job.

[2021-07-21 22:57] tomjebo commented on #962
@ThomasBarnekow I'm actually not referring to the random number generator collision production but colliding with existing paraId's. These may have been produced by other apps or Word. But if you have a proposed solution, then we can do some testing on various documents to prove that it doesn't impact the API when building or adding to documents.

[2021-07-21 23:21] ThomasBarnekow commented on #962
I have provided the solution that I use in th,e issue description. Note, however, that it does not guarantee the absence of collisions with pre-existing paraIds. However, that could be added as an optional feature, e.g., by retrieving all existing paraIds, storing those in a `HashSet<string>`, for example, and ensuring that newly generated paraIds are not contained in the set. Lookups in a `HashSe

[2021-07-21 23:29] tomjebo commented on #962
Yes, that's exactly what I meant. Can you put that together and submit a PR for testing?

[2021-07-22 18:11] tomjebo commented on #962
Just a follow up to this: I had a discussion with the Word team and we definitely MUST check for conflicts with existing paraIds in the document. There are at least two areas in which this will have bad side effects if we don't. So either we include conflict checking when we generate or we don't generate.

[2021-07-22 18:30] twsouthwick opened #995 "Enable nullable on tests"
If the assembly under test has nullability enabled, it would make sense to do that for the corresponding unit tests, too. This way, you would more likely identify cases where nullability is incorrect. For example, see my other issue on nullabity of the MainDocunentPart.Document property, for example.

_Originally posted by @ThomasBarnekow in https://github.com/OfficeDev/Open-XML-SDK/pull/952#discu

[2021-07-22 18:32] #961 closed

[2021-07-22 18:32] #948 closed

[2021-07-22 18:33] twsouthwick commented on #942
This is a permissions issue with the application you're running under. This would be better served on stackoverflow.

[2021-07-22 18:33] #942 closed

[2021-07-22 19:49] twsouthwick commented on #930
This is actually an issue in System.IO.Packaging that was fixed in this commit: https://github.com/dotnet/runtime/pull/46796. You can upgrade to System.IO.Packaging 6.x and it'll be fixed (we'll update our dependency to that at the next big major version bump we do).

For now, you can also put a `GC.Collect()` call in as the handle will be cleaned up by the finalizer as well.

[2021-07-22 19:49] #930 closed

[2021-07-23 00:18] twsouthwick commented on #962
This looks like a great feature. Thanks for the discussion!

A couple of thoughts:

1. What would the proposed API changes be to the SDK?
2. How will it be configurable (i.e. maybe opting out of uniqueness check if performance is getting a hit)?

This sounds like a document-specific service. I had been thinking at one point about exposing an `IServiceProvider` off of the document class to get rele

[2021-07-23 00:23] twsouthwick commented on #960
Ooh that's interesting. The challenge is that from an API perspective, they may be null since we're creating from scratch and it's not available. It would be great to swap things out for records and init properties, but that would be a big change.

What about `DisallowNullAttribute` on each of the required ones? That way it still provides the benefit that you should check if it's null, but it does

[2021-07-23 00:24] twsouthwick commented on #959
Good catch. Happy to accept a PR on this!

[2021-07-23 00:27] twsouthwick commented on #941
Since this is not directly related to the SDK, I'm going to close this. Please re-open if I have misunderstood.

[2021-07-23 00:27] #941 closed

[2021-07-23 00:27] twsouthwick commented on #938
Not at this time.

[2021-07-23 00:27] #938 closed

[2021-07-23 00:31] #819 closed

[2021-07-23 00:31] #817 closed

[2021-07-23 09:45] ThomasBarnekow commented on #960
Just as a thought: is it a good idea to enable nullability if you can't make the right assertions?

Maybe I interpreted this nullability thing wrong, but I would not (want to) perform `null` checks when nullability is enabled and a value can't be null. If I had to perform `null` checks regardless, I would not see much, if any, value in enabling nullability.

[2021-07-23 09:54] ThomasBarnekow commented on #959
@twsouthwick, this is generated code. Not sure whether anybody outside of Microsoft can help in this case.

[2021-07-23 19:23] twsouthwick commented on #960
I think you're viewing it as a potential semantic constraint of what the structure of the document requires/has as optional. Nullability is definitely not a cure all for all those semantic constraints.  Here it is helpful as you are building the document and you may not have actually set a value yet. Yes, you should have certain required ones (the DisallowNullAttribute prevents you from settings s

[2021-07-23 19:58] tomjebo commented on #962
I really think we can't allow bypassing the conflict check. If we do emit a document with conflict (best case is about 1/2B but for real documents it's likely much worse), the SDK has created a corrupt document (and non-conformant).

[2021-07-24 11:26] ThomasBarnekow commented on #962
@tomjebo and @twsouthwick, I will open a PR to provide an example of the potential API and a unit test that demonstrates how this works. I have only amended the `Paragraph` API for demonstration purposes (meaning we would enhance the `TableRow` API in the same fashion once we agree on the API).

I have played with documents that finally contained 100,000 paragraphs (which is a lot, as I will argue

[2021-07-26 02:14] lindexi opened #998 "PPT: The Outline default Line Width value is one pixel not the zero"
**Description**

I find the behavior in PowerPoint is different from the ECMA-376 document.

We can find the ECMA-376 document chapter 20.1.2.2.24 say that the Line Width is omitted, then a value of 0 is assumed.

But when we create a document with the Line Width is omitted, and the PowerPoint will show the shape Line Width as one pixel.

**Information**

- .NET Target: ALL
- DocumentFormat.OpenXm

[2021-07-26 02:27] SoftCircuits opened #999 "Undocumented information about the library"
### Description

I have two questions about working with OpenXML and Excel files. I realize this isn't an answer and question forum, but stackoverflow is complete useless for these type of questions. If someone happens to know the answers, that'd be great.

#### Order of Cells on Row
In the `InsertCellInWorksheet()` method in [this article](https://docs.microsoft.com/en-us/office/open-xml/how-to-i

[2021-07-28 00:09] lcregencia commented on #805
any updates on SVG in OpenXML?

[2021-07-28 21:30] ThomasBarnekow commented on #999
Did you ask the question on stackoverflow.com at all?

Regarding your first question (Order of Cells on Row), yes, examples can be wrong (much like answers on stackoverflow.com for that matter). But it should not be surprising to order cells as they appear in the spreadsheet. Did you test what happens if the order is different? Did you inspect the Open XML markup created by Excel?

Regarding your

[2021-07-28 22:22] ThomasBarnekow commented on #960
I should not have to check for null where the schema does not allow null values. When loading the DOM tree from a valid document, any required values (e.g., the `name` of a `sheet` as shown by my initial example above) will not be null. Since the API flags the `name` as nullable, however, I will have to check for null regardless. The reason is that the API does not currently ensure the validity of

[2021-07-28 22:41] AlfredHellstern commented on #805
Please update to 2.13.0 which introduces SVG support. Please let us know if you find any issues.

[2021-07-28 22:41] #805 closed

[2021-07-29 00:12] SoftCircuits commented on #999
@ThomasBarnekow Thanks.

I've asked several related questions on stackoverflow and was not helped. Frankly, I think stackoverflow has gone downhill.

I did test the cell order on a row, but it was still surprising to learn an example on Microsoft's own website is so wrong.

Thanks for the info about Save. All of Microsoft's examples show it saving "all over the place." I will attempt to rework my

[2021-07-29 10:07] zeroskyx opened #1001 "How to embed SVG picture with 2.13.0"
Greetings,

and thanks so much for your hard and great work. With 2.13.0 you're **now supporting SVG** pictures but I *can't seem to find any documentation/ hint** on how to use it.

`DocumentFormat.OpenXml.Packaging.ImagePart` does not appear to contain `Svg` and it looks like there mus be another way to set the `DocumentFormat.OpenXml.Presentation.BlipFill` of a `DocumentFormat.OpenXml.Presentat

[2021-08-02 17:40] tomjebo commented on #998
@lindexi, I'll send this to dochelp@microsoft.com. That's where we report Open Specification and ISO/ECMA standards issues for Office OpenXML.  It looks to me to be a specification issue that we need to investigate. I don't see a behavior note in [MS-OI29500] that addresses the default value (2.1.1211 talks about the ln element). If what you're saying is true, then there should be a note there.

[2021-08-02 18:46] tomjebo commented on #998
@lindexi I did verify the behavior in PowerPoint. It looks like it is defaulting to 1. I'll get this updated in the [MS-OI29500] (behavior notes for ISO/ECMA standard).
Regarding how to handle the outline.Width property, I think we should consider a constraint addition to the SDK which will follow the PowerPoint behavior and assign this a default of 1. I'll have to do some more testing on supporte

[2021-08-02 22:40] tomjebo commented on #998
@lindexi One thing I noticed is that Word and PowerPoint don't actually add a w="1" attribute to the <ln> element upon save unless you explicitly change the UI to 1 and then save. Otherwise, it seems to leave the <ln> element untouched. I'm checking with our graphics team to see if this is just an artifact of the UI/UX and not an implication that the default is actually 1.

[2021-08-03 00:31] lindexi commented on #998
@tomjebo Thank you.

[2021-08-03 00:43] tomjebo commented on #998
@lindexi it looks like the default "1" behavior is not actually related to the w attribute. I'm still investigating but it appears that the <solidFill> element is what is causing Word and PowerPoint to default (in the UI only) to a width value of 1 pt. If you replace that with <noFill>, then it will not show any line width in the formatting dialog/panel. It will actually show only that the "No lin

[2021-08-04 05:35] tomjebo commented on #1001
@zeroskyx Here is an example of accessing an existing `SVGblip` in a presentation slide. The format of an SVG image part itself is not defined by the Office Open XML standard but instead by `http://www.w3.org/2000/svg`. So you will have to use System.XML or some other code to parse, modify or build that. But the slide part that contains it can be parsed using the new `SVGBlip` class and the existi

[2021-08-04 18:01] zeroskyx commented on #1001
Excellent example @tomjebo -- thanks so much!

[2021-08-04 18:01] #1001 closed

[2021-08-05 00:07] tomjebo commented on #998
@lindexi, the graphics team confirmed that this behavior mimics GDI/GDI+ library behavior and has likely been in early versions of Office. I'm proposing that we add a behavior note to [MS-OI29500] 2.1.1211 (that's the section that describes our Office implementation for ISO 29500 20.1.2.2.24 ln (Outline)).

Some notes:
A value of w="0" is not the correct way to remove the outline from a shape. To

[2021-08-05 00:30] lindexi commented on #998
@tomjebo  Thank you.

[2021-08-05 18:04] #998 closed

[2021-08-06 10:12] gunnsth commented on #737
It would be good to get a clarification on this. I think everyone wants to produce files that are valid in the MS Office suite, but this kind of discrepancy makes it challenging.

ISO validation would silence such problems possibly, but might not work in Office if the information is not compatible.  In this case choice/sequence can produce quite different information.  Perhaps the office schema is

[2021-08-09 14:44] MohammedMubeen opened #1003 "Openxml - Export to Excel rendering html tag not working"
Hi Folks,

I face issue cell value rendering HTML tag.

Cell value contain html tags (Like : "<table><tr style="background-color:red"><td>value</td></tr></table>") but its not rendering while export to excel.

Please help me any of my friends.

[2021-08-09 17:06] tomjebo commented on #1003
@MohammedMubeen This may be a "how to" question for stackoverflow. However, can you give an example of the code you're using to create the cell?

[2021-08-09 17:30] MohammedMubeen commented on #1003
Hi @tomjebo ,

Thanks for the response.

FYR:

 private static void AppendHeaderTextCell(string cellReference, string cellStringValue, OpenXmlWriter writer)
        {
            //  Add a new "text" Cell to the first row in our Excel worksheet
            //  We set these cells to use "Style # 3", so they have a gray background color & white text.
            writer.WriteElement(new Cell

[2021-08-13 22:12] ThomasBarnekow commented on #999
@twsouthwick, we can close this issue.

[2021-08-16 13:58] rmboggs opened #1004 "Make XmlPath constructors public"
This is request to make the 2 constructors of [XmlPath](https://github.com/OfficeDev/Open-XML-SDK/blob/main/src/DocumentFormat.OpenXml/XmlPath.cs) public instead of internal.  I'm trying to work on a way of quickly locating a particular OpenXmlPart/OpenXmlElement within a document and XmlPath looks like it is the way to go but in its current state, it's limited to processes internal to the assembl

[2021-08-16 20:28] SoftCircuits opened #1005 "OpenXmlValidator.Validate() reports missing knownFonts attribute but it's not missing"
I'm getting a validation error when I run `OpenXmlValidator.Validate()`.

I use the following code to register my fonts.

[code]

And my *style.xml* looks like this:

[code]

Can anyone see why I'm getting this error? I can't even find information on the purpose of the `KnownFont` attribute. Could it be related to the fact that the library is writing `x14ac:knownFonts` instead of `ac:knownFonts`?

[2021-08-17 00:34] #999 closed

[2021-08-18 20:17] AlfredHellstern commented on #943
The Open XML 2.5 Productivity Tool was recently removed from the Microsoft Download Center because of concerns with SHA-1 signatures. There have been many requests for it in the meantime, so we’re making it available again with a SHA-256 signature for the MSI container (while the files inside the MSI are still signed with SHA-1). You can find it [here](https://github.com/OfficeDev/Open-XML-SDK/rel

[2021-08-18 20:17] #943 closed

[2021-08-20 22:38] SoftCircuits commented on #960
That would be nice but, pretty sure the reason for this is backwards compatibility. If they make them non-nullable, then there would be problems compiling older code with nullability enabled. Also, even though the specification says they are required, does that really mean there is not any circumstance under which they could be null?

[2021-08-22 22:27] ThomasBarnekow commented on #959
@twsouthwick, are you addressing this? As I said above, this is generated code, so the code generator will have to be fixed.

[2021-08-22 22:32] ThomasBarnekow commented on #923
@tomjebo, can we close this issue?

[2021-08-23 19:12] ThomasBarnekow commented on #1004
@rmboggs, I'd say either of the following needs to be public:

1. The two internal factory methods or
2. The two internal factory methods and the two constructors.

I would not see why they can't be made public. @twsouthwick already said he'd be interested in making certain internal APIs public.

[2021-08-24 13:44] rmboggs commented on #1004
So, what I am after here is a way to reliably serialize and deserialize a complete path to an OpenXmlPart and/or an OpenXmlElement in a given document.  The serialization piece would be needed to setup the path to look for in a document while deserialization would be to return the actual object.  My thinking was that since the [XmlPath](https://github.com/OfficeDev/Open-XML-SDK/blob/main/src/Docum

[2021-08-30 20:19] twsouthwick opened #1009 "OpenXmlSimpleType values should not allow null"
Currently, the `Value` and `TextValue` can be null. Can this be made to never be null? This may be a breaking change, but will simplify much of the usage so if it is breaking, could be considered for v3.0

[2021-08-30 20:21] twsouthwick opened #1010 "Can `LoadFromPart` set `OpenXmlPart` instead?"
There are some times where a part is created and we need to have the part set, but it appears that `LoadFromPart` cannot set it itself. It would be nice to set it there.

_Originally posted by @twsouthwick in https://github.com/OfficeDev/Open-XML-SDK/pull/997#discussion_r697611764_

[2021-08-30 20:48] twsouthwick commented on #1004
I'm fine making those constructors public. @rmboggs happy to take a PR for that!

[2021-08-30 20:54] twsouthwick commented on #960
They could definitely be null, hence why they are marked that way. For instance, if we open a malformed document it may be null because the value isn't there. Nullability is not a replacement for semantic validation, but can sometimes overlap.

Happy to explore and proposals of how the constraints of ensuring backwards compatibility and making the nullability annotations more helpful can be balanc

[2021-08-31 13:03] rmboggs commented on #1004
I can do that.  Standby.

[2021-08-31 13:16] krishnav0 opened #1012 "Installing Productivity tool MSI issue"
I am not able install Productivity tool with MSI as I am not finding SDK 2.5 installer.  Installer is failing with below message. Any suggestions to install tool?

To Install the open XML SDK 2.5 Productivity tool for Microsoft Office, you need to first install Open XML SDK 2.5 for Microsoft Office from MSDN
![image](https://user-images.githubusercontent.com/89851102/131509077-9c9b2a72-86e5-4026-b

[2021-08-31 14:03] rmboggs commented on #1004
Pull request: [1013](https://github.com/OfficeDev/Open-XML-SDK/pull/1013)

[2021-09-03 07:30] steel-li opened #1015 "Published to centos7 export word, style is not valid"
nuget version：2.13.1
netcore version：5.0.*
docker version：20.10.6

Deployment on windows is normal, the export style after centos7 deployment is not valid, here are the screenshots。
Can't open the file with office, I try to open file using office2007, office2013 can't open, use wps can open.

**normal=>windows**
![image](https://user-images.githubusercontent.com/48340400/131967368-c52ad430-877a-42

[2021-09-07 11:47] ThomasBarnekow commented on #962
@twsouthwick, as stated in my comment on PR #997 after merging, I don't think there is anything missing in terms of public API or features. What was merged is one consistent way to do it, which does not alter the public API of the strongly-typed classes (e.g., `Paragraph`, `TableRow`) and other framework classes (e.g., `WordprocessingDocument`). In a previous state, this PR would have offered a pu

[2021-09-07 12:40] ThomasBarnekow commented on #1015
Based on the information you provided, we are not able to understand or reproduce the error and provide any help. Therefore, could you please have a look at the issue template you were asked to fill in when creating the issue and provide the relevant information?

For example:

1. How did you create the document?
2. What does the Open XML markup look like? Can you share this?
3. Is the Open XML ma

[2021-09-07 12:42] ThomasBarnekow commented on #1010
@twsouthwick, as noted in PR #997, setting the `OpenXmlPart` in the `LoadFromPart` leads to a failed unit test.

[2021-09-07 12:51] ThomasBarnekow commented on #1012
Have a look at the following URL (Google is your friend):

https://docs.microsoft.com/en-us/answers/questions/466445/where-can-i-download-open-xml-sdk-25-productivity.html

@tomjebo, would it make sense to also provide a link to the SDK v2.5 itself, if that is required for installing the Productivity Tools?

[2021-09-07 16:59] Tirupatisriharsha opened #1017 "OpenXML doesn't retrieve correct display formatted data"
**Description**
File Type : XLSX
We have data in one cell like, 1.1, 2.1, 2.3. While we reading cell value with OpenXML, we getting like 1.100000001, 2.10000001, 2.23999999.

**Information**

- .NET Target: (ie .NET Framework)
- DocumentFormat.OpenXml Version: (ie 2.13.1)

**Repro**

**Observed**

 1.1, 2.1, 2.3 Reading cell value as 1.100000001, 2.10000001, 2.23999999.

**Expected**

1.1, 2.1, 2.

[2021-09-07 17:08] twsouthwick opened #1018 "Provide a mechanism to store/retrieve services per package"
The project currently makes use of a number of services but these are fairly hard coded and cannot be easily swapped for different implementations.  Some examples include (with reasons why they may be swapped out):

- IRootPartFactory: This creates root parts and is currently reflection heavy and only allows parts to be created from the SDK. I could envision an extension point where someone may wa

[2021-09-07 17:09] twsouthwick commented on #962
Thanks for the synopsis! I'd like to get the "ideal" behavior in if possible. This requires a concept we don't currently have in the SDK that allows for services to be provided in a document. This is something I've wanted to add for a while to remove singletons/cached instances we have and make things a bit more extensible and opened a design proposal in #1018. I used this feature as an example of

[2021-09-08 01:11] steel-li commented on #1015
I'm sorry, just pulled down the file found.
Windows: Open with office2013 with or without inserted pictures, and the style works.
Liunx: No insertion of pictures, you can use office2013 to open, cells insert pictures, download files from linux can not be opened using linux.
The code is as follows:
[code]

Xml without pictures
[Xml without pictures.txt](https://github.com/OfficeDev/Open-XML-SDK/fil

[2021-09-08 02:12] twsouthwick commented on #1018
I've added an implementation of features as it allows for customization while the service provider does not.

[2021-09-08 13:26] rmboggs commented on #1004
Thanks for pulling in the request.

[2021-09-08 13:26] #1004 closed

[2021-09-08 23:13] #1018 closed

[2021-09-09 12:09] ThomasBarnekow commented on #1015
I am trying to understand whether this is an issue with the SDK or a how-to question.

1. Please explain what exactly you mean with "Windows download" and "Linux download". Do "Windows download" and "Linux download" mean that you run the above code on Windows ("Windows download") or Linux ("Linux download") machines, respectively?
3. Further, please explain what exactly you mean with "office2013 c

[2021-09-09 19:14] ThomasBarnekow commented on #1017
Could you please provide both the code and the data (e.g., an Excel workbook or the Open XML markup for the relevant part) that would allow us to reproduce the issue?

[2021-09-10 23:26] krishnav0 commented on #1012
Thanks. I found using bing :) once after create the issue.

https://web.archive.org/web/20190116000204/https://www.microsoft.com/en-us/download/details.aspx?id=30425

[2021-09-10 23:26] #1012 closed

[2021-09-13 08:03] Tirupatisriharsha commented on #1017
When Datatype is null, we handled like below. Then it is working fine.
if (double.TryParse(_cell.InnerText, out double oaData)) return oaData;

[2021-09-13 08:03] #1017 closed

[2021-09-13 16:10] twsouthwick opened #1023 "OpenXmlPartRootElement should raise the IPartRootEventsFeature.Changed on reload"
@twsouthwick, I'm not suggesting a change here but wanted to note that only `Saving` and `Saved` events are raised by the `OpenXmlPartRootElement`. However, I'm thinking we might also want to have `OpenXmlPartRootElement` raise the `Reloading` and `Reloaded` events that you have already defined. For example, consider the case where the `_rootXElement` was deserialized from an `OpenXmlPartRootEleme

[2021-09-14 22:26] rabauke opened #1025 "(Partially) Outdated documentation"
**Description**

Open-XML-SDK mainly refers to documentation for version 2.5 of the library, which is incompatible to the latest version. Many of the examples shown in the "How do I ..." section do not even compile with DocumentFormat.OpenXml 2.13.1. This makes it very difficult to start using this library.

**Expected**

Some up-to-date documentation including some elementary examples that illust

[2021-09-15 01:46] #1015 closed

[2021-09-15 17:11] twsouthwick opened #1026 "Conflicts with OpenXmlPowerTools and LINQ implementation"
There is (hopefully) one last issue to be addressed if you put the `OpenXmlLinqExtensions` class and the namespace-related classes (e.g., `W`, `W10`, `W14`) in the same assembly and, as it stands at the moment, same namespace. Consider the following simplified example:

### Example

First, the `DocumentFormat.OpenXml.Linq` namespace contains the extension methods provided by the feature:

[code]

[2021-09-15 17:19] twsouthwick commented on #1026
This is reasonable. How about `DocumentFormat.OpenXml.Linq.XNames`?

[2021-09-15 18:07] twsouthwick commented on #1025
Can you give an example? The source code should compile just fine against the 2.13.1 build.

[2021-09-15 18:07] twsouthwick commented on #1010
Right - the question is if that is a test failure or indication of a different issue.

Long term, it would be better to just have all part constructors take a package and set it in more of RAII style

[2021-09-15 18:10] twsouthwick commented on #959
The change needed:

- Annotate property with `[DisallowNull]`
- Mark the property as nullable

We'll try to get that in for 2.14

[2021-09-16 21:23] rabauke commented on #1025
@twsouthwick I tried to reproduce the observed incompatibilities and compilation issues on a different system. I was not able to reproduce them. Most likely, the reported issues indicate a problem that is related to the system where I observed the compilation problems (not to the Open-XML-SDK documentation). (Possibly caused by a _very_ old version of the SDK that is installed in parallel to the l

[2021-09-16 21:23] #1025 closed

[2021-09-17 10:27] ThomasBarnekow commented on #1026
@twsouthwick, can we do the following?

1. `DocumentFormat.OpenXml.Packaging` (same namespace as for `OpenXmlPart`) for the feature with the extension methods as its API (`OpenXmlLinqExtensions` etc.) and
2. `DocumentFormat.OpenXml.Linq` for the generated namespace-related classes (e.g., `W`)?

By referencing the `DocumentFormat.OpenXml.Linq` NuGet package, you'd automatically have access to the e

[2021-09-17 16:24] ThomasBarnekow commented on #944
@twsouthwick, what are your thoughts on this? Is it possible to add an `SdtContentElement` class from which `SdtContentBlock`, `SdtContentRun`, `SdtContentRow`, and `SdtContentCell` derive?

If so, we should also add the following property to the `SdtElement` class:

[code]

For example, the `SdtBlock` class could implement that property like this:

[code]

[2021-09-17 17:49] twsouthwick opened #1028 "What pattern should be used to register features?"
Using this as an example for the type of API only, I've never seen you use the return values. There is also no version that would throw an exception. Thus, why are we using this pattern?

_Originally posted by @ThomasBarnekow in https://github.com/OfficeDev/Open-XML-SDK/pull/1027#discussion_r711067420_

[2021-09-17 19:15] twsouthwick commented on #1026
That sounds reasonable as well. Are able to make those changes?

[2021-09-17 19:18] twsouthwick commented on #944
I believe we've had some questions around this idea before, and not sure the best way to handle it. I like the idea of having this kind of thing, but would probably prefer an interface due to  multiple inheritance not being a thing. Could this be adapted to an interface pattern?

[2021-09-17 19:53] ThomasBarnekow commented on #1026
Yes, I can make those changes.

[2021-09-17 20:00] ThomasBarnekow commented on #944
We'd not have multiple inheritance issues here. For example, `SdtContentBlock` directly inherits from `OpenXmlCompositeElement`. The change I am talking about would mean that `SdtContentBlock` would inherit from the new `SdtContentElement`, which would inherit from `OpenXmlCompositeElement`. This is the same pattern as for `SdtElement`, where `SdtBlock` inherits from `SdtElement`, which inherits f

[2021-09-26 11:28] tahazayed opened #1032 "How to embed SVG picture with 2.13.x into Excel cell without existing SVGblip"
Hello,
With 2.13.0 you're now supporting SVG pictures(Thank you for your hard effort)
I want to embed an SVG image inside an Excel cell and I can not find any example for it I found this one #1001 but it depends on an existing SVGblip, In my case, I generate the excel file from scratch as the user choose the columns in the run time and I can not depend on a pre-defined excel template. Thanks in ad

[2021-09-28 11:05] tahazayed commented on #1032
I do not need it anymore as Excel saves 2 files ( SVG and the converted png) which will increase the file size

[2021-09-28 11:05] #1032 closed

[2021-09-29 20:43] mikeebowen commented on #1032
For the community, here is a sample demonstrating how to add an svg blip to a .xlsx file. Inserting a svg into Office does require a png copy be saved. This example uses the [SVG](https://www.nuget.org/packages/Svg/) NuGet package to convert from svg to png.

[code]

[2021-09-29 22:58] tahazayed commented on #1032
@mikeebowen Thank you

[2021-09-30 06:19] wreulicke opened #1033 "cloned `Slide` object drops TextMath attributes"
**Description**

TextMath object drops child elements when clone Slide object.
I am not sure that this problem occurs in the case of other elements.

**Information**

- .NET Target: (ie .NET Framework, .NET Core, UWP, Xamarin, etc)
  - .Net Core 5.0.400
- DocumentFormat.OpenXml Version: 2.13.1

**Repro**

[code]

**Observed**

TextMath drops child elements when clone slide object.

**Expected**

T

[2021-09-30 07:23] wreulicke commented on #1033
Sorry, I misunderstood.
The abobe repro code is wrong.
But, I have some issues around serialization.
I will create an example for reproduction.

So, I will clone this issue

[2021-09-30 07:35] wreulicke commented on #1033
I rewrote the description.

[2021-09-30 23:36] tomjebo commented on #1033
@wreulicke Thanks for reporting this. I've verified this in code and am investigating.

[2021-10-05 01:28] tomjebo commented on #1033
@wreulicke  looks like the problem is that the `TextMath` class defined in `...src\DocumentFormat.OpenXml\GeneratedCode\schemas_microsoft_com_office_drawing_2010_main.g.cs` does not contain the required metadata (`ConfigureMetadata`) to declare valid children and therefore when the DOM is read in, TextMath has no children even before cloning. This is something I'll have to investigate on our backe

[2021-10-05 13:30] xmedeko commented on #645
Having a similar problem, does it mean Word for Mac is buggy? Or does it require some special MHTML formatting?

[2021-10-05 22:12] #1026 closed

[2021-10-11 09:25] IgorMilavec opened #1036 "WordprocessingDocument does not close file"
**Description**

WordprocessingDocument.Close() and WordprocessingDocument.Dispose() do not close the file into which the document was saved.

**Information**

- .NET Target: net472
- DocumentFormat.OpenXml Version: 2.13.1

**Repro**

[code]

**Observed**

An exception is thrown:
[code]

**Expected**

File should be copied.

[2021-10-13 13:25] Munavvar-Husein opened #1039 "Set the font for a text run is not working"
Hi,

We want to change font and font size programmatically in a Word document using c#. To do this we have used DocumentFormate.OpenXML and apply the below code.

[code]
We have picked this code from the Microsoft site i.e. https://docs.microsoft.com/en-us/office/open-xml/how-to-set-the-font-for-a-text-run but it is not working.

Any help would be greatly appreciated.

Thank You.

[2021-10-14 16:40] tomjebo commented on #1039
@Munavvar-Husein I just ran the following code from the help article on your Test.docx and it ran perfectly:

[code]

As you can see, it changed the first run to Arial:

![Screenshot 2021-10-14 093109](https://user-images.githubusercontent.com/4644198/137359254-77c08a56-bb10-4591-99d0-d6d251b485df.png)

Not sure what the problem is but perhaps you're not actually opening the same file?
Also, make

[2021-10-15 06:03] Munavvar-Husein commented on #1039
Hello @tomjebo
Thanks for the response.

We are using .Net Framework 4.7.2, Visual Studio 2019, Windows 10 64 bit, and DocumentFormat.OpenXml Nuget package (Both the versions 2.5, 2.13.1).

[2021-10-15 07:05] wreulicke commented on #1033
@tomjebo
Thanks!

[2021-10-18 12:57] robertmuehsig commented on #929
Seems to be fixed (at least with Version Microsoft® Word für Microsoft 365 MSO (Version 2109 Build 16.0.14430.20292) 64 Bit ).

[2021-10-18 12:57] #929 closed

[2021-10-20 08:30] twoelfer opened #1040 "Adding image to document with image in header: Existing image no longer visible"
When adding an image to a docx that has a header with an image in it, the image in the header is no longer displayed in word after the new image has been added.

- NET Framewor 4.8
- DocumentFormar.OpenXml 2.13.1.0

This repros using the example code from msdn here ( https://docs.microsoft.com/en-us/office/open-xml/how-to-insert-a-picture-into-a-word-processing-document?redirectedfrom=MSDN), when

[2021-10-21 16:59] drma-dev opened #1041 "AddAlternativeFormatImportPart - AlternativeFormatImportPartType.Html = generate empty line"
I have the following method to add an HTML content
[code]
however it is always generating an extra line right after the HTML content
![image](https://user-images.githubusercontent.com/12803050/138323558-a2e8d36a-4b83-45c6-a74b-2e1294b136b8.png)

[2021-10-29 18:12] mikeebowen commented on #1041
Could you share more of your code? How are you adding the `AddHtml` method to the `Paragraph` class?

[2021-10-30 15:45] drma-dev commented on #1041
well, that's not all, but you can get a sense of it. (there are many methods and loops to generate this doc)

[code]
[code]
[code]

[2021-11-01 19:09] drma-dev commented on #1041
yes, because before I was generating a new paragraph. then generated the line.

[2021-11-02 00:33] mikeebowen commented on #1041
@drma-dev Is the issue resolved then?

[2021-11-02 00:34] drma-dev commented on #1041
yes

[2021-11-02 15:29] #1041 closed

[2021-11-04 02:32] yiding-he opened #1061 "Is this line of code in `PresentationDocument.cs ` copied from SpreadsheetDocument.cs?"
https://github.com/OfficeDev/Open-XML-SDK/blob/1623785d49ce279c1c9319c509a2a6a9d3fe05a8/src/DocumentFormat.OpenXml/Packaging/PresentationDocument.cs#L227

![firefox_mkMf3uH120](https://user-images.githubusercontent.com/900606/140247806-979b2f47-dfc5-4106-aaec-a8f4e456618c.png)

Because it obviously doesn't make sence.

[2021-11-04 08:01] lindexi opened #1062 "Static cache takes up too much memory"
# Before submitting an issue, please fill this out

Is this a:
- [ ] Issue with the OpenXml library
- [ ] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting -----------

[2021-11-04 13:08] velkommen commented on #1040
Could this be relevant to what other docx libs have been experiencing after Word release 2106?

https://github.com/python-openxml/python-docx/issues/981#issuecomment-891395503
https://github.com/elapouya/python-docx-template/issues/372
https://giters.com/jgm/pandoc/issues/7527

[2021-11-04 16:23] twoelfer commented on #1040
Well in the python issue linked, word will complain about the docx. This doesn’t happen in this case.

[2021-11-04 21:42] twsouthwick commented on #1062
Agreed! I'm working on removing the static aspect of it so the data is something that you can control yourself. That's part of the goal with the `Features` that will allow for controlling that manually. Probably not till v3, but I'm moving towards that.

The majority of the data is currently held in the `DefaultFeatureCollection` object that is created once and shared among all usages. We could pr

[2021-11-04 21:43] twsouthwick commented on #1062
As an aside, you can also set things up in an unloadable `AssemblyLoadContext` if you are only doing it once and want *all* the infrastructure to be removed from memory (i.e. types, jitted code, statics, etc). If you're still on .NET Framework, then you can use an `AppDomain` for similar isolation.

[2021-11-04 21:43] #1028 closed

[2021-11-05 00:54] lindexi commented on #1062
@twsouthwick  Thank you very much.

[2021-11-06 07:54] shps951023 opened #1064 "Why office365 xlsx sheet utf8 encoding but openxmlsdk is utf8-withbom"
# Before submitting an issue, please fill this out

Is this a:
- [X] Issue with the OpenXml library
- [ ] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting -----------

[2021-11-09 00:50] twsouthwick commented on #1064
We changed it to that as it was causing some renderers to have problems (see https://github.com/OfficeDev/Open-XML-SDK/issues/309).

I'm not certain if there's a specific encoding is required by the spec, but we could potentially enable it to be configurable rather than relying on a specific default.

[2021-11-09 01:28] shps951023 commented on #1064
@twsouthwick  Thanks! it will be helpful feature.

[2021-11-09 02:00] twsouthwick commented on #1064
Happy to accept PRs. Probably best to add it to the OpenSettings object

[2021-11-10 00:24] tomjebo commented on #1064
@shps951023 is there a good reason why the SDK should emit non-BOM UTF-8? From our Office apps team, it appears that we don't have any requirement either way, i.e. Office apps will read UTF-8 BOM parts just fine. Does your code depend on non-BOM UTF-8?

[2021-11-12 14:59] tipa opened #1068 "Exception after building iOS app in Release mode"
**Description**
To reproduce this crash you need to enable Full Linking & build the app in Release mode.
Using Full Linking & building in Debug mode does not show the problem.

The problem was not present with 2.13.0 - it showed up after upgrading to 2.14.0.
Excluding the whole `DocumentFormat.OpenXml` assembly from linking does prevent the exception, but it's not an option for me as it would dras

[2021-11-15 11:06] andrewmolyneux opened #1069 "Can't open presentations containing 3D objects (MIME type mismatch)"
**Description**

After updating to SDK version 2.14.0 from 2.10.1, I noticed that opening presentations containing 3D objects causes an exception. Error message is similar to "The document cannot be opened because there is an invalid part with an unexpected content type. [Part Uri=/ppt/media/model3d1.glb] [Content Type=model/gltf.binary] [Expected Content Type=model/gltf-binary]."

**Information**

[2021-11-15 17:40] tomjebo commented on #1069
Hi @andrewmolyneux, thanks for bringing this to our attention. Just to be thorough, can you provide the steps when you created this in PowerPoint? It looks like there both forms of this content type are referenced by Office source so I want to make sure there isn't an ambiguity in Office.

[2021-11-15 18:56] andrewmolyneux commented on #1069
No problem! FYI I'm using PowerPoint 2019, reporting itself as "Version 2110 (Build 14527.20276 Click-to-Run)".
I can't remember precisely what I did in PowerPoint to create the sample file, but I can reproduce the issue with a file created as follows:
- Open PowerPoint
- Click "New"
- Click "Blank Presentation"
- Select the "Insert" tab on the Ribbon
- Click "3D Models" on the Ribbon (which invok

[2021-11-15 19:08] tomjebo commented on #1069
@andrewmolyneux Yes, it looks like the correct MIME type should actually be model/gltf-binary based on standards but PowerPoint writes a '.' instead of a '-'. The references to '-' in the type are actually for the clipboard format (i.e. copying/pasting) in Office. I'll get the whole story but this will likely be an easy fix.

[2021-11-16 13:27] stevehansen opened #1070 "new CellValue(bool) generates invalid XML"
**Description**

The introduced new CellValue(bool) uses the wrong serialization causing Excel to fail to load the file.

**Information**

- .NET Target: all
- DocumentFormat.OpenXml Version: since 2.12-ish (https://github.com/OfficeDev/Open-XML-SDK/pull/782)

**Repro**

[code]

**Observed**

Spec expects the boolean values to be "true" or "false" but the code is using bool.ToString() which return

[2021-11-16 13:31] stevehansen commented on #1070
The validator uses the .NET bool.TryParse which allows both "True" and "true" so isn't exactly correct.
CellTests is using the string "true" and "false" directly and didn't use the new constructor.
SpreadsheetCellTests has no tests for boolean.

[2021-11-17 16:11] andrewmolyneux commented on #1069
Thanks Tom! I hope it will be an easy fix so I can finally update my app to use a reasonably recent version :smile:

[2021-11-18 12:01] andrewmolyneux commented on #639
Hi! I think this has regressed because I can't see any debug symbols on nuget.org for version 2.14.0.

[2021-11-18 12:03] andrewmolyneux opened #1074 "No symbols package on nuget.org for v2.14.0"
Ref #639 - this seems to have regressed because there is no option on nuget.org to download symbols for version 2.14.0.

[2021-11-19 14:11] twoelfer commented on #1040
Hi Tom.

Sorry to bother you, but any news?

Anything i could do to help?

Von: Tom Jebo ***@***.***>
Gesendet: Dienstag, 26. Oktober 2021 18:23
An: OfficeDev/Open-XML-SDK ***@***.***>
Cc: thomas woelfer ***@***.***>; Mention ***@***.***>
Betreff: Re: [OfficeDev/Open-XML-SDK] Adding image to document with image in header: Existing image no longer visible (Issue #1040)

@twoelfer <https://github.co

[2021-11-19 15:48] grannypron commented on #715
OMG thank you for posting that @abelykh0 I did not want to write that.

[2021-11-19 16:47] sergey-tihon commented on #1069
It is definitely an issues introduced in `2.14.0` and it worked as expected in `2.13.1`.

I've upgraded `DocumentFormat.OpenXml` from `2.13.1` to `2.14` on our QA word processing node.
Not it fails daily to open about 300 documents per day (all with `*.glb` files inside)

<img width="1413" alt="image" src="https://user-images.githubusercontent.com/1197905/142660160-bc98361b-9f95-427e-88b4-e0bda4dd

[2021-11-19 17:01] tomjebo commented on #1069
I'm testing the fix. Will submit the PR asap.

[2021-11-19 17:46] tomjebo commented on #1069
PR #1075 submitted, @sergey-tihon @andrewmolyneux can you give this a test and verify that it resolves this issue for you?

[2021-11-19 20:17] sergey-tihon commented on #1069
@tomjebo is there an easy way get binaries from CI to we need to build from source?

[2021-11-20 00:24] tomjebo commented on #1069
@sergey-tihon until the PR is merged, you will have to use the source branch (my branch in this case) to test. Once merged, you can pick up a CI build (see the README).

[2021-11-23 23:11] twsouthwick commented on #1074
Thanks for the heads up! I'll take a look at that

[2021-11-23 23:13] twsouthwick commented on #1070
@tomjebo can you verify this from the spec side? I'm good taking a fix for this, just want to verify the spec

[2021-11-23 23:14] twsouthwick commented on #1062
@lindexi are you interested in adding a fix for this?

[2021-11-23 23:15] twsouthwick commented on #1061
ha yeah, that's weird. Probably should change that to the appropriate extensions for presentation. Happy to take a PR for that

[2021-11-23 23:26] lindexi commented on #1062
I'm too busy recently. I'm afraid I don't have time to do it. Thank you.

[2021-11-24 10:12] m-gallesio opened #1078 "Wordprocessing: Extract AddImagePart() to interface"
I have ran into an usability problem while trying to add an image to a header in a DOCX file.
We do have shared code for adding images, but it was tailored to the document body.

I have noticed that all of `MainDocumentPart`, `HeaderPart` and `FooterPart` have some `AddImagePart(...)` methods, but they are declared on the specific classes. Unless I am missing something this prevents defining a gen

[2021-11-24 19:07] andrewmolyneux opened #1079 "PresentationDocument.Save() performance weirdness"
**Description**

I've been working on some code that searches through all the slides of a PPTX file looking for certain types of content, and modifies the XML if certain patterns are matched. I noticed that with some larger files, the time taken to save the file can be excessive (e.g. nearly 1 minute for a file under 10MB in size). Unfortunately I can't share files that perform really badly, but I

[2021-11-24 20:19] tomjebo commented on #1069
@sergey-tihon PR #1069 has been reworked. it should be the same result but you might want to retest your scenario to verify. I tested with your original repro file.

[2021-11-28 16:42] JaimeStill opened #1081 "Feature Proposal: method to retrieve ImagePartType from file extension"
**Description**

In working through some abstractions for working with images in wordprocessing documents, I wrote a method for getting the `ImagePartType` based on the provided extension. I'm trying to see the utility of incorporating this into the API, and if so, where I might incorporate it?

[code]

[2021-11-28 17:19] rmboggs commented on #1081
I think this is a good idea.  I'm not sure where this would fit in this project though.

[2021-11-28 18:33] JaimeStill commented on #1081
@rmboggs capabilities similar to this (but inverse) exist in an [`ImagePartTypeInfo`](https://github.com/OfficeDev/Open-XML-SDK/blob/main/src/DocumentFormat.OpenXml/Packaging/ImagePartTypeInfo.cs) class, but it is not part of the public facing API.

[2021-11-29 23:15] tomjebo commented on #1081
@JaimeStill That looks very doable, please feel free to submit a PR and we can iterate on it if needed.

[2021-12-02 18:12] twsouthwick commented on #1078
@m-gallesio I'm working on bringing the source generator to the repo so we can play around more easily with this kind of stuff. Probably a few months off, but that should enable prototyping some of this stuff

[2021-12-02 18:40] twsouthwick commented on #1074
I updated our release to push the symbols (`*.nupkg` doesn't catch `.snupkg` files :)). It's now pushed. I'm closing this, but please reopen if for some reason it doesn't work for you.

[2021-12-02 18:40] #1074 closed

[2021-12-02 19:15] twsouthwick commented on #1070
@tomjebo I merged this in. Please let me know if there's any issue with the spec.

[2021-12-02 19:50] tomjebo commented on #1070
@twsouthwick @stevehansen thanks for getting this in. Our implementer notes and 29500 are not explicit on the case.
MS-OI29500 2.1.659 says:

```If the cell contains a Boolean, the value shall be 1 to specify true and 0 to specify false.```

The W3C spec has this:

[code]

Note the "legal literals".
And Excel does balk at "True" and "False" so IMO this fix is warranted.

[2021-12-02 19:50] #1070 closed

[2021-12-03 10:24] m-gallesio commented on #1078
Do not be in a hurry, this request is merely a small improvement I noticed was possible.

For the record this is a reduced version of the method I am currently using, which would be completely obsoleted by this change:

[code]

[2021-12-04 01:15] JaimeStill commented on #1081
Closed by #1082

[2021-12-04 01:15] #1081 closed

[2021-12-05 16:51] ThomasBarnekow commented on #962
@twsouthwick, can this be closed? You merged the original PR #997 and then turned it into a Feature.

[2021-12-05 16:55] ThomasBarnekow commented on #1078
@twsouthwick, the type of request is somewhat related to what I suggested in #944.

[2021-12-13 23:30] Yanal-Yves opened #1093 "Excel workbook generated by Open-XML-SDK are converted to XLSM by Google spread sheet."
**Description**
First I would like to thank you for this library.

I am posting here a wired behavior when generating an Excel file with Open XML SDK and uploading the file to Google spreadsheet. I believe this is an oddity caused by a bug in Open XML SDK. This is why I am posting here. I don't think this is a question about using Open XML SDK. But in case I'am wrong, I have also posted to [Stack

[2021-12-15 21:23] twsouthwick commented on #1093
@tomjebo Any thoughts?

[2021-12-15 21:24] twsouthwick commented on #1069
This should be in the next release.

[2021-12-15 21:24] #1069 closed

[2021-12-15 21:46] tomjebo commented on #1093
@Yanal-Yves did this happen with previous versions of the SDK? I'll test it out and see if I can tell what's causing the change to a macro type workbook.

[2021-12-15 22:24] tomjebo commented on #1093
I just created workbook (.xlsx) using your code. OneDrive doesn't do this conversion to .xlsm. Google Drive does. They must have some security constraint that kicks in. I'll see if I can tell what that is but it may be something as simple as inconsistent attributes or some other factor.

[2021-12-15 22:28] Yanal-Yves commented on #1093
Hi, thank you for your answer. I have juste tested with version 2.13.1 of the SDK and I can observer the same behavior.

[2021-12-15 22:30] Yanal-Yves commented on #1093
I have also test with version 2.5.0 and I can observer the same behavior too.

[2021-12-15 22:31] Yanal-Yves commented on #1093
I have also tested with version 1.0.0 and I can observer the same behavior too.

[2021-12-15 22:58] tomjebo commented on #1093
Yeah, looks like the workbook generated is fine but definitely that code would not include several parts that Excel does when creating a new, fresh workbook. The parts are: docprop\app.xml, docprop\core.xml, xl\sharedstrings.xml, xl\styles.xml, and xl\theme\theme1.xml. There are some differences in the workbook.xml, workbook.xml.rels, [content_types].xml and sheet1.xml but they all look reasonable

[2021-12-15 23:22] tomjebo commented on #1093
@Yanal-Yves I just added this line:

[code]
And it seemed to fix the behavior. Can you try it?

[2021-12-15 23:36] Yanal-Yves commented on #1093
I've just tested with

[code]

**And I can confirm I don't have the issue anymore.**

Please note that the call to `spreadsheetDocument.AddCoreFilePropertiesPart();` should be done early. If done just before `workbookpart.Workbook.Save();`, the issue is still there.

I'd like to thank you for your help.

For information I have submitted an issue to Google : https://issuetracker.google.com/issues/2

[2021-12-15 23:45] Yanal-Yves commented on #1093
BTW I have also answered the Stack Overflow question : https://stackoverflow.com/questions/70319867/avoid-google-spreadsheet-to-convert-an-xlsx-file-created-by-open-xml-sdk-to-xlsm/70371638#70371638

[2021-12-16 00:14] tomjebo commented on #1093
@Yanal-Yves thanks for confirming and yes, I added the core part right after creating the document. I think we will consider adding this (and possibly the other standard parts) to the creation process. I'll create a PR for this and we can review and discuss but it looks like it should be straightforward.

[2021-12-16 01:02] tomjebo commented on #1093
Although it makes some sense for us to create workbooks with these common parts, I think this Google Sheets behavior is a little strange. I don't know what the rationale for it is and it should probably be reported to Google.

[2021-12-16 13:51] Yanal-Yves commented on #1093
Hi @tomjebo,

Calling `AddCoreFilePropertiesPart()` results in an empty `core.xml` file. And Excel throw an error.

![image](https://user-images.githubusercontent.com/1196669/146382949-3ca1b9d9-64b9-486c-9836-a6137783014a.png)

The open XML SDK Productivity Tool for Microsoft Office also cannot not open the file generated:

![image](https://user-images.githubusercontent.com/1196669/146383336-279d8

[2021-12-16 22:41] tomjebo commented on #1093
Interesting, I'll have to test this again. It didn't throw an error for me. Are you using an older version of Excel?

[2021-12-16 23:13] tomjebo commented on #1093
Ok, tested and yes, you're right, it's empty. It satisfied the Google Sheets test but didn't satisfy Excel webapp or desktop. What you're doing might be needed for now because I don't see that we have the root element defined in the SDK. The part is defined in a bare bones manner.

[2021-12-17 00:10] tomjebo commented on #1093
@Yanal-Yves I created PR #1107 to test this out in the Create function. If it's accepted we can use this for now and add other parts if we think they're needed later.

[2021-12-17 11:12] ThomasBarnekow commented on #1093
@Yanal-Yves, there is no bug in the Open XML SDK. What everybody needs to understand is that the Open XML SDK provides a super-low level API for creating Open XML packages and markup. Therefore, by design, developers will have to:

- create the empty `OpenXmlPackage`, i.e., the `WordprocessingDocument`, `SpreadsheetDocument`, or `PresentationDocument`, none of which will be valid at this point;
-

[2021-12-18 00:40] Yanal-Yves commented on #1093
@ThomasBarnekow,

Thank you for taking time to answer me, for your explanation about the philosophy of this library and for pointing out how to use Linq to XML to add the Open XML markup to the OpenXmlPart.

I am an Open XML SDK newbie and you probably know much more than I do about this SDK but I still feel wired to have methods (that seems high level) that produces inconsistent documents. I feel

[2021-12-18 00:44] tomjebo commented on #1093
@Yanal-Yves

Just a reminder that the behavior Google Sheets is showing is not completely understood. Otherwise, this has not been a problem with Microsoft Office (web or desktop) or any other apps AFAIK. I don't see that those parts are required by the standard, looking at OPC (29500-2) or markup standard (29500-1) or our extensions and implementer notes. We'll investigate this but I think this i

[2021-12-18 01:06] Yanal-Yves commented on #1093
@tomjebo,

OK understood, thank you for pointing that out.

As I mentioned earlier a call to `AddCoreFilePropertiesPart` is creating an inconsistent XLSX that causes Excel to ask to repair the file because it creates an emtpy `core.xml`. Isn't this a bug ?

I read the code of #1107 and maybe instead of calling `AddCoreFilePropertiesPart` in the `Create` method, you can add the root element to `cor

[2021-12-18 10:46] ThomasBarnekow commented on #1093
@Yanal-Yves, the `SetXElement` method is one of the extension methods provided by the `DocumentFormat.OpenXml.Linq` project in this repository. It should have been published as a NuGet package together with `DocumentFormat.OpenXml` v2.15.0. Publishing somehow failed due to a permission issue, but it will be published shortly. In the meantime, you can get it through the repo's custom feed as descri

[2021-12-28 20:15] Maracaipe611 commented on #672
Same

[2022-01-02 03:52] shps951023 commented on #1064
@tomjebo
So sorry about long time to reply!!
Some Chinese users need to custom encoding to read non-UTF8.

@twsouthwick
Thanks, I'll try it

Happy new year!

[2022-01-05 17:25] maloo opened #1109 "Spreadsheet.Open crash in Kestrel web server (.NET 6) since synch reads are not allowed"
**Description**

When opening an excel document in .NET 6 (Kestrel web server) I get an exception that synch reads are not allowed. And this is for a good reason, no libraries should force user to do blocking operations because it limits where the library can be used (on a web server in this case).

**Information**

- .NET Target: .NET 6
- DocumentFormat.OpenXml Version: 2.15

**Repro**

Call Spre

[2022-01-06 18:12] twsouthwick commented on #1109
We can't do anything directly here until System.IO.Packaging supports async calls. I believe there's a request somewhere for some async methods, but async-ifying the whole project will be a large endeavor that we'd need to catalog what APIs need it and what dependencies there are.

With Kestrel, you can enable sync io as an option

Haven't explored this

Recommended workaround:

Unfortunately, you

[2022-01-06 18:13] twsouthwick commented on #1109
For reference, even System.IO.Packaging is blocked by ZipArchive needing some async APIs. This is tracked at https://github.com/dotnet/runtime/issues/1541 and is currently marked as P1 in .NET 7 compression work items at https://github.com/dotnet/runtime/issues/62658

[2022-01-06 20:13] tomjebo commented on #1093
There were some additional comments on PR #1107 about how to resolve this. We will close PR #1107 so I'm copying the substantive comments here. Thanks @ThomasBarnekow for these comments:

----------

ThomasBarnekow:

@tomjebo, having looked at your project description, I wanted to comment on your points here (as I did not see a way to do that in the project).

Won't add some of the basic parts tha

[2022-01-18 06:25] caglarsarikaya commented on #672
I have also same :/

[2022-01-18 07:30] caglarsarikaya commented on #672
I solved my case, when I expor excel from the system, if I want to import it I got this ıssue, but If I create excel by writing down, there wasnt a problem, so I realize it, exporting method was not assignin cellreferences, excel should do it basically but didnt, so I just added a cellreference create method

[code]
a basic example for using
[code]
Created this solution from this
https://github.co

[2022-02-07 20:24] tipa commented on #1068
Anything I can do to help here?

[2022-02-09 05:07] x-rune-x commented on #672
Hello, I'm getting what seems to be the same issue. When downloading an excel file and trying to access the cells using OpenXML, the CellReference for all the cells is set to none until I open and save the file manually.

Just wondering if there is a way to get around this as I don't have much control over how the file is created and don't think I can really apply caglarsarikaya's solution.

[2022-02-10 13:54] f1nzer opened #1122 "SlidePart.Slide: how to unload memory"
Hi,
I'm reading large pptx files slide-by-slide with limited RAM (azure functions), so after using SlidePart.Slide property the slide is loaded into memory and will be unloaded only when the pptx will be unloaded which means that memory consumption is growing with every slide.

For now I'm using internal `OpenXmlPart.SetPartRootElementToNull()` via reflection to release the memory.
https://github.

[2022-02-16 01:12] twsouthwick commented on #1122
I'd be happy to take a PR that exposes this functionality. Not a fan of that name, though, for a public API. Maybe "UnloadRootElement()"? Would you be willing to prepare a PR and some tests for this?

We're looking at doing a major release in about 2 weeks - if this is done by then it can go out then, otherwise, it'll be the next release (we're looking at a quarterly release right now).

[2022-02-18 01:28] ddrogahn-venga opened #1128 "error if backslashes in zip path"
**Description**

When reading an OpenXml file that uses backslashes (instead of forward slashes) in the Zip paths:
then OpenXml will not open the file and will throw an error
[code]
_Open XML SDK 2.5 Productivity Tool_
gives this message: "Cannot open the file: The specified file type is not supported."

The Zip spec says forward slash "should" be used.
Almost everything (Office, Explorer, 7-Zip,

[2022-02-18 14:08] mtugnoli opened #1130 ".NET 5 problems"
Try to new WebApp .Core with .NET 5
this error occour ...

_Project DocumentFormat.OpenXml is not compatible with net5.0 (.NETCoreApp,Version=v5.0)_

[2022-02-18 18:38] twsouthwick commented on #1130
Can you share how you are incorporating the SDK? It provides a .NET Standard 2.0 target that is compatible with .NET 5.0.

[2022-02-18 22:23] ThomasBarnekow commented on #1128
@ddrogahn-venga, this is neither a problem with the Open XML SDK nor with `System.IO.Packaging`. The problem is the fact that the package is indeed invalid because of the backward slashes.

In Section 10.2.2 (ZIP Item Names), the [Open Packaging Conventions](https://www.ecma-international.org/publications-and-standards/standards/ecma-376/) state the following:

to ZIP archive file name grammar. [M

[2022-03-04 19:22] #1130 closed

[2022-03-06 23:57] KurtIO commented on #909
I recently used an amazingly effective MS tool for upgrading a WPF .Net Framework app to .Net 6.  Everything worked perfect-perfect except for all of my (too many to contemplate rewriting) reports I created using OpenXML.

doc.Save causes: [System.IO.IOException: 'Entries cannot be opened multiple times in Update mode

File.Copy(sourceWordTemplate, tempReportPath, true);
using (WordprocessingDocum

[2022-03-11 15:57] andrewmolyneux opened #1133 "Support for modern comments in presentation files?"
I've recently implemented support for comments in my code (finding comment XML via the SlideCommentsPart property of SlidePart) but I've noticed that it doesn't pick up "modern" comments which apparently were implemented in Office 365 starting in late 2020 or early 2021. Is support for this on the roadmap to be added to the SDK, or should I roll my own solution?

[2022-03-11 18:18] tomjebo commented on #1133
Hi @andrewmolyneux,
Have you tried using DocumentFormat.OpenXml.Office2021.PowerPoint.Comment, DocumentFormat.OpenXml.Packaging.PowerPointCommentPart and associated classes that were added in the latest updates for 2.15? These should have the types you need.  The PowerPointCommentPart is related to the PresentationPart, not the SlidePart like the legacy comments were.

[2022-03-14 08:05] MichalMayerCz commented on #1064
Hi, i have found the same error when i try create SpreadsheetDocument with memory stream. Unfortunately, xlsx file which is generated from this memory stream is not possible open in Office 365. When i edit files inside package and manually change encoding to non BOM version, it works. Is it exists some workaround at least ? Thank you

[2022-03-14 13:52] andrewmolyneux commented on #1133
I can't believe I didn't spot that :flushed:
That seems to be exactly what I'm looking for - thanks for the reply and sorry for wasting your time @tomjebo

[2022-03-15 08:36] Kalle4242 opened #1135 "The second attempt to open an unchanged presentation file for edit throws a "file contains corrupted data" error."
**Description**

We are trying to access PowerPoint presentation via MS-Graph from a SharepPoint Online document library.

Our PowerPoint Addin adds data as CustomXmlParts to presentation and the slides as well. It can be opened, manipulated and saved without problems as long as working files arer on a local computer.

The problem occurs when the file is uploaded to a SharePoint document library.

[2022-03-15 11:35] andrewmolyneux commented on #1133
OK it turns out I'm still not sure how to get this done, and it seems like the SDK doesn't quite support this stuff as it's implemented in Office 365.

Please consider this PPTX file @tomjebo:
[New modern comment.pptx](https://github.com/OfficeDev/Open-XML-SDK/files/8252690/New.modern.comment.pptx)

Looking at the structure, the "comment" part (`/ppt/comments/modernComment_100_70B57AE3.xml`) is no

[2022-03-15 14:45] Kalle4242 commented on #1135
I copied the code from the called methods into my example method, and I hope that it now is easier to comprehend.

[code]
By the way: I'm not doing download, open, save, close and upload just for fun. Usually I'm manipulating the presentation or slides and their accompanied CustomXmlParts between open and save. I just reduced to the simplest example, that shows the issue.

[2022-03-15 15:40] tomjebo commented on #1133
@andrewmolyneux, I was wrong when I said it's related to the PresentationPart. In MS-PPTX, it shows as related to the SlidePart so it's possible we got this wrong in the generated code. @mikeebowen and I will check this out.

[2022-03-16 17:05] m-gallesio opened #1136 "Ambiguous OpenXmlElement constructors"
**Description**

Greetings.
Some time ago we started analyzing our code with [SonarQube](https://www.sonarqube.org/), and I have noticed a large number of reports in cases like these:

[code]

which lead to warnings like this:

This happens because
- all (most?) `OpenXmlElement`s define two constructors:
    - one accepting an `IEnumerable<OpenXmlElement>`
    - one accepting an `OpenXmlElement[]`

[2022-03-16 17:16] tomjebo commented on #1133
So it looks like the modernComments part is not correctly related in the generated code. The authors part is correct AFAICT. We are working on a fix to modernComments part and will submit a PR shortly.

[2022-03-16 23:47] mikeebowen commented on #1133
Hi @andrewmolyneux , We created a pull request to fix the relationship between PowerPointCommentPart (modern comment) and SlidePart #1137 . It's preliminary, but all the tests pass and it appears to fix the issue. Give it a try and let me know if you have any problems.

[2022-03-21 10:32] tipa commented on #1068
If I'm not missing something, then the problem has gone in the meantime, either by the new v2.16.0 or a Mono/Xamarin bugfix

[2022-03-21 10:32] #1068 closed

[2022-03-21 15:00] andrewmolyneux commented on #1133
Hi @mikeebowen - sorry I didn't get back to you earlier - I had a couple of days off work at the end of last week due to a family funeral. I've never tried building the SDK myself or indeed done anything with GitHub pull requests but I'll take a look at it now 😄

[2022-03-21 15:53] andrewmolyneux commented on #1133
I'm having some difficulty getting the SDK to build with Visual Studio 2019. I've modified `global.json` and the `ProjectLoadStyle` in `Directory.Build.props` to target .NET 5.0 but I'm seeing a lot of this:
[code]
I believe C# 10 requires .NET 6.0 and VS2019 isn't offering to install that for me, so do I need VS2022 to build the SDK?

[2022-03-21 16:53] andrewmolyneux commented on #1133
OK I answered my own question by installing VS2022 and the build gets a lot further now :grinning:
However, I'm now getting errors from the public API analyzers:
[code]
Am I doing something wrong, or are we not quite there yet?

[2022-03-23 16:33] andrewmolyneux commented on #1133
Sorry, I don't know if I needed to tag @mikeebowen on this. Please see above 😄

[2022-03-23 20:59] mikeebowen commented on #1133
HI @andrewmolyneux , We have added @tomjebo 's fix to the PR, so if you get the latest code from the PR you won't have to manually add the fix to PublicAPI.Shipped.txt.

[2022-03-24 07:47] ukalhapu opened #1138 "Error opening document template with CustomUI in OpenXML SDK 2.0"
**Description**

### Received error while opening document template (.docm) containing  CustomUI part in OpenXML SDK 2.0

**Information**

- .NET Framework
- DocumentFormat.OpenXml Version: 2.0.5022

Specified argument was out of the range of valid values.   Parameter name: relationshipType
 at DocumentFormat.OpenXml.Packaging.WordprocessingDocument.CreatePartCore(String relationshipType)
at Docum

[2022-03-24 21:31] tomjebo commented on #1133
@mikeebowen and @andrewmolyneux,  I failed to add a caveat to that fix above. 1) the fix is only to remove the warning, 2) will only work if you don't do a full rebuild as the PublicAPI.Shipped.txt is being regenerated by the code generator on rebuild all, 3) which means that the update to the PR will still trigger the CI errors.

We are working on fixing this so PublicAPI.Shipped.txt is updated p

[2022-03-25 11:36] andrewmolyneux commented on #1133
Thank you @tomjebo & @mikeebowen! I've been able to build the SDK with that fix. I'll update you when I've had a go at actually using the new modern comments support :smile:

[2022-03-25 13:05] andrewmolyneux commented on #1133
OK now I'm confused @tomjebo @mikeebowen. Looking at the changes in the PR, I think there should now be a property named `PowerPointComment` on `DocumentFormat.OpenXml.Packaging.SlidePart`? After building it locally, if I browse the assembly using DotPeek it doesn't show any such property.

Clearly I might still be doing something wrong, so here's what I did:
- Checked out a fresh copy of the repo

[2022-03-25 17:03] tomjebo commented on #1133
@andrewmolyneux

Actually, the properties are there. If you add the parts using the following code example:

[code]
The properties should be in ppart.authorsPart and sp.commentParts (it's a collection).

Tom

[2022-03-25 17:43] andrewmolyneux commented on #1133
@tomjebo OK that seems reasonable but my code is trying to parse modern comments from an existing PPTX file which I'm opening read-only. If I understand you correctly, I don't think that use case is working yet?

[2022-03-25 19:44] tomjebo commented on #1133
@andrewmolyneux yes, that's what I'm saying. I'll let you know when we've worked through it.

[2022-03-29 22:37] twsouthwick commented on #1138
Please update to the latest version via nuget. v2.0 is somewhere around a decade old at this point :) Latest version is 2.16.0

[2022-03-30 17:04] atrauzzi opened #1139 "`SaveAs` also saves the original."
**Description**

When I open a document, make changes to some of its elements and later call `SaveAs`, the original source file also appears to be overwritten.

This happens even when I set `AutoSave` to false and does not happen prior to disposal.

**Expected**

My initial assumption was that calling `SaveAs` would result in the source file never being altered.  Similar for example to how a save-

[2022-03-31 16:43] dlopatin-v commented on #561
I have the same exception when trying to open word document in a docker container. locally everything works fine

[2022-04-05 22:42] twsouthwick commented on #561
@dlopatin-v can you share a repro?

[2022-04-07 12:31] knoxyz commented on #914
https://github.com/OfficeDev/Open-XML-SDK/releases/tag/v2.5

[2022-04-12 08:58] RafaelLxf opened #1141 "An exception occurred while getting the layoutid attribute of the series instance in the chart"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library
- DocumentFormat.OpenXml.Office2016.Drawing.ChartDrawing
- [x] Question on library usage
![image](https://user-images.githubusercontent.com/53579403/162919221-7813e8db-3f00-4756-88e8-209fe269c5db.png)

**Description**
I'm try get the enumeration value from LayoutId attribute of the chart，but an exce

[2022-04-12 22:39] twsouthwick commented on #1139
Hmm interesting. Do you have a repro available?

[2022-04-13 07:59] ukalhapu commented on #1138
Thanks for the response.
Does latest version 2.16.0 supports opening document template (.docm) containing CustomUI part ?
Is this known issue with v2.0 ?

[2022-04-13 15:50] atrauzzi commented on #1139
Sorry, no -- very strapped for time at the moment.

[2022-04-15 11:06] m-gallesio commented on #1136
A couple more notes:
- I should have said `OpenXmlCompositeElement` and not `OpenXmlElement`.
- I was not aware of the code generation step, so this seems to be nowhere as heavy as I imagined.

[2022-04-19 22:22] twsouthwick commented on #1138
I honestly never used v2.0 so I'm not sure if there are known issues with docm. Can you update to the latest and let us know? If it repros there, we can dig more into it

[2022-04-21 08:21] Asbjoedt opened #1142 "Strict Excel Files Have Invalid int32 Data Types"
**Description**

Excel files saved as "Strict Open XML" contain a number of int32 validation errors related to hidden percentage values in the schema.

For context of this error see: https://github.com/mikeebowen/OOXML-Validator/issues/6

For possible explanation:
"In ISO 29500-1 20.1.8.36 gs (Gradient stops) the pos attribute is defined:
Specifies where this gradient stop should appear in the col

[2022-04-22 10:45] caglarsarikaya opened #1143 "Price Reading From xlsx file"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library
- [x] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

---------------- Remove this line and above before posting -----------

[2022-04-22 11:10] ThomasBarnekow commented on #1143
Did you have a look at what is actually stored in the Excel sheet? If you do that, you will notice that `1.500,70` is not what gets written. This is only what Excel _displays_ based on your cell formatting. What is actually written and stored is what you get from the Open XML SDK.

It also seems that you are parsing decimal values using a specific locale (like the one used in Germany, for example)

[2022-04-22 12:43] caglarsarikaya commented on #1143
Hi, thanks for the advice I wrote the values into the cell, I copied this row 5 times, and I changed each of the formatting styles, like a number, price, text, general, etc. I tried all formatting styles. The actual value is 1.500,70 just changed the format styles but it didn't change anything, I tried also invariant culture, there is no setting when opening the file to giving culture, but I set a

[2022-04-22 22:08] mikeebowen commented on #1142
Thanks @Asbjoedt ,

We'll take look into this and see what it will take to fix.

[2022-04-23 00:11] tomjebo commented on #1133
@andrewmolyneux

If you pull @mikeebowen's branch from PR #1137 again, the code will work now. We've added the commentRel element and a couple other pieces that were missing. Here's sample code that shows how to add the minimal XML for a modern comment on a slide. You can ignore the utility functions like ShowHelp and FileCheck. Let me know if you still have issues.

[code]

[2022-04-24 10:39] zeeshanejaz commented on #795
+1

[2022-04-24 23:32] pulmuone opened #1145 "write error"
# Before submitting an issue, please fill this out

Is this a:
- [v] Issue with the OpenXml library
- [ ] Question on library usage

---------------- Remove this line and above before posting ----------------

**Description**
Error Message :

System.ArgumentException: '', hexadecimal value 0x1D, is an invalid character.

DocumentFormat.OpenXml Version 2.16.0

Xamarin

[2022-04-25 18:22] tomjebo commented on #1145
@pulmuone Can you provide repo code that demonstrates the issue and a stack trace?  Does this also occur when not using Xamarin?

[2022-04-27 16:51] ThomasBarnekow commented on #1139
Yes, `SaveAs` does save the original. Unless deeper architectural changes are made, it must work that way. The main purpose is basically to create a copy, or clone, of the package at the given path, e.g., even if the package was opened on a `MemoryStream`.

Assuming you want to keep the original file unchanged, you'd have to read all bytes from that file, copy those to a `MemoryStream`, and later

[2022-04-27 17:10] ThomasBarnekow commented on #1143
Please share the following:

- The Open XML markup that shows what is stored in the SpreadsheetDocument
- The C# code that shows how you read that Open XML and produce the formatted number

You need to understand that the Open XML SDK just gives you access to the raw data stored in the various XML files that together form a document (e.g., Workbook). So, you will be able to see a raw floating-poin

[2022-04-27 19:38] caglarsarikaya commented on #1143
I completely agree with you, I was looking convert method on the first attempt but I saw the convert method works truly when converting string to decimal. I saw the string value is not the same as in the excel value.

[code]

[2022-04-27 19:39] caglarsarikaya commented on #1143
I changed the invariant culture before read the excel, didnt work, so more researched, I changed invariant culture also current thread culture also with them cultureui,

[2022-04-28 08:12] ThomasBarnekow commented on #1143
@caglarsarikaya, you clearly have a usage problem that is much better addressed at stackoverflow.com. There is no issue with the SDK, for which an issue should be opened.

I did not look at all of your code, but what jumps at me is that you are trying to read numbers from the `SharedStringTable`. Thus, before you even go to stackoverflow.com, please answer my questions above (in particular regardi

[2022-04-28 08:14] ThomasBarnekow commented on #1143
@caglarsarikaya, I forgot to mention [ClosedXML](https://github.com/ClosedXML/ClosedXML), which is an open-source library that would make it much easier for you to work with Excel workbooks.

[2022-04-28 10:13] caglarsarikaya commented on #1143
Okay but I tried all formatting types in excel, I created rows with all kinds of formatting types with the 1.200,55 value and all of the formatting types did not change the read data :/ but okay thanks, you said it's not an issue, maybe I missed something. I am closing this now, thanks for your time

[2022-04-28 10:13] #1143 closed

[2022-04-28 16:16] atrauzzi commented on #1139
Might be worth documenting as the mechanism of _Saving As_ in any other context is to not overwrite the previously-saved path.

[2022-04-29 05:51] Gurudeep007kumar opened #1146 "New cell value API is not working as expected"
**Description**

Incorrect cell value written in excel when open xml api are used

**Information**

- When open xml API are used to write cell value, particular string is not updated as it is.
- It is C# code

**Repro**

1. assign excel cell value with following string using Open XML
"Test_xfeed_Test"

**Observed**

Cell content found to be - "TestﻭTest" instead of "Test_xfeed_Test"
_xfeed_ is rep

[2022-04-29 06:10] ukalhapu commented on #1138
Upgrade to 2.16.0 resolves the issue.
Thanks for support.

[2022-04-29 07:00] ThomasBarnekow commented on #1146
Could you please provide a minimal repro?

[2022-04-29 07:47] Gurudeep007kumar commented on #1146
Hi Thomas,

Please follow below steps and let me know whether you can reproduce

1. Copy the lines from step [2] and call below function by passing full file path in place of "Path of empty excel file"
  WriteRandomValuesSAX(@"Path of empty excel file", 10, 10);

Example : WriteRandomValuesSAX(@"C:\Users\Test.xlsx", 10, 10);

This function writes 10 rows and 10 columns with cell values as "Test_xf

[2022-04-29 09:16] Gurudeep007kumar commented on #1146
thanks Thomas for the suggestion.
I am using xml reader and writer to boost performance. This is totally business requirement. Please neglect this part.

The point i am talking is, these three line
 Cell c = new Cell() { DataType = CellValues.String, CellReference = GetColumnName(col) + row.ToString(),StyleIndex= StyleIndex };

 CellValue v = new CellValue("Test_xfeed_Test");
c.Append(v);

When in

[2022-04-29 09:54] Gurudeep007kumar commented on #1146
Just a add on, If string contents any UTF-16 unicodes , it is automatically decoded when writing instead of preserving as it is

[2022-05-01 09:24] zeeshanejaz commented on #795
I was struggling with the same issue. It turns out that AbstractNums and NumberInstances have to be grouped together in the numbering part. When creating a list, do the following.
1. Find last AbstractNum and insert your `baseNumbering` after
2. Find last NumberingInstance and insert your `numberingInstance` after

[2022-05-05 08:52] Gurudeep007kumar commented on #1146
@ThomasBarnekow
Followed your suggestion, verifyed manually and found that, for UTF-16 unicode like _xHHHH_ pattern in a string are automatically decoded when cellValue is used.
Strange thing is if we add prefix "_x005F" to UTF-16 then string are written correct

Example :
Not working as expected                                                  Writing cell value as "Test_xfeed_Test"
CellValue v =

[2022-05-05 08:56] Gurudeep007kumar commented on #1146
@tomjebo @twsouthwick
Please lend your expertise on this issue

[2022-05-09 11:13] shubhjack commented on #138
@tarunchopra can you help me tweak my api too, For me I'm also unable to save stream as file at the end.

[code]

[2022-05-09 15:34] ThomasBarnekow commented on #1146
@Gurudeep007kumar, it seems that there is no other way than to escape that string `_xfeed`.

I created a blank Excel workbook, entered `Test_xfeed_Test` in a cell and found that Excel represents that as follows in the **SharedStringTablePart** (and not in the **WorksheetPart**, as I already said above):

[code]

I did not look at the standard, but I can only guess that the pattern `_xHHHH` (note t

[2022-05-09 20:14] ThomasBarnekow commented on #1135
@Kalle4242, I looked at your issue and found that your presentation (attached in your original post) is deemed corrupt by the Open XML SDK when trying to open it the first time:

[code]

I don't know how you created the `CustomXmlPart` but there must be something wrong with how you are using the SDK.

After fixing your presentation (by making a small change and saving), I then created my own integ

[2022-05-10 03:17] Gurudeep007kumar commented on #1146
@ThomasBarnekow
Thank you for your suggestion.
Currently  escaping _xHHHH_ pattern using _x005F.

[2022-05-10 03:17] #1146 closed

[2022-05-10 15:15] adamshakhabov opened #1147 "`PresentationDocument.Save()` doesn't apply changes"
**Description**

`PresentationDocument.Save()` doesn't apply changes that are deleting presentation sections. It works if I call `doc.Close()` _(check Repro)_, but I don't wanna close presentation before `mStream.ToArray()`.

Looks like `PresentationDocument.Save()` doesn't flush changes to `mStream` stream.

**Information**

- .NET Target: .NET 6
- DocumentFormat.OpenXml Version: 2.16.0

**Repro*

[2022-05-10 20:21] ThomasBarnekow commented on #1147
@adamshakhabov, looked into the issue and could reproduce it. I can't explain why this happens. On the other hand, I am asking myself why you would do what you are doing. For example, what's the point of a using statement and explicitly closing a file stream, for example. I would also always close or dispose an `OpenXmlPackage` before continuing to work with the stream on which the package was ope

[2022-05-10 21:47] adamshakhabov commented on #1147
@ThomasBarnekow, I agree with you and I almost never use `Save()` in my production cases. Just closing the document is applicable. But what about the following use case:

There is a presentation with 150 slides and I need to split it to two presentations: `base_51-150.pptx` contains 51-150 and `base_101-150.pptx` contains 101-150 slides of `base.pptx` presentation.

If `Save()` would work as expec

[2022-05-11 06:02] debasrbd opened #1148 "OpenXML nuget package x64 release build error"
am using OpenXML nuget package (v2.10.0) for my UWP project

though **"x64 Debug build" is OK**

I am getting **build error** during **"x64 Release Build"** with OpenXML nuget package

Is their any solution for this problem?
[code]

[2022-05-11 08:29] debasrbd commented on #1148
upgrade to v2.16.0 shows same error

[2022-05-11 08:59] ThomasBarnekow commented on #1148
Hi @debasrbd, could you provide the information that you would need when asked to help solve the issue? For example, can't see how this is related to the Open XML SDK at all. The error message talks about the type `System.Xml.XmlDocumentXPathExtensions`, which was referenced in the method `HtmlWeb.GetCacheHeader(Uri, string, string)`. That method is not part of the Open XML SDK.

Another question

[2022-05-11 09:02] debasrbd commented on #1148
we have some native lib dependency which support only x64 for now
so we need to use this x64 build

[2022-05-11 09:02] ThomasBarnekow commented on #1128
@twsouthwick, let's close this issue (and others that might be resolved).

[2022-05-11 09:21] ThomasBarnekow commented on #1148
@debasrbd, how about `HtmlWeb.GetCacheHeader(Uri, string, string)`, which references the type `System.Xml.XmlDocumentXPathExtensions`? Where is that used in your codebase?

If you did a search in this repo, you'd see that the Open XML SDK does not have a dependency on the `System.Xml.XPath.XmlDocument` NuGet package, which contains the `System.Xml.XmlDocumentXPathExtensions` type. You will also no

[2022-05-14 09:57] ThomasBarnekow commented on #1147
@adamshakhabov, can we close this issue?

[2022-05-14 09:58] ThomasBarnekow commented on #1148
@debasrbd, can we close this issue? Did you find the "culprit"?

[2022-05-14 10:00] ThomasBarnekow commented on #1145
@tomjebo, it looks like @pulmuone lost interest in this issue, so we should close it.

[2022-05-14 10:03] ThomasBarnekow commented on #1136
Looping in @twsouthwick and @tomjebo. Is this something that can indeed be considered?

[2022-05-14 10:04] ThomasBarnekow commented on #1135
@Kalle4242, does that solve your problem? Can we close this issue?

[2022-05-14 11:05] adamshakhabov commented on #1147
Yes, but I still think that `PresentationDocument.Save()` doesn't work correctly — its result doesn't correspond to the method name. Something wrong with **flashing**.

The above solutions look like workarounds. For example, in your last example, I have to make an **extra** `PresentationDocument.Open()` call. Doesn't look efficient.

[2022-05-16 06:27] Kalle4242 commented on #1135
@ThomasBarnekow Thank you for taking on the topic. I temporarily solved it with a workaround that first saves the file locally and then copies it to the SharePoint. However, this costs additional time, which is why I am still interested in a solution. I'm working on something else right now but I'm hoping to find time this week to try your suggestion.

[2022-05-16 13:02] ThomasBarnekow commented on #1135
The error message I included in my first response above came from an exception thrown by the Open XML SDK. You can also view and edit Open XML packages using the [Open XML Package Editor for Modern Visual Studios](https://marketplace.visualstudio.com/items?itemName=bsivanov.OpenXMLPackageEditorforVisualStudio), for example.

Did you try it with my code?

[2022-05-17 08:20] Wenfengcheng commented on #1135
@ThomasBarnekow I also encountered this error, how can i see the error message you included above.
[sample2.ppt](https://filesamples.com/samples/document/ppt/sample2.ppt)

[2022-05-18 07:13] m-gallesio opened #1149 "Wordprocessing: Add explicit properties to Table"
`DocumentFormat.OpenXml.Wordprocessing.Table` should provide properties to explicitly access some of its fixed fields, like `TableProperties`, `TableGrid` and its collection of `TableRow`s.
This would match how several other classes already work (`Paragraph.ParagraphProperties`, `Run.RunProperties`, ...).
`TableRow` might also appreciate a way to explicitly access its cells, unless `.Descendants<T

[2022-05-18 12:18] jordan-hemming opened #1150 "OpenXmlPackage.Clone() does not copy PackageProperties"
**Description**

Calling OpenXmlPackage.Clone() does not copy the PackageProperties to the returned clone of the package.

**Information**

- DocumentFormat.OpenXml Version: 2.16

**Repro**

[code]
**Expected**

I would have expected the PackageProperties to have been copied over to the clone, along with the rest of the package content.

[2022-05-18 12:29] ThomasBarnekow commented on #1150
@jordan-hemming, how are you using the `PackageProperties`? I've been working with the SDK since 2014 and never used them.

[2022-05-18 12:58] jordan-hemming commented on #1150
@ThomasBarnekow, I'm using them to set document metadata like Title, Author and Version.

Specifically, I'm loading a "template" document from a MemoryStream, appending some content to it and making changes to the PackageProperties, then calling Clone() to save those changes to a file.

[2022-05-18 19:10] ThomasBarnekow commented on #1150
@jordan-hemming, here are a few thoughts:

- The mechanism you use (`PackageProperties`) is provided by the `System.IO.Packaging.Package` class and not the Open XML SDK. Looking at another issue that was reported, you might have to dispose the `OpenXmlPackage` (e.g., `WordprocessingDocument`) to have those changed properties written to it.
- If you open the `WordprocessingDocument` on a `MemoryStr

[2022-05-24 12:25] saifullah18 opened #1152 "How to Add a Custom Font from URL/PATH in Open XML"
![image](https://user-images.githubusercontent.com/31733917/170034035-daefc458-d385-4bf2-a429-9963ce6d8e72.png)

see how to pss the font URL in this Document.

[2022-05-25 03:55] lindexi commented on #863
See https://github.com/OfficeDev/Open-XML-SDK/issues/247 https://github.com/dotnet/runtime/issues/26084 https://github.com/OfficeDev/Open-XML-SDK/issues/715

Can it fix this?

See my [Chinese blogs](https://blog.lindexi.com/post/dotnet-OpenXML-%E4%BF%AE%E5%A4%8D-Office-%E6%96%87%E6%A1%A3%E9%87%8C%E9%9D%A2%E5%8C%85%E5%90%AB%E6%A0%BC%E5%BC%8F%E4%B8%8D%E6%AD%A3%E7%A1%AE%E7%9A%84-Uri-%E8%80%8C%E6%97%A

[2022-05-30 08:20] m-gallesio opened #1153 "This repository: Some build job seems stuck"
This has been running / pending for 20+ days, is it normal?
https://github.com/OfficeDev/Open-XML-SDK/runs/6361756954

[2022-05-30 10:21] m-gallesio commented on #387
Yes, please. Having these separated (along with a base / core module, I assume) would improve clarity, make for a smaller base package (currently ~5.8 MB) and allow more code splitting between dependent assemblies. For reference our product does not currently use Powerpoint at all.

[2022-05-31 12:41] jordan-hemming commented on #1150
Hi @ThomasBarnekow.

Given the relatively small number of properties involved, I've opted to work around the problem by manually setting them after I do a clone.

Since this doesn't seem to be a problem with the Open-XML-SDK itself I'm going to close the issue.

Thanks.

[2022-05-31 12:41] #1150 closed

[2022-05-31 20:19] nagindotnet9 commented on #142
I am facing another Issue, I want to set only date in Cell with Date datatype but there is no reference available.
If we specify formatted string then it is no more date.

Anyone can help in that ?

[2022-06-01 02:14] tomjebo commented on #1153
Thanks for pointing this out. There are some other issues with our backend build (blocking the other PRs) that we're straightening out which is why I didn't check this build. It actually was pending permission on the signing phase. I gave it permission and will check again on it.

[2022-06-01 02:55] tomjebo commented on #1153
Looks like it succeeded. Thanks again @m-gallesio

[2022-06-01 02:56] #1153 closed

[2022-06-03 23:39] #1145 closed

[2022-06-16 01:44] softboy99 commented on #819
Hi,@ThomasBarnekow :
which commercial products are your recommendations?
If use the Microsoft Graph beta endpoint, the file must be stored in onedirve?

[2022-06-16 04:30] twsouthwick commented on #1136
This could be considered. However, I'm unsure of the value of this. The C# compiler itself doesn't warn about this and binds to the expected overload. I'd need to be convinced of the value here due to the number of custom types that this would be added to.

[2022-06-16 07:18] ThomasBarnekow commented on #819
@softboy99 I looked at this several years ago, so any view would be outdated. One leading candidate, though, would be Aspose. However, they also tend to be on the expensive end of the spectrum.

[2022-06-16 10:58] softboy99 commented on #819
no,Aspose，has tried. There're still many formatting issue causing the pdf different with docx

[2022-06-17 01:26] softboy99 commented on #819
Hi，
@ThomasBarnekow ，If use the Microsoft Graph beta endpoint, the file must be stored in onedirve?

[2022-06-17 08:50] Asbjoedt commented on #1142
Hello

Any update if you will prioritize to fix this issue?

[2022-06-19 08:08] Pitterling opened #1159 "Nuget package still 2.16 - new 2.17 release not available"

[2022-06-20 19:50] twsouthwick commented on #1152
@saifullah18 feel free to link the question here, but I'm going to close this as it's not an SDK issue

[2022-06-20 19:50] #1152 closed

[2022-06-20 19:51] twsouthwick commented on #1148
@debasrbd I'm going to close this issue as @ThomasBarnekow's analysis appears to indicate this is not an issue with the SDK. We do not produce those APIs.

[2022-06-20 19:51] #1148 closed

[2022-06-21 01:50] #1138 closed

[2022-06-23 11:23] m-gallesio commented on #1136
Understood. As I said this is more of an observation than a request, so I guess more general feedback (including from designers and developers with more experience than me) would be needed.

[2022-06-28 21:23] twsouthwick opened #1172 "Enable trimming"
We want to ensure that the library is compatible with the trimming in .NET 6+. In order to enable this, a few warnings must be addressed. These all appear to be somewhere in the M-L range of effort, generally requiring a bit of a redesign.

- #1173
- #1174
- #1175

Ideally, we replace these with non-reflection usage. However, we may be OK with punting that and just getting things annotated so the

[2022-06-28 21:25] twsouthwick opened #1173 "Trimming: ClassActivator{T} usage"
**Description**

Remove usage of `ClassActivator<T>` and get activators without using reflection.

*Warning:*
[code]

[2022-06-28 21:26] twsouthwick opened #1174 "Trimming: ReflectionBasedRootElementFactory"
**Description**

We should generate a feature that can create root elements without resorting to reflection.

*Warning:*

[code]

[2022-06-28 21:27] twsouthwick opened #1175 "Trimming: EnumInfoLookup"
**Description**

We should generate a feature that can produce enum info without reflection. This should be addressed in two phases:

1. Move enum info retrieval to a separate feature
2. Remove reflection

*Warning:*

[code]

[2022-06-28 21:29] twsouthwick commented on #1136
I'm going to close this for now. Please feel free to reopen/comment if there's an actual blocker here.

[2022-06-28 21:29] #1136 closed

[2022-06-28 21:38] twsouthwick commented on #1109
I'm going to close this as there's a workaround for the issue.

[2022-06-28 21:38] #1109 closed

[2022-06-28 21:39] twsouthwick commented on #962
Yup - this is available, so I'll close it.

[2022-06-28 21:39] #962 closed

[2022-07-01 08:22] planax commented on #1159
It can be closed. New version (2.17.1) is available on NuGet.

[2022-07-01 08:26] #1159 closed

[2022-07-11 06:06] ttnnphuoc opened #1179 "OpenXML does not allow special character such as &, ", >, < in hyperlink, it can throw exception when get worksheet instance"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library
- [x] Question on library usage

If you have answered that this is a question, please ask it on StackOverflow instead of here.
This issue tracker is meant to track product issues while StackOverflow excels at answering questions

**Description**

 OpenXML does not allow special character such as &,

[2022-07-11 10:09] Vijay-Nirmal commented on #21
Using office interop in server environment is very bad idea since it create new word instance for every request. Depend upon load this will become costly operation.

[2022-07-13 07:28] softboy99 commented on #21
agree,+1

[2022-07-19 19:40] TrplM opened #1181 "Invalid document when `TableColumn.CalculatedColumnFormula` has array formula"
# Before submitting an issue, please fill this out

Is this a:
- [x] Issue with the OpenXml library
- [ ] Question on library usage

**Description**

When a `tableColumn` definition contains a `calculatedColumnFormula` that is an array formula (e.g. `<x:calculatedColumnFormula>{A2+A2}</x:calculatedColumnFormula>`) the resulting document (xlsx) is invalid but repairable.

**Information**

- .NET Ta

[2022-07-19 20:30] TrplM commented on #1181
Apologies, moving to ClosedXML repo first

[2022-07-19 20:30] #1181 closed

[2022-07-21 11:47] sajjadarashhh opened #1183 "external table is not in expected format"
when save ExcelDocument from OpenXML And try to use it with odbc client it's thrown external table is not in expected format  Exception in C#
there's an a way to use openxml documents in odbc!?
my generated document by OpenXML Size is : 3kb and when i open and re-save that document with excel size changed to :10kb
and when i re-save that work fine in odbc

[2022-07-22 12:08] Asbjoedt opened #1184 "DocumentType Strict does not exist"
**Description**

DocumentType Strict does not exist if you want to change document type. See available options for changing document types for spreadsheets:

https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml.spreadsheetdocumenttype?view=openxml-2.8.1

**Information**

- DocumentFormat.OpenXml Version: (ie 2.7.2)

**Repro**

[code]

**Observed**

No Strict DocumentType exist for ch

[2022-07-25 10:43] eswarthammana commented on #1040
i faced the same issue but i am using python 3.10
But i was able to fix the issue understanding the root might be following.

document.xml file
![document.xml](https://user-images.githubusercontent.com/23114153/180757832-b842ebc4-73f0-443e-be9e-3527326185f1.png)

header1.xml file
![header1.xml](https://user-images.githubusercontent.com/23114153/180757916-5197164e-6da5-4510-8345-df7884929a9e.png)

[2022-07-25 13:01] ThomasBarnekow commented on #1040
My recommendation in cases like this is to:

1. manually create a correct Word document using Microsoft Word;
2. check out the package structure and Open XML markup; and
3. create the same structure and markup with your code.

In most cases, people create the wrong markup. Given that Open XML is so complex, this is quite normal. While not impossible, an actual bug in the Open XML SDK is the except

[2022-07-27 22:03] mikeebowen commented on #1142
Hi @Asbjoedt ,

After looking into this further, we found that this issue is a bug, but not related to strict mode. If a file is saved using "100pt" for the "pos" attribute, it is valid for both strict and transitional modes, but the SDK validator only accepts integers, i.e. without 'pt'. Unfortunately, it doesn't look like it will be an easy fix and I don't know have a time frame, but I added the

[2022-07-27 22:07] mikeebowen commented on #1184
Hi @Asbjoedt ,

What are you trying to do? Are you trying to create documents with the SDK and set them as strict mode? If you are trying to create documents with the SDK, could you post the code you are trying?

[2022-07-29 13:32] Asbjoedt commented on #1142
ok thanks.
A motivator: For an archive which wants to archive with Strict conformance to future-proof their collections, it is possible to write validation code to ignore these int32 errors, but it would be nice and great to get rid of the errors all together.

[2022-07-30 13:14] avais88786 commented on #909
Found any resolution so far? I am stuck in the same place

[2022-07-30 18:04] KurtIO commented on #909
Nope, I just pushed it to the bottom of my todo list, hoping for a resolution. It occurred to me that since this closed maybe nobody is actually trying to solve it. When the rubber hits the road, my thought was to download the source and see if I could debug through and fix it myself.
If I do, I'll let you know. If you figure it out first, please let me know, Thanks...

[2022-07-30 18:05] KurtIO opened #1188 "Doesn't work in .Net"
I recently used an amazingly effective MS tool for upgrading a WPF .Net Framework app to .Net 6.  Everything worked perfect-perfect except for all of my (too many to contemplate rewriting) reports I created using OpenXML.

doc.Save causes: [System.IO.IOException: 'Entries cannot be opened multiple times in Update mode

File.Copy(sourceWordTemplate, tempReportPath, true);
using (WordprocessingDocum

[2022-08-01 02:39] softboy99 commented on #819
Hi，
@ThomasBarnekow ，If use the Microsoft Graph beta endpoint, the file must be stored in onedirve?

[2022-08-01 09:31] Asbjoedt commented on #1184
Hi @mikeebowen

Yes!
I asked the same question on Stackoverflow 3 months ago, but I have received no replies:
https://stackoverflow.com/questions/71940270/how-to-programmatically-create-ooxml-strict-documents

I have tried two codes.

**Code 1.** Convert to DocumentType Workbook and do nothing else. "ChangeDocumentType" -> "Workbook" defaults to Transitional conformance, which is fine. But how to

[2022-08-03 15:51] tauheedul opened #1189 "Add support for XLOOKUP formula in OpenXML SDK"
** Description **
Please add support for XLOOKUP formula parsing and calculation in Strict Open XML XLSX file output

**Information**

- .NET Target: All
- DocumentFormat.OpenXml Version: 2.17.1

**Repro**

[code]

**Observed**

Lookup is not calculated in XLSX output
![image](https://user-images.githubusercontent.com/9335220/182652778-67aef7a4-963b-44ce-ab7a-d271b92ca1e0.png)

**Expected**

Suppo

[2022-08-03 18:38] ThomasBarnekow commented on #1189
@tauheedul, can you be (much) more specific about what you are trying to achieve? For example, do you want the Open XML SDK to compute the result of the `XLOOKUP` function? That would go beyond the scope of this library.

[2022-08-03 18:45] mikeebowen commented on #1184
Hi @Asbjoedt ,

Unfortunately, the `StrictRelationshipFound` property is read only, so it can be used to create a report, but it can't edit the attribute to make it strict. I'm not sure if it's possible another way, but I will look into it.

[2022-08-03 19:51] Asbjoedt opened #1190 "Validation of Excel Strict files reports two errors"
**Description**

Validating any Strict conformance .xlsx spreadsheet results in 45 validation errors of which none should exist. I have already reported 43 of the errors in another issue, which are all related to the same issue, and now I report the last two errors.

Open XML SDK Validator gives the following two errors. Both files have been created with Excel, saved as Open XML Strict and nothing

[2022-08-04 00:05] tomjebo commented on #1183
Hi @sajjadarashhh,

Can you provide a simple repro for this and the exception stack trace and information?
Also, please fill out the information as described here: [ISSUE TEMPLATE](https://github.com/OfficeDev/Open-XML-SDK/blob/main/ISSUE_TEMPLATE.md)

[2022-08-04 04:40] vramanrsv opened #1191 "Attempt to open merged presentation file throws a "needs repair" error"
I am having an issue when I am trying to merge PPTs, the code is working without throwing any error but when I open the merged presentation file it says that it needs to be repaired. When the repair is complete, the file opens and all of the data is there.

**Screenshots**
![1](https://user-images.githubusercontent.com/110584253/182762855-54250bd6-9b48-4524-91e0-bc5e48fcdddc.png)
![2](https://user

[2022-08-04 06:27] aniketbiprojit commented on #962
@twsouthwick @ThomasBarnekow
Where is this available at? I am using 2.17.1 in NuGet but can't seem to get this working.

[code]

<img width="897" alt="image" src="https://user-images.githubusercontent.com/24915107/182777767-97e506bb-55b8-44bd-95c1-579672e5dec7.png">

<img width="492" alt="image" src="https://user-images.githubusercontent.com/24915107/182777905-4fc0e462-8dcb-44c7-b38d-14cd9de7463e.

[2022-08-04 09:45] tauheedul commented on #1189
Hello @ThomasBarnekow The OpenXML SDK should be able to read the calculated output of the XLOOKUP function when parsing the document in .NET. I believe it is possible to read the output of a VLOOKUP with Open XML.
This request is to extend the capability to include XLOOKUP

Thank you.

[2022-08-04 15:16] mikeebowen commented on #1190
Thanks @Asbjoedt , I believe you're right, this is related to #1142 , which we are investigating. Unfortunately, it looks like fixing the invalid type issues will be a major change to the validation, so I can't give you a timeframe, but we are aware of the issue and will work on it as we can.

[2022-08-04 16:14] mikeebowen commented on #1191
Hi @vramanrsv ,

Thanks for letting us know about this issue. I'll look into this and see if I can find the issue.

[2022-08-04 18:16] twsouthwick commented on #1188
You need to dispose the stream when you're loading it. This wasn't needed in .NET Framework, but is in .NET Core due to changes in the System.IO.Compression library used. However, this is not an issue with the OpenXml library (or the .NET runtime), but is rather an issue with your code that is not disposing the stream after use. You should always dispose streams; even if it seems to work without d

[2022-08-04 18:16] #1188 closed

[2022-08-04 18:19] twsouthwick commented on #909
Please see the response in #1188 as well as the comments above. All stream usage should be wrapped with usings. If not, you will see issues like this pop up. It may have worked on .NET Framework, but is still breaking the pattern/contract of streams.

**ALWAYS** use a using with streams :)

[2022-08-04 19:27] avais88786 commented on #909
Thanks @twsouthwick, I fixed the issue, fortunately the library was in our control and needless to say plenty of streams were left unclosed. Wrapping them around using worked like a charm

[2022-08-04 19:46] tomjebo commented on #1189
@tauheedul,

The SDK doesn't currently compute any formulas. I think what's happening is that there is a problem with the formula in your first case. I tested this out and if I provide unique values for A3-A5 (versus all being 10001), the sheet opens with the value "TEST1" filled in. Also, I assume you're not providing the <v> element under the <f> element in the C1 cell markup. That's ok but if y

[2022-08-04 19:57] KurtIO commented on #1188
OMG it worked @twsouthwick thank you, thank you, thank you. Months of work just became minutes...

[2022-08-05 02:18] twsouthwick commented on #962
There's a different package: DocumentFormat.OpenXml.Features that has this and other helpful things

[2022-08-05 09:26] tauheedul commented on #1189
Hello @tomjebo thank you. Your comments have been helpful. I will close this request.

[2022-08-05 09:26] #1189 closed

[2022-08-08 17:29] tomjebo commented on #1141
@RafaelLxf I'll run through your repo, thanks for reporting this.

[2022-08-08 18:09] tomjebo commented on #1183
@sajjadarashhh a couple more suggestions:
1. you can post this question to StackOverflow using the openxml-sdk tag to see if anyone has a solution.
2. please provide your generated workbook and the Excel re-save for comparison.

Note, what I typically do in these scenarios is compare what Excel does to my own document to see what possible parts or elements I may have missed in generation.

[2022-08-08 21:20] tomjebo commented on #1141
@RafaelLxf

Yes you're right, the enum is missing some chart types. We'll get this updated and you'll see a PR soon.

Thanks for bringing this to our attention!

[2022-08-10 13:47] tauheedul opened #1193 "Feature request: SAX Approach addition of ReadLastChild() function for OpenXmlReader"
**Suggestion**
There are three SAX options to read from a spreadsheet document e.g.
- Read()
- ReadFirstChild()
- ReadNextSibling()

Please can this be extended to include **ReadLastChild()** which will move the SAX reader straight to the Last Child Element of the node?

**Current situation**
When using the DOM approach we can easily sort by Descending or take the LastChild from the element collec

[2022-08-10 18:36] tomjebo commented on #1193
@tauheedul Thanks for the suggestion, I've marked this as an enhancement request.

[2022-08-11 10:50] tauheedul commented on #1193
Thank you!

[2022-08-16 22:40] tomjebo commented on #1141
@RafaelLxf

take a look at #1195. that should fix the issue with the Chart enums. You can test by cloning that branch and building and using the assembly as your target reference in your project.

[2022-08-24 00:45] lindexi commented on #875
The TextSpacing can add the `%` char too:

[code]

The test file: [The TextSpacing Text.pptx](https://github.com/OfficeDev/Open-XML-SDK/files/9411321/The.TextSpacing.Text.pptx)

[2022-08-24 16:37] tomjebo commented on #875
@adamshakhabov If you look at our implementer notes for the ISO 29500 standard (equivalent to ECMA 376), here:

[MS-OI29500 2.1.1327 Part 1 Section 20.1.10.45 ST_PositiveFixedPercentage (Positive Fixed Percentage)](https://docs.microsoft.com/en-us/openspecs/office_standards/ms-oi29500/1c25f0ef-b879-47f0-af0c-b1b0d40f7d05)

It says:

2.1.1327 Part 1 Section 20.1.10.45 ST_PositiveFixedPercentage (Po

[2022-08-28 09:23] adamshakhabov opened #1197 "OpenXmlPackage.SaveAs() corrupts file names"
**Describe the bug**
`OpenXmlPackage.SaveAs()` corrupts names of the internal package files.

**To Reproduce**
Steps to reproduce the behavior:

[base.pptx](https://github.com/OfficeDev/Open-XML-SDK/files/9439380/base.pptx)

[code]

**Observed behavior**
The following renaming happened:

/ppt/slides/slide1.xml -> /ppt/slides/slide12.xml
/ppt/slides/slide2.xml -> /ppt/slides/slide21.xml

![image](h

[2022-08-29 17:50] hunyu commented on #1197
@adamshakhabov, which version of OpenXML SDK are you using? If not the latest version, could you try it with the latest version.

[2022-08-29 18:06] adamshakhabov commented on #1197
I use the latest **2.17.1**.

[2022-08-29 19:33] hunyu commented on #1197
@adamshakhabov Thank you very much for the information. I am able to repro the issue your described using 2.17.1. I will take the issue back to our engineering team, and we will let you know the resolution.

[2022-08-31 02:06] twsouthwick commented on #1193
@tauheedul if you have the time, PRs are very welcome :) Please let us know before you approach it and what your general idea is

[2022-08-31 13:30] prudhvi2050 commented on #618
I am facing this issue with .Net 6 DocumentFormat.OpenXML 2.16

[2022-09-02 00:39] shanaki commented on #1197
I'm original reporter about this issue. When open the output file(e.g. modified.pptx) in PowerPoint and just save it. Then, issue is gone away. Slide filenames are slide1.xml, slide2.xml.. This is interesting thing.

[2022-09-04 17:03] tauheedul commented on #1193
Hello @twsouthwick , I am rather new to the inner workings of the SDK and mostly use it to consume features so I am unable to submit a PR for this.

From reviewing the methods, I had the following in mind...

OpenXmlReader.cs
- Addition of abstract method ReadLastChild similar to the existing ReadFirstChild method

Then implementation in the following...
OpenXmlPartReader.cs
OpenXmlDomReader.cs

R

[2022-09-06 10:03] Asbjoedt commented on #1184
Hi again

Regarding spreadsheet.

Changing conformance class can be done with:
[code]

Changing from Transitional to Strict involves several other things. Importantly, it involves changing many namespaces. Here's a non-exhaustive (incomplete) list of namespaces for Strict, which for every single one must be changed in the spreadsheet.

[code]

I am trying to write my own code to amend all these na

[2022-09-06 18:50] twsouthwick commented on #1193
So is the only method that is needed is `ReadLastChild()`? That should be fine.

This is a breaking change and may be considered (we'll probably be releasing a v3 soon. However, could this be done as a virtual method? Then it will be fine.

[2022-09-06 18:51] twsouthwick commented on #1193
I don't have the time right now to do this kind of request, but happy to take contributions from anyone interested in doing so.

[2022-09-07 02:04] twsouthwick commented on #1184
There doesn't seem to be anything specifically available to do this OOB. However, I bet you could customize the `IOpenXmlNamespaceResolver` to do manage this for you. This is an internal type, so you'll need to clone the repo to try it out.

Some pseudo code that will most definitely not compile and should only set you on the right track, would be:

[code]

Happy to take a PR that enables this :)

[2022-09-07 02:07] twsouthwick commented on #1179
This is a known issue due to the `System.Uri` class itself (see https://github.com/OfficeDev/Open-XML-SDK#known-issues). That links provides a mechanism to "sanitize" the document before reading it. It's not ideal, but the best option at this point.

[2022-09-07 02:07] #1179 closed

[2022-09-07 08:22] tauheedul commented on #1193
@twsouthwick Hi, yes it is only the addition of one method I am requesting and would appreciate if this would be added in a future release. Thank you.

[2022-09-09 02:35] lindexi commented on #1141
@tomjebo After I updated `DocumentFormat.OpenXml` to 2.18.0 version, the test demo can work well.

[2022-09-09 16:41] #1141 closed

[2022-09-10 10:56] Asbjoedt commented on #1184
Hi @twsouthwick

Thanks for your reply and the guidance in how to move forward.
I cloned the repo and looked at this code briefly. I don't think I can deliver any code to you in a level acceptable, because I have only learned to program recently and these concepts with Interfaces is still difficult for me to write.

I can propose the following code (of which some is pseudo-code because I need you

[2022-09-13 15:44] lok25 commented on #1133
Hi  @tomjebo ,@andrewmolyneux

Thankyou for the post . Still wondering how I can get the list of existing comments (latest) from a powerpoint slides.

[2022-09-13 20:20] tomjebo commented on #1133
@lok25 this is a bit simple and rough but it should do the reverse of the provided code by reading an existing presentation and consuming the comments.

[code]

[2022-09-14 07:12] lindexi opened #1205 "Throw OpenXmlPackageException A shared part is referenced by multiple source parts with a different relationship type"
**Describe the bug**
The OpenXML SDK will throw OpenXmlPackageException when open the special pptx file.

[code]

And this pptx file can open well with Office PowerPoint.

---

Why the OpenXML SDK throw OpenXmlPackageException ?

Because the Relationship define the same part with a different relationship type. Such the test file in [my repo](https://github.com/lindexi/lindexi_gd/tree/d50ffc8321cbe

[2022-09-14 12:38] lok25 commented on #1133
Thankyou  @tomjebo  for such a prompt response. will try it out and let you know.

[2022-09-14 18:28] tomjebo commented on #1205
@lindexi thanks for reporting this. Was the pptx file created with PowerPoint? My initial look at this shows that our code generator (backend) likely doesn't know what relationships/recovered types are and we're just checking to see that there aren't two parts in a .rels that have different types. If this is unique to recovered files and the extra relationship in the .rels part is never used (it l

[2022-09-15 00:47] lindexi commented on #1205
@tomjebo Thank you. The test file is created by me. I wrote this test file manually. Because I want to show the mini-repor.

The original files was created by Office 365. These files are collected from users. I asked some of them, and they told me that these files were created by recovery by Office.

[2022-09-15 01:44] lok25 commented on #1133
Thanks @tomjebo  it works.

[2022-09-16 00:44] tomjebo commented on #1205
@lindexi I've added PR #1207 that should fix the loading issue. Please feel free to clone my branch and test if you'd like.

[2022-09-16 01:00] lindexi commented on #1205
Thank you @tomjebo

[2022-09-16 02:43] lindexi commented on #1205
Thank you @tomjebo

I clone your branch and build your code to test. And my test demo can work well with your branch code. See https://github.com/lindexi/lindexi_gd/commit/f1581038f7b604a28c1dfef9ddb9cc72a2420a17

[2022-09-16 18:49] tomjebo commented on #1205
@lindexi thanks for confirming and bringing this to our attention.

[2022-09-16 18:49] #1205 closed

[2022-09-20 13:28] lok25 commented on #1133
Hi @tomjebo , Trying to delete the comments it seems to be working without error but at the end the file gets corrupted. Not sure what am I missing.The code used is below:

    public static void deleteCommentsNew(string path)
        {

            PresentationDocument pd = PresentationDocument.Open(path, true);

            if ((pd != null) && (pd.PresentationPart != null))
            {

[2022-09-20 17:12] tomjebo commented on #1133
@lok25 After I run through your code in my test, PowerPoint has no problem opening and rendering the test presentation. Can you provide the source presentation you're using? Perhaps there is already some issue with it?

[2022-09-20 17:14] tomjebo commented on #1133
@lok25 also, this type of question would be more appropriate for StackOverflow ([openxml-sdk]) since it is more likely a how-to kind of question. But if you provide the source document I'll still take a quick look.

[2022-09-20 19:20] lok25 commented on #1133
[Testing.pptx](https://github.com/OfficeDev/Open-XML-SDK/files/9610687/Testing.pptx)

[2022-09-20 19:58] lok25 commented on #1133
Sure .

[2022-09-20 21:34] tomjebo commented on #1133
@lok25  the presentation document you provided has no authors part to it.  so the modified code you provided, doesn't actually do anything. It just stops after checking for an authors part. Are you sure this is the test document you wanted to share?

[2022-09-20 21:52] lok25 commented on #1133
Thankyou @tomjebo .That's a sample presentation where I added a comment through a program  ( I think the comment went under Unknown Author).Attached the Presentation
[Testing.pptx](https://github.com/OfficeDev/Open-XML-SDK/files/9611480/Testing.pptx)

[2022-09-20 22:41] tomjebo commented on #1133
@lok25 When I run your provided code with the latest Testing.pptx that you provided which does include the authors part, it does not corrupt the document. PowerPoint is able to consume and render the resulting document fine and the comments and authors are removed. I'm not sure what you are seeing. Perhaps this is something to do with the version of Office you are using?

[2022-09-21 08:31] riyasvp123 commented on #1109
Hi @twsouthwick

Could you please share the workaround. I am also facing the same issue.

[2022-09-21 12:45] lok25 commented on #1133
Hi  @tomjebo, following are the version details:

Office 365 version : 18.2209.1061.0
Visual Studio 2019
DotNet Framework 4..7.2

[2022-09-21 16:20] twsouthwick commented on #1109
I realize I made some assumptions here. Not only does the SDK require sync operations, it requires seeking, which is not available by default.

If this is for the response stream, then you'll need to ensure buffering as the response stream is not buffered but is sent to the client as soon as you start writing it. If it is for an incoming stream, you'll need to ensure it's fully read (although the

[2022-09-22 08:39] riyasvp123 commented on #1109
@twsouthwick  Thank you so much

[2022-09-22 09:25] Asbjoedt opened #1208 "Absolute path is not found"
**Describe the bug**
The SDK cannot find absolute path to local directory in workbook.xml even though it exists in the XML attribute is "x15ac:absPath".

For further context, I refer to question I made on Stackoverflow, where I was recommended to file an issue here:
https://stackoverflow.com/questions/73633816/absolute-path-not-detected-in-open-xml-sdk/73641509?noredirect=1#comment130327161_736415

[2022-09-22 16:42] lok25 commented on #1133
Hi @tomjebo, I think it works. Will keep you posted in case of any updates. Thankyou :)

[2022-09-24 10:21] Asbjoedt opened #1209 "ChangeDocumentType (.xlsm) to (.xlsx) not removing /xl/vbaProject.bin"
**Describe the bug**
Using ChangeDocumentType from MacroEnabledWorkbook (.xlsm) to Workbook (.xlsx) results in the error in Excel and spreadsheet cannot be opened (loosely translated from another language):
"The files does not have any macros, but it contains macro-based content"

When looking at the XML of the new .xlsx spreadsheet, the spreadsheet contains the file /xl/vbaProject.bin, which I th

[2022-09-24 10:23] Asbjoedt commented on #1208
Thanks mate.

[2022-09-26 13:41] Asbjoedt commented on #92
I get what is being said here. I am not encountering any issues per se, but is there any reason why changing from .xlsm to .xlsx should result in renaming workbook.xml to workbook2.xml? What I mean but this question is, that this can be confusing for someone reading the XML, unless they find this issue here explaining this is acceptable behaviour.

[2022-09-26 15:35] Asbjoedt commented on #1209
**UPDATE**
I have found another .xlsm file resulting in this error, but it does not contain /xl/vbaProject.bin.

This spreadsheet contains content, which Excel informs the user when using Excel to save as .xlsx is: "Excel 4.0 function is saved in defined names" and asks to click OK to proceed with removing them.

I have looked at the XML and workbook.xml contains two defined names containing "GET.

[2022-09-26 23:48] tomjebo commented on #1209
@Asbjoedt Thanks for reporting this. I'll take a look at your repro and see what's happening.

[2022-09-27 00:19] tomjebo commented on #1209
@Asbjoedt So I see where we might be able to fix the VBA project part issue. But the Excel 4.0 cell/formula content might be a little trickier as it means analyzing the content of cells but I'm guessing we have a list of what formulas are valid for macro-free worksheets.

[2022-09-27 17:25] Asbjoedt opened #1210 "CustomUI having wrong namespace"
**Describe the bug**
I have a spreadsheet, which I get exception informing me the namespace is invalid. The exception thrown informs:

[code]

The original spreadsheet has wrong/invalid namespace, but after having used ChangeDocumentType from .xlsm to .xlsx, I think this namespace should have been resolved to the right namespace automatically by Open XML SDK even though the namespace is (what I th

[2022-09-27 17:28] Asbjoedt commented on #1209
Thanks for looking into this.

[2022-09-28 19:26] mikeebowen commented on #1210
Hi @Asbjoedt , thanks for the detailed description. I'll look into this issue too and let you know if I can find the issue.

[2022-09-28 21:35] mikeebowen commented on #1210
@Asbjoedt , how is the customUI part being added to the file?

[2022-09-28 22:04] mikeebowen commented on #1210
Hi @Asbjoedt , To give you a better explanation, I'm asking how the file was created is because, if you look at the underlying xml parts of data sample you posted, there is a customUI.xml and a customUI14.xml. If you open those xml files, customUI.xml correctly has "http://schemas.microsoft.com/office/2006/01/customui" for its namespace, but customUI14.xml incorrectly also has the same namespace.

[2022-09-29 09:45] mhoerandner opened #1211 "No support of System.IO.Packaging.Package.Save()/Flush() in .NET Core"
Since _OpenXml_ is based on _System.IO.Packaging_ and there is no support for `Flush()`/`Save()` in .NET Core (dotnet 5, ...), I wanted to ask whether OpenXml is planning a better alternative than closing (disposing) the whole `OpenXmlPackage` (e.g. WordprocessingDocument)?

[code]

[2022-09-29 15:16] adamshakhabov commented on #1211
or we should wait for the implementation of Flush in .NET 8😐: https://github.com/dotnet/runtime/issues/24149

[2022-09-29 16:45] cwensley opened #1212 "Add API to determine if a child is valid for a given element"
When trying to modify a document, one needs to know if a particular element can add a particular child before doing so.  Before, this was one way of doing so which is no longer works:

[code]

There does not appear to be a way to do this anymore as all of the metadata information is internal and created in the internal `ConfigureMetadata` override.

**Describe the solution you'd like**
An API such

[2022-09-29 17:33] tomjebo commented on #1209
@Asbjoedt thinking about the second case (i.e. GET.CELL) I would prefer the SDK not do this kind of processing. There may be many other situations like this but we typically don't do much validation or scanning of content (in this case definedName) values. I'm not sure why Excel only balks at this after converting from macro to xlsx but this seems like something that is part of the application (co

[2022-09-29 18:02] mikeebowen commented on #1212
@cwensley , Thanks for the suggestion. I've added the enhancement request label to your post. If you have time, pull requests are always appreciated.

[2022-09-29 18:10] cwensley commented on #1212
Thanks for the quick reply @mikeebowen!  Good to know you will accept changes.  Do you have any preference of where/how this sort of functionality should be added?  Perhaps something like:

[code]

or some form of extension methods?  I'm not too intimately familiar with the APIs to know where best to put these.

Thanks!

[2022-09-29 19:25] mikeebowen commented on #1212
Adding them to OpenXmlElement, seems reasonable to me. What do you think @taylorsw04 & @tomjebo ?

[2022-09-29 20:03] mikeebowen commented on #1211
Hi @mhoerandner , there are no plans to implement this independently. It is scheduled to be in .Net 8.

[2022-09-30 00:03] twsouthwick commented on #1212
Instead of using ChildElementInfoAttribute, use the internal element `Metadata` - it should expose the information you need.

One of the changes I'm working on (it's been a long time coming and should be turned on for the next release) is to move away from `Type` being used to identify elements, but rather the qualified name of an element. With that in mind, how about the following API:

[code]

(

[2022-09-30 08:59] Asbjoedt commented on #1209
Hi @tomjebo
I can see your point.

However, I think it would be great with a Repair() method to Open XML SDK to enable a program to fix these issues, much like Excel has a repair function when manually opening spreadsheets with invalid content.

Then we can apply these to a spreadsheet, you want to normalize to .xlsx:
* ChangeDocumentType()
* RepairDocument()
* SDK Validator

Then put spreadsheet

[2022-09-30 12:30] Barrent opened #1213 "Source of MainDocumentPart class"
Hi,

Where can I find source of MainDocumentPart class and other classes listed in attributes of WordprocessingDocument class?

Created a fork and changed assembly name of DocumentFormat.OpenXml to OpenSource.DocumentFormat.OpenXml to make it possible to load different versions of Open XML at the same time, but build fails due to unresolved classes.

##[error]src\DocumentFormat.OpenXml\Packaging\W

[2022-10-03 19:57] hunyu commented on #1213
Hi Barrent

MainDocumentPart is generated, you can find it under Dependencies/Analyzers/DocumentFormat.OpenXml.Generator.PartGenerator (see attached image)
![image](https://user-images.githubusercontent.com/69320868/193660886-c2b504fa-e956-4cbf-8a08-b43f9a9ff9e3.png)

To see this generated source, create another fork and build the solution without renaming assembly name.

Regarding renaming assemb